<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    我想看的电影(11)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "78857574",
    UPLOAD_AUTH_TOKEN: "78857574:b22aece14e2c3c889c4b13e4bd9b2be42ff809b3",
    SSE_TOKEN: "714b57cdda2359dd26151339e8c1925afa2290ae",
    SSE_TIMESTAMP: "1647390587",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                <img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg">
            </a>
        </div>
        <div class="info">
            <h1>我想看的电影(11)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                1-11&nbsp;/&nbsp;11
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Undercover Billionaire" href="javascript:void(0)" class="nbg">
                    <img alt="Undercover Billionaire" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2566911118.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>富豪谷底求翻身 第一季 / Undercover Billionaire Season 1</em>
                             / 隐姓亿万富翁
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-08-06(美国) / 美国 / 富豪谷底求翻身 / 45分钟 / 富豪谷底求翻身 / 真人秀 / Dan Bowen / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-03-15</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34806351" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34806351:F" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Men Who Made Us Spend" href="javascript:void(0)" class="nbg">
                    <img alt="The Men Who Made Us Spend" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2615185399.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>无节制消费的元凶 / The Men Who Made Us Spend</em>
                             / 谁在引导我们消费
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-07-12(英国) / 雅克·佩雷蒂 / 英国 / 迈克尔·莱德福 /  / 48分钟 / 无节制消费的元凶 / 纪录片 / 雅克·佩雷蒂 Jacques Peretti / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-03-15</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25945379" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25945379:F" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Becoming Warren Buffett" href="javascript:void(0)" class="nbg">
                    <img alt="Becoming Warren Buffett" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2423142675.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>成为沃伦·巴菲特 / Becoming Warren Buffett</em>
                            
                        </a>
                    </li>
                        <li class="intro">2017-01-30(美国) / 沃伦·巴菲特 / 苏姗·巴菲特 / 比尔·盖茨 / 美国 / 彼得·W·孔哈特 / 布瑞恩·奥克斯 / 90分钟 / 成为沃伦·巴菲特 / 纪录片 / 克里斯·创 Chris Chuang / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-03-15</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26966609" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26966609:F" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Men Who Built America" href="javascript:void(0)" class="nbg">
                    <img alt="The Men Who Built America" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2283759428.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>美国商业大亨传奇 / The Men Who Built America</em>
                             / 谁建造了美国 / 美国商业大亨传奇
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-02-08(美国) / 艾伦·格林斯潘 / 马克·库班 / 拉赛尔·西蒙斯 / 斯蒂夫·盖瑞·沃兹尼亚克 / 吉姆·克莱默 / H·W·布兰兹 / 亚当·塞加勒尔 / 美国 /  / 40分钟 / 美国商业大亨传奇 / 传记 / 历史 / 纪录片 / 唐纳德·特朗普 Donald Trump / 亚伯拉罕·林肯 Abraham Lincoln / 约翰·戴维森·洛克菲勒 John D. Rockefeller / 安德鲁·卡耐基 Andrew Carnegie / 杰克·韦尔奇 Jack Welch / 科尼利尔斯·范德比尔特 / 彼得·伊维奇·柴可夫斯基 Pyotr Ilyich Tchaikovsky / 托马斯·阿尔瓦·爱迪生 Thomas A. Edison / 杰瑞·温特劳布 Jerry Weintraub / 尼古拉·特斯拉 Nikola Tesla / 威廉·詹宁斯·布赖恩 / 威廉·麦金莱 / 罗纳德·佩雷尔曼 Ronald O. Perelman / 西奥多·罗斯福 Theodore Roosevelt / 亨利·福特 / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-03-15</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-20277091" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="20277091:F" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="My Money &amp; Me" href="javascript:void(0)" class="nbg">
                    <img alt="My Money &amp; Me" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2867407524.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>金钱与我 / My Money &amp; Me</em>
                             / My Money and Me
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">爱尔兰 / 金钱与我 / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-03-15</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34858559" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34858559:F" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="张艺谋的2008" href="javascript:void(0)" class="nbg">
                    <img alt="张艺谋的2008" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2406851323.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>张艺谋的2008</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-01-26(中国大陆) / 张艺谋 / 张继钢 / 陈维亚 / 张和平 / 蔡国强 / 王潮歌 / 陈丹青 / 樊跃 / 陈其钢 / 于建平 / 石冈瑛子 / 程小东 / 马文 / 中国大陆 / 罗莎莎 / 陈维亚 / 25分钟 / 纪录片 / 罗莎莎 Shasha Luo / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-05</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4073919" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4073919:F" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Dead Poets Society" href="javascript:void(0)" class="nbg">
                    <img alt="Dead Poets Society" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2575465690.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>死亡诗社 / Dead Poets Society</em>
                             / 暴雨骄阳(港) / 春风化雨(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1989-06-02(多伦多首映) / 1989-06-09(美国) / 罗宾·威廉姆斯 / 罗伯特·肖恩·莱纳德 / 伊桑·霍克 / 乔西·查尔斯 / 盖尔·汉森 / 迪伦·库斯曼 / 阿勒隆·鲁杰罗 / 詹姆斯·沃特斯顿 / 诺曼·劳埃德 / 柯特伍德·史密斯 / 卡拉·贝尔韦尔 / 利昂·波纳尔 / 乔治·马丁 / 乔·奥菲耶里 / 马特·凯里 / 凯文·库尼 / 拉腊·弗林·鲍尔 / 亚历桑德拉·鲍尔斯 / 梅洛拉·沃尔特斯 / 帕梅拉·伯勒尔 / 约翰·库宁汉姆 / 迪布拉·穆尼 / 库尔特·莱特纳 / 凯瑟·斯内德 / 霍纳斯·斯蒂克洛瑞斯 / 杰米·肯尼迪 / 美国 / 彼得·威尔 / 128 分钟 / 死亡诗社 / 剧情 / 汤姆·舒尔曼 Tom Schulman / 英语 / 拉丁语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-07</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1291548" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1291548:F" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Hitch" href="javascript:void(0)" class="nbg">
                    <img alt="Hitch" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2239596651.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>全民情敌 / Hitch</em>
                             / 全民情圣 / 情场绝桥王
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2005-02-11(美国) / 威尔·史密斯 / 伊娃·门德斯 / 凯文·詹姆斯 / 安贝·瓦莱塔 / 朱莉·安·埃默里 / 亚当·阿金 / 萝宾·李 / 内森·李·格雷厄姆 / 迈克尔·拉帕波特 / 杰弗里·多诺万 / 宝拉·巴顿 / 菲利普·博斯科 / 凯文·苏斯曼 / Navia Nguyen / 马特·马洛伊 / 玛丽亚·泰耶尔 / 奥托·艾森度 / 玛琳·巴雷特 / Jack Hartnett / David Wike / Frederick B. Owens / 珍娜·斯特恩 / 奥斯汀·拉尔西 / 米夏琳娜·阿尔门多 / 达里尔·鲁本·霍尔 / 卡普里切·贝内德蒂 / 尼克·波托兰宁 / Kyle Willshire / Bill Kotsatos / 卢伊里萨里 / Keith Chambers / Adam Bertocci / John O. Nelson / 尼古拉斯·奎尔特 / 亚历山大·瑞斯 / Joe Wissler / 马特·索维托 / 梅赛德斯·雷纳德 / Jeffrey Carlson / 文森·德·保罗 / 丽贝卡·麦德 / 瑞恩·菲尼克斯 / 卡斯帕·安德瑞斯 / Tanda Mercer / 阿尔巴·阿尔巴尼斯 / Aneikit Bonnel / Niels Koizumi / Michelle DiBenedetti / Kahan James / 托比亚斯·特鲁维利昂 / 托勒密·斯洛克姆 / Scott Hatfield / Michelle Deighton / 马里克·潘考利 / Tony Travis / Amro Salama / Beau Sia / 乔·洛·特鲁格里奥 / 亚当·勒费弗 / Andre Blair / 米密·威德尔 / 美国 / 安迪·坦纳特 / 118分钟 / 全民情敌 / 喜剧 / 爱情 / Kevin Bisch / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-03</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1309020" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1309020:F" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="神探" href="javascript:void(0)" class="nbg">
                    <img alt="神探" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1349162079.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>神探</em>
                             / Mad Detective
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2007-09-06(威尼斯电影节) / 2007-11-29(中国香港) / 2008-02-22(中国大陆) / 刘青云 / 安志杰 / 林家栋 / 林熙蕾 / 李国麟 / 李彩宁 / 陈慧珊 / 林雪 / 张兆辉 / 刘锦玲 / 郭少芸 / 郑保瑞 / 赵志诚 / 王璐瑶 / 张家杰 / 辛格·哈提汗·比托 / 李日升 / 谷祖琳 / 高雄 / 中国香港 / 杜琪峰 / 韦家辉 / 90分钟 / 神探 / 动作 / 犯罪 / 悬疑 / 惊悚 / 韦家辉 Ka-Fai Wai / 欧健儿 Kin-Yee Au / 粤语 / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-10-23</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2027938" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2027938:F" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="問題のあるレストラン" href="javascript:void(0)" class="nbg">
                    <img alt="問題のあるレストラン" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2300955566.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>问题餐厅 / 問題のあるレストラン</em>
                             / 有问题的餐厅 / A Restaurant with Many Problems
                        </a>
                    </li>
                        <li class="intro">2015-01-15(日本) / 真木阳子 / 东出昌大 / 二阶堂富美 / 高畑充希 / 菅田将晖 / 松冈茉优 / 臼田麻美 / 江原由希子 / 田山凉成 / 安田显 / 吹越满 / 杉本哲太 / 菊池亚希子 / 浜川文美江 / 远藤新菜 / 志田彩良 / 凯莉葩缪葩缪 / 青山美琦 / 入山法子 / 新井优 / 西泽爱菜 / 庵原匠悟 / 风间俊介 / 木村靖司 / 城户光晴 / 横山步 / 藤田弓子 / 堀内敬子 / 萩原利久 / 日本 / www.fujitv.co.jp/mondainoaru_restaurant/ / 并木道子 / 加藤裕将 / 46分钟 / 问题餐厅 / 剧情 / 坂元裕二 Yûji Sakamoto / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-10-04</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26266666" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26266666:F" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Titanic" href="javascript:void(0)" class="nbg">
                    <img alt="Titanic" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p457760035.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>泰坦尼克号 / Titanic</em>
                             / 铁达尼号(港/台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1997-11-01(东京电影节) / 1997-12-19(美国) / 1998-04-03(中国大陆) / 莱昂纳多·迪卡普里奥 / 凯特·温丝莱特 / 比利·赞恩 / 凯西·贝茨 / 弗兰西丝·费舍 / 格劳瑞亚·斯图尔特 / 比尔·帕克斯顿 / 伯纳德·希尔 / 大卫·沃纳 / 维克多·加博 / 乔纳森·海德 / 苏茜·爱米斯 / 刘易斯·阿伯内西 / 尼古拉斯·卡斯柯恩 / 阿那托利·萨加洛维奇 / 丹尼·努齐 / 杰森·贝瑞 / 伊万·斯图尔特 / 艾恩·格拉法德 / 乔纳森·菲利普斯 / 马克·林赛·查普曼 / 理查德·格拉翰 / 保罗·布赖特威尔 / 艾瑞克·布里登 / 夏洛特·查顿 / 博纳德·福克斯 / 迈克尔·英塞恩 / 法妮·布雷特 / 马丁·贾维斯 / 罗莎琳·艾尔斯 / 罗切尔·罗斯 / 乔纳森·伊万斯-琼斯 / 西蒙·克雷恩 / 爱德华德·弗莱彻 / 斯科特·安德森 / 马丁·伊斯特 / 克雷格·凯利 / 格雷戈里·库克 / 利亚姆·图伊 / 詹姆斯·兰开斯特 / 艾尔莎·瑞雯 / 卢·帕尔特 / 泰瑞·佛瑞斯塔 / 凯文·德·拉·诺伊 / 詹姆斯·卡梅隆 / 竹内结子 / 詹姆斯·霍纳 / 姜广涛 / 罗恩·多纳基 / 佐佐木澄江 / 史蒂文·奎里 / 詹妮特·戈德斯坦恩 / 林凡  / Linda Kerns / 马丁·哈伯 / 马丁·莱恩 / 德里克·李 / 保罗·赫伯特 / 亚历山大·欧文斯 / Julene Renee / 曲敬国 / 美国 / 墨西哥 / 澳大利亚 / 加拿大 / 詹姆斯·卡梅隆 / 194分钟 / 227分钟(白星版) / 泰坦尼克号 / 剧情 / 爱情 / 灾难 / 詹姆斯·卡梅隆 James Cameron / 英语 / 意大利语 / 德语 / 俄语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">我能说到现在我还没完整看过么。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1292722" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1292722:F" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"><img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">我的电影主页</a>
        </p>
    </div>
        
    <h2>
        想看的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-699758d69-d9bh6-->

  <script>_SPLITTEST=''</script>





</body></html>