@import "./less/animation.less";

.animation(@name, @time, @fun: linear) {
  -webkit-animation: @name @time @fun;
  -moz-animation: @name @time @fun;
  -o-animation: @name @time @fun;
  animation: @name @time @fun;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
html {
  height: 100%;
}
body {
  margin: 38px 47px;
  background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  font-family: American Typewriter;
  position: relative;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-left: 10px;
  }
  li:first-child {
    margin-left: 0;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: rgba(255, 255, 255, 1);
      opacity: 1;
    }
  }
}
.nav-bar {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  .logo {
    font-size: 0;
    img {
      width: 22px;
      display: inline-block;
      vertical-align: middle;
    }
    span {
      margin-left: 14px;
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
    }
  }
  .contact-us {
    position: absolute;
    right: 0;
    top: 0;
    color: rgba(255, 255, 255, 0.8);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}
.container {
  color: white;
  margin: 10rem 2rem;
  position: relative;
  .page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &.page-1 {
      text-align: left;
    }
    &.page-2 {
      text-align: center;
      h1 {
        transform: translate(-100%, 0);
      }
      p {
        transform: translate(-100%, 0);
        text-align: center;
      }
    }
    &.addAnimation1 {
      .animation(slide-animation, .8s, ease-in-out);
    }
    &.addAnimation2 {
      .copy-1 {
        .animation(slide-left-animation, 1s, ease-in-out);
      }
      .copy-2 {
        .animation(slide-left-animation, 1s, ease-in-out);
        animation-delay: .5s;
      }
      .copy-3 {
        .animation(slide-left-animation, 1s, ease-in-out);
        animation-delay: .8s;
      }
      .copy-4 {
        .animation(slide-left-animation, 1s, ease-in-out);
        animation-delay: 1.3s;
      }
    }
  }
  h1 {
    font-size: 64px;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 20px;
  }
  p {
    opacity: 0.8;
    font-size: 20px;
    margin: 0;
    text-align: left;
  }
}
.footer {
  position: fixed;
  width: 100%;
  border-bottom: 24px;
  text-align: center;
  bottom: 20px;
  left: 0;
  right: 0;
  a {
    color: rgba(255, 255, 255, 0.8);
  }
  ul {
    margin-bottom: 34px;
  }
  .icon {
    cursor: pointer;
    img {
        width: 16px;
    }
  }
}
