@-webkit-keyframes slide-animation {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translate(0, -100%);
    opacity: 0;
  }
}
@-moz-keyframes slide-animation {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translate(0, -100%);
    opacity: 0;
  }
}
@-o-keyframes slide-animation {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translate(0, -100%);
    opacity: 0;
  }
}
@keyframes slide-animation {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translate(0, -100%);
    opacity: 0;
  }
}
@-webkit-keyframes slide-left-animation {
  from {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes slide-left-animation {
  from {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes slide-left-animation {
  from {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slide-left-animation {
  from {
    transform: translate(-100%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
html {
  height: 100%;
}
body {
  margin: 38px 47px;
  background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  font-family: American Typewriter;
  position: relative;
  background-size: 100%;
}
body ul {
  margin: 0;
  padding: 0;
}
body li {
  display: inline-block;
  margin-left: 10px;
}
body li:first-child {
  margin-left: 0;
}
body a {
  text-decoration: none;
  cursor: pointer;
}
body a:hover {
  color: #ffffff;
  opacity: 1;
}
.nav-bar {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
}
.nav-bar .logo {
  font-size: 0;
}
.nav-bar .logo img {
  width: 22px;
  display: inline-block;
  vertical-align: middle;
}
.nav-bar .logo span {
  margin-left: 14px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
.nav-bar .contact-us {
  position: absolute;
  right: 0;
  top: 0;
  color: rgba(255, 255, 255, 0.8);
}
.nav-bar .contact-us:hover {
  color: #ffffff;
}
.container {
  color: white;
  margin: 10rem 2rem;
  position: relative;
}
.container .page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container .page.page-1 {
  text-align: left;
}
.container .page.page-2 {
  text-align: center;
}
.container .page.page-2 h1 {
  transform: translate(-100%, 0);
}
.container .page.page-2 p {
  transform: translate(-100%, 0);
  text-align: center;
}
.container .page.addAnimation1 {
  -webkit-animation: slide-animation 0.8s ease-in-out;
  -moz-animation: slide-animation 0.8s ease-in-out;
  -o-animation: slide-animation 0.8s ease-in-out;
  animation: slide-animation 0.8s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.container .page.addAnimation2 .copy-1 {
  -webkit-animation: slide-left-animation 1s ease-in-out;
  -moz-animation: slide-left-animation 1s ease-in-out;
  -o-animation: slide-left-animation 1s ease-in-out;
  animation: slide-left-animation 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.container .page.addAnimation2 .copy-2 {
  -webkit-animation: slide-left-animation 1s ease-in-out;
  -moz-animation: slide-left-animation 1s ease-in-out;
  -o-animation: slide-left-animation 1s ease-in-out;
  animation: slide-left-animation 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}
.container .page.addAnimation2 .copy-3 {
  -webkit-animation: slide-left-animation 1s ease-in-out;
  -moz-animation: slide-left-animation 1s ease-in-out;
  -o-animation: slide-left-animation 1s ease-in-out;
  animation: slide-left-animation 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: .8s;
}
.container .page.addAnimation2 .copy-4 {
  -webkit-animation: slide-left-animation 1s ease-in-out;
  -moz-animation: slide-left-animation 1s ease-in-out;
  -o-animation: slide-left-animation 1s ease-in-out;
  animation: slide-left-animation 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 1.3s;
}
.container h1 {
  font-size: 64px;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 20px;
}
.container p {
  opacity: 0.8;
  font-size: 20px;
  margin: 0;
  text-align: left;
}
.footer {
  position: fixed;
  width: 100%;
  border-bottom: 24px;
  text-align: center;
  bottom: 20px;
  left: 0;
  right: 0;
}
.footer a {
  color: rgba(255, 255, 255, 0.8);
}
.footer ul {
  margin-bottom: 34px;
}
.footer .icon {
  cursor: pointer;
}
.footer .icon img {
  width: 16px;
}
