html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    background: #FD0;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    display: block;
    margin: 0px auto 20px;
    cursor: move;
}