<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "adc231e429ff6cc33b4164f666d37d97c7256c43",
    SSE_TIMESTAMP: "1640990623",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                16-30&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="白蛇2：青蛇劫起" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>白蛇2：青蛇劫起</em>
                             / 白蛇2 / Green Snake
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-07-23(中国大陆) / 唐小喜 / 歪歪 / 魏超 / 赵铭洲 / 郑小璞 / 马程 / 宋旭晨 / 邱秋 / 张凯 / 徐佳琦 / 关帅 / 张碧玉 / 张喆 / 杨天翔 / 宝木中阳 / 林强 / 中国大陆 / 黄家康 / 131分钟 / 动画 / 奇幻 / 冒险 / 大毛 Damao / 汉语普通话</li>
                    <li>
                        <span class="date">2021-09-15</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="CODA" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>健听女孩 / CODA</em>
                             / 乐动心旋律(台) / 贝利叶一家 美国版
                        </a>
                    </li>
                        <li class="intro">2021-01-29(圣丹斯电影节) / 艾米莉亚·琼斯 / 特洛伊·科特苏尔 / 丹尼尔·杜兰特 / 约翰·菲奥里 / 朗尼·法默 / 凯文·查普曼 / 艾米·福赛思 / 福迪亚·瓦尔什-匹罗 / 玛丽·玛特琳 / 欧赫尼奥·德尔维斯 / 史蒂芬·卡利斯坎 / 何塞·冈斯·阿尔维斯 / 欧文·伯克 / 梅利莎·麦克米金 / 埃里卡·麦克德莫特 / 莎拉·克拉克 / 大卫·纽森 / 大卫·布肯德尔 / 琪拉·皮查多 / 美国 / 法国 / 加拿大 / 夏安·海德 / 111分钟 / 健听女孩 / 剧情 / 音乐 / 夏安·海德 Sian Heder / 维多利亚·贝多斯 Victoria Bedos / 斯坦尼斯拉斯·卡雷·德·马尔博格 Stanislas Carré de Malberg / 艾里克·拉缇戈 Eric Lartigau / 托马斯·彼得葛恩 Thomas Bidegain / 美国手语 / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2021-09-03</span>
                        
                    </li>
                    <li>
                        <span class="comment">真好，拍的好，演的好，故事也好！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Maudie" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>莫娣 / Maudie</em>
                             / 彩绘心天地(台) / 茉迪的彩色小屋(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-09-02(特柳赖德电影节) / 2017-08-04(爱尔兰) / 莎莉·霍金斯 / 伊桑·霍克 / 卡瑞·玛切特 / 加布里埃尔·罗斯 / 扎卡里·贝内特 / 比利·麦克莱伦 / 劳伦斯·巴里 / 格雷戈·马龙 / 玛丝·伯纳德 / 大卫·菲恩 / 凯特·罗斯 / 爱尔兰 / 加拿大 / 艾斯林·沃什 / 115分钟 / 莫娣 / 剧情 / 传记 / 爱情 / 谢丽·怀特 Sherry White / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2021-09-03</span>
                        
                    </li>
                    <li>
                        <span class="comment">我看得到你，对，我看得到你</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Good Fight" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>傲骨之战 第五季 / The Good Fight Season 5</em>
                             / 傲战法庭
                        </a>
                    </li>
                        <li class="intro">2021-06-24(美国) / 克里斯汀·芭伦斯基 / 德尔罗伊·林多 / 奥德拉·麦克唐纳 / 曼迪·帕廷金 / 库什·珍宝 / 萨拉·斯蒂尔 / 夏尔曼·宾瓦 / 尼扬比·尼扬比 / 杰西·泰勒·弗格森 / 简·林奇 / 阿伦·阿尔达 / 丹尼斯·欧哈拉 / 华莱士·肖恩 / 美国 / 布鲁克·肯尼迪 / 吉姆·麦凯 / 罗伯特·金 / 卡丽·普雷斯顿 / 傲骨之战 / 傲骨之战 / 剧情 / 犯罪 / 米歇尔·金 Michelle King / 罗伯特·金 Robert King / 英语</li>
                    <li>
                        <span class="date">2021-09-02</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="乔家的儿女" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>乔家的儿女</em>
                             / The Bond
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-08-17(中国大陆) / 白宇 / 宋祖儿 / 毛晓彤 / 张晚意 / 周翊然 / 刘钧 / 周放 / 曲哲明 / 侯雯元 / 孙安可 / 王悦伊 / 孙伊涵 / 唐艺昕 / 李佳航 / 朱珠 / 刘琳 / 张佳宁 / 昌隆 / 陈牧扬 / 孙梦晗 / 霍亚明 / 苏伊可 / 马文忠 / 林若惜 / 陆星 / 杨雪 / 涓子 / 徐百慧 / 王菁华 / 岳旸 / 王澜 / 刘丹 / 朱泳腾 / 黄毅 / 赵浩闳 / 许潇晗 / 冯晖 / 张熙唯 / 马丁 / 吴其江 / 周小飞 / 李超 / 刘白沙 / 宫政 / 李虹辰 / 朱辉 / 魏瑾 / 王红梅 / 崔奕 / 刘贾玺 / 郭紫铭 / 袁近辉 / 陈芊桦 / 梁文慧 / 范哲琛 / 李至强 / 王亚军 / 张博文 / 原若航 / 国歌 / 延翔 / 刘杰毅 / 杨晓丹 / 张子墨 / 何籽乐 / 金顺子 / 梁家桐 / 肖显鹏 / 张杍涵 / 李洛伊 / 曹毅 / 杨语瞳 / 兰卡初 / 陆忠 / 张捷 / 刘禹霆 / 于嘉溢 / 李斌 / 曹松 / 杨晨睿 / 郑千里 / 刘建民 / 白马竞 / 侯玮涛 / 邓皓 / 邓涵予 / 刘勉子 / 中国大陆 / 张开宙 / 45分钟 / 剧情 / 家庭 / 杨筱艳 Xiaoyan Yang / 汉语普通话</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-09-02</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="扫黑风暴" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>扫黑风暴</em>
                             / Crime Crackdown
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-08-09(中国大陆) / 孙红雷 / 张艺兴 / 刘奕君 / 吴越 / 江疏影 / 王志飞 / 刘之冰 / 吴晓亮 / 宁理 / 车晓 / 苏可 / 谭凯 / 侯长荣 / 孙浩 / 周晓鸥 / 王骏迪 / 周知 / 赵小锐 / 郑晓宁 / 姜瑞佳 / 葛四 / 孙筱钧 / 齐超 / 李飞 / 赵卫国 / 郭秋成 / 张弓 / 文予琪 / 刘扬 / 王妍之 / 张皓然 / 杨雨潼 / 张浩天 / 刘柠昊 / 单思杰 / 陈芷琰 / 曹艳艳 / 杨奇雨 / 周凯文 / 田璐 / 成止微 / 项洪 / 周涌海 / 李先亮 / 周宸阳 / 常铖 / 栾茗媛 / 丁志勇 / 张继南 / 朱怀旭 / 付美 / 赵晓光 / 曹阳 / 单文彬 / 吕昕 / 姜寒 / 冯晓江 / 中国大陆 / 五百 / 王斯阳 / 44分钟 / 剧情 / 犯罪 / 祖若蒙 Ruomeng Zu / 于小千 Xiaoqian Yu / 佟睦 Mu Tong / 汉语普通话</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-09-02</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="ダブル・ファンタジー" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>双重幻想 / ダブル・ファンタジー</em>
                             / Double Fantasy / 欲望人妻
                        </a>
                    </li>
                        <li class="intro">2018-06-16(日本) / 水川麻美 / 田中圭 / 真岛秀和 / 柳俊太郎 / 筱原友希子 / 多岐川裕美 / 村上弘明 / 长野里美 / 粟岛瑞丸 / 池田良 / 日本 / 御法川修 / 50分钟 / 双重幻想 / 剧情 / 阿相久美子 Kumiko Aso / 御法川修 Osamu Minorikawa / 村山由佳 Yuka Murayama / 日语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-08-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">为什么我没有看到爱情，不觉得是输给了欲望，是不敢吧？</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="大豆田とわ子と三人の元夫" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>大豆田永久子与三名前夫 / 大豆田とわ子と三人の元夫</em>
                             / My Dear Exes / 大豆田永久子与三个前夫(台)
                        </a>
                    </li>
                        <li class="intro">2021-04-13(日本) / 松隆子 / 松田龙平 / 角田晃広 / 冈田将生 / 斋藤工 / 市川实日子 / 高桥玛莉润 / 石桥静河 / 石桥菜津美 / 泷内公美 / 丰岛花 / 小田切让 / 近藤芳正 / 岩松了 / 弓削智久 / 平野生成 / 穗志萌香 / 乐驱 / 竹财辉之助 / 神尾枫珠 / 风吹淳 / 冈田义德 / 松山爱里 / 田中伟登 / 谷中敦 / 川久保拓司 / 林田岬優 / 佐久间麻由 / 足立理 / 西野实见 / 足立智充 / 川口觉 / 岩谷健司 / 伊藤沙莉 / 日本 / www.ktv.jp/mameo/ / 中江和仁 / 池田千寻 / 泷悠辅 / 50分钟 / 大豆田永久子与三名前夫 / 剧情 / 喜剧 / 爱情 / 坂元裕二 Yûji Sakamoto / 日语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-08-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">很喜欢笼目的那条线。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Good Doctor" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>良医 第四季 / The Good Doctor Season 4</em>
                             / 好医生 / 仁医
                        </a>
                    </li>
                        <li class="intro">2020-11-02(美国) / 弗莱迪·海默 / 安东尼娅·托马斯 / 菲奥娜·嘉伯曼 / 李威尹 / 克里斯蒂娜·张 / 佩奇·斯巴勒 / 希尔·哈勃 / 理查德·希夫 / 谢拉·柯雷 / 洛奇林·莫罗 / 瑞奇·何 / 麦克·刘 / 布里亚·亨德森 / 布莱恩·马克 / 山姆·罗伯特·缪克 / 萨墨·布朗 / 美国 / 麦克·里斯托 / 良医 / 45分钟 / 良医 / 剧情 / 大卫·肖 David Shore / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-08-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">Dr. Lim!</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="叛逆者" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>叛逆者</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-06-07(中国大陆) / 朱一龙 / 童瑶 / 王志文 / 王阳 / 朱珠 / 李强 / 张子贤 / 姚安濂 / 袁文康 / 代旭 / 陈伟栋 / 宿宇杰 / 焦刚 / 李培铭 / 夏铭浩 / 沈晓海 / 薛亦伦 / 孙斌 / 石强 / 季叶翠 / 石文中 / 刘丰硕 / 秦越 / 田凯 / 陈曦 / 卢钲 / 吴名 / 冯可 / 翟中星 / 孙中艺 / 过齐鸣 / 孙娇 / 茹天 / 屈刚 / 方东海 / 中国大陆 / 周游 / 45分钟 / 剧情 / 悬疑 / 李晓明 Xiaoming Li / 秦雯 Wen Qin / 周游 You Zhou / 李汝俏 Ruqiao Li / 张斌 Bin Zhang / 关景峰 Jingfeng Guan / 陈婷 Ting Chen / 汉语普通话</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-08-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">第一次看居老师的戏，还不错。。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Why Women Kill" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>致命女人 第二季 / Why Women Kill Season 2</em>
                             / 女人为何杀人 / 女人杀人为哪般
                        </a>
                    </li>
                        <li class="intro">2021-06-03(美国) / 艾莉森·托尔曼 / 拉娜·帕瑞娅 / B·K·加农 / 尼克·弗罗斯特 / 乔丹·克里斯蒂 / 马修·达达里奥 / 维罗尼卡·法尔孔 / 丹尼尔·扎卡帕 / 艾琳·加林多 / 维吉尼亚·威廉姆斯 / 朗迪·里德 / 雷切尔·贝·琼斯 / 辛西娅·魁尔斯 / 凯莉·奥马利 / 戴金·马修斯 / 美国 / 大卫·沃伦 / 詹妮弗·盖辛格 / 伊娃·朗格利亚 / 拉里·肖 / 乔安娜·科恩斯 / 梅勒妮·梅隆 / 致命女人 / 50分钟 / 致命女人 / 剧情 / 喜剧 / 犯罪 / 马克·切利 Marc Cherry / 乔·基南 Joe Keenan / 乔舒亚·迈克尔·斯坦 Joshua Michael Stern / 汉娜·施耐德 Hannah Schneider / 玛丽·伊丽莎白·汉密尔顿 Mary Elizabeth Hamilton / 斯泰西·哈曼 Stacey Harman / 柯蒂斯·凯尔 Curtis Kheel / 奥斯汀·古兹曼 Austin Guzman / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-08-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">确实更喜欢第一季</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="我在他乡挺好的" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>我在他乡挺好的</em>
                             / Rememberance Of Things Past
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-07-19(中国大陆) / 周雨彤 / 任素汐 / 孙千 / 白宇帆 / 马思超 / 代云帆 / 金靖 / 泰乐 / 龚蓓苾 / 王博文 / 梁龙 / 朱宸慧 / 王勉 / 王思文 / 王瑄 / 胡林希 / 苇青 / 杨青 / 赵彦民 / 李萍 / 涓子 / 中国大陆 / 李漠 / 70分钟 / 剧情 / 爱情 / 虢爽 Shuang Guo / 孙麒珺 Qijun Sun / 汉语普通话</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-08-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">说不出来，感觉钝钝的。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="るろうに剣心 最終章 The Beginning" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>浪客剑心 最终章 追忆篇 / るろうに剣心 最終章 The Beginning</em>
                             / 浪客剑心：最终章之追忆篇 / 浪客剑心 真人版5
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-06-04(日本) / 2021-07-30(日本网络) / 佐藤健 / 有村架纯 / 高桥一生 / 北村一辉 / 江口洋介 / 村上虹郎 / 安藤政信 / 大西信满 / 池内万作 / 藤本隆宏 / 和田聪宏 / 中村达也 / 荒木飞羽 / 洼田正孝 / 平野生成 / 堀田真由 / 一之濑亘 / 石田法嗣 / 成田瑛基 / 奥野瑛太 / 渡边真起子 / 武井咲 / 新田真剑佑 / 青木崇高 / 苍井优 / 伊势谷友介 / 土屋太凤 / 三浦涼介 / 音尾琢真 / 鹤见辰吾 / 中原丈雄 / 日本 / 大友启史 / 137分钟 / 浪客剑心 最终章 追忆篇 / 剧情 / 动作 / 冒险 / 和月伸宏 Nobuhiro Watsuki / 大友启史 Keishi Ohtomo / 日语</li>
                    <li>
                        <span class="date">2021-08-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">没看完。。。以后这种电影可能都看不下去了。。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Suicide Squad" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>X特遣队：全员集结 / The Suicide Squad</em>
                             / 新自杀小队 / 自杀特攻(港)
                        </a>
                    </li>
                        <li class="intro">2021-07-28(法国) / 2021-08-06(美国) / 玛格特·罗比 / 伊德里斯·艾尔巴 / 约翰·塞纳 / 乔尔·金纳曼 / 西尔维斯特·史泰龙 / 维奥拉·戴维斯 / 大卫·达斯马齐连 / 迈克尔·鲁克 / 杰·科特尼 / 彼得·卡帕尔迪 / 艾莉丝·布拉加 / 皮特·戴维森 / 华金·科西奥 / 胡安·迭戈·博托 / 斯托姆·瑞德 / 内森·菲利安 / 塔伊加·维迪提 / 史蒂夫·阿吉 / 肖恩·古恩 / 弗卢拉·博格 / 约翰·奥斯特兰德 / 黄美玲 / 丹妮拉·曼希沃 / 史蒂芬·布莱克哈特 / 詹尼佛·霍兰德 / 迪·布拉雷·贝克尔 / 雷·埃尔南德斯 / 雷纳尔多·法伯勒 / 乔希·文图拉 / Gerardo Davila / 米凯拉·霍沃 / 林恩·阿什 / 安德里娅·安德拉德 / 兰德尔·P·海文斯 / 迈克尔·艾伦·米利甘 / 特伦斯·罗斯摩尔 / 娜塔莉·萨福兰 / 詹姆斯·威廉·巴拉德 / 蒂莫西·卡尔 / 玛丽索尔·科雷亚 / 约翰·盖蒂尔 / 麦克斯威尔·海史密斯 / 洛伊德·考夫曼 / 迪索·拉莫斯 / 弗雷迪·史卓玛 / 维多利亚·佩吉·沃特金斯 / 美国 / 加拿大 / 英国 / 詹姆斯·古恩 / 132分钟 / X特遣队：全员集结 / 喜剧 / 动作 / 科幻 / 冒险 / 詹姆斯·古恩 James Gunn / 英语 / 西班牙语</li>
                    <li>
                        <span class="date">2021-08-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">单纯的除了画面暴力、恶心、血腥之外，其他的挺好的。。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Black Widow" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>黑寡妇 / Black Widow</em>
                             / The Black Widow
                        </a>
                    </li>
                        <li class="intro">2021-07-07(中国香港) / 2021-07-09(美国/美国网络) / 斯嘉丽·约翰逊 / 弗洛伦丝·皮尤 / 蕾切尔·薇兹 / 大卫·哈伯 / 艾尔·安德森 / 维奥莱特·麦格劳 / 欧嘉·柯瑞兰寇 / O·T·法格本 / 威廉·赫特 / 雷·温斯顿 / 赖恩·基拉·阿姆斯特朗 / 米歇尔·李 / 拉娜·布隆代尔 / Claudia Heinz / 露西·詹·穆雷 / 乔治亚·柯蒂斯 / 约恩·巴特勒 / 库尔特·岳 / 奥利维尔·里希特斯 / 安得烈·拜伦 / 卡利·内勒 / 罗伯特·普拉尔戈 / 贾辛特·布兰肯希普 / 乔希·亨利 / 阿里娅·布鲁克斯 / 泰·赫尔利 / 马里安·洛伦西克 / 茱莉亚·路易斯-德瑞弗斯 / 亚当·普里克特 / 史蒂芬·萨姆森 / 乔基姆·斯卡利 / 利亚尼·塞缪尔 / 西蒙娜·齐夫科夫斯卡 / 刘易斯·扬 / 谢娜·韦斯特 / 美国 / 凯特·绍特兰 / 133分钟 / 黑寡妇 / 动作 / 科幻 / 冒险 / 雅克·舍费尔 Jac Schaeffer / 内德·本森 Ned Benson / 埃里克·皮尔森 Eric Pearson / 斯坦·李 Stan Lee / 唐·赫克 Don Heck / 唐·里科 Don Rico / 英语 / 俄语 / 挪威语 / 匈牙利语 / 马其顿语 / 芬兰语</li>
                    <li>
                        <span class="date">2021-07-12</span>
                        
                    </li>
                    <li>
                        <span class="comment">终于可以重回影院看了！姐姐好帅，妹妹更帅！！！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=0&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        

                
            <a href="./0.html">1</a>
        
                <span class="thispage" data-total-page="61">2</span>
                
            <a href="./2.html">3</a>
        
                
            <a href="./3.html">4</a>
        
                
            <a href="./4.html">5</a>
        
                
            <a href="./5.html">6</a>
        
                
            <a href="./6.html">7</a>
        
                
            <a href="./7.html">8</a>
        
                
            <a href="./8.html">9</a>
        
            <span class="break">...</span>
                
            <a href="./59.html">60</a>
        
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=30&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-z6s5b-->

  <script>_SPLITTEST=''</script>





</body></html>