<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    我看过的电影(930)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "78857574",
    UPLOAD_AUTH_TOKEN: "78857574:b22aece14e2c3c889c4b13e4bd9b2be42ff809b3",
    SSE_TOKEN: "ebf1dd79ef1b04c3621091d707b1b1c25d290f7c",
    SSE_TIMESTAMP: "1647390601",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                <img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg">
            </a>
        </div>
        <div class="info">
            <h1>我看过的电影(930)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                226-240&nbsp;/&nbsp;930
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Harry Potter and the Half-Blood Prince" href="javascript:void(0)" class="nbg">
                    <img alt="Harry Potter and the Half-Blood Prince" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1108070214.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>哈利·波特与混血王子 / Harry Potter and the Half-Blood Prince</em>
                             / 哈利波特6：混血王子的背叛(港/台) / 哈6
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-07-06(英国) / 2009-07-15(中国大陆) / 丹尼尔·雷德克里夫 / 艾玛·沃森 / 鲁伯特·格林特 / 迈克尔·刚本 / 大卫·勒格诺 / 埃拉丽卡·加拉切 / 吉姆·布劳德本特 / 杰拉丁·萨莫维尔 / 邦妮·怀特 / 朱丽·沃特斯 / 海伦娜·伯翰·卡特 / 海伦·麦克洛瑞 / 蒂莫西·斯波 / 艾伦·瑞克曼 / 奥利弗·菲尔普斯 / 詹姆斯·菲尔普斯 / 弗雷迪·史卓玛 / 杰西·卡芙 / 汤姆·费尔顿 / 阿尔弗雷德·伊诺奇 / 伊文娜·林奇 / 罗伯特·克诺斯 / Louis Cordice / 斯嘉丽·伯恩 / 杰米·威莱特 / 乔什·赫德曼 / 罗彼·考特拉尼 / 沃维克·戴维斯 / 大卫·布拉德利 / 马修·刘易斯 / 威廉姆·麦灵 / 安娜·谢弗 / 戴文·穆雷 / 乔治娜·雷尼达斯 / 玛吉·史密斯 / 伊莎贝拉·拉夫兰德 / 艾芙珊·阿扎德 / 谢发丽·裘德胡里 / 赫洛·费因斯-提芬 / 保罗·里特 / 大卫·休里斯 / 娜塔丽·特纳 / 马克·威廉姆斯 / 弗兰克·迪兰 / 杰玛·琼斯 / 拉尔夫·伊内森 / 梁佩诗 / 亚瑟·博文 / Paul Davies / 艾略特·弗朗西斯 / 鲁斯迪·戈夫 / 詹森·艾萨克 / 奥利维亚·杰森 / 特蕾莎·马奥尼 / 弗莱迪·罗斯 / 本·谢博德 / 卡伦姆·西维耶 / 艾美达·斯丹顿 / 哈利·米尔林 / Stephen Modell / 英国 / 美国 / www.harrypotter.com / 大卫·叶茨 / 153分钟 / 哈利·波特与混血王子 / 奇幻 / 冒险 / 史蒂夫·克洛夫斯 Steve Kloves / J·K·罗琳 J.K. Rowling / 英语</li>
                    <li>
                        <span class="date">2019-12-20</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1433330" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1433330:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The End of the F***ing World" href="javascript:void(0)" class="nbg">
                    <img alt="The End of the F***ing World" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2573147295.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>去他*的世界 第二季 / The End of the F***ing World Season 2</em>
                             / 这个破世界的末日 / X 你的世界末日(台)
                        </a>
                    </li>
                        <li class="intro">2019-11-04(英国) / 2019-11-05(美国) / 杰西卡·巴登 / 埃里克斯·劳瑟 / 娜奥米·阿基 / 史蒂夫·奥拉姆 / 克里斯汀·博顿利 / 乔纳森·阿里斯 / 乔什·迪伦 / 蒂姆·凯 / 布朗温·詹姆斯 / 佩特逊·约瑟夫 / 杰克·维尔 / 亚历山大·莱利 / 凯莉·哈里森 / 佛罗伦萨·贝尔 / 多萝茜·皮特斯-劳 / 奈杰尔·博伊尔 / 英国 / 戴斯特尼·埃卡拉加 / 露西·福布斯 / 去他*的世界 / 24分钟 / 去他*的世界 / 剧情 / 喜剧 / 爱情 / 冒险 / 查理·科维尔 Charlie Covell / 查尔斯·S·福斯曼 Charles S. Forsman / 英语</li>
                    <li>
                        <span class="date">2019-12-14</span>
                        
                    </li>
                    <li>
                        <span class="comment">好看+1</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27625457" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27625457:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The End of the F***ing World" href="javascript:void(0)" class="nbg">
                    <img alt="The End of the F***ing World" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2507719850.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>去他*的世界 第一季 / The End of the F***ing World Season 1</em>
                             / 这个破世界的末日 / X 你的世界末日(台)
                        </a>
                    </li>
                        <li class="intro">2017-10-24(英国) / 杰西卡·巴登 / 埃里克斯·劳瑟 / 史蒂夫·奥拉姆 / 杰玛·韦兰 / 乌米·马萨库 / 克里斯汀·博顿利 / 纳温·乔杜里 / 杰克·维尔 / 乔纳森·阿里斯 / 巴里·沃德 / 凯莉·哈里森 / 霍莉·比奇 / 波丽·坎普 / 亚历克斯·索耶 / 伊莲恩·戴维斯 / 凯利斯顿·韦勒英 / 艾玛·阿普尔顿 / 杰夫·贝尔 / 玛格丽特·安·贝恩 / 亚当·布朗 / 亚历克斯·贝克特 / 朱丽叶·考恩 / 马特·金 / 海韦尔·摩根 / 利昂·阿诺 / 加里·萨默斯 / 莉莉·卡瓦纳 / 西蒙·勒纳根 / 泰勒斯·麦肯齐 / 路易斯·温特 / 厄尔·凯夫 / 费莉西蒂·蒙塔古 / 英国 / 乔纳森·恩特威斯尔 / 露西·彻尼亚克 / 去他*的世界 / 20分钟 / 去他*的世界 / 剧情 / 喜剧 / 犯罪 / 悬疑 / 查理·科维尔 Charlie Covell / 查尔斯·S·福斯曼 Charles S. Forsman / 英语</li>
                    <li>
                        <span class="date">2019-12-14</span>
                        
                    </li>
                    <li>
                        <span class="comment">好看</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27031389" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27031389:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Young Offenders" href="javascript:void(0)" class="nbg">
                    <img alt="The Young Offenders" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2573391635.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>年少轻狂 第二季 / The Young Offenders Season 2</em>
                             / 少年犯
                        </a>
                    </li>
                        <li class="intro">2019-11-03(英国) / 2019(爱尔兰) / 亚历克斯·墨菲 / 克里斯·瓦利 / 詹妮弗·巴里 / 希拉里·罗斯 / 多米尼克·麦克海尔 / P·J·加拉格尔 / 奥拉·菲茨杰拉德 / 罗伯特·席安 / 爱尔兰 / 彼得·福特 / 汤姆·马歇尔 / 吉姆·阿切尔 / 年少轻狂 / 30分钟 / 年少轻狂 / 喜剧 / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2019-12-06</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30399803" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30399803:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Young Offenders" href="javascript:void(0)" class="nbg">
                    <img alt="The Young Offenders" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2513751998.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>年少轻狂 第一季 / The Young Offenders Season 1</em>
                             / 少年犯 / 阿呆少年犯
                        </a>
                    </li>
                        <li class="intro">2018-02-01(英国) / 亚历克斯·墨菲 / 克里斯·瓦利 / 詹妮弗·巴里 / 希拉里·罗斯 / 多米尼克·麦克海尔 / Demi Isaac Oviawe / P·J·加拉格尔 / 奥拉·菲茨杰拉德 / 沙恩·凯西 / 托马斯·麦卡锡 / 克里斯·肯特 / 罗伯特·席安 / 迈克尔·桑德斯 / 朱迪·多诺文 / 英国 / 爱尔兰 / 彼得·福特 / 年少轻狂 / 30分钟 / 年少轻狂 / 喜剧 / 彼得·福特 Peter Foott / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2019-12-06</span>
                        
                    </li>
                    <li>
                        <span class="comment">一起犯傻</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30145148" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30145148:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="少年的你" href="javascript:void(0)" class="nbg">
                    <img alt="少年的你" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2572166063.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>少年的你</em>
                             / 少年的你，如此美丽 / Better Days
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-10-25(中国大陆) / 周冬雨 / 易烊千玺 / 尹昉 / 周也 / 吴越 / 黄觉 / 张艺凡 / 张耀 / 张歆怡 / 赵润南 / 郜玄铭 / 谢欣桐 / 刘然 / 何廖侣匀 / 胖虎 / 王英明 / 李伟龙 / 郭钟宇 / 孙岩 / 陈清銮 / 黎真承 / 中国大陆 / 中国香港 / 曾国祥 / 135分钟 / 剧情 / 爱情 / 犯罪 / 林咏琛 Lam Wing Sum / 李媛 Yuan Li / 许伊萌 Yimeng Xu / 汉语普通话</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2019-11-29</span>
                        
                    </li>
                    <li>
                        <span class="comment">疼吗
习惯了</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30166972" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30166972:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Frozen II" href="javascript:void(0)" class="nbg">
                    <img alt="Frozen II" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2572847101.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>冰雪奇缘2 / Frozen II</em>
                             / 魔雪奇缘2(港) / Frozen 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-11-22(美国) / 2019-11-22(中国大陆) / 克里斯汀·贝尔 / 伊迪娜·门泽尔 / 乔什·加德 / 乔纳森·格罗夫 / 杰森·雷特 / 埃文·蕾切尔·伍德 / 斯特林·K·布朗 / 玛莎·普林顿 / 圣蒂诺·方塔纳 / 阿尔弗雷德·莫里纳 / 瑞秋·马休斯 / 赵路 / 张安琪 / 周帅 / 程玉珠 / 曹真 / 朴惠娜 / 奥罗拉·艾克尼斯 / 张琦 / 美国 / 克里斯·巴克 / 珍妮弗·李 / 103分钟 / 冰雪奇缘2 / 喜剧 / 动画 / 冒险 / 歌舞 / 珍妮弗·李 Jennifer Lee / 克里斯·巴克 Chris Buck / 马克·史密斯 Marc Smith / 克里斯汀·安德森·洛佩兹 Kristen Anderson-Lopez / 罗伯特·洛佩兹 Robert Lopez / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2019-11-27</span>
                        
                    </li>
                    <li>
                        <span class="comment">配色也太好看了吧，给设计师加鸡腿🍗</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25887288" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25887288:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="凪のお暇" href="javascript:void(0)" class="nbg">
                    <img alt="凪のお暇" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2562503627.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>凪的新生活 / 凪のお暇</em>
                             / 风平浪静的闲暇 / 风的新生活
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-07-19(日本) / 黑木华 / 高桥一生 / 中村伦也 / 市川实日子 / 吉田羊 / 白鸟玉季 / 三田佳子 / 泷内公美 / 大塚千弘 / 藤本泉 / 唐田英里佳 / 田本清岚 / 水谷果穂 / 武田真治 / 片平渚 / 谷恭辅 / 中田久留美 / 松永拓野 / 利重刚 / 西田尚美 / 古川琴音 / 阿南敦子 / 不破万作 / 山本浩司 / 足立智充 / 森本治行 / 鹫尾真知子 / 初夏 / 雾岛丽香 / 冈本杏理 / 福山翔大 / 木下政治 / 佐伯新 / 佐藤贵史 / 日本 / www.tbs.co.jp/NAGI_NO_OITOMA/ / 坪井敏雄 / 山本刚义 / 土井裕泰 / 60分钟 / 凪的新生活 / 剧情 / 大岛里美 Satomi Oshima / 日语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2019-11-26</span>
                        
                    </li>
                    <li>
                        <span class="comment">细腻，真实</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-33418567" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="33418567:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Good Fight" href="javascript:void(0)" class="nbg">
                    <img alt="The Good Fight" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2515458639.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>傲骨之战 第二季 / The Good Fight Season 2</em>
                             / 傲战法庭
                        </a>
                    </li>
                        <li class="intro">2018-03-04(美国) / 克里斯汀·芭伦斯基 / 库什·珍宝 / 露丝·莱斯利 / 萨拉·斯蒂尔 / 贾斯汀·巴萨 / 德尔罗伊·林多 / 奥德拉·麦克唐纳 / 迈克尔·波特曼 / 尼扬比·尼扬比 / 布莱恩·斯托克斯·米切尔 / 保罗·吉尔福伊尔 / 艾丽卡·塔泽尔 / 杰里·阿德勒 / 杰妮·霍蒂谢尔 / 德鲁·盖林 / 简·林奇 / 伯纳黛特·彼得斯 / 海伦娜·约克 / 张欣迪 / Kristen Carpenter / Kayla Davion / 苏泽特·古恩 / 伊丽莎白·莱尔 / 佐伊·温特斯 / 唐纳德·保罗 / 唐尼·科沙瓦茨 / 恩里克·克兰东尼 / 大卫·卡尔 / 罗伯·莱纳 / 罗伯塔·科林德雷斯 / 克里斯蒂安·鲍勒 / 美国 / 吉姆·麦凯 / 小詹姆斯·惠特摩 / 傲骨之战 / 50分钟 / 傲骨之战 / 剧情 / 菲尔·奥尔登·罗宾森 Phil Alden Robinson / 米歇尔·金 Michelle King / 罗伯特·金 Robert King / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2019-11-26</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26997533" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26997533:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Rick and Morty" href="javascript:void(0)" class="nbg">
                    <img alt="Rick and Morty" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2492804476.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>瑞克和莫蒂 第三季 / Rick and Morty Season 3</em>
                             / 外公你这样做很容易失去我(豆友译名)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-04-01(首播集) / 2017-07-30(美国) / 贾斯汀·罗兰 / 克里斯·帕内尔 / 斯宾瑟·格拉默 / 萨拉·乔克 / 内森·菲利安 / 丹·哈萌 / 布兰登·约翰逊 / 汤姆·肯尼 / 莫里斯·拉马奇 / 诺兰·诺斯 / 凯茜·斯蒂尔 / 凯瑞·华格伦 / 美国 / www.rickandmorty.com / 贾斯汀·罗兰 / 胡安·何塞·梅扎-莱昂 / 瑞克和莫蒂 / 22分钟 / 瑞克和莫蒂 / 科幻 / 动画 / 冒险 / 丹·哈萌 Dan Harmon / 贾斯汀·罗兰 Justin Roiland / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2019-11-20</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26592971" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26592971:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Joker" href="javascript:void(0)" class="nbg">
                    <img alt="Joker" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2567198874.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>小丑 / Joker</em>
                             / 小丑起源电影：罗密欧 / Romeo
                        </a>
                    </li>
                        <li class="intro">2019-08-31(威尼斯电影节) / 2019-10-04(美国) / 华金·菲尼克斯 / 罗伯特·德尼罗 / 马克·马龙 / 莎姬·贝兹 / 谢伊·惠格姆 / 弗兰西丝·康罗伊 / 布莱恩·考伦 / 布莱恩·泰里·亨利 / 布莱特·卡伦 / 道格拉斯·霍奇斯 / 格伦·弗莱舍尔 / 比尔·坎普 / 乔什·帕斯 / 但丁·佩雷拉-奥尔森 / 玛丽·凯特·马拉特 / 迈克尔·本茨 / 莎珑·华盛顿 / 桑德拉·詹姆斯 / 托尼·赫德 / 曼德拉·贝拉米 / 乔·奥克曼 / 卡尔·伦德施泰特 / 米克·奥罗克 / 大卫·吉布森 / 伊万·罗萨多 / 安妮·比萨比亚 / 布莱斯·科里根 / 乔恩·道格拉斯·雷尼 / 艾恩斯利·丹恩 / 杰森·约翰·奇卡莱塞 / 加里·古尔曼 / 贾斯汀·塞洛克斯 / 大卫·伊亚科诺 / 本·沃黑特 / 卡德罗莎·奥娜·卡罗尔 / 美国 / 加拿大 / www.jokermovie.net / 托德·菲利普斯 / 122分钟 / 118分钟(威尼斯电影节) / 小丑 / 剧情 / 犯罪 / 惊悚 / 托德·菲利普斯 Todd Phillips / 斯科特·西尔弗 Scott Silver / 鲍勃·凯恩 Bob Kane / 比尔·芬格 Bill Finger / 杰瑞·罗宾逊 Jerry Robinson / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2019-11-14</span>
                        
                    </li>
                    <li>
                        <span class="comment">因果循环</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27119724" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27119724:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Rick and Morty" href="javascript:void(0)" class="nbg">
                    <img alt="Rick and Morty" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2579918159.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>瑞克和莫蒂 第二季 / Rick and Morty Season 2</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-07-26(美国) / 贾斯汀·罗兰 / 克里斯·帕内尔 / 斯宾瑟·格拉默 / 萨拉·乔克 / 科甘-迈克尔·凯 / 乔丹·皮尔 / 杰·约翰斯顿 / 保罗·F·汤普金斯 / 史蒂芬·寇贝尔 / 沃纳·赫尔佐格 / 美国 / video.adultswim.com/rick-and-morty / 韦斯利·阿彻 / 皮特·米歇尔斯 / 瑞克和莫蒂 / 22分钟 / 瑞克和莫蒂 / 喜剧 / 科幻 / 动画 / 冒险 / Justin Roiland / 丹·哈萌 Dan Harmon / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2019-11-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">儿童适宜</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25865470" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25865470:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="我們與惡的距離" href="javascript:void(0)" class="nbg">
                    <img alt="我們與惡的距離" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2554916825.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>我们与恶的距离 / 我們與惡的距離</em>
                             / The World Between Us
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-03-24(中国台湾) / 贾静雯 / 温升豪 / 吴慷仁 / 周采诗 / 陈妤 / 洪胜德 / 曾沛慈 / 林哲熹 / 施名帅 / 林予晞 / 检场 / 谢琼煖 / 刘越逖 / 谢丽金 / 巴戈 / 萧瑶 / 于卉乔 / 王可元 / 刘修甫 / 葛蕾 / 严艺文 / 林雨宣 / 纪艾希 / 陈家逵 / 谭艾珍 / 林敬伦 / 李晶玉 / 中国台湾 / 林君阳 / 55分钟 / 我们与恶的距离 / 剧情 / 吕蒔媛 Lu Shih-Yuan / 汉语普通话</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2019-11-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">看得见的东西不需要相信，看不见的才需要</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30181230" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30181230:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Everything and Nothing" href="javascript:void(0)" class="nbg">
                    <img alt="Everything and Nothing" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2247944323.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>万物与虚无 / Everything and Nothing</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-03-02 / 吉姆·艾尔-哈利利 / 英国 / www.bbc.co.uk/programmes/b00yb59m / 120分钟（两集） / 万物与虚无 / 纪录片 / Nic Stacey / 英语</li>
                    <li>
                        <span class="date">2019-11-06</span>
                        
                    </li>
                    <li>
                        <span class="comment">星空真好看</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-6872214" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="6872214:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Rick and Morty" href="javascript:void(0)" class="nbg">
                    <img alt="Rick and Morty" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2396871198.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>瑞克和莫蒂 第一季 / Rick and Morty Season 1</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-12-02(美国) / 贾斯汀·罗兰 / 克里斯·帕内尔 / 斯宾瑟·格拉默 / 萨拉·乔克 / 凯瑞·华格伦 / 汤姆·肯尼 / 阿尔弗雷德·莫里纳 / 约翰·奥利弗 / Hope Sandoval / Brandon Johnson / 菲尔·亨德里 / 美国 / www.rickandmorty.com / 贾斯汀·罗兰 / 瑞克和莫蒂 / 22分钟 / 瑞克和莫蒂 / 喜剧 / 动画 / 贾斯汀·罗兰 Justin Roiland / 丹·哈萌 Dan Harmon / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2019-11-06</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-11537954" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="11537954:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=210&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./11.html">12</a>
        
                
            <a href="./12.html">13</a>
        
                
            <a href="./13.html">14</a>
        
                
            <a href="./14.html">15</a>
        
                <span class="thispage" data-total-page="62">16</span>
                
            <a href="./16.html">17</a>
        
                
            <a href="./17.html">18</a>
        
                
            <a href="./18.html">19</a>
        
                
            <a href="./19.html">20</a>
        
            <span class="break">...</span>
                
            <a href="./60.html">61</a>
        
            <a href="./61.html">62</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=240&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"><img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">我的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-699758d69-t75dj-->

  <script>_SPLITTEST=''</script>





</body></html>