<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    我看过的电影(930)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "78857574",
    UPLOAD_AUTH_TOKEN: "78857574:b22aece14e2c3c889c4b13e4bd9b2be42ff809b3",
    SSE_TOKEN: "ebf1dd79ef1b04c3621091d707b1b1c25d290f7c",
    SSE_TIMESTAMP: "1647390601",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                <img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg">
            </a>
        </div>
        <div class="info">
            <h1>我看过的电影(930)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                331-345&nbsp;/&nbsp;930
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Lock, Stock and Two Smoking Barrels" href="javascript:void(0)" class="nbg">
                    <img alt="Lock, Stock and Two Smoking Barrels" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p792443418.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>两杆大烟枪 / Lock, Stock and Two Smoking Barrels</em>
                             / 够姜四小强(港) / 两根枪管(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1998-08-28(英国) / 杰森·弗莱明 / 德克斯特·弗莱彻 / 尼克·莫兰 / 杰森·斯坦森 / 斯蒂文·麦金托什 / 斯汀 / 维尼·琼斯 / 维克多·麦奎尔 / 安德鲁·蒂曼 / 马修·沃恩 / 薇拉·黛 / 弗兰克·哈珀 / 杰克·亚伯拉罕 / 史蒂夫·斯威尼 / 罗尼·福克斯 / 丹尼·约翰-儒勒 / 阿兰·福德 / 瓦斯·布莱克伍德 / Lenny McLean / 尼古拉斯·罗尔 / P.H.莫里亚蒂 / 斯蒂芬·马库斯 / 罗伯·布莱顿 / 英国 / 盖·里奇 / 107分钟 / 115分钟(导演剪辑版) / 两杆大烟枪 / 剧情 / 喜剧 / 犯罪 / Guy Ritchie / 英语</li>
                    <li>
                        <span class="date">2019-03-03</span>
                        
                    </li>
                    <li>
                        <span class="comment">没看懂</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1293350" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1293350:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="La vita è bella" href="javascript:void(0)" class="nbg">
                    <img alt="La vita è bella" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2578474613.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>美丽人生 / La vita è bella</em>
                             / 一个快乐的传说(港) / Life Is Beautiful
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1997-12-20(意大利) / 2020-01-03(中国大陆) / 罗伯托·贝尼尼 / 尼可莱塔·布拉斯基 / 乔治·坎塔里尼 / 朱斯蒂诺·杜拉诺 / 赛尔乔·比尼·布斯特里克 / 玛丽萨·帕雷德斯 / 霍斯特·布赫霍尔茨 / 利迪娅·阿方西 / 朱利亚娜·洛约迪切 / 亚美利哥·丰塔尼 / 彼得·德·席尔瓦 / 弗朗西斯·古佐 / 拉法埃拉·莱博罗尼 / 克劳迪奥·阿方西 / 吉尔·巴罗尼 / 马西莫·比安奇 / 恩尼奥·孔萨尔维 / 吉安卡尔洛·科森蒂诺 / 阿伦·克雷格 / 汉尼斯·赫尔曼 / 弗兰科·梅斯科利尼 / 安东尼奥·普雷斯特 / 吉娜·诺维勒 / 理查德·塞梅尔 / 安德烈提多娜 / 迪尔克·范登贝格 / 奥梅罗·安东努蒂 / 沈晓谦 / 张欣 / 意大利 / 罗伯托·贝尼尼 / 116分钟 / 125分钟(戛纳电影节) / 美丽人生 / 剧情 / 喜剧 / 爱情 / 战争 / 温琴佐·切拉米 Vincenzo Cerami / 罗伯托·贝尼尼 Roberto Benigni / 意大利语 / 德语 / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2019-03-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">awww...</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1292063" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1292063:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Human" href="javascript:void(0)" class="nbg">
                    <img alt="Human" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2287790296.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>人类 / Human</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-09-12(法国) / 法国 / www.human-themovie.org / 扬·阿尔蒂斯-贝特朗 / 190分钟(剧场版) / 131分钟(TV版) / 人类 / 纪录片 / 英语 / 法语 / 阿拉伯语 / 西班牙语 / 葡萄牙语 / 意大利语 / 汉语普通话 / 俄语 / 希腊语 / 希伯来语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2019-02-28</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26582012" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26582012:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="誰先愛上他的" href="javascript:void(0)" class="nbg">
                    <img alt="誰先愛上他的" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2546961193.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>谁先爱上他的 / 誰先愛上他的</em>
                             / Dear EX
                        </a>
                    </li>
                        <li class="intro">2018-04-22(乌迪内远东电影节) / 2018-11-02(中国台湾) / 邱泽 / 谢盈萱 / 陈如山 / 黄圣球 / 周洺甫 / 梁正群 / 杨丽音 / 安哲 / 高隽雅 / 吴定谦 / 刘黛莹 / 钟欣凌 / 万芳 / 高爱伦 / 白痴公主 / 范姜彦丰 / 中国台湾 / 徐誉庭 / 许智彦 / 100分钟 / 谁先爱上他的 / 剧情 / 喜剧 / 同性 / 徐誉庭 Mag Hsu / 吕蒔媛 Lu Shih-Yuan / 汉语普通话</li>
                    <li>
                        <span class="date">2019-02-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">女巫请睁眼，你有一瓶解药一瓶毒！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27119586" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27119586:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Alita: Battle Angel" href="javascript:void(0)" class="nbg">
                    <img alt="Alita: Battle Angel" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2544987866.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>阿丽塔：战斗天使 / Alita: Battle Angel</em>
                             / 铳梦 / 铳梦：战斗天使(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-02-05(中国台湾) / 2019-02-14(美国) / 2019-02-22(中国大陆) / 罗莎·萨拉查 / 克里斯托弗·瓦尔兹 / 基恩·约翰逊 / 艾德·斯克林 / 马赫沙拉·阿里 / 詹妮弗·康纳利 / 杰基·厄尔·哈利 / 拉娜·康多 / 小豪尔赫·兰登伯格 / 艾莎·冈萨雷斯 / 卡斯帕·范·迪恩 / 米歇尔·罗德里格兹 / 爱德华·诺顿 / 杰夫·法赫 / 山姆麦地那 / 德里克·梅耶斯 / 艾丽·拉蒙特 / 豪尔赫·A·希门尼斯 / 马克·扎罗 / 比利·布莱尔 / 伦纳德·吴 / 特里斯坦·里格斯 / 迈克尔·洛夫·托利弗 / 金 / 达塞尔·丹妮尔 / 马克·A·怀特 / 杰·科特尼 / 美国 / 日本 / 加拿大 / www.foxmovies.com/movies/alita-battle-angel / 罗伯特·罗德里格兹 / 122分钟 / 阿丽塔：战斗天使 / 动作 / 科幻 / 冒险 / 詹姆斯·卡梅隆 James Cameron / 莱塔·卡罗格里迪斯 Laeta Kalogridis / 木城幸人 Yukito Kishiro / 英语 / 西班牙语</li>
                    <li>
                        <span class="date">2019-02-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">一直没想明白大块头怎么就没打过那群机械狗呢？</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1652592" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1652592:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="人间世 第一季" href="javascript:void(0)" class="nbg">
                    <img alt="人间世 第一季" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2369039272.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>人间世 第一季</em>
                             / 人间百态
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-06-11(中国大陆) / 中国大陆 / www.kankanews.com/z/renjianshi/index.shtml / 周全 / 秦博 / 45分钟 / 纪录片 / 汉语普通话</li>
                    <li>
                        <span class="date">2019-02-17</span>
                        
                    </li>
                    <li>
                        <span class="comment">追问什么是死亡，不如想想什么是活着。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26815163" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26815163:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Green Book" href="javascript:void(0)" class="nbg">
                    <img alt="Green Book" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2549177902.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>绿皮书 / Green Book</em>
                             / 绿簿旅友(港) / 幸福绿皮书(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-09-11(多伦多电影节) / 2018-11-16(美国) / 2019-03-01(中国大陆) / 维果·莫腾森 / 马赫沙拉·阿里 / 琳达·卡德里尼 / 塞巴斯蒂安·马尼斯科 / 迪米特·D·马里诺夫 / 迈克·哈顿 / P·J·伯恩 / 乔·柯蒂斯 / 玛姬·尼克松 / 冯·刘易斯 / 乔恩·索特兰 / 唐·斯达克 / 安东尼·曼加诺 / 保罗·斯隆 / 珍娜·劳伦索 / 肯尼斯·以色列 / 伊克博·塞巴 / 尼克·瓦莱隆加 / 大卫·安 / 迈克·切罗内 / 杰拉尔丁·辛格 / 马丁·巴特斯·布拉德福德 / 格拉伦·布莱恩特·班克斯 / 汤姆·维图 / 夏恩·帕特洛 / 丹尼斯·W·霍尔 / 吉姆·克洛克 / 戴恩·罗兹 / 布赖恩·斯特帕尼克 / 乔恩·迈克尔·戴维斯 / 布莱恩·库瑞 / 托尼亚·马尔多纳多 / 加文·莱尔·弗雷 / 奎恩·达菲 / 哈里森·斯通 / 比利·布里德 / 莱斯利·卡斯泰 / 克雷格·迪弗朗西亚 / 托尼·查普曼·斯蒂尔 / 伊桑·艾哈特 / 詹姆斯·W·埃弗莫尔 / Frank Vallelonga / 美国 / 中国大陆 / 彼得·法雷里 / 130分钟 / 绿皮书 / 剧情 / 喜剧 / 传记 / 音乐 / 尼克·瓦莱隆加 Nick Vallelonga / 布莱恩·海耶斯·库瑞 Brian Hayes Currie / 彼得·法雷里 Peter Farrelly / 英语 / 意大利语 / 俄语 / 德语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2019-02-14</span>
                        
                    </li>
                    <li>
                        <span class="comment">Show me how to be an asshole and I can teach u how to be a gentleman.</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27060077" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27060077:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="一出好戏" href="javascript:void(0)" class="nbg">
                    <img alt="一出好戏" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2529571873.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>一出好戏</em>
                             / 大富翁 / 诳想曲
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-08-10(中国大陆) / 黄渤 / 舒淇 / 王宝强 / 张艺兴 / 于和伟 / 王迅 / 李勤勤 / 李又麟 / 宁浩 / 管虎 / 梁静 / 徐峥 / 陈德森 / 张磊 / 杨凯迪 / 魏嘉镁 / 袁子芸 / 刘彦卿 / 房晓航 / 王俏 / 李栋 / 中国大陆 / 黄渤 / 134分钟 / 剧情 / 喜剧 / 黄渤 Bo Huang / 张冀 Ji Zhang / 郭俊立 Junli Guo / 查慕春 Muchun Zha / 崔斯韦 Siwei Cui / 邢爱娜 Aina Xing / 黄湛中 Zhanzhong Huang / 汉语普通话</li>
                    <li>
                        <span class="date">2019-02-12</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26985127" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26985127:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="来电狂响" href="javascript:void(0)" class="nbg">
                    <img alt="来电狂响" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2542268337.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>来电狂响</em>
                             / 中国版《完美陌生人》 / 手机狂响
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-12-28(中国大陆) / 佟大为 / 马丽 / 霍思燕 / 乔杉 / 田雨 / 代乐乐 / 奚梦瑶 / 艾伦 / 张晨光 / 杨玏 / 克拉拉 / 许娣 / 李萍 / 张帆 / 徐冬冬 / 何泓姗 / 姜来 / 刘家祎 / 杜江 / 钟鹿纯 / 韩昕妤 / 李柄熹 / 赵宇涵 / 毕大勋 / 李恬洁 / 贝乐乐 / 耿杨 / 贝镜水 / 刘剑 / 中国大陆 / 于淼 / 103分钟 / 剧情 / 喜剧 / 李潇 Xiao Li / 王思 Si Wang / 王欢 Huan Wang / 汉语普通话</li>
                    <li>
                        <span class="date">2019-02-12</span>
                        
                    </li>
                    <li>
                        <span class="comment">put ur phone down</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30377703" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30377703:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="流浪地球" href="javascript:void(0)" class="nbg">
                    <img alt="流浪地球" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2545472803.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>流浪地球</em>
                             / 流浪地球：飞跃2020特别版 / The Wandering Earth
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-02-05(中国大陆) / 2020-11-26(中国大陆重映) / 屈楚萧 / 吴京 / 李光洁 / 吴孟达 / 赵今麦 / 隋凯 / 屈菁菁 / 张亦驰 / 杨皓宇 / 阿尔卡基·沙罗格拉茨基 / 李虹辰 / 杨轶 / 姜志刚 / 张欢 / 雷佳音 / 宁浩 / 刘慈欣 / 郭京飞 / 王智 / 张子贤 / 路阳 / 张宁 / 张小北 / 饶晓志 / 陶珞依 / 吴晓亮 / 龚格尔 / 郭帆 / 陈叶生 / 赵一龙 / 于文龙 / 金龙 / 郭赫轩 / 王一斐 / 李卓钊 / 宿北宸 / 白雪 / 高岛真一 / 马牛 / 刘晓宇 / 沈晶晶 / 詹卢卡·佐帕 / 马文·布韦 / 刘萱琳 / 傅晓明 / 陈烁 / 米娅·迪奥普 / 中国大陆 / 郭帆 / 125分钟 / 137分钟(重映版) / 科幻 / 冒险 / 灾难 / 龚格尔 Geer Gong / 严东旭 Dongxu Yan / 郭帆 Frant Gwo / 叶俊策 Junce Ye / 杨治学 Zhixue Yang / 吴荑 Ti Wu / 叶濡畅 Ruchang Ye / 沈晶晶 Jingjing Shen / 刘慈欣 Cixin Liu / 汉语普通话 / 英语 / 俄语 / 法语 / 日语 / 韩语 / 印尼语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2019-02-11</span>
                        
                    </li>
                    <li>
                        <span class="comment">中国科幻在崛起！身体锻炼很重要啊😁</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26266893" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26266893:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Bohemian Rhapsody" href="javascript:void(0)" class="nbg">
                    <img alt="Bohemian Rhapsody" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2549558913.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>波西米亚狂想曲 / Bohemian Rhapsody</em>
                             / 波希米亚狂想曲：摇滚传说(港) / 波希米亚狂想曲(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-11-02(美国) / 2019-03-22(中国大陆) / 拉米·马雷克 / 本·哈迪 / 约瑟夫·梅泽罗 / 格威利姆·李 / 艾伦·里奇 / 露西·宝通 / 艾丹·吉伦 / 汤姆·霍兰德 / 麦克·梅尔斯 / 阿隆·麦克卡斯克 / 梅内卡·达斯 / 迪基·博 / 蒂姆· 普莱斯特 / 杰克·罗思 / 马克斯·班内特 / 基兰·哈德卡斯托 / 罗斯·格林 / 布鲁斯·麦克金伦 / 米歇尔·邓肯 / 马特·格林伍德 / 罗茜·本杰明 / 约翰·奥特曼 / 詹姆斯·华莱士 / 文森特·阿德里安 / 拉斯科·阿特金斯 / 乔纳森·奇塔姆 / 迈克尔·科布 / 耶稣·加洛 / 亚当·兰伯特 / 豪尔赫·莱昂·马丁内斯 / 杰森· 莱恩斯 / 伊斯雷尔·鲁兹 / 普丽亚·布莱克本 / 安德鲁·鲍尔曼 / 罗伊斯·克罗宁 / 埃斯·巴蒂 / 菲利普·安德鲁 / 亚当·劳夫 / 德默特·墨菲 / 英国 / 美国 / 布莱恩·辛格 / 135分钟 / 131分钟(中国大陆) / 波西米亚狂想曲 / 剧情 / 传记 / 同性 / 音乐 / 安东尼·麦卡滕 Anthony McCarten / 皮特·摩根 Peter Morgan / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2019-02-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">Have a good life time.</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-5300054" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="5300054:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="疯狂的外星人" href="javascript:void(0)" class="nbg">
                    <img alt="疯狂的外星人" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2541901817.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>疯狂的外星人</em>
                             / Crazy Alien
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-02-05(中国大陆) / 黄渤 / 沈腾 / 汤姆·派福瑞 / 马修·莫里森 / 徐峥 / 于和伟 / 雷佳音 / 刘桦 / 邓飞 / 蔡明凯 / 王戈 / 凯特·纳尔逊 / 王砚伟 / 呲路 / 罗恩·斯穆安伯格 / 丹尼尔·休·凯利 / 刘十六 / C.T. / Gao Mingyu Evans   / 米娅·迪奥普 / 暗真 / 安得路 / 慕晓博 / 柯南·何裴 / 大卫·雷登 / 杨山 / 中国大陆 / 宁浩 / 116分钟 / 喜剧 / 科幻 / 孙小杭 Xiaohang Sun / 董润年 Runnian Dong / 吴楠 Nan Wu / 刘晓丹 / 潘依然 / 汉语普通话 / 英语</li>
                    <li>
                        <span class="date">2019-02-09</span>
                        
                    </li>
                    <li>
                        <span class="comment">第一次跟爸妈一起看电影😊</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25986662" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25986662:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="大象席地而坐" href="javascript:void(0)" class="nbg">
                    <img alt="大象席地而坐" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2511811355.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>大象席地而坐</em>
                             / 金羊毛 / 爱在樱花盛开时
                        </a>
                    </li>
                        <li class="intro">2018-02-16(柏林电影节) / 2019-11-02(日本) / 彭昱畅 / 章宇 / 王玉雯 / 李丛喜 / 董向荣 / 王柠 / 赵燕国彰 / 朱颜曼滋 / 凌正辉 / 王超北 / 王雪洋 / 中国大陆 / 胡波 / 234分钟(导演剪辑版) / 剧情 / 胡迁 Qian Hu / 汉语普通话</li>
                    <li>
                        <span class="date">2019-02-07</span>
                        
                    </li>
                    <li>
                        <span class="comment">不同年龄层的悲哀与希望。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27172891" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27172891:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Sing Street" href="javascript:void(0)" class="nbg">
                    <img alt="Sing Street" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2615284298.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>初恋这首情歌 / Sing Street</em>
                             / 初恋无限JAM(港) / 摇滚青春恋习曲(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-01-24(圣丹斯电影节) / 2016-03-18(爱尔兰) / 2016-04-15(美国) / 2016-05-20(英国) / 2020-08-07(中国大陆) / 福迪亚·瓦尔什-匹罗 / 露西·宝通 / 杰克·莱诺 / 马克·麦克肯纳 / 艾丹·吉伦 / 凯尔·布拉德利·唐纳森 / 凯莉·桑顿 / 莉迪亚·麦吉尼斯 / 玛丽亚·多耶·肯尼迪 / 康纳·汉密尔顿 / 卡尔·赖斯 / 伊安·肯尼 / 本·卡罗兰 / 波西·钱布卡 / 基思·麦克利恩 / 唐·威彻利 / 德斯·基奥治 / 基安·墨菲 / 玛塞拉·普伦基特 / 维拉·纽尔布维 / 托尼·多伊尔 / 彼得·坎皮恩 / 爱尔兰 / 英国 / 美国 / 约翰·卡尼 / 106分钟 / 103分钟(中国大陆) / 初恋这首情歌 / 剧情 / 爱情 / 音乐 / 约翰·卡尼 John Carney / 英语 / 法语 / 拉丁语</li>
                    <li>
                        <span class="date">2019-01-31</span>
                        
                    </li>
                    <li>
                        <span class="comment">you never gonna grow, if you don't go now.</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25855071" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25855071:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="风味人间 第一季" href="javascript:void(0)" class="nbg">
                    <img alt="风味人间 第一季" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2541649132.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>风味人间 第一季</em>
                             / Once Upon a Bite / Savouring China
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-10-28(中国大陆) / 李立宏 / 陈晓卿 / 扶霞·邓洛普 / 中国大陆 / 陈晓卿 / 50分钟 / 纪录片 / 汉语普通话</li>
                    <li>
                        <span class="date">2019-01-30</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30156039" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30156039:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=315&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./18.html">19</a>
        
                
            <a href="./19.html">20</a>
        
                
            <a href="./20.html">21</a>
        
                
            <a href="./21.html">22</a>
        
                <span class="thispage" data-total-page="62">23</span>
                
            <a href="./23.html">24</a>
        
                
            <a href="./24.html">25</a>
        
                
            <a href="./25.html">26</a>
        
                
            <a href="./26.html">27</a>
        
            <span class="break">...</span>
                
            <a href="./60.html">61</a>
        
            <a href="./61.html">62</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=345&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"><img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">我的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-699758d69-s9z5b-->

  <script>_SPLITTEST=''</script>





</body></html>