<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "adc231e429ff6cc33b4164f666d37d97c7256c43",
    SSE_TIMESTAMP: "1640990623",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                391-405&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="This Is Us" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>我们这一天 第二季 / This Is Us Season 2</em>
                             / 这就是我们 / 我们的生活
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-09-26(美国) / 斯特林·K·布朗 / 曼迪·摩尔 / 克丽丝·梅斯 / 贾斯汀·哈特雷 / 苏珊·卡莉奇·沃森 / 米洛·文堤米利亚 / 克里斯·沙利文 / 亚利桑德拉·布莱肯瑞吉 / 乔·胡尔特拉斯 / 西尔维斯特·史泰龙 / 奈尔斯·菲奇 / 罗恩·彼得·琼斯 / 洛根·施罗耶 / 汉娜·蔡勒 / 麦肯齐·汉奇恰克 / 帕克·贝茨 / 厄里斯·贝克 / 朗尼·查维斯 / 费丝·赫尔曼 / 利丽克·罗斯 / 蒂凡尼·卡门斯 / 凯登斯·默里 / 亚历山大·卡内拉科斯 / 德尔罗伊·林多 / Patrick Cage / 莉迪亚·波尔图 / 朱尔·斯泰特 / 朗·霍华德 / 美国 / 肯·奥林 / 约翰·福滕贝里 / 格伦·费卡拉 / 约翰·里夸 / 雷吉娜·金 / 泽纳·富恩特斯 / 乌塔·布里兹维茨 / 乔安娜·科恩斯 / 丽贝卡·爱舍 / 克里斯·科赫 / 我们这一天 / 45分钟 / 我们这一天 / 剧情 / 家庭 / 丹·福格尔曼 Dan Fogelman / 贝卡·布伦斯特 Bekah Brunstetter / 艾萨克·阿普塔克 Isaac Aptaker / 伊丽莎白·伯格 Elizabeth Berger / 薇拉·赫伯特 Vera Herbert / Tyler Bensinger / 唐·罗斯 Don Roos / 卡伊·耶贡 Kay Oyegun / K.J.斯坦伯格 K.J. Steinberg / 舒卡里·蒂曼 Shukree Tilghman / 丽贝卡·布鲁斯特 Rebecca Brunstetter / 劳拉·肯纳 Laura Kenar / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2018-03-16</span>
                        
                    </li>
                    <li>
                        <span class="comment">终于等到你，追。干嘛呀，看一集哭一集😩😩😩</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Le Grand Méchant Renard et autres contes..." href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>大坏狐狸的故事 / Le Grand Méchant Renard et autres contes...</em>
                             / 谁是大坏狐(台) / 坏蛋狐狸的故事(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-06-15(安锡动画电影节) / 2017-06-21(法国) / 2018-03-16(中国大陆) / 纪尧姆·达尔诺 / 席琳·荣特 / 达米安·维特卡 / 安托万·苏姆斯基 / 卡梅尔·阿卜德萨多克 / 克里斯多夫·勒莫因 / 纪尧姆·布谢德 / 鲍里斯·雷林格 / 玛佳丽·罗森茨威格 / 让·卢·霍维茨 / 伊夫·阎 / 亚历山大·莫洛尼 / 法国 / 比利时 / 美国 / 本杰明·雷内 / 帕特里克·英伯特 / 83分钟 / 大坏狐狸的故事 / 喜剧 / 动画 / 冒险 / 本杰明·雷内 Benjamin Renner / 让·勒尼奥 Jean Regnaud / 法语 / 汉语普通话</li>
                    <li>
                        <span class="date">2018-03-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">如非是至恶本性的人的愤怒，撒娇绝对是最好的良药</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Bajrangi Bhaijaan" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>小萝莉的猴神大叔 / Bajrangi Bhaijaan</em>
                             / 娃娃返乡任务(台) / 宝莱坞之钢铁奶爸(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-07-17(印度) / 2018-03-02(中国大陆) / 萨尔曼·汗 / 哈莎莉·马洛特拉 / 卡琳娜·卡普尔 / 纳瓦祖丁·席迪圭 / 欧姆·普瑞 / 梅·维贾 / 席尔帕.舒克拉 / 拉杰什·沙玛 / 沙拉蒂·瑟斯纳 / 阿图·斯里瓦斯塔瓦 / 阿德南·萨米 / 马诺·巴克什 / 维莫尔·卡肖尔 / 凯姆利什·吉尔 / 纳伊姆·汗 / 埃朗·哈斯米 / 迪普提·纳瓦尔 / 阿尔卡·芭朵拉·卡肖尔 / 印度 / 卡比尔·汗 / 159分钟 / 141分钟(中国大陆) / 小萝莉的猴神大叔 / 剧情 / 喜剧 / 动作 / 卡比尔·汗 Kabir Khan / 维杰耶德拉·普拉萨德 Vijayendra Prasad / 印地语 / 乌尔都语</li>
                    <li>
                        <span class="date">2018-03-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">你看，信念是有能量的.</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Obesity: The Post Mortem" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>解剖肥胖 / Obesity: The Post Mortem</em>
                             / 肥胖症：尸检
                        </a>
                    </li>
                        <li class="intro">2016-09-13 / 英国 /  / 59min / 解剖肥胖 / 纪录片 / 英语</li>
                    <li>
                        <span class="date">2018-03-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">如此大基数的重量，也不是一天两天达到的，早意识到，早脱离危险。如果想磨练自己的毅力，那么减肥是一个很好的途径。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="I, Tonya" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>我，花样女王 / I, Tonya</em>
                             / 冰之骄女(港) / 老娘叫谭雅(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-09-08(多伦多电影节) / 2017-12-08(美国) / 玛格特·罗比 / 塞巴斯蒂安·斯坦 / 艾莉森·珍妮 / 凯特琳·卡弗 / 麦肯娜·格瑞丝 / 鲍比·坎纳瓦尔 / 博亚娜·诺瓦科维奇 / 朱丽安妮·尼科尔森 / 凯萨琳·戴尔 / 保罗·沃尔特·豪泽 / 约书亚·米克尔 / 埃文·乔治·沃拉泽里斯 / 卡拉·曼泰拉 / 杰森·戴维斯 / 凯莉·弗雷泽 / 安东尼·雷诺兹 / 杰森·麦克唐纳 / 迈尔斯·穆森登 / 英国 / 美国 / 卡塔尔 / 克雷格·吉勒斯佩 / 120分钟 / 我，花样女王 / 剧情 / 喜剧 / 传记 / 运动 / 斯蒂芬·罗杰斯 Steven Rogers / 英语</li>
                    <li>
                        <span class="date">2018-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">像是一条小狗，有人给根骨头就跟着跑了🤨</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="She-Devil" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>女人心海底针 / She-Devil</em>
                             / 女人心海底针 / 呷醋妙女郎
                        </a>
                    </li>
                        <li class="intro">1989-12-08 / 梅丽尔·斯特里普 / 罗西妮·巴尔 / 小艾德·博格里 / 罗宾·利奇 / 罗莎娜·卡特 / 史蒂芬·切斯特·普林斯 / 萨莉·杰西·拉斐尔 / 洛瑞·坦·齐恩 / 玛丽·路易丝·威尔逊 / 苏珊·威利斯 / George W.S. Trow / 黛伯拉·拉什 / 玛丽亚·皮提罗 / 西尔维娅·迈尔斯 / Cynthia Adler / 多丽丝·布莱克 / 琼·盖博 / 杰克·吉尔平 / 布莱恩·拉肯 / Larry Marshall / A·马丁内斯 / 琳达·亨特 / 美国 / 苏珊·塞德尔曼 / 99 分钟 / 女人心海底针 / 喜剧 / Barry Strugatz / Fay Weldon / Mark R. Burns / 英语</li>
                    <li>
                        <span class="date">2018-03-03</span>
                        
                    </li>
                    <li>
                        <span class="comment">真是酷🤨</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Ferdinand" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>公牛历险记 / Ferdinand</em>
                             / 萌牛费迪南(台) / 快D啦牛牛(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-12-15(美国) / 2018-01-19(中国大陆) / 约翰·塞纳 / 凯特·麦克金农 / 莉莉·戴 / 鲍比·坎纳瓦尔 / 安东尼·安德森 / 大卫·田纳特 / 吉娜·罗德里格兹 / 戴维德·迪格斯 / 加布里埃尔·伊格莱西亚斯 / 杰洛德·卡尔迈克 / 劳尔·埃斯帕扎 / 米格尔·安赫尔·西尔维斯特 / 弗卢拉·博格 / 莎莉·菲利普斯 / 波瑞斯·科乔 / 杰克·戈尔 / 杰特·尤尔根斯米尔 / 奈尔·迪亚兹 / 科林·H·墨菲 / 卡洛斯·沙尔丹哈 / 杰瑞米·西斯托 / 路易斯·卡洛斯·德拉·隆巴纳 / 胡安内斯 / 茱莉亚·斯卡帕·萨尔达尼亚 / 拉斐尔·斯卡帕·萨尔达尼亚 / 卡拉·马丁内斯 / 乔迪·卡巴勒罗 / 玛丽亚·佩拉莫尔 / 娜扎宁·霍马 / 安德烈亚斯·A·埃斯帕萨 / 詹姆斯·帕伦博 / 伯纳多·德·保拉 / 贝莉塔·莫里诺 / 蒂姆·诺德奎斯特 / 阿尔瓦罗·门多萨 / 卡洛斯·雷格-普拉扎 / 辛迪·斯拉特里 / 杰森·弗里基奥内 / 苏珊娜·巴列斯特罗斯 / 安娜·帕特丽夏·加梅斯 / 美国 / 卡洛斯·沙尔丹哈 / 108分钟 / 公牛历险记 / 喜剧 / 动画 / 冒险 / 罗伯特·L·贝尔德 Robert L. Baird / 蒂姆·费德勒尔 Tim Federle / 布拉德·科普兰 Brad Copeland / 罗恩·伯奇 Ron Burch / 大卫·基德 David Kidd / 唐·莱默 Don Rhymer / 曼罗·里夫 Munro Leaf / 罗伯特·劳森 Robert Lawson / 英语</li>
                    <li>
                        <span class="date">2018-03-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">不是公牛是公举</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Pitch Perfect 3" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>完美音调3 / Pitch Perfect 3</em>
                             / 歌喉赞3(台) / 完美巨声帮3(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-12-22(美国) / 安娜·肯德里克 / 蕾蓓尔·威尔森 / 布兰特妮·斯诺 / 安娜·坎普 / 海莉·斯坦菲尔德 / 伊丝特尔·迪恩 / 汉娜·梅·李 / 凯莉·杰科 / 雪莉·芮格娜 / 克莉希·菲茨 / 伊丽莎白·班克斯 / 约翰·迈克尔·辛吉斯 / 约翰·利思戈 / 马特·兰特尔 / 盖·布耐特 / 亚历克西斯·克纳普 / DJ卡拉德 / 特洛伊·伊恩·霍尔 / 迈克尔·罗斯 / 杰西卡·查芬 / 莫伊塞斯·阿里亚斯 / 德里克·梅恩 / 鲁比·罗丝 / 安迪·阿洛 / 温泽拉·乔伊 / 凯恩·马诺利 / 杰米·雷内尔 / 维布尔·弗利茨杰拉德 / 蒂芬妮·弗拉斯 / 巴迪·沃特金斯 / 马克·德米特 / 美国 / 翠西·西埃 / 93分钟 / 完美音调3 / 喜剧 / 音乐 / 凯·加农 Kay Cannon / 麦克·怀特 Mike White / 米奇·拉普金 Mickey Rapkin / 英语</li>
                    <li>
                        <span class="date">2018-03-01</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="西遊記大結局之仙履奇緣" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>大话西游之大圣娶亲 / 西遊記大結局之仙履奇緣</em>
                             / 西游记完结篇仙履奇缘 / 齐天大圣西游记
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1995-02-04(中国香港) / 2014-10-24(中国大陆) / 2017-04-13(中国大陆重映) / 周星驰 / 吴孟达 / 朱茵 / 蔡少芬 / 蓝洁瑛 / 莫文蔚 / 罗家英 / 刘镇伟 / 陆树铭 / 李健仁 / 胡立成 / 金永钢 / 付博文 / 许敬义 / 江约诚 / 吴珏瑾 / 侯艳 / 中国香港 / 中国大陆 / 刘镇伟 / 95分钟 / 110分钟(重映版) / 大话西游之大圣娶亲 / 喜剧 / 爱情 / 奇幻 / 古装 / 刘镇伟 Jeffrey Lau / 粤语 / 汉语普通话</li>
                    <li>
                        <span class="date">2018-02-25</span>
                        
                    </li>
                    <li>
                        <span class="comment">明明很无厘头，最后还是被感动到落泪</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="喜劇之王" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>喜剧之王 / 喜劇之王</em>
                             / King of Comedy
                        </a>
                    </li>
                        <li class="intro">1999-02-13(中国香港) / 周星驰 / 张柏芝 / 莫文蔚 / 吴孟达 / 林子善 / 田启文 / 李兆基 / 成龙 / 李思捷 / 郑文辉 / 胡立成 / 冯勉恒 / 戴龙 / 郑祖 / 袁富华 / 侯焕玲 / 徐志雄 / 陈宝骏 / 叶竞生 / 明德丰 / 中国香港 / 周星驰 / 李力持 / 89分钟 / 喜剧之王 / 喜剧 / 剧情 / 爱情 / 曾谨昌 Kan-Cheung Tsang / 周星驰 Stephen Chow / 李敏 Erica Lee / 郑文辉 Man-Fai Cheng / 冯勉恒 Min Hun Fung / 梁嘉杰 Ka-Kit Leung / 粤语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2018-02-22</span>
                        
                    </li>
                    <li>
                        <span class="comment">和莎莎一起看老片，好好看哦</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="唐人街探案2" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>唐人街探案2</em>
                             / 唐探2 / Detective Chinatown Vol 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-02-16(中国大陆) / 王宝强 / 刘昊然 / 肖央 / 刘承羽 / 尚语贤 / 王迅 / 妻夫木聪 / 迈克尔·皮特 / 白灵 / 元华 / 曾江 / 王成思 / 杨金赐 / 范湉湉 / 佟丽娅 / 陈思诚 / 黄西 / 赛维·克劳福德 / 埃里卡·罗贝尔 / 布雷特·阿扎尔 / 卡伦·科尔 / 詹妮弗·董 / 达伦·格罗夫纳 / 瑞秋·麦克菲 / 丹尼尔·哈格里夫 / 盖尔·塞缪尔斯 / 斯丁克·费舍尔 / 马特·佩菲托 / 索尼娅·达玛·洛佩斯 / 因加·巴拉德 / 迈克·佩菲托 / 艾米·乔·菲利普斯 / 约书亚·舒巴特 / 奥斯丁·谷 / 纳德·哈桑 / 利娜·戴维斯 / 约翰·蒙丁 / 亚历克斯·休梅克 / 克里斯·特拉 / 贝尼亚·K·托马斯 / 凯文·马修·麦克唐纳 / 肯尼思·马哈拉杰 / 詹姆斯·爱德华·亚历山大 / 凯文·迈克尔·肯尼迪 / K·M·K· 联盟福音合唱团 / 鲍比·哈登 / 文森·格尔曼 / 罗伯特·约翰·加拉格尔 / 迈克尔·德拉姆戈尔德 / 珠儿·布里梅杰 / 斯佩尔曼·M·博布伦 / 中国大陆 / 陈思诚 / 121分钟 / 喜剧 / 动作 / 悬疑 / 陈思诚 Sicheng Chen / 严以宁 Yining Yan / 莲舟 Lianzhou / 张淳 Chun Zhang / 程佳客 Jiake Cheng / 高丽锋 / 汉语普通话 / 英语 / 日语 / 粤语</li>
                    <li>
                        <span class="date">2018-02-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">乐呵乐呵</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="红海行动" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>红海行动</em>
                             / 刀锋·红海行动 / 红海风暴
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-02-16(中国大陆) / 2020-07-24(中国大陆重映) / 张译 / 黄景瑜 / 海清 / 杜江 / 蒋璐霞 / 尹昉 / 王强 / 郭家豪 / 王雨甜 / 麦亨利 / 张涵予 / 王彦霖 / 蔡洁 / 霍思燕 / 任达华 / 黄芬芬 / 于大伟 / 李响 / 尚 / 中国大陆 / 中国香港 / 林超贤 / 138分钟 / 动作 / 战争 / 冯骥 Ji Feng / 陈珠珠 Zhuzhu Chen / 林明杰 Eric Lin / 汉语普通话 / 阿拉伯语 / 英语 / 索马里语 / 粤语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2018-02-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">反正我是满头问号❓</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Blade Runner 2049" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>银翼杀手2049 / Blade Runner 2049</em>
                             / 银翼杀手2 / Blade Runner 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-10-06(美国) / 2017-10-27(中国大陆) / 瑞恩·高斯林 / 哈里森·福特 / 安娜·德·阿玛斯 / 西尔维娅·侯克斯 / 罗宾·怀特 / 杰瑞德·莱托 / 戴夫·巴蒂斯塔 / 麦肯兹·戴维斯 / 卡拉·朱里 / 爱德华·詹姆斯·奥莫斯 / 巴克德·阿巴蒂 / 大卫·达斯马齐连 / 西娅姆·阿巴斯 / 连尼·詹姆斯 / 马克·阿诺德 / 肖恩·杨 / 斯戴芬·莫昌特 / 克里斯塔·科索恩 / 萨莉·哈姆森 / 伍德·哈里斯 / 托马斯·勒马尔奎斯 / 大卫·本森 / 美国 / 英国 / 加拿大 / 匈牙利 / 西班牙 / 墨西哥 / bladerunnermovie.com / 丹尼斯·维伦纽瓦 / 163分钟 / 162分钟(中国大陆) / 银翼杀手2049 / 剧情 / 动作 / 科幻 / 汉普顿·范彻 Hampton Fancher / 迈克尔·格林 Michael Green / 菲利普·迪克 Philip K. Dick / 英语 / 芬兰语 / 日语 / 匈牙利语 / 俄语 / 西班牙语</li>
                    <li>
                        <span class="date">2018-02-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">科技感情节还行，但好像一直对灰蒙蒙的电影没多大兴趣</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="An Education" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>成长教育 / An Education</em>
                             / 少女失乐园(港) / 名媛教育(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-10-30(英国) / 凯瑞·穆里根 / 彼得·萨斯加德 / 阿尔弗雷德·莫里纳 / 卡拉·西摩 / 奥莉维亚·威廉姆斯 / 多米尼克·库珀 / 裴淳华 / 马修·比尔德 / 艾玛·汤普森 / 莎莉·霍金斯 / 詹姆斯·诺顿 / 阿曼达·费尔班克-海恩斯 / 伊恩·索夫特雷 / 艾丽·肯德里克 / 美国 / 英国 / 罗勒·莎菲 / 100分钟 / 成长教育 / 剧情 / 琳·巴贝尔 Lynn Barber / 尼克·霍恩比 Nick Hornby / 英语</li>
                    <li>
                        <span class="date">2018-02-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">后面结局没看完就睡着了，呐，任何事都是有代价的</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Three Billboards Outside Ebbing, Missouri" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>三块广告牌 / Three Billboards Outside Ebbing, Missouri</em>
                             / 广告牌杀人事件(港) / 意外(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-09-04(威尼斯电影节) / 2017-12-01(美国) / 2018-03-02(中国大陆) / 弗兰西斯·麦克多蒙德 / 伍迪·哈里森 / 山姆·洛克威尔 / 艾比·考尼什 / 卢卡斯·赫奇斯 / 彼特·丁拉基 / 约翰·浩克斯 / 卡赖伯·兰德里·琼斯 / 凯瑟琳·纽顿 / 凯瑞·康顿 / 泽利科·伊万内克 / 萨玛拉·维文 / 克拉克·彼得斯 / 尼克·瑟西 / 阿曼达·沃伦 / 玛拉雅·瑞沃拉·德鲁 / 布兰登·萨克斯顿 / 迈克尔·艾伦·米利甘 / 桑迪·马丁 / 克里斯托弗·贝瑞 / 杰瑞温塞特 / 马库斯·里尔·布朗 / 劳伦斯·特纳 / 西拉·阿特伍德 / 里亚·梅·阿特伍德 / 达里尔·布里特-吉布森 / 美国 / 英国 / www.foxsearchlight.com/threebillboardsoutsideebbingmissouri / 马丁·麦克唐纳 / 115分钟 / 三块广告牌 / 剧情 / 犯罪 / 马丁·麦克唐纳 Martin McDonagh / 英语</li>
                    <li>
                        <span class="date">2018-01-28</span>
                        
                    </li>
                    <li>
                        <span class="comment">好的，大概是看不懂了</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=375&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./22.html">23</a>
        
                
            <a href="./23.html">24</a>
        
                
            <a href="./24.html">25</a>
        
                
            <a href="./25.html">26</a>
        
                <span class="thispage" data-total-page="61">27</span>
                
            <a href="./27.html">28</a>
        
                
            <a href="./28.html">29</a>
        
                
            <a href="./29.html">30</a>
        
                
            <a href="./30.html">31</a>
        
            <span class="break">...</span>
                
            <a href="./59.html">60</a>
        
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=405&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-km5vb-->

  <script>_SPLITTEST=''</script>





</body></html>