<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    我看过的电影(930)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "78857574",
    UPLOAD_AUTH_TOKEN: "78857574:b22aece14e2c3c889c4b13e4bd9b2be42ff809b3",
    SSE_TOKEN: "ebf1dd79ef1b04c3621091d707b1b1c25d290f7c",
    SSE_TIMESTAMP: "1647390601",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                <img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg">
            </a>
        </div>
        <div class="info">
            <h1>我看过的电影(930)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                436-450&nbsp;/&nbsp;930
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Black Mirror" href="javascript:void(0)" class="nbg">
                    <img alt="Black Mirror" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2507730050.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>黑镜 第四季 / Black Mirror Season 4</em>
                             / 黑镜子 第四季
                        </a>
                    </li>
                        <li class="intro">2017-12-29(美国) / 杰西·普莱蒙 / 克里斯汀·米利欧缇 / 吉米·辛普森 / 比利·马格努森 / 米凯拉·科尔 / 奥赛·伊克希尔 / 罗丝玛丽·德薇特 / 布伦娜·哈丁 / 欧文·泰格 / 安吉拉·弗恩特 / 尼古拉斯·坎贝尔 / 保罗·布朗斯坦 / 安德丽娅·赖斯伯勒 / 安东尼·威尔士 / 乔治娜·坎贝尔 / 乔·科尔 / 乔治·布莱顿 / 格温妮丝·凯沃斯 / 杰西·卡芙 / 玛克辛·皮克 / 克林特·戴尔 / 道格拉斯·霍奇斯 / 利蒂希娅·赖特 / 丹尼尔·莱派恩 / 亚历山德拉·罗奇 / 亚伦·保尔 / 布赖恩·佩蒂福 / 阿明·卡丽玛 / 詹姆斯·伊莱斯 / 阿曼达·沃伦 / 阿尔迪斯·霍吉 / 萨拉·阿伯特 / 卡伦·索尼娅·塞沃尔 / 安德鲁·高尔 / 米兰卡·布鲁克斯 / 邓普斯·布瑞克 / 汤姆莫海伦 / 阿妮娅 霍奇 / 保罗·G·雷蒙德 / 艾比·奎因 / 尼基·陶起亚 / 莉莉·雷德 / 拉杰·保罗 / 巴布斯·奥卢桑莫昆 / 杰克 ·戴维斯 / 美国 / 托比·海恩斯 / 朱迪·福斯特 / 约翰·希尔寇特 / 蒂莫西·范·帕腾 / 大卫·斯雷德 / 柯尔姆·麦卡锡 / 黑镜 / 60分钟 / 黑镜 / 剧情 / 科幻 / 惊悚 / 查理·布鲁克 Charlie Brooker / 威廉·布里奇斯 William Bridges / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2018-01-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">这脑洞，简直了…</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26898192" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26898192:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="嘉年华" href="javascript:void(0)" class="nbg">
                    <img alt="嘉年华" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2503644828.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>嘉年华</em>
                             / Angels Wear White
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-09-07(威尼斯电影节) / 2017-11-24(中国大陆) / 文淇 / 周美君 / 史可 / 耿乐 / 刘威葳 / 彭静 / 王栎鑫 / 李梦男 / 蒋欣悦 / 陈竹昇 / 中国大陆 / 法国 / 文晏 / 107分钟 / 剧情 / 文晏 Vivian Qu / 汉语普通话</li>
                    <li>
                        <span class="date">2018-01-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">妈的，都是些什么人啊🤬🤬🤬🤬</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27019527" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27019527:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Call Me by Your Name" href="javascript:void(0)" class="nbg">
                    <img alt="Call Me by Your Name" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2505525050.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>请以你的名字呼唤我 / Call Me by Your Name</em>
                             / 以你的名字呼唤我(港/台) / 以你的名义呼唤我
                        </a>
                    </li>
                        <li class="intro">2017-01-22(圣丹斯电影节) / 2017-11-24(美国) / 艾米·汉莫 / 蒂莫西·柴勒梅德 / 迈克尔·斯图巴 / 阿蜜拉·卡萨 / 艾斯特·加瑞尔 / 维克图瓦尔·杜布瓦 / 旺妲·卡布里奥罗 / 安东尼奥·里莫尔迪 / 埃琳娜·布奇 / 马可·斯格罗索 / 安德列‧艾席蒙 / 彼得·斯皮尔斯 / 意大利 / 法国 / 巴西 / 美国 / 卢卡·瓜达尼诺 / 132分钟 / 请以你的名字呼唤我 / 剧情 / 爱情 / 同性 / 詹姆斯·伊沃里 James Ivory / 安德列·艾席蒙 André Aciman / 英语 / 意大利语 / 法语 / 德语 / 希伯来语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2018-01-04</span>
                        
                    </li>
                    <li>
                        <span class="comment">you are so lucky</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26799731" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26799731:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="20th Century Women" href="javascript:void(0)" class="nbg">
                    <img alt="20th Century Women" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2394211986.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>二十世纪女人 / 20th Century Women</em>
                             / 二十世纪女性(港) / 二十世纪的她们(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-10-08(纽约电影节) / 2016-12-28(美国) / 安妮特·贝宁 / 艾丽·范宁 / 格蕾塔·葛韦格 / 比利·克鲁德普 / 卢卡斯·杰德·祖曼 / 艾丽森·艾略特 / 西娅·吉尔 / 维塔利·安德鲁·勒博 / 瓦利德·祖伊特 / 柯伦·沃尔特斯 / 达里尔·布里特-吉布森 / 阿莉雅·肖卡特 / 纳塞利·洛芙 / 卡梅伦·珀罗兹曼 / 维多利亚·布鲁诺 / 约翰·比灵斯列 / 劳拉·威金斯 / 卡伊·伦诺克斯 / 凯西·伯克 / 丹尼尔·D·乌伊 / 马修·福斯特 / 卡梅伦·格尔曼 / 约书亚·博格 / 马修·卡德罗普 / 菲恩·罗伯茨 / 美国 / 迈克·米尔斯 / 119分钟 / 二十世纪女人 / 剧情 / 喜剧 / 家庭 / 迈克·米尔斯 Mike Mills / 英语</li>
                    <li>
                        <span class="date">2018-01-02</span>
                        
                    </li>
                    <li>
                        <span class="comment">这深深的孤独感啊</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26389928" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26389928:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Why Him?" href="javascript:void(0)" class="nbg">
                    <img alt="Why Him?" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2406061472.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>为什么是他？ / Why Him?</em>
                             / 未来外父插女婿(港) / 恼爸偏头痛(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-12-23(美国) / 佐伊·达奇 / 詹姆斯·弗兰科 / 布莱恩·科兰斯顿 / 塞德里克·凯尔斯 / 鲍勃·斯蒂芬森 / 唐吉·安布罗斯 / 梅根·莫拉莉 / 扎克·珀尔曼 / 格里芬·格鲁克 / 韩吉洋 / 玛丽·帕特·格里森 / 朱丽叶·B·赖斯 / 梅丽莎·格拉维 / 斯特芬·杰科 / 吉米·巴德斯蒂伯纳 / 亚当·德维尼 / 凯莉·库柯 / 伊隆·马斯克 / 凯西·威尔逊 / 科甘-迈克尔·凯 / 史蒂夫·青木 / 安德鲁·兰内斯 / 美国 / www.foxmovies.com/movies/why-him / 约翰·汉博格 / 111分钟 / 为什么是他？ / 喜剧 / 爱情 / 约翰·汉博格 John Hamburg / 乔纳·希尔 Jonah Hill / 伊恩·赫尔弗 Ian Helfer / 英语</li>
                    <li>
                        <span class="date">2018-01-02</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26599156" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26599156:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="A Street Cat Named Bob" href="javascript:void(0)" class="nbg">
                    <img alt="A Street Cat Named Bob" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2535524955.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>流浪猫鲍勃 / A Street Cat Named Bob</em>
                             / 街角遇见猫(港) / 遇见街猫BOB(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-11-04(英国) / 2018-11-02(中国大陆) / 卢克·崔德威 / 猫鲍勃 / 露塔·格德米纳斯 / 琼安·弗洛加特 / 安东尼·海德 / 戴伦·伊万斯 / 里维拉·吉迪恩 / 洛琳·艾什本 / 阿卡巴尔·库尔塔 / 约翰·亨肖 / 贝丝·戈达德 / 伊万娜·贝斯克 / 妮娜·瓦迪娅 / 罗茜·伊德 / 鲁斯·西恩 / 卡罗琳·古多尔 / 雅各布·詹姆斯·贝西克 / 罗伯·贾维斯 / 丹尼尔·弗恩 / 詹姆斯·鲍恩 / 李·尼古拉斯·哈里斯 / 丹尼尔·斯蒂森 / 英国 / 罗杰·斯波蒂斯伍德 / 103分钟 / 流浪猫鲍勃 / 剧情 / 喜剧 / 传记 / 詹姆斯·鲍恩 James Bowen / 加里·詹金斯 Garry Jenkins / 提姆·约翰 Tim John / 玛丽亚·内申 Maria Nation / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2018-01-02</span>
                        
                    </li>
                    <li>
                        <span class="comment">谁是谁的幸运呢？！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26685451" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26685451:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="春嬌救志明" href="javascript:void(0)" class="nbg">
                    <img alt="春嬌救志明" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2456056900.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>春娇救志明 / 春嬌救志明</em>
                             / 志明与春娇3 / Love off the cuff
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-04-11(中国香港电影节) / 2017-04-27(中国香港) / 2017-04-28(中国大陆) / 余文乐 / 杨千嬅 / 蒋梦婕 / 曾国祥 / 秦沛 / 邵音音 / 王晓晨 / 司徒慧焯 / 谷德昭 / 谷祖琳 / 陈逸宁 / 闫汶渲 / 林兆霞 / 李程彬 / 欧铠淳 / 林海峰 / 森美 / 吴岱融 / 陈意岚 / 邹凯光 / 周俊伟 / 陈静 / 麦芷谊 / 郭奕芯 / 李拾壹 / 关逸基 / 廖子妤 / 袁澧林 / 田启文 / 连诗雅 / 黄文慧 / 彭浩翔 / 廖殷曼 / 李汶桂 / 中国香港 / 中国大陆 / 彭浩翔 / 121分钟 / 117分钟(中国大陆) / 春娇救志明 / 剧情 / 喜剧 / 爱情 / 彭浩翔 Ho-Cheung Pang / 尹志文 Jimmy Wan / 陆以心 Kyee-Sum Lu / 粤语 / 汉语普通话</li>
                    <li>
                        <span class="date">2017-12-25</span>
                        
                    </li>
                    <li>
                        <span class="comment">plane movie too</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26639958" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26639958:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Zookeeper's Wife" href="javascript:void(0)" class="nbg">
                    <img alt="The Zookeeper's Wife" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2428974206.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>动物园长的夫人 / The Zookeeper's Wife</em>
                             / 园长夫人：动物园的奇迹(台) / 烽火动物园(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-03-12(圣何塞电影节) / 2017-04-07(美国) / 杰西卡·查斯坦 / 约翰·海尔登贝格 / 丹尼尔·布鲁赫 / 蒂莫西·拉德福德 / 伊芙雷特·多 / 伊多·戈德堡 / 希拉·哈斯 / 迈克尔·麦克埃尔哈顿 / 瓦尔·马罗库 / 玛尔塔·艾索瓦 / 丹尼尔·雷提莫斯基 / 弗雷德里克·普雷斯顿 / 西奥·普雷斯顿 / 戈兰·卡斯蒂克 / 阿诺斯特·戈尔德弗拉姆 / 瓦尔德马·科布斯 / 斯拉夫科·索宾 / 艾琳娜·米霍洛娃 / 雅罗米尔·诺塞克 / 雅姿·坎利 / 克里斯托弗·康纳德 / Petra Buckova / 安娜·鲁斯特 / 布莱恩·卡斯佩 / 玛格达莱娜·朗帕斯卡 / 捷克 / 英国 / 妮琪·卡罗 / 127分钟 / 动物园长的夫人 / 剧情 / 传记 / 历史 / 战争 / 黛安·艾克曼 Diane Ackerman / 安吉拉·沃克曼 Angela Workman / 英语</li>
                    <li>
                        <span class="date">2017-12-25</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-24522026" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="24522026:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Lady Bird" href="javascript:void(0)" class="nbg">
                    <img alt="Lady Bird" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2505925363.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>伯德小姐 / Lady Bird</em>
                             / 不得鸟小姐(港) / 淑女鸟(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-09-01(特柳赖德电影节) / 2017-11-03(美国) / 西尔莎·罗南 / 劳里·梅特卡夫 / 崔西·莱茨 / 卢卡斯·赫奇斯 / 蒂莫西·柴勒梅德 / 比妮·费尔德斯坦 / 罗伊丝·史密斯 / 斯蒂芬·亨德森 / 奥德娅·拉什 / 乔丹·罗德里格斯 / 凯瑟琳·纽顿 / 约翰·卡尔纳 / 杰克·麦克道曼 / 劳拉·马兰洛 / 安迪·巴克利 / 丹尼尔·祖瓦图 / 克里森·克拉克 / 丹妮尔·麦克唐纳 / 鲍勃·斯蒂芬森 / 路易莎·李 / 伦敦·托尔 / 本·康尼斯伯格 / 维克托·沃尔夫 / 金南宫 / 苏珊妮·拉切塞斯 / 美国 / 格蕾塔·葛韦格 / 93分钟 / 伯德小姐 / 剧情 / 家庭 / 格蕾塔·葛韦格 Greta Gerwig / 英语</li>
                    <li>
                        <span class="date">2017-12-25</span>
                        
                    </li>
                    <li>
                        <span class="comment">everyone maybe has a strong personality. I want to find out how to express it gently. 英文无字幕很吃力...</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26588314" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26588314:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Paddington 2" href="javascript:void(0)" class="nbg">
                    <img alt="Paddington 2" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2506466229.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>帕丁顿熊2 / Paddington 2</em>
                             / 柏灵顿2(港) / 柏灵顿熊熊出任务(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-11-10(英国) / 2017-12-08(中国大陆) / 本·卫肖 / 休·格兰特 / 休·博纳维尔 / 莎莉·霍金斯 / 萨缪尔·乔斯林 / 马德琳·哈里斯 / 朱丽·沃特斯 / 布莱丹·格里森 / 吉姆·布劳德本特 / 艾美达·斯丹顿 / 彼得·卡帕尔迪 / 艾琳·阿特金斯 / 汤姆·康蒂 / 本·米勒 / 诺亚·泰勒 / 理查德·艾欧阿德 / 杰西卡·海因斯 / 乔安娜·林莉 / 梅拉·沙尔 / 克莱尔·基兰 / 詹米·德米特鲁 / 汤姆·戴维斯 / 路易斯·帕特里奇 / 尼古拉斯·伍德森 / 英国 / 法国 / 美国 / paddington.com/global/home / 保罗·金 / 103分钟 / 帕丁顿熊2 / 喜剧 / 动画 / 家庭 / 保罗·金 Paul King / 西蒙·法纳比 Simon Farnaby / 迈克尔·邦德 Michael Bond / 英语</li>
                    <li>
                        <span class="date">2017-12-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">Good luck, little bear. </span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26340419" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26340419:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Loving Vincent" href="javascript:void(0)" class="nbg">
                    <img alt="Loving Vincent" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2506935748.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>至爱梵高·星空之谜 / Loving Vincent</em>
                             / 至爱梵高 / 致梵高的爱
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-06-12(安锡动画电影节) / 2017-10-13(英国) / 2017-12-08(中国大陆) / 道格拉斯·布斯 / 罗伯特·古拉奇克 / 埃莉诺·汤姆林森 / 杰罗姆·弗林 / 西尔莎·罗南 / 海伦·麦克洛瑞 / 克里斯·奥多德 / 约翰·塞森斯 / 艾丹·特纳 / 詹姆斯·格林尼 / 比尔·托马斯 / 马丁·赫德曼 / 理查德·班克斯 / 霍莉·厄尔 / 西泽瑞·鲁卡斯瑟维克茨 / 英国 / 波兰 / www.lovingvincent.com / 多洛塔·科别拉 / 休·韦尔什曼 / 95分钟 / 至爱梵高·星空之谜 / 剧情 / 传记 / 动画 / 多洛塔·科别拉 Dorota Kobiela / 休·韦尔什曼 Hugh Welchman / 贾科·丹纳尔 Jacek Dehnel / 英语</li>
                    <li>
                        <span class="date">2017-12-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">如果 Coco 中“死而不亡者寿”的观念是真的的话，那么 Vincent 应该会活很久吧…🤔</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25837262" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25837262:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="摇滚藏獒" href="javascript:void(0)" class="nbg">
                    <img alt="摇滚藏獒" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2364347016.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>摇滚藏獒</em>
                             / 摇滚狗波迪 / Tibetan Rock Dog
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-07-08(中国大陆) / 2017-02-24(美国) / 郭麒麟 / 路知行 / 郭德纲 / 于谦 / 孙越 / 张雪凌 / 朱云峰 / 郑钧 / 冯小刚 / 刘芸 / 郑熙岳 / 小小岳 / 豪尔赫·加西亚 / 山姆·艾里奥特 / J·K·西蒙斯 / 卢克·威尔逊 / 艾迪·伊扎德 / 基南·汤普森 / 刘易斯·布莱克 / 马特·狄龙 / 梅·惠特曼 / 中国大陆 / 美国 / 中国香港 / 艾什·布兰农 / 93分钟 / 动画 / 音乐 / 郑钧 Jun Zheng / 艾什·布兰农 Ash Brannon / 库尔特·沃尔克 Kurt Voelker / 英语</li>
                    <li>
                        <span class="date">2017-12-09</span>
                        
                    </li>
                    <li>
                        <span class="comment">国产音乐电影还有很长的路要走啊…</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25749813" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25749813:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Kingsman: The Golden Circle" href="javascript:void(0)" class="nbg">
                    <img alt="Kingsman: The Golden Circle" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2499792043.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>王牌特工2：黄金圈 / Kingsman: The Golden Circle</em>
                             / 王牌特工2 / 皇家特工：金圈子(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-09-20(英国) / 2017-09-22(美国) / 2017-10-20(中国大陆) / 塔伦·埃哲顿 / 科林·费尔斯 / 马克·斯特朗 / 朱丽安·摩尔 / 埃尔顿·约翰 / 爱德华·霍尔克罗夫特 / 哈莉·贝瑞 / 佩德罗·帕斯卡 / 查宁·塔图姆 / 杰夫·布里吉斯 / 迈克尔·刚本 / 索菲·库克森 / 汉娜·奥斯特罗姆 / 比约恩·格拉纳特 / 莱娜·恩卓 / 波比·迪瓦伊 / 汤姆·本尼迪克·奈特 / 托马斯·图尔格斯 / 基思·艾伦 / 艾米丽·沃森 / 布鲁斯·格林伍德 / 戈登·亚历山大 / 马丁·福特 / 明格斯·约翰斯顿 / 斯图尔特·惠兰 / 蒋静菊 / 劳伦斯·波萨 / 萨曼莎·考格兰 / 杰夫·里基茨 / 英国 / 美国 / 马修·沃恩 / 141分钟 / 139分钟(中国大陆) / 王牌特工2：黄金圈 / 喜剧 / 动作 / 冒险 / 简·古德曼 Jane Goldman / 马修·沃恩 Matthew Vaughn / 马克·米勒 Mark Millar / 戴夫·吉布森 Dave Gibbons / 英语 / 意大利语 / 瑞典语</li>
                    <li>
                        <span class="date">2017-12-09</span>
                        
                    </li>
                    <li>
                        <span class="comment">太减分了。。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26378579" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26378579:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Cars 3" href="javascript:void(0)" class="nbg">
                    <img alt="Cars 3" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2492869476.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>赛车总动员3：极速挑战 / Cars 3</em>
                             / 反斗车王3(港) / Cars 3：闪电再起(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-06-16(美国) / 2017-08-25(中国大陆) / 欧文·威尔逊 / 克里斯黛拉·阿朗索 / 克里斯·库珀 / 内森·菲利安 / 王牌接线员拉里 / 艾米·汉莫 / 雷·马格利奥齐 / 托尼·夏尔赫布 / 邦尼·亨特 / 丽亚·德拉利亚 / 凯丽·华盛顿 / 鲍勃·科斯塔斯 / 玛格·马丁戴尔 / 达雷尔·沃尔特里普 / 小伊塞亚·维特洛克 / 保罗·杜利 / 凯瑟琳·海蒙德 / 切奇·马林 / 黄磊 / 美国 / 布莱恩·菲 / 102分钟 / 赛车总动员3：极速挑战 / 喜剧 / 动画 / 冒险 / 布莱恩·飞 Brian Fee / 本·奎因 Ben Queen / 伊尔·波戴尔 Eyal Podell / 乔纳森·E·斯图尔特 Jonathon E. Stewart / 基尔·默里 Kiel Murray / 鲍勃·彼德森 Bob Peterson / 迈克·里奇 Mike Rich / 英语</li>
                    <li>
                        <span class="date">2017-12-04</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25849480" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25849480:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Love Letter" href="javascript:void(0)" class="nbg">
                    <img alt="Love Letter" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2648230660.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>情书 / Love Letter</em>
                             / When I Close My Eyes / Letters of Love
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1995-03-25(日本) / 1999-03(中国大陆) / 2021-05-20(中国大陆重映) / 中山美穗 / 丰川悦司 / 酒井美纪 / 柏原崇 / 范文雀 / 篠原胜之 / 铃木庆一 / 田口智朗 / 加贺麻理子 / 光石研 / 铃木兰兰 / 盐见三省 / 中村久美 / 梅田凡乃 / 长田江身子  / 小栗香织 / 神户浩 / 酒井敏也 / 山口诗史 / 山崎一 / 德井优 / 武藤寿美 / 童自荣 / 日本 / 岩井俊二 / 117分钟 / 情书 / 剧情 / 爱情 / 岩井俊二 Shunji Iwai / 日语</li>
                    <li>
                        <span class="date">2017-12-03</span>
                        
                    </li>
                    <li>
                        <span class="comment">真是讨厌死这种什么都要克制的感觉了🌝</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1292220" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1292220:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=420&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./25.html">26</a>
        
                
            <a href="./26.html">27</a>
        
                
            <a href="./27.html">28</a>
        
                
            <a href="./28.html">29</a>
        
                <span class="thispage" data-total-page="62">30</span>
                
            <a href="./30.html">31</a>
        
                
            <a href="./31.html">32</a>
        
                
            <a href="./32.html">33</a>
        
                
            <a href="./33.html">34</a>
        
            <span class="break">...</span>
                
            <a href="./60.html">61</a>
        
            <a href="./61.html">62</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=450&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"><img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">我的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-699758d69-c4rt6-->

  <script>_SPLITTEST=''</script>





</body></html>