<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "adc231e429ff6cc33b4164f666d37d97c7256c43",
    SSE_TIMESTAMP: "1640990623",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                46-60&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="火神的眼淚" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>火神的眼泪 / 火神的眼淚</em>
                             / Tears on Fire
                        </a>
                    </li>
                        <li class="intro">2021-05-01(中国台湾) / 温升豪 / 陈庭妮 / 林柏宏 / 刘冠廷 / 夏腾宏 / 胡释安 / 谢章颖 / 张雁名 / 卜国耕 / 赫容 / 王淇 / 贾孝国 / 梁以辰 / 梁修治 / 郑志伟 / 王琄 / 江宜蓉 / 柯奂如 / 陈鼎中 / 邱木翰 / 洪绮阳 / 黄迪扬 / 苏达 / 蓝苇华 / 丁宁 / 丁强 / 李璇 / 朱芷莹 / 李杏 / 林志儒 / 李沛旭 / 林嘉俐 / 徐丽雯 / 陈家逵 / 杨宗桦 / 中国台湾 / 蔡银娟 / 48分钟 / 火神的眼泪 / 剧情 / 动作 / 蔡银娟 Yin-Chuan Tsai / 汉语普通话 / 闽南语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2021-05-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">每一集都值得反思，人的善良到底要做到什么程度？？大家都只活一回啊！！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="ソロ活女子のススメ" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>独活女子的推荐 / ソロ活女子のススメ</em>
                             / Solo活女子的推荐 / 独活女子的守则
                        </a>
                    </li>
                        <li class="intro">2021-04-02(日本) / 江口德子 / 小林树奈子 / 涩谷谦人 / 大塚明夫 / 日本 / 30分钟 / 独活女子的推荐 / 剧情 / 及川博则 / 朝井麻由美 Mayumi Asai / 日语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-05-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">“我，到点下班”里的演员联动了…</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="御赐小仵作" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>御赐小仵作</em>
                             / The Imperial Coroner
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-04-29(中国大陆) / 苏晓彤 / 王子奇 / 杨廷东 / 赵尧珂 / 王彦鑫 / 郭秋成 / 穆怀虎 / 史兰芽 / 田玲 / 宗峰岩 / 郭军 / 李晟荣 / 李明 / 田牧宸 / 丁子迪 / 柴浩伟 / 林杉 / 戚云鹏 / 许正廷 / 释臣伟 / 曾秋生 / 马健勋 / 王艺默 / 中国大陆 / 楼健 / 40分钟 / 古装 / 清闲丫头 / 钱小白 Xiaobai Qian / 汉语普通话</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-05-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">剧中的图解蛮新颖的</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="El inocente" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>无罪之最 / El inocente</em>
                             / 无辜者 / 第二声铃响
                        </a>
                    </li>
                        <li class="intro">2021-04-30(西班牙) / 马里奥·卡萨斯 / 奥拉·加里多 / 亚历山德拉·希门内斯 / 何塞·科罗纳多 / 胡安娜·阿科斯塔 / 马蒂娜·古斯曼 / 阿娜·瓦格纳 / 苏西·桑切斯 / 安娜·阿拉康 / 哈维·萨兹 / 冈扎洛·德·卡斯特 / 米玛·里埃拉 / 桑蒂·庞斯 / 山姆·费尔 / 米奇·艾斯巴尔贝 / 乔斯因·本格特伊 / 奥里奥尔·比拉 / 阿伊沙·达拉维 / 哈维尔·贝尔特兰 / 乔迪·科尔 / 亚历杭德罗·阿尔巴罗辛 / 艾妮安娜·卡布罗尔 / 大卫·韦尔 / 弗兰克·费斯 / 西班牙 / 奥里奥尔·保罗 / 50分钟 / 无罪之最 / 剧情 / 犯罪 / 悬疑 / 惊悚 / 奥里奥尔·保罗 Oriol Paulo / 哈兰·科本 Harlan Coben / Guillem Clua / 西班牙语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2021-05-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">Don't wake up the inner devil!</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="마우스" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>窥探 / 마우스</em>
                             / Mouse
                        </a>
                    </li>
                        <li class="intro">2021-03-03(韩国) / 李昇基 / 李熙俊 / 朴柱炫 / 景收真 / 安在旭 / 金贞兰 / 权华焕 / 赵在允 / 金英玉 / 安内相 / 金英在 / 表志勋 / 禹志贤 / 金嫝勋 / 徐东贤 / 孙武铉 / 朴昭怡 / 徐正妍 / 郑锡勇 / 郑恩彪 / 李言廷 / 白济宇 / 徐宇真 / 何英 / 金敏京 / 郑爱丽 / 姜灿阳 / 玄奉植 / 赵莞基 / 朱艺琳 / 姜末琴 / 刘河福 / 朴庸 / 李瑞准 / 金洁 / 韩昌贤 / 成灿镐 / 裴成一 / 尹瑞贤 / 郭民浩 / 朴在琓 / 宋富健 / 闵恩石 / 刘墉 / 金河彦 / 宋仁燮 / 宋珉哉 / 金美惠 / 安瑞妍 / 金东河 / 郑强熙 / 赵渊浩 / 吴敏俊 / 宋在熙 / 高娜恩 / 金秀仁 / 权芮恩 / 权赫洙 / 黄世温 / 洪锡然 / 郑贤锡 / 姜文庆 / 申妍淑 / 吕运福 / 全程日 / 朴基龙 / 权伍健 / 金文浩 / 张容哲 / 金民秀 / 洪恩静 / 申熙国 / 李道亨 / 崔松姬 / 金河念 / 吴承灿 / 徐允赫 / 加里森·迈克尔·法卡尔森-基纳 / 申秀贤 / 池太阳 / 金成俊 / 閔政燮 / 林容顺 / 宣雅琳 / 张在权 / 孙承勋 / 李采贤 / 杨夏尹 / 金成景 / 金雨珍 / 李龙女 / 雪妮丝·曼宁加 / 保罗·巴特尔 / 千贞河 / 朴惠娜 / 崔利善 / 韩国 / 崔俊裴 / 70分钟 / 窥探 / 剧情 / 犯罪 / 悬疑 / 崔兰 Choi Ran / 韩语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2021-05-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">在人性这块的表达，日韩真是拿捏的死死的.</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="ヤクザと家族" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>黑道与家族 / ヤクザと家族</em>
                             / 家族极道物语(台) / 黑社会与家族
                        </a>
                    </li>
                        <li class="intro">2020-12-06(海南岛电影节) / 2021-01-29(日本) / 绫野刚 / 馆博 / 北村有起哉 / 尾野真千子 / 市原隼人 / 岩松了 / 丰原功补 / 矶村勇斗 / 寺岛忍 / 菅田俊 / 骏河太郎 / 二宫隆太郎 / 康巢恩 / 小宫山莉渚 / 日本 / 藤井道人 / 136分钟 / 黑道与家族 / 剧情 / 犯罪 / 藤井道人 Michihito Fujii / 日语</li>
                    <li>
                        <span class="date">2021-05-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">一直有点想不明白，人们多年之后的重逢怎么就大都还在一个城市？？？
什么时候人们的电影能不再把男强女弱，男外女内，男在餐桌等着女从厨房端过来的食物再加一句“好吃”当作温馨，大概平等才算普及了</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="城市的边缘" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>城市的边缘</em>
                             / 张良计与过墙梯 / 《毛骗》番外篇
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-04-28(中国大陆) / 杨羽 / 大牛 / 张梓豫 / 章涛 / 邢冬冬 / 邵庄 / 安宁 / 黎伟 / 包志强 / 俞思远 / 王侃 / 李彦峰 / 周凯 / 付余 / 张弛 / 中国大陆 / 车志刚 / 15分钟 / 剧情 / 喜剧 / 犯罪 / 悬疑 / 李洪绸 Hongchou Li / 刘爱银 Aiyin Liu / 车志刚 Zhigang Che / 周扬帆 Yangfan Zhou / 邢冬冬 Dongdong Xing / 贾妍 / 王秀月 Xiuyue Wang / 王飞虎 / 昕澍 / 汉语普通话</li>
                    <li>
                        <span class="date">2021-05-10</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Year Earth Changed" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>地球改变之年 / The Year Earth Changed</em>
                             / 这一年，地球变得不一样(台)
                        </a>
                    </li>
                        <li class="intro">2021-04-16(美国) / 大卫·爱登堡 / 英国 / 汤姆·比尔德 / 地球改变之年 / 48分钟 / 地球改变之年 / 纪录片 / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2021-05-09</span>
                        
                    </li>
                    <li>
                        <span class="comment">看到人类对其他物种的伤害在降低，大概是这一年为数不多的好消息了</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Bitter Moon" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>苦月亮 / Bitter Moon</em>
                             / 钥匙孔的爱(台) / 偷月迷情
                        </a>
                    </li>
                        <li class="intro">1992-09-23 / 彼德·考约特 / 艾玛纽尔·塞尼耶 / 休·格兰特 / 克里斯汀·斯科特·托马斯 / 维克多·班纳杰 / Olivia Brunaux / 杰弗里·凯里 / 罗伯特·本穆萨 / 斯托卡特·詹宁 / 法国 / 英国 / 罗曼·波兰斯基 / 139 分钟 / Argentina: 119 分钟 / 苦月亮 / 剧情 / 爱情 / 惊悚 / 情色 / Pascal Bruckner / 罗曼·波兰斯基 Roman Polanski / 热拉尔·布拉什 Gérard Brach / John Brownjohn / 英语 / 法语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2021-05-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">So good, so fucking good! What a meticulous performance!!!</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="おもひでぽろぽろ" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>岁月的童话 / おもひでぽろぽろ</em>
                             / 岁月的童话(港) / 儿时的点点滴滴(台)
                        </a>
                    </li>
                        <li class="intro">1991-07-20(日本) / 今井美树 / 柳叶敏郎 / 本名阳子 / 高桥一生 / 饭冢雅弓 / 近藤芳正 / 北川智绘 / 黛西·雷德利 / 日本 / 高畑勋 / 118 分钟 / 岁月的童话 / 剧情 / 爱情 / 动画 / 高畑勋 Isao Takahata / 德语 / 日语 / 匈牙利语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-05-04</span>
                        
                    </li>
                    <li>
                        <span class="comment">前几天正好和一个朋友聊到他说十五岁的时候面对喜欢的人，就是把对方的卫衣帽子突然扣上然后把绳子抽起来…</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="鬼滅の刃 柱合会議・蝶屋敷編" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>鬼灭之刃 柱众会议・蝶屋敷篇 / 鬼滅の刃 柱合会議・蝶屋敷編</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-12-20(日本) / 花江夏树 / 鬼头明里 / 下野纮 / 松冈祯丞 / 日本 / 外崎春雄 / 106分钟 / 鬼灭之刃 柱众会议・蝶屋敷篇 / 动画 / 吾峠呼世晴 Koyoharu Gotouge / 日语</li>
                    <li>
                        <span class="date">2021-05-02</span>
                        
                    </li>
                    <li>
                        <span class="comment">貌似已经先看了这个才看的无限列车…</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="劇場版 鬼滅の刃 無限列車編" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>鬼灭之刃 剧场版 无限列车篇 / 劇場版 鬼滅の刃 無限列車編</em>
                             / Demon Slayer -Kimetsu No Yaiba- The Movie: Mugen Train / Kimetsu no Yaiba: Mugen Ressha-Hen
                        </a>
                    </li>
                        <li class="intro">2020-10-16(日本) / 花江夏树 / 鬼头明里 / 下野纮 / 松冈祯丞 / 日野聪 / 平川大辅 / 石田彰 / 樱井孝宏 / 小西克幸 / 早见沙织 / 铃村健一 / 关智一 / 杉田智和 / 森川智之 / 佐藤利奈 / 三木真一郎 / 桑岛法子 / 本渡枫 / 大地叶 / 小原好美 / 古贺葵 / 小山力也 / 丰口惠美 / 榎木淳弥 / 伊濑茉莉也 / 笠间淳 / 千本木彩花 / 江口拓也 / 山村响 / 广濑裕也 / 高桥伸也 / 仲村宗悟 / 中惠光城 / 日本 / 外崎春雄 / 117分钟 / 鬼灭之刃 剧场版 无限列车篇 / 动画 / Ufotable / 吾峠呼世晴 Koyoharu Gotouge / 日语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-04-30</span>
                        
                    </li>
                    <li>
                        <span class="comment">最后的伏笔很棒，每一个鬼杀队成员看起来都很有特点让人期待的样子</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="東京女子図鑑" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>东京女子图鉴 / 東京女子図鑑</em>
                             / Tōkyō Joshi Zukan / Tokyo Girl
                        </a>
                    </li>
                        <li class="intro">2016-12-16(日本) / 水川麻美 / 阿部力 / 阳月华 / 赤楚卫二 / 井端珠里 / 手塚理美 / 野村麻纯 / 安藤圣 / 大仓孝二 / 宫下友美 / 山本浩司 / 芦那堇 / 成田伟心 / 麻美 / 山本亚依 / 铃木阳丈 / 渡边真起子 / 森崎温 / 小柳友 / 真岛秀和 / 花坂椎南 / 植木祥平 / 夏子 / 日本 / 棚田由纪 / 20分钟 / 东京女子图鉴 / 剧情 / 黑泽久子 Hisako Kurosawa / 日语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-04-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">每一集看的都很不舒服！算了，就当体验生活了...</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Nobody" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>小人物 / Nobody</em>
                             / 杀神NOBODY(港) / 无名弑(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-03-26(美国) / 鲍勃·奥登科克 / 阿列克谢·谢列布里亚科夫 / 康妮·尼尔森 / 克里斯托弗·洛伊德 / 迈克尔·艾恩塞德 / 科林·萨蒙 / 罗伯特·菲茨杰拉德·迪格斯 / 比利·麦克莱伦 / 阿拉亚·门格沙 / 盖奇·芒罗 / 佩斯利·卡多拉思 / 亚历山大·帕里 / 亨伯利·冈萨雷斯 / 爱德森·莫拉莱斯 / J·P·马诺克斯 / 伊利亚·奈舒勒 / 谢尔盖·希纳罗维 / 斯蒂芬妮·西 / 鲁斯兰·鲁辛 / Bj·韦罗 / 达雅·查库莎 / 亚当·哈蒂格 / 克里斯汀·哈里斯 / 埃里克·阿塔瓦尔 / 沙龙·巴杰 / 鲍里斯·古利亚林 / 丹尼尔·伯哈特 / 阿兰·莫西 / 泰瑞·威瑟斯庞 / 吉姆·科比 / 美国 / 日本 / 伊利亚·奈舒勒 / 92分钟 / 小人物 / 动作 / 犯罪 / 德里克·科尔斯塔 Derek Kolstad / 西班牙语 / 俄语 / 英语</li>
                    <li>
                        <span class="date">2021-04-22</span>
                        
                    </li>
                    <li>
                        <span class="comment">开篇大量渲染平淡生活的无聊，口口声声说爱，真是不觉得！然后偶然机会就开启了暴力，继而变成疯狂的野兽，动作设计不错，打的挺爽的！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Boat That Rocked" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>海盗电台 / The Boat That Rocked</em>
                             / 出位乐人谷(港) / 海盗电波
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-04-01(英国) / 比尔·奈伊 / 肯尼思·布拉纳 / 菲利普·塞默·霍夫曼 / 尼克·弗罗斯特 / 汤姆·斯图里奇 / 瑞斯·伊凡斯 / 瑞斯·达比 / 克里斯·奥多德 / 妲露拉·莱莉 / 凯瑟琳·帕金森 / 杰克·达文波特 / 汤姆·布鲁克 / 波比·迪瓦伊 / 克里斯托弗·古梅鲁斯 / 艾玛·汤普森 / 拉尔夫·布朗 / 杰玛·阿特登 / 汤姆·威斯多姆 / 詹纽瑞·琼斯 / 奥利维亚·卢埃林 / 查理·罗 / 英国 / 德国 / 法国 / 理查德·柯蒂斯 / 116 分钟 / 135 分钟(未删减版) / 海盗电台 / 剧情 / 喜剧 / 音乐 / 理查德·柯蒂斯 Richard Curtis / 英语</li>
                    <li>
                        <span class="date">2021-04-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">还是要会游泳啊！！！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=30&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        

                
            <a href="./0.html">1</a>
        
                
            <a href="./1.html">2</a>
        
                
            <a href="./2.html">3</a>
        
                <span class="thispage" data-total-page="61">4</span>
                
            <a href="./4.html">5</a>
        
                
            <a href="./5.html">6</a>
        
                
            <a href="./6.html">7</a>
        
                
            <a href="./7.html">8</a>
        
                
            <a href="./8.html">9</a>
        
            <span class="break">...</span>
                
            <a href="./59.html">60</a>
        
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=60&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-9qkqv-->

  <script>_SPLITTEST=''</script>





</body></html>