<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    我看过的电影(930)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "78857574",
    UPLOAD_AUTH_TOKEN: "78857574:b22aece14e2c3c889c4b13e4bd9b2be42ff809b3",
    SSE_TOKEN: "ebf1dd79ef1b04c3621091d707b1b1c25d290f7c",
    SSE_TIMESTAMP: "1647390601",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                <img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg">
            </a>
        </div>
        <div class="info">
            <h1>我看过的电影(930)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                466-480&nbsp;/&nbsp;930
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Baby Driver" href="javascript:void(0)" class="nbg">
                    <img alt="Baby Driver" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2496901482.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>极盗车神 / Baby Driver</em>
                             / 玩命再劫(台) / 宝贝神车手(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-03-11(西南偏南电影节) / 2017-06-28(英国/美国) / 2017-08-25(中国大陆) / 安塞尔·艾尔高特 / 凯文·史派西 / 杰米·福克斯 / 乔恩·哈姆 / 艾莎·冈萨雷斯 / 莉莉·詹姆斯 / 乔·博恩瑟 / 米迦·霍华德 / 摩根·布朗 / CJ·琼斯 / 斯凯·费雷拉 / 兰斯·帕默 / 哈德森·米克 / 薇薇安娜·查维斯 / 哈尔·怀特塞德 / 弗利 / 兰尼·琼 / 克莱·方特诺特 / R·马科斯·泰勒 / 帕特里克·R·沃克 / 保罗·威廉姆斯 / 维布尔·弗利茨杰拉德 / 大冯波 / 本·范德梅 / 杰夫·蔡斯 / 英国 / 美国 / 埃德加·赖特 / 113分钟 / 112分钟(中国大陆) / 极盗车神 / 动作 / 犯罪 / 音乐 / 埃德加·赖特 Edgar Wright / 英语 / 美国手语</li>
                    <li>
                        <span class="date">2017-09-13</span>
                        
                    </li>
                    <li>
                        <span class="comment">love</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25933890" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25933890:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="麥兜‧噹噹伴我心" href="javascript:void(0)" class="nbg">
                    <img alt="麥兜‧噹噹伴我心" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2454027095.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>麦兜·当当伴我心 / 麥兜‧噹噹伴我心</em>
                             / 腰花伴菜芯 / 麦兜故事5
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-07-10(中国大陆) / 2012-08-16(中国香港) / 2017-04-07(中国大陆重映) / 黄秋生 / 吴君如 / 胡歌 / 郑中基 / 许飞 / 张正中 / 蔡明丽 / 中国大陆 / 中国香港 / www.mcdull.hk / 谢立文 / 80分钟 / 麦兜·当当伴我心 / 喜剧 / 动画 / 谢立文 Brian Tse / 汉语普通话 / 粤语</li>
                    <li>
                        <span class="date">2017-08-27</span>
                        
                    </li>
                    <li>
                        <span class="comment">这个世界，就是这个样子啦。什么样子？这个样子！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10772258" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10772258:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="二十二" href="javascript:void(0)" class="nbg">
                    <img alt="二十二" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2457609817.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>二十二</em>
                             / Twenty Two / 22
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-10-05(釜山电影节) / 2016-06-25(莫斯科电影节) / 2017-08-14(中国大陆) / 中国大陆 / 郭柯 / 99分钟(公映版) / 112分钟 / 纪录片 / 汉语普通话</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2017-08-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">总有一种若揭人伤疤再重大的历史意义也不赞成的感觉，个人主义什么时候能凌驾于集体主义之上真是个未知数。也许真正的放下就应该是别提，忘记。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26430107" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26430107:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="心理罪" href="javascript:void(0)" class="nbg">
                    <img alt="心理罪" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2492869971.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>心理罪</em>
                             / 心理罪大电影 / Guilty of Mind
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-08-11(中国大陆) / 廖凡 / 李易峰 / 万茜 / 李纯 / 张国柱 / 谢君豪 / 封佳奇 / 蔡鹭 / 虞朗 / 范湉湉 / 易扬 / 魏翔 / 赵婉瑜 / 周帅 / 中国大陆 / 谢东燊 / 110分钟 / 动作 / 犯罪 / 悬疑 / 顾小白 Xiaobai Gu / 李昭 Zhao Li / 曹晨 Chen Cao / 雷米 Mi Lei / 汉语普通话</li>
                    <li>
                        <span class="date">2017-08-12</span>
                        
                    </li>
                    <li>
                        <span class="comment">觉得还可以啦</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26698000" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26698000:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Girls" href="javascript:void(0)" class="nbg">
                    <img alt="Girls" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2413186042.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>都市女孩 第六季 / Girls Season 6</em>
                             / 女孩我最大 / 衰姐们
                        </a>
                    </li>
                        <li class="intro">2017-02-12(美国) / 莉娜·邓纳姆 / 艾莉森·威廉姆斯 / 杰米玛·科克 / 佐莎·马梅特 / 亚当·德赖弗 / 亚历克斯·卡普夫斯基 / 安德鲁·兰内斯 / 艾邦·摩斯-巴克拉赫 / 里兹·阿迈德 / 切尔西·帕瑞蒂 / 彼得·斯科拉里 / 贝琦·安·贝克 / 巴莱特·道斯 / 帕特里克·威尔森 / 崔茜·尤玛 / 马修·瑞斯 / 安妮秋 / 瑞采塔·维刘 / 美国 / www.hbo.com/girls / 莉娜·邓纳姆 / 尼萨·加纳特 / 都市女孩 / 30分钟 / 都市女孩 / 剧情 / 喜剧 / 莉娜·邓纳姆 Lena Dunham / 英语</li>
                    <li>
                        <span class="date">2017-08-07</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26702166" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26702166:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Girls" href="javascript:void(0)" class="nbg">
                    <img alt="Girls" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2311892623.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>都市女孩 第五季 / Girls Season 5</em>
                             / 女孩我最大 第五季(台) / 衰姐们 第五季
                        </a>
                    </li>
                        <li class="intro">2016-02-21(美国) / 莉娜·邓纳姆 / 亚当·德赖弗 / 杰米玛·科克 / 佐莎·马梅特 / 艾莉森·威廉姆斯 / 乔安妮·塔克 / 布里奇特·埃弗里特 / 阿莱西娅·苏什科 / 亚历克斯·卡普夫斯基 / 怀特·道尔 / 莉比·伍德布里治 / 安德鲁·兰内斯 / 水岛宏 / 乔·格拉瑟 / 杰克·莱西 / 寇瑞·斯托尔 / 艾迪·布莱恩特 / 克里斯托弗·阿波特 / 朱莉娅·加纳 / 刘玉玲 / 美国 / www.hbo.com/girls / 莉娜·邓纳姆 / 杰西·派瑞兹 / 理查德·谢帕德 / 詹米·巴比特 / 亚历克斯·卡普夫斯基 / 珍妮佛康纳 / 都市女孩 / 30分钟 / 都市女孩 / 剧情 / 喜剧 / 莉娜·邓纳姆 Lena Dunham / 英语</li>
                    <li>
                        <span class="date">2017-08-07</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26297542" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26297542:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Girls" href="javascript:void(0)" class="nbg">
                    <img alt="Girls" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2213315060.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>都市女孩 第四季 / Girls Season 4</em>
                             / 女孩我最大 第四季(台) / 衰姐们 第四季
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-01-11(美国) / 莉娜·邓纳姆 / 艾莉森·威廉姆斯 / 杰米玛·科克 / 佐莎·马梅特 / 亚当·德赖弗 / 乔·格拉瑟 / 艾迪·布莱恩特 / 安德鲁·兰内斯 / 苏妮·雷耶斯 / 娜塔莉·卡特 / 芭芭拉·辛格 / 柯林·奎恩 / 杰克·莱西 / 扎克瑞·昆图 / 戴思睿·阿卡万 / 亚历克斯·卡普夫斯基 / 斯派克·琼斯 / 吉莉安·雅各布斯 / 杰森·雷特 / 茉德·阿帕图 / 美国 / 莉娜·邓纳姆 / 翠西亚·布洛克 / 都市女孩 / 30分钟 / 都市女孩 / 喜剧 / 莉娜·杜汉姆 Lena Dunham / 英语</li>
                    <li>
                        <span class="date">2017-08-07</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25810831" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25810831:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Girls" href="javascript:void(0)" class="nbg">
                    <img alt="Girls" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2160887952.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>都市女孩 第三季 / Girls Season 3</em>
                             / 女孩我最大 第三季(台) / 衰姐们 第三季
                        </a>
                    </li>
                        <li class="intro">2014-01-12(美国) / 莉娜·邓纳姆 / 艾莉森·威廉姆斯 / 杰米玛·科克 / 佐莎·马梅特 / 亚当·德赖弗 / 亚历克斯·卡普夫斯基 / 安德鲁·兰内斯 / 克里斯·伍德 / 柯林·奎恩 / 乔·格拉瑟 / 艾米·舒默 / 瓦琪玛霍利斯 / 罗伯塔·科林德雷斯 / 帕蒂·卢波恩 / 迈克尔·泽根 / 菲丽希缇·琼斯 / 朱恩·斯奎布 / 鲍勃·巴拉班 / 约翰·卡梅隆·米切尔 / 盖比·霍夫曼 / 艾邦·摩斯-巴克拉赫 / 理查德·E·格兰特 / 格里塔·李 / 萨拉·斯蒂尔 / 迪尔德丽·罗夫乔 / 美国 / www.hbo.com/girls / 莉娜·邓纳姆 / 翠西亚·布洛克 / 都市女孩 / 30分钟 / 都市女孩 / 喜剧 / 莉娜·杜汉姆 Lena Dunham / 英语</li>
                    <li>
                        <span class="date">2017-08-07</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-21633696" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="21633696:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Girls" href="javascript:void(0)" class="nbg">
                    <img alt="Girls" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1807170821.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>都市女孩 第二季 / Girls Season 2</em>
                             / 女孩我最大 第二季(台) / 衰姐们 第二季
                        </a>
                    </li>
                        <li class="intro">2013-01-13(美国) / 莉娜·邓纳姆 / 艾莉森·威廉姆斯 / 亚当·德赖弗 / 杰米玛·科克 / 佐莎·马梅特 / 安德鲁·兰内斯 / 克里斯·奥多德 / 亚历克斯·卡普夫斯基 / 克里斯托弗·阿波特 / 帕特里克·威尔森 / 本·门德尔森 / 奥莉维亚·卢卡尔迪 / 乔·格拉瑟 / 柯林·奎恩 / 约翰·卡梅隆·米切尔 / 鲍勃·巴拉班 / 乔玛·塔科内 / 唐纳德·格洛弗 / 美国 / www.hbo.com/girls / 莉娜·邓纳姆 / 杰西·派瑞兹 / 理查德·谢帕德 / 克劳迪娅·韦尔 / 都市女孩 / 30分钟 / 都市女孩 / 喜剧 / 莉娜·杜汉姆 Lena Dunham / Jennifer Konner / 英语</li>
                    <li>
                        <span class="date">2017-08-07</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-11540884" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="11540884:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Girls" href="javascript:void(0)" class="nbg">
                    <img alt="Girls" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1472402622.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>都市女孩 第一季 / Girls Season 1</em>
                             / 女孩我最大 第一季(台) / 衰姐们 第一季
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-04-15(美国) / 莉娜·邓纳姆 / 艾莉森·威廉姆斯 / 杰米玛·科克 / 克里斯托弗·阿波特 / 克里斯·埃吉曼 / 佐莎·马梅特 / 卢·泰勒·普奇 / 斯盖拉·阿斯丁 / 塞勒妮丝·雷瓦 / 罗伯塔·科林德雷斯 / 亨利·泽布罗夫斯基 / 凯瑟琳·哈恩 / 乔玛·塔科内 / 安德鲁·兰内斯 / 阿莱西·瓦塞尔 / 克里斯·奥多德 / 亚当·德赖弗 / 凡妮莎·雷 / 亚历克斯·卡普夫斯基 / 美国 / www.hbo.com/girls / 莉娜·邓纳姆 / 都市女孩 / 30分钟 / 都市女孩 / 喜剧 / 莉娜·杜汉姆 Lena Dunham / 英语</li>
                    <li>
                        <span class="date">2017-08-07</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-5998128" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="5998128:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="En man som heter Ove" href="javascript:void(0)" class="nbg">
                    <img alt="En man som heter Ove" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2406624993.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>一个叫欧维的男人决定去死 / En man som heter Ove</em>
                             / 明天别再来敲门(台) / 想死冇咁易(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-12-25(瑞典) / 罗夫·拉斯加德 / 巴哈·帕斯 / 托比亚斯·阿姆博瑞 / 菲利普·伯格 / 安娜-莱娜·布伦丁 / 博瑞·伦贝里 / 埃达·英格薇 / 弗雷德里克·埃弗斯 / 玛德琳·雅各布松 / 查特里娜·拉松 / 杰克尔·法尔斯特伦 / 瑞典 / 汉内斯·赫尔姆 / 116分钟 / 一个叫欧维的男人决定去死 / 剧情 / 弗雷德里克·巴克曼 Fredrik Backman / 汉内斯·赫尔姆 Hannes Holm / 瑞典语 / 波斯语</li>
                    <li>
                        <span class="date">2017-07-09</span>
                        
                    </li>
                    <li>
                        <span class="comment">爱情😳</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26628357" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26628357:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="L'avenir" href="javascript:void(0)" class="nbg">
                    <img alt="L'avenir" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2319532864.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>将来的事 / L'avenir</em>
                             / 从前·现在·将来(港) / 爱情未来(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-02-13(柏林电影节) / 2016-04-06(法国) / 伊莎贝尔·于佩尔 / 安德烈·马尔孔 / 罗曼·科兰卡 / 爱迪丝·斯考博 / 伊莉斯·洛蒙 / 让-查理·克里切特 / 莱昂内尔·德雷 / 法国 / 德国 / www.filmsdulosange.fr/en/film/224/things-to-come / 米娅·汉森-洛夫 / 102分钟 / 将来的事 / 剧情 / 米娅·汉森-洛夫 Mia Hansen-Løve / 法语 / 德语 / 英语</li>
                    <li>
                        <span class="date">2017-07-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">文艺啊，人是要有一些任谁都拿不走的东西。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26215216" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26215216:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="冈仁波齐" href="javascript:void(0)" class="nbg">
                    <img alt="冈仁波齐" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2462387248.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>冈仁波齐</em>
                             / གངས་རིན་པོ་ཆེ / Paths of the Soul
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-09-15(多伦多电影节) / 2017-06-20(中国大陆) / 尼玛扎堆 / 杨培 / 索朗卓嘎 / 次仁曲珍 / 色巴江措 / 仁青晋美 / 姆曲 / 扎西措姆 / 江措旺堆 / 达瓦扎西 / 仁青旺佳 / 丁孜登达 / 索郎尼马 / 中国大陆 / 张杨 / 117分钟 / 剧情 / 张杨 Yang Zhang / 藏语 / 汉语普通话</li>
                    <li>
                        <span class="date">2017-07-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">实在看不下去，欣赏不来</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26606242" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26606242:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Fate of the Furious" href="javascript:void(0)" class="nbg">
                    <img alt="The Fate of the Furious" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2444256500.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>速度与激情8 / The Fate of the Furious</em>
                             / 狂野时速8(港) / 玩命关头8(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-04-12(法国) / 2017-04-14(美国) / 2017-04-14(中国大陆) / 范·迪塞尔 / 杰森·斯坦森 / 道恩·强森 / 米歇尔·罗德里格兹 / 泰瑞斯·吉布森 / 卢达·克里斯 / 查理兹·塞隆 / 库尔特·拉塞尔 / 娜塔莉·伊曼纽尔 / 卢克·伊万斯 / 埃尔莎·帕塔奇 / 克里斯托弗·海维尤 / 斯科特·伊斯特伍德 / 帕特里克·圣埃斯普利特 / 卢克·霍克斯 / 奥莱克·克鲁帕 / 加里·维克斯 / 马修·康威尔 / 特戈·卡尔德隆 / 唐·奥马尔 / 塞莱斯汀·考尼尔 / 布莱恩·鲍曼 / 马科·查卡 / David Dman Escobar / 海伦·米伦 / 巴迪·沃特金斯 / 中国大陆 / 美国 / 日本 / F·加里·格雷 / 136分钟 / 149分钟(加长版) / 速度与激情8 / 动作 / 犯罪 / 盖瑞·斯科特·汤普森 Gary Scott Thompson / 克里斯·摩根 Chris Morgan / 英语 / 俄语 / 西班牙语</li>
                    <li>
                        <span class="date">2017-07-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">又毁了好多车...</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26260853" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26260853:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Alien: Covenant" href="javascript:void(0)" class="nbg">
                    <img alt="Alien: Covenant" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2459944375.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>异形：契约 / Alien: Covenant</em>
                             / 异形：圣约(港/台) / 神奇异形在哪里(豆友译名)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-05-10(法国) / 2017-05-19(美国) / 2017-06-16(中国大陆) / 迈克尔·法斯宾德 / 凯瑟琳·沃特斯顿 / 比利·克鲁德普 / 丹尼·麦克布莱德 / 德米安·比齐尔 / 卡门·艾乔戈 / 朱西·斯莫利特 / 考莉·埃尔南德斯 / 艾米·西米茨 / 纳撒尼尔·迪安 / 亚历山大·英格兰 / 本杰明·里格比 / 乌利·拉图基孚 / 泰丝·哈乌布里奇 / 罗蕾莱·金 / 哈维尔·博泰特 / 詹姆斯·弗兰科 / 盖·皮尔斯 / 劳米·拉佩斯 / 戈兰·D·克鲁特 / 美国 / www.foxmovies.com/movies/alien-covenant / 雷德利·斯科特 / 122分钟 / 116分钟(中国大陆) / 异形：契约 / 科幻 / 恐怖 / 迈克尔·格林 Michael Green / 约翰·洛根 John Logan / 杰克·帕格恩 Jack Paglen / 英语</li>
                    <li>
                        <span class="date">2017-06-27</span>
                        
                    </li>
                    <li>
                        <span class="comment">没想象的恶心……</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-11803087" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="11803087:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=450&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./27.html">28</a>
        
                
            <a href="./28.html">29</a>
        
                
            <a href="./29.html">30</a>
        
                
            <a href="./30.html">31</a>
        
                <span class="thispage" data-total-page="62">32</span>
                
            <a href="./32.html">33</a>
        
                
            <a href="./33.html">34</a>
        
                
            <a href="./34.html">35</a>
        
                
            <a href="./35.html">36</a>
        
            <span class="break">...</span>
                
            <a href="./60.html">61</a>
        
            <a href="./61.html">62</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=480&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"><img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">我的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-699758d69-s9z5b-->

  <script>_SPLITTEST=''</script>





</body></html>