<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "24c0273c3dcbee33d2e46a2481a0a6e36b81b7e1",
    SSE_TIMESTAMP: "1640990624",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                481-495&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="風の谷のナウシカ" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>风之谷 / 風の谷のナウシカ</em>
                             / 风谷少女 / Kaze no tani no Naushika
                        </a>
                    </li>
                        <li class="intro">1984-03-11(日本) / 1992-05(中国大陆) / 岛本须美 / 松田洋治 / 榊原良子 / 辻村真人 / 京田尚子 / 纳谷悟朗 / 永井一郎 / 宫内幸平 / 八奈见乘儿 / 矢田稔 / 富永美伊奈 / 家弓家正 / 吉田理保子 / 菅谷政子 / 坂本千夏 / 鳕子 / 麦人 / 大塚芳忠 / 克里斯·萨兰登 / 希亚·拉博夫 / 杰夫·贝内特 / 大卫·考吉尔 / 胡立成 / 艾克·艾森曼 / 裘蒂·班森 / 里夫·霍顿 / Emily Bauer / 艾莉森·洛曼 / 阿什丽·艾德纳 / 特蕾丝·麦克尼尔 / 纽威尔·亚历山大 / 詹姆斯·阿诺德·泰勒 / 爱德华·詹姆斯·奥莫斯 / 帕特里克·斯图尔特 / Jordan Del Spina / 托尼·杰 / 马克·哈米尔 / 尼古拉斯·格斯特 / 凯姆·克拉克 / 弗兰克·维尔克 / 格雷斯·罗莱克 / 乌玛·瑟曼 / 日本 / 宫崎骏 / 117分钟 / 风之谷 / 动画 / 奇幻 / 冒险 / 宫崎骏 Hayao Miyazaki / 日语</li>
                    <li>
                        <span class="date">2017-03-18</span>
                        
                    </li>
                    <li>
                        <span class="comment">看了幽灵公主再看这个就觉得稍稍好一点。宫崎骏真是天马行空的创造奇特动物。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="もののけ姫" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>幽灵公主 / もののけ姫</em>
                             / 魔法公主(港/台) / 幽灵少女
                        </a>
                    </li>
                        <li class="intro">1997-07-12(日本) / 松田洋治 / 石田百合子 / 田中裕子 / 小林薰 / 西村雅彦 / 上条恒彦 / 岛本须美 / 渡边哲 / 佐藤允 / 名古屋章 / 美轮明宏 / 森光子 / 森繁久弥 / 藤贵子 / 胡立成 / 克莱尔·丹妮丝 / 松山鹰志 / 松田佑贵 / 日本 / 宫崎骏 / 134分钟 / 幽灵公主 / 动画 / 奇幻 / 冒险 / 宫崎骏 Hayao Miyazaki / 日语</li>
                    <li>
                        <span class="date">2017-03-18</span>
                        
                    </li>
                    <li>
                        <span class="comment">人与自然，难解之谜。这画风真是...</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="עלטה" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>暗之光 / עלטה</em>
                             / 爱，悄悄越界(台) / Out in the Dark
                        </a>
                    </li>
                        <li class="intro">2012-09-07(多伦多电影节) / 2013-02-18(以色列) / 尼古拉斯·雅各布 / 迈克尔·阿洛尼 / 以色列 / 美国 / 巴勒斯坦 / www.outinthedark.com / 迈克尔·迈耶 / Michael Mayer / 96分钟 / 暗之光 / 剧情 / 同性 / Yael Shafrir / 迈克尔·迈耶 Michael Mayer / 希伯来语 / 阿拉伯语</li>
                    <li>
                        <span class="date">2017-03-18</span>
                        
                    </li>
                    <li>
                        <span class="comment">😞😞</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Brokeback Mountain" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>断背山 / Brokeback Mountain</em>
                             / 断臂山 / BBM
                        </a>
                    </li>
                        <li class="intro">2005-09-02(威尼斯电影节) / 2006-01-06(加拿大) / 2006-01-13(美国) / 希斯·莱杰 / 杰克·吉伦哈尔 / 米歇尔·威廉姆斯 / 安妮·海瑟薇 / 凯特·玛拉 / 兰迪·奎德 / 琳达·卡德里尼 / 安娜·法瑞丝 / 格拉汉姆·贝克尔 / 斯科特·迈克尔·坎贝尔 / 大卫·哈伯 / 罗伯塔·马克斯韦尔 / 皮特·麦克罗比 / 夏恩·希尔 / 布鲁克琳·普劳克斯 / 杰克·丘奇 / 罗德里戈·普列托 / 美国 / 加拿大 / www.brokebackmountain.com / 李安 / 134分钟 / 断背山 / 剧情 / 爱情 / 同性 / 家庭 / 拉里·麦克穆特瑞 Larry McMurtry / 黛安娜·奥撒纳 Diana Ossana / 安妮·普鲁 Annie Proulx / 英语</li>
                    <li>
                        <span class="date">2017-03-14</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="A Dog's Purpose" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>一条狗的使命 / A Dog's Purpose</em>
                             / 为了与你相遇(台) / 再见亦是狗朋友(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-01-27(美国) / 2017-03-03(中国大陆) / 乔什·加德 / 布丽特·罗伯森 / 丹尼斯·奎德 / 佩吉·利普顿 / K·J·阿帕 / 布莱斯·吉扎尔 / 朱丽叶·赖伦斯 / 卢克·柯比 / 加布里埃尔·罗斯 / 迈克尔·博夫舍维尔 / 洛根·米勒 / 柯尔比·豪威尔-巴普蒂斯特 / 普奇·豪尔 / 约翰·奥提兹 / 妮科尔·勒普拉卡 / 彼特·科拉米斯 / 卡罗琳·凯芙 / 简·迈克格雷格 / 科维西·阿梅扬 / 卡琳·博姆拜克 / 娜奥米·弗伦内特 / 美国 / 拉斯·霍尔斯道姆 / 101分钟 / 一条狗的使命 / 剧情 / 喜剧 / 家庭 / W·布鲁斯·卡梅伦 W. Bruce Cameron / 凯瑟琳·迈克 Cathryn Michon / 奥黛丽·威尔斯 Audrey Wells / 玛雅·福布斯 Maya Forbes / 沃利·亚历斯戴尔 Wally Wolodarsky / 英语</li>
                    <li>
                        <span class="date">2017-03-07</span>
                        
                    </li>
                    <li>
                        <span class="comment">别人家的狗帮你脱单，还能灌鸡汤。生生看成了一部喜剧😂</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Lego Batman Movie" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>乐高蝙蝠侠大电影 / The Lego Batman Movie</em>
                             / Lego蝙蝠侠英雄传(港) / 乐高蝙蝠侠电影(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-02-10(美国) / 2017-03-03(中国大陆) / 威尔·阿奈特 / 罗莎里奥·道森 / 拉尔夫·费因斯 / 迈克尔·塞拉 / 扎克·加利凡纳基斯 / 珍妮·斯蕾特 / 苏珊·本尼特 / 玛丽亚·凯莉 / 查宁·塔图姆 / 乔纳·希尔 / 亚当·德维尼 / 柯南·奥布莱恩 / 道格·本森 / 比利·迪·威廉姆斯 / 杰森·曼楚克斯 / 艾迪·伊扎德 / 赛斯·格林 / 佐伊·克罗维兹 / 凯特·米库奇 / 瑞琪·琳德赫姆 / 杰梅奈·克莱门特 / 艾丽·坎伯尔 / 劳拉·奈特林格 / 美国 / 丹麦 / 澳大利亚 / 克里斯·麦凯 / 105分钟 / 乐高蝙蝠侠大电影 / 喜剧 / 动作 / 动画 / 冒险 / 赛斯·格雷厄姆-史密斯 Seth Grahame-Smith / 克里斯·麦克纳 Chris McKenna / 埃里克·萨默斯 Erik Sommers / 贾里德·斯特恩 Jared Stern / 约翰·惠廷顿 John Whittington / 鲍勃·凯恩 Bob Kane / 比尔·芬格 Bill Finger / 杰里·西格尔 Jerry Siegel / 乔·舒斯特 Joe Shuster / 英语</li>
                    <li>
                        <span class="date">2017-03-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">居然买了国语的，把Siri翻译成了计算机，然后射击变成了biubiubiu😂😂😂</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Logan" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>金刚狼3：殊死一战 / Logan</em>
                             / 卢根(港) / 罗根(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-02-17(柏林电影节) / 2017-03-03(中国大陆) / 2017-03-03(美国) / 2017-05-16(黑白版) / 休·杰克曼 / 帕特里克·斯图尔特 / 达芙妮·基恩 / 波伊德·霍布鲁克 / 斯戴芬·莫昌特 / 伊丽莎白·罗德里格斯 / 多丽丝·莫尔加多 / 理查德·E·格兰特 / 玛丽·佩顿·斯图尔特 / 伊利斯·尼尔 / 埃里克·拉萨尔 / 劳伦·格罗斯 / 胡安·贾斯帕 / 克日什托夫·索什斯基 / 萨博·班克森 / 丹尼尔·伯哈特 / 杰罗米菲茨杰罗德 / 卢克·霍克斯 / 昆西·佛斯 / 约翰·伯纳克 / 戴夫·戴维斯 / 朱莉娅·霍特 / 弗兰克·加列戈斯 / 埃尔考勒诺 / 西耶娜·诺维科夫 / 美国 / 詹姆斯·曼高德 / 123分钟(中国大陆) / 135分钟(柏林电影节) / 137分钟(美国) / 金刚狼3：殊死一战 / 剧情 / 动作 / 科幻 / 詹姆斯·曼高德 James Mangold / 迈克尔·格林 Michael Green / 斯科特·弗兰克 Scott Frank / 英语 / 西班牙语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2017-03-03</span>
                        
                    </li>
                    <li>
                        <span class="comment">超出预期，好好看</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Hidden Figures" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>隐藏人物 / Hidden Figures</em>
                             / NASA无名英雌(港) / 关键少数(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-12-25(美国) / 塔拉吉·P·汉森 / 奥克塔维亚·斯宾瑟 / 加奈儿·梦奈 / 凯文·科斯特纳 / 克斯汀·邓斯特 / 吉姆·帕森斯 / 马赫沙拉·阿里 / 阿尔迪斯·霍吉 / 格伦·鲍威尔 / 金贝利·奎恩 / 奥莱克·克鲁帕 / 库尔特·克劳斯 / 玛戈特·李·谢特利 / 罗达·格里菲丝 / 马丽娅豪厄尔 / 斯科特·迈克尔·摩根 / 维布尔·弗利茨杰拉德 / 美国 / 西奥多·梅尔菲 / 127分钟 / 隐藏人物 / 剧情 / 传记 / 历史 / 埃里森·施罗德 Allison Schroeder / 特奥多尔·梅尔菲 Theodore Melfi / 玛戈特·李·谢特利 Margot Lee Shetterly / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2017-02-28</span>
                        
                    </li>
                    <li>
                        <span class="comment">个人实力是推动历史进程的发展的必要条件</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Manchester by the Sea" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>海边的曼彻斯特 / Manchester by the Sea</em>
                             / 情系海边之城(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-01-23(圣丹斯电影节) / 2016-11-18(美国) / 2017-08-25(中国大陆) / 卡西·阿弗莱克 / 卢卡斯·赫奇斯 / 米歇尔·威廉姆斯 / C·J·威尔逊 / 凯尔·钱德勒 / 卡拉·海沃德 / 格瑞辰·摩尔 / 泰特·多诺万 / 埃里卡·麦克德莫特 / 希瑟·伯恩斯 / 蜜西·雅格 / 斯蒂芬·亨德森 / 本·汉森 / 玛丽·梅伦 / 安东尼·埃斯特拉 / 苏珊·波尔法 / 罗伯特·塞拉 / 卡罗琳·皮克曼 / 约什·汉密尔顿 / 肖恩·菲茨吉本 / 肯尼思·洛纳根 / 安娜·巴瑞辛尼科夫 / 利亚姆·麦克尼尔 / 马修·布罗德里克 / Kt·巴达萨罗 / 威廉·博恩凯塞尔 / 弗兰克·达戈斯蒂诺 / 托马斯·马里亚诺 / 钱睿博 / 蒋静菊 / 美国 / 肯尼思·洛纳根 / 137分钟 / 海边的曼彻斯特 / 剧情 / 家庭 / 肯尼斯·罗纳根 Kenneth Lonergan / 英语</li>
                    <li>
                        <span class="date">2017-02-27</span>
                        
                    </li>
                    <li>
                        <span class="comment">没关系，只是悲伤而已。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Resident Evil: The Final Chapter" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>生化危机：终章 / Resident Evil: The Final Chapter</em>
                             / 恶灵古堡6：最终章(台) / 生化危机：终极尸杀(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-12-23(日本) / 2017-01-27(美国) / 2017-02-24(中国大陆) / 米拉·乔沃维奇 / 伊恩·格雷 / 艾丽·拉特 / 鲁比·罗丝 / 李准基 / 肖恩·罗伯茨 / 威廉·莱维 / 欧文·马肯 / 萝拉 / 艾尔·安德森 / 密尔顿·施尔 / 西沃恩·霍奇森 / 凯文·奥托 / 保罗·汉普赛尔 / 弗雷泽·杰姆斯 / 西耶娜·盖尔利 / 乔翰·厄布 / 美国 / 德国 / 法国 / 加拿大 / 南非 / 澳大利亚 / 英国 / 日本 / 中国大陆 / www.sonypictures.com/movies/residentevilthefinalchapter/ / 保罗·安德森 / 106分钟(美国) / 99分钟(中国大陆) / 生化危机：终章 / 动作 / 科幻 / 恐怖 / 保罗·安德森 Paul W.S. Anderson / 英语</li>
                    <li>
                        <span class="date">2017-02-26</span>
                        
                    </li>
                    <li>
                        <span class="comment">一惊一乍的🙄️</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Moana" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>海洋奇缘 / Moana</em>
                             / 莫阿娜 / 摩阿娜
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-11-23(美国) / 2016-11-25(中国大陆) / 奥丽伊·卡瓦洛 / 道恩·强森 / 瑞切尔·豪斯 / 特穆拉·莫里森 / 克里斯·杰克逊 / 杰梅奈·克莱门特 / 尼可·斯彻金格 / 艾伦·图代克 / 奥斯卡·凯特利 / 特洛伊·波拉马鲁 / 普阿娜妮·卡瓦洛 / 露易丝·布什 / 苏丽珊 / 竹野谷咲 / 美国 / 罗恩·克莱蒙兹 / 约翰·马斯克 / 唐·霍尔 / 克里斯·威廉姆斯 / 107分钟 / 海洋奇缘 / 动画 / 奇幻 / 冒险 / 歌舞 / 杰拉德·布什 Jared Bush / 罗恩·克莱蒙兹 Ron Clements / 约翰·马斯克 John Musker / 克里斯·威廉姆斯 Chris Williams / 唐·霍尔 Don Hall / 帕米拉·里本 Pamela Ribon / 亚伦·坎德尔 Aaron Kandell / 乔丹·坎德尔 Jordan Kandell / 英语</li>
                    <li>
                        <span class="date">2017-02-22</span>
                        
                    </li>
                    <li>
                        <span class="comment">喜欢一切水！上一次看到这么漂亮的天还是少年派</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Sing" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>欢乐好声音 / Sing</em>
                             / 歌唱秀 / 星梦动物园(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-09-11(多伦多电影节) / 2016-12-21(美国) / 2017-02-17(中国大陆) / 马修·麦康纳 / 瑞茜·威瑟斯彭 / 塞思·麦克法兰 / 斯嘉丽·约翰逊 / 约翰·C·赖利 / 塔伦·埃哲顿 / 托瑞·凯利 / 珍妮弗·桑德斯 / 詹妮弗·哈德森 / 加斯·詹宁斯 / 彼得·塞拉菲诺威茨 / 尼克·克罗尔 / 贝克·班尼特 / 杰·费罗尔 / 尼克·奥弗曼 / 莱斯莉·琼斯 / 雷亚·普尔曼 / 亚当·布克斯顿 / 比尔·法玛尔 / 韦斯·安德森 / 埃德加·赖特 / 坂本真绫 / 阿什·布林克夫 / 大鹏 / 吴莫愁 / 美国 / www.singmovie.com / 加斯·詹宁斯 / 克里斯托夫·卢尔德莱 / 108分钟 / 欢乐好声音 / 喜剧 / 动画 / 歌舞 / 加斯·詹宁斯 Garth Jennings / 英语 / 日语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2017-02-18</span>
                        
                    </li>
                    <li>
                        <span class="comment">动画，歌舞，呆萌，都是喜欢的元素，大部分歌都听过，全程打拍子</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="La La Land" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>爱乐之城 / La La Land</em>
                             / 星声梦里人(港) / 乐来越爱你(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-08-31(威尼斯电影节) / 2016-12-25(美国) / 2017-02-14(中国大陆) / 瑞恩·高斯林 / 艾玛·斯通 / 约翰·传奇 / 罗丝玛丽·德薇特 / 芬·维特洛克 / 杰西卡·罗德 / 水野索诺娅 / 考莉·埃尔南德斯 / J·K·西蒙斯 / 汤姆·艾弗瑞特·斯科特 / 米根·费伊 / 达蒙·冈普顿 / 贾森·福克斯 / 乔什·平茨 / 艾米·科恩 / 特里·沃尔特斯 / 汤姆·谢尔顿 / 信达·亚当斯 / 克劳丁·克劳迪奥 / D·A·瓦拉赫 / 特雷弗·里斯奥尔 / 奥莉维亚·汉密尔顿 / 安娜·查泽雷 / 马里乌斯·代·弗里斯 / 妮科尔·库隆 / 迈尔斯·安德森 / 约翰·辛德曼 / 瓦拉里·雷·米勒 / 基夫·范登·霍伊维尔 / 佐伊·霍尔 / 登普西·帕皮恩 / 辛德拉·车 / Corrin Evans / 苏珊妮·拉切塞斯 / 妮拉·伊丽莎白·沃特金斯 / 妮可·沃尔夫 / 弗雷德里克·基夫 / Kc·莫尼 / 朱莉·施密德 / 赫米基·马德拉 / 尼克·巴加 / 尼克·德拉戈 / 美国 / 达米恩·查泽雷 / 128分钟 / 爱乐之城 / 剧情 / 爱情 / 歌舞 / 达米恩·查泽雷 Damien Chazelle / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2017-02-14</span>
                        
                    </li>
                    <li>
                        <span class="comment">也许时间不允许，也许地点不允许，也许有很多个也许，但是我们要在一起，但是只要有一个但是！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Moonlight" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>月光男孩 / Moonlight</em>
                             / 月亮喜欢蓝(港) / 月光下的蓝色男孩(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-09-02(特柳赖德电影节) / 2016-10-21(美国) / 崔凡特·罗兹 / 安德烈·霍兰 / 马赫沙拉·阿里 / 娜奥米·哈里斯 / 加奈儿·梦奈 / 艾什顿·桑德斯 / 贾雷尔·杰罗姆 / 艾利克斯·希伯特 / 杰登·派纳 / 段·桑德森 / 艾德森·吉恩 / 斯蒂芬·布隆 / Patrick Decile / 美国 / moonlight.movie/ / 巴里·詹金斯 / 111分钟 / 月光男孩 / 剧情 / 同性 / 巴里·詹金斯 Barry Jenkins / 塔瑞尔·麦卡尼 Tarell McCraney / 英语</li>
                    <li>
                        <span class="date">2017-02-14</span>
                        
                    </li>
                    <li>
                        <span class="comment">不知这和爱乐之城有什么可比性呢🙄</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Skiptrace" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>绝地逃亡 / Skiptrace</em>
                             / 跨境追捕 / 跳跃追踪
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-07-21(中国大陆) / 2016-09-02(美国) / 成龙 / 范冰冰 / 约翰尼·诺克斯维尔 / 曾志伟 / 王敏德 / 赵文瑄 / 伊芙·托雷斯 / 郭品超 / 施诗 / 延政勋 / 张蓝心 / 吉丽 / 托马尔·奥兹 / 保罗·菲利普·克拉克 / 吴耀汉 / 勃小龙 / 麦贵源 / 蔡佳涵 / 邱意浓 / 汪小敏 / 马铁摩 / 孙慧莲 / 中国大陆 / 美国 / 中国香港 / 雷尼·哈林 / 111分钟(中国大陆) / 107分钟(美国) / 绝地逃亡 / 喜剧 / 动作 / 杰·朗吉诺 Jay Longino / 本大卫·格拉宾斯基 BenDavid Grabinski / Wen-Chia Chang / 汉语普通话 / 英语 / 俄语</li>
                    <li>
                        <span class="date">2017-02-14</span>
                        
                    </li>
                    <li>
                        <span class="comment">哎，越来越烂</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=465&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./28.html">29</a>
        
                
            <a href="./29.html">30</a>
        
                
            <a href="./30.html">31</a>
        
                
            <a href="./31.html">32</a>
        
                <span class="thispage" data-total-page="61">33</span>
                
            <a href="./33.html">34</a>
        
                
            <a href="./34.html">35</a>
        
                
            <a href="./35.html">36</a>
        
                
            <a href="./36.html">37</a>
        
            <span class="break">...</span>
                
            <a href="./59.html">60</a>
        
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=495&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-2wmh9-->

  <script>_SPLITTEST=''</script>





</body></html>