<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    我看过的电影(930)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "78857574",
    UPLOAD_AUTH_TOKEN: "78857574:b22aece14e2c3c889c4b13e4bd9b2be42ff809b3",
    SSE_TOKEN: "ebf1dd79ef1b04c3621091d707b1b1c25d290f7c",
    SSE_TIMESTAMP: "1647390601",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                <img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg">
            </a>
        </div>
        <div class="info">
            <h1>我看过的电影(930)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                526-540&nbsp;/&nbsp;930
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Passengers" href="javascript:void(0)" class="nbg">
                    <img alt="Passengers" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2410576676.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>太空旅客 / Passengers</em>
                             / 太空潜航者(港) / 星际过客(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-12-21(美国) / 2017-01-13(中国大陆) / 詹妮弗·劳伦斯 / 克里斯·帕拉特 / 麦克·辛 / 劳伦斯·菲什伯恩 / 安迪·加西亚 / 因德尔·库马尔 / 奥罗拉·佩里诺 / 文斯·福斯特 / 马特·科博伊 / 弗雷德·迈拉麦德 / 吉米·索瑞茜莉 / 美国 / 莫滕·泰杜姆 / 116分钟 / 太空旅客 / 冒险 / 科幻 / 乔·斯派茨 Jon Spaihts / 英语 / 汉语普通话</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2017-01-15</span>
                        
                    </li>
                    <li>
                        <span class="comment">科技这么发达不活到200岁怎么甘心？</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3434070" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3434070:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Dangal" href="javascript:void(0)" class="nbg">
                    <img alt="Dangal" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2401676338.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>摔跤吧！爸爸 / Dangal</em>
                             / 我和我的冠军女儿(台) / 打死不离3父女(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-12-23(印度) / 2017-05-05(中国大陆) / 阿米尔·汗 / 法缇玛·萨那·纱卡 / 桑亚·玛荷塔 / 阿帕尔夏克提·库拉那 / 沙克希·坦沃 / 塞伊拉·沃西 / 苏哈妮·巴特纳格尔 / 里特维克·萨霍里 / 吉里什·库卡尼 / 什沙尔·夏尔马 / 维万·巴特那 / 印度 / 涅提·蒂瓦里 / 161分钟(印度) / 140分钟(中国大陆) / 摔跤吧！爸爸 / 剧情 / 传记 / 运动 / 家庭 / 比于什·古普塔 Piyush Gupta / 施热亚·简 Shreyas Jain / 尼基尔·麦罗特拉 Nikhil Mehrotra / 涅提·蒂瓦里 Nitesh Tiwari / 印地语 / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2017-01-12</span>
                        
                    </li>
                    <li>
                        <span class="comment">目的性真是个很奇怪的东西，如果片中爸爸表现的不是为了实行他自己的梦想而是为了反抗社会的价值观保护女儿是不是更被主流接受？我觉得好就好在有争议，引思考，起码现在的女儿更有反抗的资本。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26387939" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26387939:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="驴得水" href="javascript:void(0)" class="nbg">
                    <img alt="驴得水" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2393044761.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>驴得水</em>
                             / Mr. Donkey
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-10-28(中国大陆) / 任素汐 / 大力 / 刘帅良 / 裴魁山 / 阿如那 / 韩彦博 / 卜冠今 / 王堃 / 高阳 / 苏千越 / 麦亚瑟 / 王峰 / 周申 / 中国大陆 / 周申 / 刘露 / 111分钟 / 剧情 / 喜剧 / 周申 Shen Zhou / 刘露 Lu Liu / 汉语普通话</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2017-01-06</span>
                        
                    </li>
                    <li>
                        <span class="comment">艹，🖕🖕🖕</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25921812" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25921812:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Planet Earth" href="javascript:void(0)" class="nbg">
                    <img alt="Planet Earth" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2155172952.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>地球脉动 第一季 / Planet Earth Season 1</em>
                             / 行星地球 / 我们的地球
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2006-02-27 / 大卫·爱登堡 / 西格妮·韦弗 / 英国 / www.planet-earth.com / 艾雷斯泰·法瑟吉尔 / 地球脉动 / 60分钟 / 地球脉动 / 纪录片 / 戴维·阿滕伯勒 David Attenborough / 英语 / 德语</li>
                    <li>
                        <span class="date">2016-12-29</span>
                        
                    </li>
                    <li>
                        <span class="comment">在辽阔的大草原上...动物世界的配音</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1871906" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1871906:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="火锅英雄" href="javascript:void(0)" class="nbg">
                    <img alt="火锅英雄" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2325504300.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>火锅英雄</em>
                             / 火锅 / Chongqing Hot Pot
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-04-01(中国大陆) / 陈坤 / 白百何 / 秦昊 / 喻恩泰 / 王彦霖 / 尹昉 / 李九霄 / 张亦驰 / 凌琳 / 陈诺 / 王紫璇 / 唐佐辉 / 陈卫 / 李润 / 任敏 / 周赞 / 庞宗林 / 王英明 / 黄涛 / 中国大陆 / 杨庆 / 98分钟 / 剧情 / 犯罪 / 杨庆 Qing Yang / 汉语普通话 / 重庆话</li>
                    <li>
                        <span class="date">2016-12-29</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25662327" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25662327:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="惊天破" href="javascript:void(0)" class="nbg">
                    <img alt="惊天破" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2390833166.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>惊天破</em>
                             / 惊心破 / 破地狱
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-06-13(上海国际电影节) / 2016-10-20(中国香港) / 2016-10-20(中国大陆) / 谢霆锋 / 刘青云 / 佟丽娅 / 范晓萱 / 思漩 / 谭俊彦 / 高伟光 / 蔡瀚亿 / 高捷 / 邓萃雯 / 马丁 / 颜子菲 / 郭子健 / 袁富华 / 陈曾宁 / 中国大陆 / 中国香港 / 吴品儒 / 103分钟 / 剧情 / 动作 / 犯罪 / 悬疑 / 吴品儒 Pinru Wu / 顾舒怡 Shuyi Gu / 汉语普通话</li>
                    <li>
                        <span class="date">2016-12-17</span>
                        
                    </li>
                    <li>
                        <span class="comment">我觉得导演是想表达，人不是由器官组成的，换了别人的零件也不一定要继承这个人的意志和行为。。。好吧，我在强行帮它圆场来掩饰它烂片的评价。。。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26220722" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26220722:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Storks" href="javascript:void(0)" class="nbg">
                    <img alt="Storks" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2378515005.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>逗鸟外传：萌宝满天飞 / Storks</em>
                             / 送子鸟(台) / BB宅急便(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-09-23(中国大陆) / 2016-09-23(美国) / 安迪·萨姆伯格 / 凯蒂·克朗 / 凯尔希·格兰莫 / 詹妮弗·安妮斯顿 / 泰·布利尔 / 安东·斯塔克曼 / 科甘-迈克尔·凯 / 乔丹·皮尔 / 丹尼·特雷霍 / 史蒂芬·克雷默·格利克曼 / 克里斯托弗·尼古拉斯·史密斯 / 奥卡菲娜 / 伊克·巴里霍尔兹 / 乔玛·塔科内 / 阿曼达·隆德 / 美国 / 尼古拉斯·斯托勒 / 道格·斯威特兰德 / 87分钟 / 逗鸟外传：萌宝满天飞 / 喜剧 / 动画 / 奇幻 / 冒险 / 尼古拉斯·斯托勒 Nicholas Stoller / 英语</li>
                    <li>
                        <span class="date">2016-12-17</span>
                        
                    </li>
                    <li>
                        <span class="comment">见识了什么叫标准娃娃脸</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26374205" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26374205:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Hacksaw Ridge" href="javascript:void(0)" class="nbg">
                    <img alt="Hacksaw Ridge" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2398141939.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>血战钢锯岭 / Hacksaw Ridge</em>
                             / 钢锯岭 / 钢铁英雄(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-09-04(威尼斯电影节) / 2016-11-04(美国) / 2016-12-08(中国大陆) / 安德鲁·加菲尔德 / 萨姆·沃辛顿 / 文斯·沃恩 / 雨果·维文 / 卢克·布雷西 / 泰莉莎·帕尔墨 / 瑞切尔·格里菲斯 / 内森奈尔·布佐里克 / 理查德·劳斯伯格 / 马特·纳夫莱 / 费拉斯·迪拉尼 / 瑞安·柯尔 / 卢克·佩格勒 / 詹姆斯·麦凯 / 罗伯特·摩根 / 麦克·西斯比 / 拉斐尔·杜布瓦 / 托马斯·昂格 / 米洛·吉布森 / 亚当·鲍斯 / 赫尔穆特·巴凯蒂斯 / 戈兰·D·克鲁特 / 哈里·格林伍德 / 本·奥图尔 / 澳大利亚 / 美国 / www.hacksawridge.movie/ / 梅尔·吉布森 / 139分钟(中国大陆) / 140分钟(美国) / 血战钢锯岭 / 剧情 / 传记 / 历史 / 战争 / 安德鲁·奈特 Andrew Knight / 罗伯特·申坎 Robert Schenkkan / 英语 / 日语</li>
                    <li>
                        <span class="date">2016-12-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">这尼玛是恐怖片吧</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26325320" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26325320:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Sully" href="javascript:void(0)" class="nbg">
                    <img alt="Sully" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2363503306.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>萨利机长 / Sully</em>
                             / 萨利机长：迫降奇迹(港) / 萨利机长：哈德逊奇迹(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-09-09(美国) / 2016-12-09(中国大陆) / 汤姆·汉克斯 / 艾伦·艾克哈特 / 劳拉·琳妮 / 杰瑞·费拉拉 / 安娜·冈 / 奥图姆·瑞瑟 / 霍特·麦克卡兰尼 / 克里斯·鲍尔 / 杰米·谢尔丹 / 安·库萨克 / 莫莉·哈根 / 马克斯·阿德勒 / 萨姆·亨廷顿 / 韦恩·巴斯楚普 / 维勒莉·玛哈菲 / 凯蒂·柯丽克 / 杰夫·科伯 / 莫莉·伯纳德 / 库珀·索恩顿 / 维布尔·弗利茨杰拉德 / 杰弗里·诺灵 / 帕奇·德拉奇 / 布雷特·赖斯 / E·罗杰·米切尔 / 罗伯特·普拉尔戈 / 迈克尔·拉帕波特 / 普鲁瓦·贝迪 / 克里斯托弗·柯里 / 因德尔·库马尔 / 加里·维克斯 / 特雷西·齐默 / 迈克·奥麦利 / 美国 / www.sully-movie.com / 克林特·伊斯特伍德 / 96分钟 / 萨利机长 / 剧情 / 传记 / 托德·考马尔尼基 Todd Komarnicki / 切斯利·舒伦伯格 Chesley Sullenberger / 杰弗里·札斯洛 Jeffrey Zaslow / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2016-12-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">云淡风轻的一句幽默可以四两拨千斤</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26416603" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26416603:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Captain Fantastic" href="javascript:void(0)" class="nbg">
                    <img alt="Captain Fantastic" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2341555072.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>神奇队长 / Captain Fantastic</em>
                             / 神奇虎爸(港) / 神奇大队长(台)
                        </a>
                    </li>
                        <li class="intro">2016-01-23(圣丹斯电影节) / 2016-07-08(美国) / 维果·莫腾森 / 乔治·麦凯 / 萨曼莎·伊斯莱尔 / 安娜丽丝·巴索 / 尼古拉斯·汉密尔顿 / 席瑞·克鲁克斯 / 查理·肖特韦尔 / 崔恩·米勒 / 凯瑟琳·哈恩 / 斯蒂夫·扎恩 / 以利亚·史蒂文森 / 泰迪·范·依 / 艾琳·莫里亚蒂 / 米西·派勒 / 弗兰克·兰格拉 / 路易·霍布森 / 美国 / www.bleeckerstreetmedia.com/captainfantastic / 马特·罗斯 / 118分钟 / 神奇队长 / 剧情 / 喜剧 / 家庭 / 马特·罗斯 Matt Ross / 英语 / 世界语 / 汉语普通话</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2016-12-04</span>
                        
                    </li>
                    <li>
                        <span class="comment">双向讽刺</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25834735" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25834735:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="荼蘼" href="javascript:void(0)" class="nbg">
                    <img alt="荼蘼" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2385878851.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>荼蘼</em>
                             / 植剧场之荼蘼 / Life Plan A and B
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-10-07(中国台湾) / 杨丞琳 / 颜毓麟 / 路斯明 / 张复建 / 陈季霞 / 张耀仁 / 谢盈萱 / 刘冠廷 / 吴岳擎 / 林意箴 / 范宸菲 / 徐钧浩 / 江常辉 / Tang-Yu Mok / 中国台湾 / www.ttv.com.tw/drama16/Qseries/lifeplanAandB/default.asp / 王小棣 / 黄天仁 / 90分钟 / 剧情 / 爱情 / 徐誉庭 Mag Hsu / 汉语普通话</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2016-11-29</span>
                        
                    </li>
                    <li>
                        <span class="comment">哪有什么最佳方案，走着瞧！明早吃泡面😪</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26785286" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26785286:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Westworld" href="javascript:void(0)" class="nbg">
                    <img alt="Westworld" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2403347953.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>西部世界 第一季 / Westworld Season 1</em>
                             / 西方极乐园
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-10-02(美国) / 埃文·蕾切尔·伍德 / 安东尼·霍普金斯 / 艾德·哈里斯 / 坦迪·牛顿 / 杰弗里·怀特 / 吉米·辛普森 / 詹姆斯·麦斯登 / 本·巴恩斯 / 英格丽德·波尔索·贝达尔 / 卢克·海姆斯沃斯 / 西瑟·巴比特·科努德森 / 安吉拉·萨拉弗安 / 珊农·沃德华德 / 西蒙·夸特曼 / 小克利夫顿·克林斯 / 罗德里戈·桑托罗 / 奥利弗·贝尔 / 莱昂纳多·吴 / 詹姆斯·兰德里·赫伯特 / 路易斯·赫特哈姆 / 杰弗里·丹尼尔·菲利普斯 / 泰莎·汤普森 / 米兰达·奥图 / 库里·格拉汉姆 / 凯尔·柏海莫 / 凯姬·迈克拉瑞 / 奥利维亚·梅 / 杰姬·摩尔 / 妲露拉·莱莉 / 史蒂文·奥格 / 罗比·史密斯 / 乔什·克拉克 / 梅森·麦卡利 / 布兰登·范弗利特 / 莉娜·乔格斯 / 吉米·索瑞茜莉 / 布拉德福德·塔图姆 / 妮娅·金斯利 / 韦德·威廉姆斯 / 迈克尔·凯斯 / 迪兰·科宁 / 丽丽·博尔丹 / 安德鲁·康斯坦丁尼 / 达瑞尔·切尔尼 / 卡尔·L·桑德斯 / 莉莉·西蒙斯 / 博亚娜·诺瓦科维奇 / 米奇·西罗亚 / 美国 / www.hbo.com/westworld / 乔纳森·诺兰 / 强尼·坎贝尔 / 理查德·J·刘易斯 / 米歇尔·麦克拉伦 / 尼尔·马歇尔 / 文森佐·纳塔利 / 弗雷德·托耶 / 斯蒂芬·威廉姆斯 / 西部世界 / 60分钟 / 西部世界 / 科幻 / 西部 / 乔纳森·诺兰 Jonathan Nolan / 丽莎·乔·诺兰 Lisa Joy Nolan / 迈克尔·克莱顿 Michael Crichton / 爱德·布鲁贝克 Ed Brubaker / 多米尼克·米切尔 Dominic Mitchell / Halley Wegryn Gross / Charles Yu / Dan Dietz / Kath Lingenfelter / Daniel T. Thomsen / 英语</li>
                    <li>
                        <span class="date">2016-11-27</span>
                        
                    </li>
                    <li>
                        <span class="comment">玩弄人的情感，死了生生了死的真没劲，感觉比黑镜差太多，怎么就评分这么高</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2338055" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2338055:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Fantastic Beasts and Where to Find Them" href="javascript:void(0)" class="nbg">
                    <img alt="Fantastic Beasts and Where to Find Them" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2392444121.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>神奇动物在哪里 / Fantastic Beasts and Where to Find Them</em>
                             / 怪兽与它们的产地(港/台) / 神奇生物在哪里
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-11-18(美国) / 2016-11-18(英国) / 2016-11-25(中国大陆) / 埃迪·雷德梅恩 / 凯瑟琳·沃特斯顿 / 丹·福勒 / 艾莉森·萨多尔 / 科林·法瑞尔 / 埃兹拉·米勒 / 朗·普尔曼 / 强·沃特 / 萨曼莎·莫顿 / 嘉玛·陈 / 卡门·艾乔戈 / 克里斯汀·马扎诺 / 詹·穆瑞 / 约翰尼·德普 / 芙洛·费拉科 / 埃里克·海登 / 费丝·伍德-布拉格罗夫 / 露西波尔 / 克里斯蒂·梅尔 / 布莱恩F.穆尔维 / 所罗门·塔伊沃·贾斯提费尔德 / 克里斯蒂安·索利诺 / 丹·哈达亚 / 多米尼克·蒂珀 / 凯文·格思里 / 罗南·拉夫特瑞 / 乌米·马萨库 / 阿金·加齐 / 英国 / 美国 / 大卫·叶茨 / 133分钟 / 神奇动物在哪里 / 剧情 / 奇幻 / 冒险 / J·K·罗琳 J.K. Rowling / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2016-11-26</span>
                        
                    </li>
                    <li>
                        <span class="comment">第一次坐第四排看，感觉不一样的视觉体验，虽然脖子有点累……</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25726614" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25726614:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Kubo and the Two Strings" href="javascript:void(0)" class="nbg">
                    <img alt="Kubo and the Two Strings" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2411608656.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>魔弦传说 / Kubo and the Two Strings</em>
                             / 久保与二弦琴 / 酷宝：魔弦传说(台)
                        </a>
                    </li>
                        <li class="intro">2016-08-19(美国) / 2017-01-13(中国大陆) / 查理兹·塞隆 / 马修·麦康纳 / 拉尔夫·费因斯 / 阿特·帕金森 / 鲁妮·玛拉 / 武井乔治 / 田川洋行 / 野路美苗 / 布伦达·瓦卡罗 / 肯·竹本 / 瑞金娜·斯派克特 / 美国 / www.kubothemovie.com / 特拉维斯·奈特 / 102分钟 / 魔弦传说 / 动画 / 奇幻 / 冒险 / 马克·海姆斯 Marc Haimes / 克里斯·巴特勒 Chris Butler / 英语</li>
                    <li>
                        <span class="date">2016-11-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">外国版的宝莲灯🙄</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26287884" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26287884:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Bad Moms" href="javascript:void(0)" class="nbg">
                    <img alt="Bad Moms" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2342879096.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>坏妈妈 / Bad Moms</em>
                             / C奶同学会(港) / 阿姐万万醉(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-07-29(美国) / 米拉·库尼斯 / 凯瑟琳·哈恩 / 克里斯汀·贝尔 / 克里斯蒂娜·艾伯盖特 / 贾达·萍克·史密斯 / 安妮·玛莫罗 / 乌娜·劳伦斯 / 恩杰伊·安东尼 / 大卫·瓦尔顿 / 克拉克·杜克 / 杰伊·埃尔南德斯 / 维德尔·皮尔斯 / 莉亚·麦肯德里克 / 梅根·弗格森 / 莱尔·布罗卡托 / 旺达·塞克丝 / 凯德·曼斯菲尔德·库克西 / J·J·瓦特 / 安·马奥尼 / 萨曼莎·博利厄 / 唐娜·杜普兰提尔 / 克莉丝缇娜·德萝莎 / 扬·费尔德曼 / 杰伦·摩尔 / 莎拉·凯特·阿尔萨普 / 朱莉娅·霍特 / 尤金娜·库日敏娜 / 杰·贾巴隆斯基 / 尼娜·米林 / 美国 / 乔恩·卢卡斯 / 斯科特·摩尔 / 101分钟 / 坏妈妈 / 喜剧 / 乔恩·卢卡斯 Jon Lucas / 斯科特·摩尔 Scott Moore / 英语</li>
                    <li>
                        <span class="date">2016-11-21</span>
                        
                    </li>
                    <li>
                        <span class="comment">夸张了吧……</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26385940" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26385940:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=510&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./31.html">32</a>
        
                
            <a href="./32.html">33</a>
        
                
            <a href="./33.html">34</a>
        
                
            <a href="./34.html">35</a>
        
                <span class="thispage" data-total-page="62">36</span>
                
            <a href="./36.html">37</a>
        
                
            <a href="./37.html">38</a>
        
                
            <a href="./38.html">39</a>
        
                
            <a href="./39.html">40</a>
        
            <span class="break">...</span>
                
            <a href="./60.html">61</a>
        
            <a href="./61.html">62</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=540&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"><img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">我的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-699758d69-rqtqr-->

  <script>_SPLITTEST=''</script>





</body></html>