<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "24c0273c3dcbee33d2e46a2481a0a6e36b81b7e1",
    SSE_TIMESTAMP: "1640990624",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                541-555&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Miss Peregrine's Home for Peculiar Children" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>佩小姐的奇幻城堡 / Miss Peregrine's Home for Peculiar Children</em>
                             / 怪屋女孩 / 怪奇孤儿院(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-09-30(美国) / 2016-12-02(中国大陆) / 阿萨·巴特菲尔德 / 伊娃·格林 / 塞缪尔·杰克逊 / 朱迪·丹奇 / 艾拉·珀内尔 / 克里斯·奥多德 / 金·迪肯斯 / 艾莉森·珍妮 / 劳伦·麦克罗斯蒂 / 特伦斯·斯坦普 / 鲁伯特·艾弗雷特 / 芬利·麦克米伦 / 艾拉·瓦勒斯泰特 / 米洛·帕克 / 匹克西·戴夫斯 / 澳澜·琼斯 / 路易斯·戴维森 / 乔治娜·彭伯顿 / 拉菲拉·查普曼 / 托马斯·奥德维尔 / 约瑟夫·奥德维尔 / 尼古拉斯·奥特利 / 艾登·佛洛维斯 / 斯科特·汉迪 / 肖恩·托马斯 / 巴德莉亚·提米米 / Hayden Keeler-Stone / 卡梅隆·金 / 蒂姆·波顿 / 美国 / www.foxmovies.com/movies/miss-peregrines-home-for-peculiar-children / 蒂姆·波顿 / 127分钟 / 126分钟(中国大陆) / 佩小姐的奇幻城堡 / 剧情 / 奇幻 / 冒险 / 简·古德曼 Jane Goldman / 兰塞姆·里格斯 Ransom Riggs / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2016-10-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">少年版的x战警，不过很好看，尤其是后半段，因为前半段我睡着了……</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Der geilste Tag" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>最爽的一天 / Der geilste Tag</em>
                             / 最酷的一天(台) / The Most Beautiful Day
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-02-25(德国) / 马提亚斯·施维赫夫 / 弗洛里安·大卫·菲茨 / 赖纳·博克 / 拉斯·多普勒 / 安德亚斯·杜伯斯 / 杰克·希尔 / 亚历山德拉·玛丽亚·拉娜 / 弗莱德雷克·林克曼 / 罗伯特·尼基施 / 卡洛琳·拉普 / 罗比特·舒阿普 / 塔蒂娅·赛布特 / 玛丽亚·沃斯 / 诺拉·伯克勒 / 德国 / 弗洛里安·大卫·菲茨 / 113分钟 / 最爽的一天 / 剧情 / 喜剧 / 弗洛里安·大卫·菲茨 Florian David Fitz / 德语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2016-10-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">如果你现在死了有遗憾么？</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Now You See Me 2" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>惊天魔盗团2 / Now You See Me 2</em>
                             / 非常盗2(港) / 出神入化2(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-06-10(美国) / 2016-06-24(中国大陆) / 杰西·艾森伯格 / 马克·鲁弗洛 / 伍迪·哈里森 / 戴夫·弗兰科 / 丹尼尔·雷德克里夫 / 丽兹·卡潘 / 周杰伦 / 桑娜·莱瑟 / 迈克尔·凯恩 / 摩根·弗里曼 / 大卫·沃肖夫斯基 / 周采芹 / 理查德·莱恩 / 亨利·劳埃德-休斯 / 本·兰博 / 萨凡纳·古斯瑞 / 李镇男 / 路易斯·罗萨多 / 黄芬芬 / 黄竣锋 / 马丁·德兰尼 / 迪诺·费切尔 / 吉姆·皮里 / Missy Malek / 美国 / www.nowyouseeme.movie/ / 朱浩伟 / 130分钟 / 惊天魔盗团2 / 剧情 / 犯罪 / 悬疑 / 艾德·索罗门 Ed Solomon / 彼得·基亚雷利 Pete Chiarelli / 鲍兹·亚金 Boaz Yakin / 爱德华·里科 Edward Ricourt / 英语 / 汉语普通话 / 粤语</li>
                    <li>
                        <span class="date">2016-10-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">飞机上的屏幕又小又画质不好🙄</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Le peuple migrateur" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>迁徙的鸟 / Le peuple migrateur</em>
                             / 鸟的迁徙 / 鸟与梦飞行
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2001-12-12(法国) / 雅克·贝汉 / 菲利普·拉布罗 / 法国 / 德国 / 意大利 / 西班牙 / 瑞士 / 雅克·贝汉 / 雅克·克鲁奥德 / 米歇尔·德巴 / 98分钟(法国) / 81分钟(多伦多电影节) / 89分钟(美国) / 92分钟(阿根廷) / 迁徙的鸟 / 纪录片 / Francis Roux / 雅克·贝汉 Jacques Perrin / Stéphane Durand / Jean Dorst / Guy Jarry / 法语</li>
                    <li>
                        <span class="date">2016-09-26</span>
                        
                    </li>
                    <li>
                        <span class="comment">看起来是这样的，动物只需要考虑两件事，生存和生殖。
配乐真好听，tomorrow I will fly i i i i</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Océans" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>海洋 / Océans</em>
                             / Oceans / 海洋
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-10-17(东京电影节) / 2010-01-27(法国) / 2011-08-12(中国大陆) / 皮尔斯·布鲁斯南 / 小佩德罗·阿门达里斯 / 雅克·贝汉 / 宫泽理惠 / 马蒂亚斯·勃兰特 / 阿尔多 / 兰斯洛特·佩林 / Manolo Garcia / 姜文 / 法国 / 瑞士 / 西班牙 / 美国 / 阿联酋 / 摩纳哥 / www.oceans-lefilm.com / 雅克·贝汉 / 雅克·克鲁奥德 / 104分钟(法国) / 84分钟(美国) / 100分钟(德国) / 86分钟(阿根廷) / 海洋 / 纪录片 / 克里斯托夫·谢松 Christophe Cheysson / 雅克·克鲁奥德 Jacques Cluzaud / 洛朗·德巴 Laurent Debas / 斯特凡纳·迪朗 Stéphane Durand / 洛朗·戈德 Laurent Gaudé / 雅克·贝汉 Jacques Perrin / 弗朗索瓦·萨兰诺 François Sarano / 法语</li>
                    <li>
                        <span class="date">2016-09-26</span>
                        
                    </li>
                    <li>
                        <span class="comment">我喜欢平静的水，我恐惧躁动的水。但，水就是水。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Les saisons" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>地球四季 / Les saisons</em>
                             / 四季 / 欢乐季节
                        </a>
                    </li>
                        <li class="intro">2015-10-23(东京国际电影节) / 2016-01-27(法国) / 2016-09-27(中国大陆) / 黄晓明 / 蒋雯丽 / 法国 / 德国 / 雅克·贝汉 / 雅克·克鲁奥德 / 97分钟 / 地球四季 / 纪录片 / 雅克·贝汉 Jacques Perrin / 雅克·克鲁奥德 Jacques Cluzaud / 法语 / 德语</li>
                    <li>
                        <span class="date">2016-09-26</span>
                        
                    </li>
                    <li>
                        <span class="comment">第一次影院看首映。配乐真好听。。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="七月与安生" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>七月与安生</em>
                             / SoulMate / Soul Mate
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-09-14(中国大陆) / 2016-10-27(中国香港) / 周冬雨 / 马思纯 / 李程彬 / 李萍 / 蔡纲 / 蒙亭宜 / 沙全泽 / 姚欣言 / 李昊芳 / 蒋亭轩 / 陆忠 / 任可 / 中国大陆 / 中国香港 / 曾国祥 / 109分钟 / 剧情 / 爱情 / 林咏琛 Lam Wing Sum / 李媛 Yuan Li / 许伊萌 Yimeng Xu / 吴楠 Nan Wu / 汉语普通话</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2016-09-21</span>
                        
                    </li>
                    <li>
                        <span class="comment">电影比书饱满很多。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="부산행" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>釜山行 / 부산행</em>
                             / 尸杀列车(港) / 尸速列车(台)
                        </a>
                    </li>
                        <li class="intro">2016-05-13(戛纳电影节) / 2016-07-20(韩国) / 孔刘 / 郑有美 / 马东锡 / 金秀安 / 金义城 / 崔宇植 / 安昭熙 / 崔奎华 / 郑锡勇 / 艺秀晶 / 朴明申 / 张赫镇 / 禹都临 / 沈恩京 / 白仁权 / 南砚友 / 郑煐禥 / 李珠实 / 柳在勋 / 车清华 / 金在祿 / 金周宪 / 金旻錫 / 金永 / Han Sung-soo / 董允锡 / 金锦顺 / 金根英 / 郑西仁 / 延尚昊 / 柳成禄 / 金丹菲 / 金昌焕 / 张泰民 / 朴素贞 / 韩国 / 延尚昊 / 118分钟 / 釜山行 / 动作 / 惊悚 / 灾难 / 延尚昊 Sang-ho Yeon / 韩语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2016-09-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">好人和坏人都不会活下来，只有被有勇气有爱的人守护着才多了那么些生还的机会，如果最后那一枪开了，我明天就不吃饭了……</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Royal Tenenbaums" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>天才一族 / The Royal Tenenbaums</em>
                             / 癫才家族(港) / 特伦鲍姆一家
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2001-12-14 / 吉恩·哈克曼 / 安杰丽卡·休斯顿 / 本·斯蒂勒 / 格温妮斯·帕特洛 / 卢克·威尔逊 / 欧文·威尔逊 / 比尔·默瑞 / 丹尼·格洛弗 / 西摩·卡塞尔 / 库玛·帕拉纳 / 亚历克·鲍德温 / 格兰特·罗森梅耶 / 乔纳·梅耶森 / 阿拉姆·阿斯拉尼安-珀西科 / 艾琳·戈洛瓦娅 / 阿梅代奥·图尔图罗 / 雷克斯·罗宾斯 / Max Faugno / Tomm Bauer / Kaipo Schwab / Daniel Koenig / Blaze Kelly Coyle / 帕维尔德沃夏克 / 韦斯·安德森 / 斯蒂芬·利亚·谢博德 / 艾邦·摩斯-巴克拉赫 / 安德鲁·威尔逊 / 迪帕克·帕拉纳 / Donal Lardner Ward / 拉里·派恩 / Tom Lacy / Greg Goossen / Dimitri DeFresco / Gary Evans / Keith Charles / Michael Cuomo / 美国 / 韦斯·安德森 / 110 分钟 / 天才一族 / 剧情 / 喜剧 / 家庭 / 韦斯·安德森 Wes Anderson / 欧文·威尔逊 Owen Wilson / 英语</li>
                    <li>
                        <span class="date">2016-09-17</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Shaun of the Dead" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>僵尸肖恩 / Shaun of the Dead</em>
                             / 杠上活死人 / 笑死人凶间(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2004-04-09(英国) / 西蒙·佩吉 / 尼克·弗罗斯特 / 凯特·阿什菲尔德 / 露茜·戴维斯 / 迪兰·莫兰 / 佩内洛普·威尔顿 / 比尔·奈伊 / 杰西卡·海因斯 / 彼得·塞拉菲诺威茨 / 拉菲·斯波 / 马丁·弗瑞曼 / 里斯·谢尔史密斯 / 塔姆辛·格雷格 / 马克·加蒂斯 / 马特·卢卡斯 / 大卫·威廉姆斯 / 克里斯·马汀 / 约翰·巴克兰德 / 尼古拉·坎宁安 / 基尔·米尔斯 / 马特·杰恩斯 / 加文·弗格森 / 霍顿·朱庇特 / 蒂姆·巴格雷 / 阿尔温德·多希 / 索奈尔·达卓 / Trisha Goddard / 克里斯南·古鲁-莫西 / Carol Barnes / 弗农·凯伊 / 马克·多诺万 / 朱丽亚·迪金 / Keith Chegwin / 露西·阿科斯特 / 彼得·贝恩汉姆 / 罗伯·布莱顿 / 安东尼娅·坎贝尔-休斯 / Chris Clarke / 乔·考尼什 / 朱莉娅·戴维斯 / 大卫·威廉·詹姆斯·埃利奥特 / 拉塞尔·霍华德 / 加斯·詹宁斯 / Rich Johnston / 保罗·凯耶 / Jason McDonald / Robert Popper / 保罗·普特纳 / 彼得·雷尼克 / 迈克尔·史麦利 / Dave Smith / 菲利普·斯波 / David Spratt / Kenneth Thompson Marchesi / Ben Thompson / Julianne Watling / 埃德加·赖特 / 英国 / 法国 / 埃德加·赖特 / 99 分钟 / 僵尸肖恩 / 喜剧 / 恐怖 / 西蒙·佩吉 Simon Pegg / 埃德加·赖特 Edgar Wright / 英语</li>
                    <li>
                        <span class="date">2016-09-17</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Wiener-Dog" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>腊肠狗 / Wiener-Dog</em>
                             / 腊肠狗四围走（港）
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-01-22(圣丹斯电影节) / 2016-06-24(美国) / 佐莎·马梅特 / 丹尼·德维托 / 格蕾塔·葛韦格 / 艾伦·伯斯汀 / 朱莉·德尔佩 / 基南·卡尔金 / 查理·塔汉 / 崔西·莱茨 / 戴文·德鲁伊 / 崔·杰拉尔德 / 迈克尔·詹姆斯·肖 / 科特·图尔顿 / 萨马拉·查卡拉蒂 / 安娜·巴瑞辛尼科夫 / 基顿·奈杰尔·库克 / 美国 / 托德·索伦兹 / 90分钟 / 腊肠狗 / 剧情 / 喜剧 / 托德·索伦兹 Todd Solondz / 英语</li>
                    <li>
                        <span class="date">2016-09-16</span>
                        
                    </li>
                    <li>
                        <span class="comment">oh</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="危城" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>危城</em>
                             / 危城歼霸 / 夕阳武士
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-08-12(中国大陆) / 刘青云 / 古天乐 / 彭于晏 / 吴京 / 袁泉 / 江疏影 / 廖启智 / 释彦能 / 姜皓文 / 吴廷烨 / 洪天照 / 孙蛟龙 / 李菁 / 马志威 / 罗浩铭 / 张竣杰 / 王礴 / 尼利特龙 / 刘嘉艺 / 谢宁 / 萧松原 / 洪金宝 / 甘智勤 / 王宇 / 张浩 / 祁高坤 / 中国大陆 / 中国香港 / 陈木胜 / 120分钟 / 剧情 / 动作 / 犯罪 / 武侠 / 古装 / 陈木胜 Benny Chan / 王道 / 谭惠贞 Wai-ching Tam / 唐耀良 Yaoliang Tang / 简怡珏 / 汉语普通话</li>
                    <li>
                        <span class="date">2016-09-16</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Florence Foster Jenkins" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>跑调天后 / Florence Foster Jenkins</em>
                             / 走音歌后(港) / 走音天后(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-05-06(英国) / 梅丽尔·斯特里普 / 休·格兰特 / 丽贝卡·弗格森 / 西蒙·赫尔伯格 / 内芙·加切夫 / 妮娜·阿里安达 / 大卫·海格 / 克里斯蒂安·麦凯 / 大卫·曼金 / 豪尔赫·莱昂·马丁内斯 / 约翰·卡瓦纳 / 马克·阿诺德 / 蒂利亚纳·布克丽瓦 / 席德·菲尼克斯 / 考兰·伯恩 / 格雷戈·洛基特 / 卡梅隆·卡夫 / 达尔·达什 / 艾略特·利维 / 大卫·米尔斯 / 玛丽·伯格 / 芙洛·费拉科 / 斯蒂芬妮·莱恩 / 乔治娜·莫顿 / 罗茜·本杰明 / 阿依达·嘉丽弗莉娜 / 梅德雷妮·奈特 / 滕吉·卡斯姆 / 丹尼·马哈尼 / 小比利·格里芬 / 乔什·奥康纳 / 保拉·戴安尼索提 / 所罗门·塔伊沃·贾斯提费尔德 / 查尔斯·斯特里特 / 英国 / www.florencefosterjenkinsmovie.com / 斯蒂芬·弗雷斯 / 110分钟 / 跑调天后 / 剧情 / 喜剧 / 传记 / 音乐 / 尼古拉斯·马丁 Nicholas Martin / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2016-09-14</span>
                        
                    </li>
                    <li>
                        <span class="comment">是真跑调。。在某人眼里，真的是你的开心和快乐比什么都重要，努力找到这个人。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Hateful Eight" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>八恶人 / The Hateful Eight</em>
                             / 冰天血地8恶人(港) / 可憎八人
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-12-07(洛杉矶首映) / 2015-12-30(美国) / 塞缪尔·杰克逊 / 库尔特·拉塞尔 / 詹妮弗·杰森·李 / 沃尔顿·戈金斯 / 德米安·比齐尔 / 蒂姆·罗斯 / 迈克尔·马德森 / 布鲁斯·邓恩 / 詹姆士·帕克斯 / 查宁·塔图姆 / 丹娜·格瑞尔 / 佐伊·贝尔 / 李·霍斯利 / 昆汀·塔伦蒂诺 / 克雷格·斯塔克 / 德尼·梅诺谢 / 詹姆斯·瑞马尔 / 美国 / thehatefuleight.com / 昆汀·塔伦蒂诺 / 168分钟(数字版) / 182分钟(胶片版) / 210分钟(加长版) / 八恶人 / 剧情 / 犯罪 / 西部 / 昆汀·塔伦蒂诺 Quentin Tarantino / 英语 / 法语 / 西班牙语</li>
                    <li>
                        <span class="date">2016-09-11</span>
                        
                    </li>
                    <li>
                        <span class="comment">看不懂</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Honey 3" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>热舞甜心3 / Honey 3</em>
                             / 甜心辣舞 3
                        </a>
                    </li>
                        <li class="intro">2016-09-06(美国) / 德娜·卡普兰 / 肯尼·沃莫尔德  / 美国 / 97分钟 / 热舞甜心3 / 家庭 / Catherine Cyran / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2016-09-06</span>
                        
                    </li>
                    <li>
                        <span class="comment">现场看会怎样？认识这样一群人会怎样？生活在这样一种文化里呢？融入到这种文化里呢？好喜欢！！！！！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=525&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./32.html">33</a>
        
                
            <a href="./33.html">34</a>
        
                
            <a href="./34.html">35</a>
        
                
            <a href="./35.html">36</a>
        
                <span class="thispage" data-total-page="61">37</span>
                
            <a href="./37.html">38</a>
        
                
            <a href="./38.html">39</a>
        
                
            <a href="./39.html">40</a>
        
                
            <a href="./40.html">41</a>
        
            <span class="break">...</span>
                
            <a href="./59.html">60</a>
        
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=555&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-9b78b-->

  <script>_SPLITTEST=''</script>





</body></html>