<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "24c0273c3dcbee33d2e46a2481a0a6e36b81b7e1",
    SSE_TIMESTAMP: "1640990624",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                571-585&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="The Good Dinosaur" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>恐龙当家 / The Good Dinosaur</em>
                             / 恐龙大时代(港) / 美好的恐龙世界
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-11-25(美国) / 雷蒙德·奥乔亚 / 杰克·布赖特 / 杰弗里·怀特 / 斯蒂夫·扎恩 / A·J·巴克利 / 安娜·帕奎因 / 山姆·艾里奥特 / 弗兰西斯·麦克多蒙德 / 马库斯·斯克里布纳 / 彼得·孙 / 史蒂文·克雷·亨特 / 杰克·麦格劳 / 美国 / movies.disney.com/the-good-dinosaur / 彼得·孙 / 93分钟 / 恐龙当家 / 喜剧 / 动画 / 冒险 / 家庭 / 鲍勃·彼德森 Bob Peterson / 彼得·孙 Peter Sohn / 埃里克·本森 Erik Benson / 梅格·勒福夫 Meg LeFauve / 凯尔西·曼 Kelsey Mann / 彼得·赫奇斯 Peter Hedges / 阿德里安·莫利纳 Adrian Molina / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2016-08-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">应该叫恐龙回家吧。。最后那两滴泪，╮(╯▽╰)╭</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="ドラえもん 新・のび太の日本誕生" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>哆啦A梦：新·大雄的日本诞生 / ドラえもん 新・のび太の日本誕生</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-03-05(日本) / 2016-07-22(中国大陆) / 水田山葵 / 大原惠美 / 嘉数由美 / 木村昴 / 关智一 / 三石琴乃 / 松本保典 / 竹内都子 / 藤本千秋 / 白石凉子 / 下和田裕贵 / 伊东美弥子 / 甲斐田幸 / 矢田稔 / 石井康嗣 / 大西健晴 / 久川绫 / 福井美树 / 庆长佑香 / 武田幸史 / 家中宏 / 棚桥弘至 / 小岛义雄 / 大塚芳忠 / 叮当 / 沈念如 / 陈美贞 / 林美秀 / 佟心竹 / 日本 / doraeiga.com/2016/ / 八锹新之介 / 104分钟 / 哆啦A梦：新·大雄的日本诞生 / 动画 / 八锹新之介 Shinnosuke Yakuwa / 藤子·F·不二雄 F. Fujio Fujiko / 日语</li>
                    <li>
                        <span class="date">2016-08-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">如果给你一台时光机，你会想去哪？</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="三人行" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>三人行</em>
                             / Three
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-06-24(中国大陆) / 2016-06-30(中国香港) / 古天乐 / 钟汉良 / 卢海鹏 / 林雪 / 张兆辉 / 谢天华 / 洪天明 / 黄浩然 / 龚慈恩 / 王梓轩 / 欧锦棠 / 何果轩 / 詹秉熙 / 菁玮 / 朱健钧 / 杨尚斌 / 安小龙 / 麦子乐 / 施祖男 / 黄芷晴 / 张国强 / 吴嘉星 / 陈郁宪 / 周祉君 / 陈佩思 / 莫小彤 / 马赛 / 赵永洪 / 谭玉瑛 / 中国大陆 / 中国香港 / 杜琪峰 / 90分钟 / 剧情 / 动作 / 犯罪 / 游乃海 Nai-Hoi Yau / 刘浩良 Ho Leung Lau / 麦天枢 Tin Shu Mak / 汉语普通话 / 粤语 / 英语</li>
                    <li>
                        <span class="date">2016-07-25</span>
                        
                    </li>
                    <li>
                        <span class="comment">钟汉良又帅出了新高度……稀饭...</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Legend of Tarzan" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>泰山归来：险战丛林 / The Legend of Tarzan</em>
                             / 新人猿泰山 / 泰山归来：人猿大战
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-07-01(美国) / 2016-07-19(中国大陆) / 亚历山大·斯卡斯加德 / 玛格特·罗比 / 塞缪尔·杰克逊 / 克里斯托弗·瓦尔兹 / 杰曼·翰苏 / 艾拉·珀内尔 / 西蒙·拉塞尔·比尔 / 宾利·卡鲁 / 特蕾莎·邱吉尔 / 卡利·内勒 / 吉姆·布劳德本特 / 奥赛·伊克希尔 / 本·卓别林 / 吉娜薇·欧瑞丽 / 劳伦斯·斯佩尔曼 / 悉尼·拉利特索尔 / 尤尔·马西滕 / 米米·迪韦尼 / 哈德利·弗雷泽 / 理查德·班克斯 / 英国 / 加拿大 / 美国 / 澳大利亚 / legendoftarzan.com / 大卫·叶茨 / 110分钟 / 泰山归来：险战丛林 / 动作 / 冒险 / 埃德加·赖斯·巴勒斯 Edgar Rice Burroughs / 斯图尔特·贝亚蒂耶 Stuart Beattie / 克雷格·布鲁尔 Craig Brewer / 约翰·科里 John Collee / 亚当·科扎德 Adam Cozad / 英语 / 林加拉语 / 法语</li>
                    <li>
                        <span class="date">2016-07-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">雕刻的肌肉，好想拥有。。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Finding Nemo" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>海底总动员 / Finding Nemo</em>
                             / 海底奇兵(港) / 寻找尼莫
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2003-05-30(美国) / 2003-07-30(中国大陆) / 艾伯特·布鲁克斯 / 艾伦·德杰尼勒斯 / 亚历山大·古尔德 / 威廉·达福 / 布拉德·加内特 / 艾莉森·珍妮 / 奥斯汀·潘德尔顿 / 斯蒂芬·鲁特 / 薇姬·刘易斯 / 乔·兰福特 / 杰弗里·拉什 / 安德鲁·斯坦顿 / 伊丽莎白·帕金斯 / Nicholas Bird / 鲍勃·彼德森 / 巴瑞·哈姆弗莱斯 / 艾瑞克·巴纳 / 布鲁斯·斯宾斯 / 比尔·亨特 / Jordan Ranft / 埃丽卡·贝克 / 埃里克·佩尔·沙利文 / 约翰·拉岑贝格 / 黄磊 / 张国立 / 徐帆 / 张致恒 / 任亚明 / 李恺悦 / 夏治世 / 美国 / 澳大利亚 / www.findingnemo.com / 安德鲁·斯坦顿 / 李·昂克里奇 / 100分钟 / 海底总动员 / 喜剧 / 动画 / 冒险 / 安德鲁·斯坦顿 Andrew Stanton / 鲍勃·彼德森 Bob Peterson / 大卫·雷诺兹 David Reynolds / 英语</li>
                    <li>
                        <span class="date">2016-07-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">人的思维模式</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Self/less" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>幻体：续命游戏 / Self/less</em>
                             / 非我 / 换命法则(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-07-10(美国) / 2016-05-12(中国大陆) / 瑞安·雷诺兹 / 本·金斯利 / 马修·古迪 / 娜塔丽·马丁内斯 / 米歇尔·道克瑞 / 德里克·卢克 / 维克多·加博 / 玛丽安娜·宝拉·韦森特 / 山姆·佩吉 / 特瑞·韦伯 / 格里夫·弗斯特 / 艾米莉·特里梅因 / 加里·维克斯 / 肖恩·保罗·布劳德 / 托马斯·弗兰西斯·墨菲 / 克雷·钱柏林 / 杰西卡·阿尔伯格 / 马库斯·里尔·布朗 / 道格拉斯·M·格里芬 / 梅罗拉·哈丁 / 桑德拉·埃利斯·拉弗蒂 / 美国 / selflessmovie.tumblr.com / 塔西姆·辛 / 117分钟 / 幻体：续命游戏 / 科幻 / 悬疑 / 惊悚 / 大卫·帕斯特尔 David Pastor / 亚历克斯·帕斯特尔 Àlex Pastor / 英语</li>
                    <li>
                        <span class="date">2016-07-18</span>
                        
                    </li>
                    <li>
                        <span class="comment">这哪里是科幻。。。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Mr. &amp; Mrs. Smith" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>史密斯夫妇 / Mr. &amp; Mrs. Smith</em>
                             / 史密斯行动 / 史密夫决战史密妻(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2005-06-07(加州首映) / 2005-06-10(美国) / 2005-07-08(中国大陆) / 布拉德·皮特 / 安吉丽娜·朱莉 / 文斯·沃恩 / 亚当·布罗迪 / 凯丽·华盛顿 / 凯斯·大卫 / 克里斯·韦兹 / 瑞秋·亨特利 / 米歇尔·莫纳汉 / 斯蒂芬妮·玛奇 / 詹妮弗·莫里森 / 特蕊萨·巴雷拉 / 佩瑞·里维斯 / 梅兰妮·托尔伯特 / 杰瑞·T·亚当斯 / 罗恩·博蒂塔 / 玛丽·斯奇塔姆 / 诺亚·达尔 / 克里斯·丹尼尔斯 / 帕特里卡·达博 / 特雷西·迪奥里奥 / 格雷格·埃利斯 / 梅根·加拉格尔 / 艾米·海瑟薇 / 拉维尔·伊斯亚诺夫 / 马克·伊瓦涅 / 西蒙·金伯格 / 德仁·莱罗伊 / 肖恩·马洪 / 乔丹·奥谢尔 / 伦纳德·罗宾逊 / 费利克斯·A·鲁伊斯 / 萨姆·萨巴 / 迈克尔-约翰·沃尔夫 / 杰夫·雅格 / 梅利莎·赫利 / 杰姬·兰德拉姆 / 马克·巴巴 / 安吉拉·贝塞特 / 威廉·菲克纳 / Shilo Frontierro / 路易斯·华雷斯 / 托尼·隆哥 / Bill Viney / Seth T. Walker / R·J·杜雷尔 / 美国 / 道格·里曼 / 120分钟 / 126分钟(导演剪辑版) / 史密斯夫妇 / 喜剧 / 动作 / 爱情 / 西蒙·金伯格 Simon Kinberg / 英语 / 西班牙语</li>
                    <li>
                        <span class="date">2016-07-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">帅爆了，lucia说浪漫🙈</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="百円の恋" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>百元之恋 / 百円の恋</em>
                             / 100円的爱(港) / 百圆之恋
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-10-25(东京电影节) / 2014-12-20(日本) / 安藤樱 / 新井浩文 / 稻川实代子 / 小出早织 / 宇野祥平 / 坂田聪 / 吉村界人 / 松浦慎一郎 / 伊藤洋三郎 / 重松収 / 根岸季衣 / 日本 / 100yen-koi.jp / 武正晴 / 113分钟 / 百元之恋 / 剧情 / 运动 / 足立绅 Shin Adachi / 日语</li>
                    <li>
                        <span class="date">2016-07-09</span>
                        
                    </li>
                    <li>
                        <span class="comment">反而很喜欢这个结局，太多电影喜好皆大欢喜了，却忘记了失败也是一种选择后的结果。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="大鱼海棠" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>大鱼海棠</em>
                             / 大海 / 大·海
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-07-08(中国大陆) / 季冠霖 / 苏尚卿 / 许魏洲 / 金士杰 / 杨婷 / 潘淑兰 / 九儿 / 王德顺 / 张媛媛 / 薛立方 / 姜广涛 / 张杰 / 马正阳 / 宝木中阳 / 刘校妤 / 雨宫天 / 千叶翔也 / 麦人 / 泽田敏子 / 佐佐木优子 / 中国大陆 / www.xxbt.com / 梁旋 / 张春 / 105分钟 / 剧情 / 动画 / 奇幻 / 梁旋 Xuan Liang / 汉语普通话</li>
                    <li>
                        <span class="date">2016-07-09</span>
                        
                    </li>
                    <li>
                        <span class="comment">典型的中国人画风... </span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Swindle" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>骗局 / Swindle</em>
                             / 骗中骗2013
                        </a>
                    </li>
                        <li class="intro">2013-08-24(美国) / 詹妮特·麦柯迪 / 诺亚·克劳福德 / Chris O'Neal / 席亚拉·博拉沃 / 爱莉安娜·格兰德 / 诺亚·芒克 / Fane Tse / 美国 / 乔纳森·扎治 / 92分钟(美国) / 骗局 / 喜剧 / 冒险 / Eric Freiser / Bill Motz / Bob Roth / 英语</li>
                    <li>
                        <span class="date">2016-06-27</span>
                        
                    </li>
                    <li>
                        <span class="comment">还不是因为你愿意给予显摆自己。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Independence Day: Resurgence" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>独立日2：卷土重来 / Independence Day: Resurgence</em>
                             / 独立日2 / 天煞-地球反击战2(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-06-24(中国大陆) / 2016-06-24(美国) / 利亚姆·海姆斯沃斯 / 杰夫·高布伦 / 麦卡·梦露 / 杰西·厄舍 / 比尔·普尔曼 / 夏洛特·甘斯布 / 特拉维斯·托普 / 杨颖 / 雪拉·渥德 / 威廉·菲克纳 / 贾德·赫希 / 布伦特·斯皮内 / 乔伊·金 / 薇薇卡·福克斯 / 麦肯娜·格瑞丝 / 道比·欧帕瑞 / 袁文忠 / 史蒂芬·布莱克史密斯 / 斯塔福德·道格拉斯 / 贝丝·贝利 / 黄芝琪 / 凯茜·梅瑟 / Ivan G'Vera / 约翰·斯托里 / 赵路 / 瑞恩·卡特赖特 / 乔尔·维里格尔 / 约书亚·米克尔 / 海斯·威尔弗德 / 加勒特·沃灵 / 罗伯特·劳吉亚 / 格本加·阿金纳格贝 / 帕特里克·圣埃斯普利特 / 泽博·桑德斯 / 黄经汉 / 美国 / 罗兰·艾默里奇 / 120分钟 / 独立日2：卷土重来 / 动作 / 科幻 / 冒险 / 罗兰·艾默里奇 Roland Emmerich / 迪安·德夫林 Dean Devlin / 尼古拉斯·莱特 Nicolas Wright / 詹姆斯·A·伍兹 James A. Woods / 詹姆斯·范德比尔特 James Vanderbilt / 卡特·布兰查德 Carter Blanchard / 英语 / 汉语普通话</li>
                    <li>
                        <span class="date">2016-06-25</span>
                        
                    </li>
                    <li>
                        <span class="comment">开森...</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Le roi et l'oiseau" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>国王与小鸟 / Le roi et l'oiseau</em>
                             / 国王与鸟 / The King and the Mockingbird
                        </a>
                    </li>
                        <li class="intro">1952-09(威尼斯电影节) / 1980-03-19(法国) / 让·马丹 / 帕斯卡尔·马佐蒂 / 雷蒙·比西埃尔 / 阿涅斯·维亚拉 / 勒诺·马克斯 / 于贝尔·德尚 / 罗热·布兰 / 菲利普·德雷 / 阿尔贝·梅迪纳 / 克洛德·皮埃普吕 / 利奥内尔·夏尔皮 / 雅克·科隆巴 / 罗贝尔·隆巴尔 / 让·梅尔梅 / 樊尚·蒙特罗贝尔 / 波佩克 / 皮埃尔·里施 / 布律诺·塞尔蒙 / 让·维姆内 / 让娜·维塔 / 童自荣 / 法国 / 保罗·格里莫尔 / 83分钟 / 87分钟(瑞典) / 81分钟(法国DVD版) / 国王与小鸟 / 动画 / 奇幻 / 雅克·普莱维尔 Jacques Prévert / 保罗·古里莫 Paul Grimault / 安徒生 Hans Christian Andersen / 法语</li>
                    <li>
                        <span class="date">2016-06-25</span>
                        
                    </li>
                    <li>
                        <span class="comment">没看懂...</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="おまえうまそうだな" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>你看起来好像很好吃 / おまえうまそうだな</em>
                             / 你看起来很好吃(台) / 你看上去好像很好吃
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2010-10-16(日本) / 山口胜平 / 爱河里花子 / 加藤清史郎 / 原田知世 / 川岛得爱 / 折笠富美子 / 桐本拓哉 / 别所哲也 / 矢田稔 / 川村万梨阿 / 高乃丽 / 小室正幸 / 江川央生 / 志村知幸 / 胜沼纪义 / 井田国男 / 宫西达也 / 宫西美奈子 / 日本 / www.umasoudana.com / 藤森雅也 / 90分钟 / 你看起来好像很好吃 / 剧情 / 动画 / 儿童 / 村上修 Osamu Murakami / 神野博明 Hiroaki Jinno / 宫西达也 Tatsuya Miyanishi / 日语 / 加藤清史郎 / 原田知世 / 山口勝平 / 别所哲也</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2016-06-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">丑萌丑萌的👽</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Divergent Series: Allegiant" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>分歧者3：忠诚世界 / The Divergent Series: Allegiant</em>
                             / 赤诚者･末世醒觉(港) / 分歧者3：赤诚者(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-03-08(曼谷首映) / 2016-03-18(美国) / 2016-05-20(中国大陆) / 谢琳·伍德蕾 / 西奥·詹姆斯 / 杰夫·丹尼尔斯 / 奥克塔维亚·斯宾瑟 / 雷·史蒂文森 / 佐伊·克罗维兹 / 迈尔斯·特勒 / 安塞尔·艾尔高特 / 李美琪 / 比尔·斯卡斯加德 / 娜奥米·沃茨 / 乔尼·维斯顿 / 考特尼·霍普 / 安妮斯顿·普莱斯 / 婷斯莉·普莱斯 / 大卫·安 / 金大贤 / 凯南·朗斯代尔 / 卡莱卡 / 珍妮·麦克蒂尔 / 约瑟夫·戴维-琼斯 / 梅奇·费法 / 本-莱文 / 帕里萨·庄士敦 / 丽贝卡·彼得根 / 艾什莉·贾德 / 丹妮尔·林 / 安迪·比恩 / 乔顿卡尔文 / 迈克尔·比斯利 / 纳迪娅·希尔克 / 齐科·扎基 / 奥图姆·戴尔 / 美国 / www.thedivergentseries.movie/ / 罗伯特·斯文克 / 121分钟 / 分歧者3：忠诚世界 / 动作 / 科幻 / 冒险 / 诺亚·奥本海姆 Noah Oppenheim / 亚当·库珀 Adam Cooper / 比尔·科拉奇 Bill Collage / 维罗尼卡·罗斯 Veronica Roth / 英语</li>
                    <li>
                        <span class="date">2016-06-23</span>
                        
                    </li>
                    <li>
                        <span class="comment">一言不合就要炸城池。。。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Insurgent" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>分歧者2：绝地反击 / Insurgent</em>
                             / 叛乱者·强权终结(港) / 分歧者2：叛乱者(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-03-11(伦敦首映) / 2015-03-20(美国) / 2015-06-19(中国大陆) / 谢琳·伍德蕾 / 西奥·詹姆斯 / 凯特·温丝莱特 / 奥克塔维亚·斯宾瑟 / 杰·科特尼 / 佐伊·克罗维兹 / 迈尔斯·特勒 / 安塞尔·艾尔高特 / 李美琪 / 娜奥米·沃茨 / 梅奇·费法 / 贾斯蒂斯·利克 / 本·劳埃德-休斯 / 托尼·戈德温 / 艾什莉·贾德 / 雷·史蒂文森 / 乔尼·维斯顿 / 苏琪·沃特豪斯 / 恩杰伊·安东尼 / 罗莎·萨拉查 / 肯德里克·克罗斯 / 金大贤 / 梅甘·洁特·马丁 / 凯南·朗斯代尔 / 伊恩·卡塞尔伯里 / 辛西娅巴雷特 / 林赛·拉罗斯 / 简·帕克·史密斯 / Arian Waring Ash / 斯蒂芬妮·利·施朗德 / 贾斯婷·瓦希伯格 / 珍妮·麦克蒂尔 / 查理·博丁 / 美国 / 罗伯特·斯文克 / 119分钟 / 分歧者2：绝地反击 / 动作 / 科幻 / 冒险 / Brian Duffield / 阿齐瓦·高斯曼 Akiva Goldsman / 马克·鲍姆贝克 Mark Bomback / 英语</li>
                    <li>
                        <span class="date">2016-06-23</span>
                        
                    </li>
                    <li>
                        <span class="comment">没劲</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=555&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./34.html">35</a>
        
                
            <a href="./35.html">36</a>
        
                
            <a href="./36.html">37</a>
        
                
            <a href="./37.html">38</a>
        
                <span class="thispage" data-total-page="61">39</span>
                
            <a href="./39.html">40</a>
        
                
            <a href="./40.html">41</a>
        
                
            <a href="./41.html">42</a>
        
                
            <a href="./42.html">43</a>
        
            <span class="break">...</span>
                
            <a href="./59.html">60</a>
        
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=585&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-gfwrz-->

  <script>_SPLITTEST=''</script>





</body></html>