<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    我看过的电影(930)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "78857574",
    UPLOAD_AUTH_TOKEN: "78857574:b22aece14e2c3c889c4b13e4bd9b2be42ff809b3",
    SSE_TOKEN: "ebf1dd79ef1b04c3621091d707b1b1c25d290f7c",
    SSE_TIMESTAMP: "1647390601",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                <img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg">
            </a>
        </div>
        <div class="info">
            <h1>我看过的电影(930)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                571-585&nbsp;/&nbsp;930
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="부산행" href="javascript:void(0)" class="nbg">
                    <img alt="부산행" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2360940399.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>釜山行 / 부산행</em>
                             / 尸杀列车(港) / 尸速列车(台)
                        </a>
                    </li>
                        <li class="intro">2016-05-13(戛纳电影节) / 2016-07-20(韩国) / 孔刘 / 郑有美 / 马东锡 / 金秀安 / 金义城 / 崔宇植 / 安昭熙 / 崔奎华 / 郑锡勇 / 艺秀晶 / 朴明申 / 张赫镇 / 禹都临 / 沈恩京 / 白仁权 / 南砚友 / 郑煐禥 / 李珠实 / 柳在勋 / 车清华 / 金在祿 / 金周宪 / 金旻錫 / 金永 / Han Sung-soo / 董允锡 / 郑西仁 / 金根英 / 金锦顺 / 延尚昊 / 朴素贞 / 金昌焕 / 柳成禄 / 金丹菲 / 张泰民 / 韩国 / 延尚昊 / 118分钟 / 釜山行 / 动作 / 惊悚 / 灾难 / 延尚昊 Sang-ho Yeon / 韩语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2016-09-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">好人和坏人都不会活下来，只有被有勇气有爱的人守护着才多了那么些生还的机会，如果最后那一枪开了，我明天就不吃饭了……</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25986180" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25986180:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Royal Tenenbaums" href="javascript:void(0)" class="nbg">
                    <img alt="The Royal Tenenbaums" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p456224494.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>天才一族 / The Royal Tenenbaums</em>
                             / 癫才家族(港) / 特伦鲍姆一家
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2001-12-14 / 吉恩·哈克曼 / 安杰丽卡·休斯顿 / 本·斯蒂勒 / 格温妮斯·帕特洛 / 卢克·威尔逊 / 欧文·威尔逊 / 比尔·默瑞 / 丹尼·格洛弗 / 西摩·卡塞尔 / 库玛·帕拉纳 / 亚历克·鲍德温 / 格兰特·罗森梅耶 / 乔纳·梅耶森 / 阿拉姆·阿斯拉尼安-珀西科 / 艾琳·戈洛瓦娅 / 阿梅代奥·图尔图罗 / 雷克斯·罗宾斯 / Max Faugno / Tomm Bauer / Kaipo Schwab / Daniel Koenig / Blaze Kelly Coyle / 帕维尔德沃夏克 / 韦斯·安德森 / 斯蒂芬·利亚·谢博德 / 艾邦·摩斯-巴克拉赫 / 安德鲁·威尔逊 / 迪帕克·帕拉纳 / Donal Lardner Ward / 拉里·派恩 / Tom Lacy / Greg Goossen / Dimitri DeFresco / Gary Evans / Keith Charles / 迈克尔·库奥莫 / 美国 / 韦斯·安德森 / 110 分钟 / 天才一族 / 剧情 / 喜剧 / 家庭 / 韦斯·安德森 Wes Anderson / 欧文·威尔逊 Owen Wilson / 英语</li>
                    <li>
                        <span class="date">2016-09-17</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1306031" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1306031:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Shaun of the Dead" href="javascript:void(0)" class="nbg">
                    <img alt="Shaun of the Dead" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1429482773.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>僵尸肖恩 / Shaun of the Dead</em>
                             / 杠上活死人 / 笑死人凶间(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2004-04-09(英国) / 西蒙·佩吉 / 尼克·弗罗斯特 / 凯特·阿什菲尔德 / 露茜·戴维斯 / 迪兰·莫兰 / 佩内洛普·威尔顿 / 比尔·奈伊 / 杰西卡·海因斯 / 彼得·塞拉菲诺威茨 / 拉菲·斯波 / 马丁·弗瑞曼 / 里斯·谢尔史密斯 / 塔姆辛·格雷格 / 马克·加蒂斯 / 马特·卢卡斯 / 大卫·威廉姆斯 / 克里斯·马汀 / 约翰·巴克兰德 / 尼古拉·坎宁安 / 基尔·米尔斯 / 马特·杰恩斯 / 加文·弗格森 / 霍顿·朱庇特 / 蒂姆·巴格雷 / 阿尔温德·多希 / 索奈尔·达卓 / Trisha Goddard / 克里斯南·古鲁-莫西 / Carol Barnes / 弗农·凯伊 / 马克·多诺万 / 朱丽亚·迪金 / Keith Chegwin / 露西·阿科斯特 / 彼得·贝恩汉姆 / 罗伯·布莱顿 / 安东尼娅·坎贝尔-休斯 / Chris Clarke / 乔·考尼什 / 朱莉娅·戴维斯 / 大卫·威廉·詹姆斯·埃利奥特 / 拉塞尔·霍华德 / 加斯·詹宁斯 / Rich Johnston / 保罗·凯耶 / Jason McDonald / Robert Popper / 保罗·普特纳 / 彼得·雷尼克 / 迈克尔·史麦利 / Dave Smith / 菲利普·斯波 / David Spratt / Kenneth Thompson Marchesi / Ben Thompson / Julianne Watling / 埃德加·赖特 / 英国 / 法国 / 埃德加·赖特 / 99 分钟 / 僵尸肖恩 / 喜剧 / 恐怖 / 西蒙·佩吉 Simon Pegg / 埃德加·赖特 Edgar Wright / 英语</li>
                    <li>
                        <span class="date">2016-09-17</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1308755" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1308755:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Wiener-Dog" href="javascript:void(0)" class="nbg">
                    <img alt="Wiener-Dog" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2355990894.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>腊肠狗 / Wiener-Dog</em>
                             / 腊肠狗四围走（港）
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-01-22(圣丹斯电影节) / 2016-06-24(美国) / 佐莎·马梅特 / 丹尼·德维托 / 格蕾塔·葛韦格 / 艾伦·伯斯汀 / 朱莉·德尔佩 / 基南·卡尔金 / 查理·塔汉 / 崔西·莱茨 / 戴文·德鲁伊 / 崔·杰拉尔德 / 迈克尔·詹姆斯·肖 / 科特·图尔顿 / 萨马拉·查卡拉蒂 / 安娜·巴瑞辛尼科夫 / 基顿·奈杰尔·库克 / 美国 / 托德·索伦兹 / 90分钟 / 腊肠狗 / 剧情 / 喜剧 / 托德·索伦兹 Todd Solondz / 英语</li>
                    <li>
                        <span class="date">2016-09-16</span>
                        
                    </li>
                    <li>
                        <span class="comment">oh</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26307055" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26307055:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="危城" href="javascript:void(0)" class="nbg">
                    <img alt="危城" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2372098911.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>危城</em>
                             / 危城歼霸 / 夕阳武士
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-08-12(中国大陆) / 刘青云 / 古天乐 / 彭于晏 / 吴京 / 袁泉 / 江疏影 / 廖启智 / 释彦能 / 姜皓文 / 吴廷烨 / 洪天照 / 孙蛟龙 / 李菁 / 马志威 / 罗浩铭 / 张竣杰 / 王礴 / 尼利特龙 / 刘嘉艺 / 谢宁 / 萧松原 / 洪金宝 / 甘智勤 / 王宇 / 张浩 / 祁高坤 / 中国大陆 / 中国香港 / 陈木胜 / 120分钟 / 剧情 / 动作 / 犯罪 / 武侠 / 古装 / 陈木胜 Benny Chan / 王道 / 谭惠贞 Wai-ching Tam / 唐耀良 Yaoliang Tang / 简怡珏 / 汉语普通话</li>
                    <li>
                        <span class="date">2016-09-16</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26125779" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26125779:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Florence Foster Jenkins" href="javascript:void(0)" class="nbg">
                    <img alt="Florence Foster Jenkins" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2322114602.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>跑调天后 / Florence Foster Jenkins</em>
                             / 走音歌后(港) / 走音天后(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-05-06(英国) / 梅丽尔·斯特里普 / 休·格兰特 / 丽贝卡·弗格森 / 西蒙·赫尔伯格 / 内芙·加切夫 / 妮娜·阿里安达 / 大卫·海格 / 克里斯蒂安·麦凯 / 大卫·曼金 / 豪尔赫·莱昂·马丁内斯 / 约翰·卡瓦纳 / 马克·阿诺德 / 蒂利亚纳·布克丽瓦 / 达尔·达什 / 卡梅隆·卡夫 / 格雷戈·洛基特 / 考兰·伯恩 / 席德·菲尼克斯 / 大卫·米尔斯 / 玛丽·伯格 / 芙洛·费拉科 / 斯蒂芬妮·莱恩 / 乔治娜·莫顿 / 罗茜·本杰明 / 阿依达·嘉丽弗莉娜 / 梅德雷妮·奈特 / 滕吉·卡斯姆 / 艾略特·利维 / 丹尼·马哈尼 / 小比利·格里芬 / 乔什·奥康纳 / 保拉·戴安尼索提 / 所罗门·塔伊沃·贾斯提费尔德 / 查尔斯·斯特里特 / 英国 / www.florencefosterjenkinsmovie.com / 斯蒂芬·弗雷斯 / 110分钟 / 跑调天后 / 剧情 / 喜剧 / 传记 / 音乐 / 尼古拉斯·马丁 Nicholas Martin / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2016-09-14</span>
                        
                    </li>
                    <li>
                        <span class="comment">是真跑调。。在某人眼里，真的是你的开心和快乐比什么都重要，努力找到这个人。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26259202" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26259202:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Hateful Eight" href="javascript:void(0)" class="nbg">
                    <img alt="The Hateful Eight" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2287491621.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>八恶人 / The Hateful Eight</em>
                             / 冰天血地8恶人(港) / 可憎八人
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-12-07(洛杉矶首映) / 2015-12-30(美国) / 塞缪尔·杰克逊 / 库尔特·拉塞尔 / 詹妮弗·杰森·李 / 沃尔顿·戈金斯 / 德米安·比齐尔 / 蒂姆·罗斯 / 迈克尔·马德森 / 布鲁斯·邓恩 / 詹姆士·帕克斯 / 查宁·塔图姆 / 丹娜·格瑞尔 / 佐伊·贝尔 / 李·霍斯利 / 昆汀·塔伦蒂诺 / 克雷格·斯塔克 / 德尼·梅诺谢 / 詹姆斯·瑞马尔 / 美国 / thehatefuleight.com / 昆汀·塔伦蒂诺 / 168分钟(数字版) / 182分钟(胶片版) / 210分钟(加长版) / 八恶人 / 剧情 / 犯罪 / 西部 / 昆汀·塔伦蒂诺 Quentin Tarantino / 英语 / 法语 / 西班牙语</li>
                    <li>
                        <span class="date">2016-09-11</span>
                        
                    </li>
                    <li>
                        <span class="comment">看不懂</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25787888" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25787888:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Honey 3" href="javascript:void(0)" class="nbg">
                    <img alt="Honey 3" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2375701528.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>热舞甜心3 / Honey 3</em>
                             / 甜心辣舞 3
                        </a>
                    </li>
                        <li class="intro">2016-09-06(美国) / 德娜·卡普兰 / 肯尼·沃莫尔德  / 美国 / 97分钟 / 热舞甜心3 / 家庭 / Catherine Cyran / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2016-09-06</span>
                        
                    </li>
                    <li>
                        <span class="comment">现场看会怎样？认识这样一群人会怎样？生活在这样一种文化里呢？融入到这种文化里呢？好喜欢！！！！！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26860893" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26860893:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Honey 2" href="javascript:void(0)" class="nbg">
                    <img alt="Honey 2" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1271715495.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>甜心辣舞 2 / Honey 2</em>
                             / 甜心辣舞 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">卡特琳娜·格兰厄姆 / 尼古拉斯·斯图尔特 / 赛切儿·加布埃尔 / 卢克·布洛德里克 / Noah Greenwood / Claude Racine / 兰迪·韦恩 / 布列塔尼·派丽-拉塞尔 / 梅莉莎·莫莉娜洛 / 萝内蒂·麦基 / 布兰顿·莫拉勒 / 小西北斗 / 美国 / 110分钟 / 甜心辣舞 2 / 喜剧 / 剧情 / 音乐 / Alyson Fouse / 英语</li>
                    <li>
                        <span class="date">2016-09-06</span>
                        
                    </li>
                    <li>
                        <span class="comment">没啥情节，舞蹈很好看</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-5151823" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="5151823:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Star Trek Beyond" href="javascript:void(0)" class="nbg">
                    <img alt="Star Trek Beyond" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2377455123.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>星际迷航3：超越星辰 / Star Trek Beyond</em>
                             / 星际迷航13：超越 / 星际旅行13：超越太空
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-07-22(美国) / 2016-09-02(中国大陆) / 克里斯·派恩 / 扎克瑞·昆图 / 卡尔·厄本 / 佐伊·索尔达娜 / 西蒙·佩吉 / 约翰·赵 / 安东·叶利钦 / 伊德里斯·艾尔巴 / 索菲亚·波多拉 / 乔·塔斯利姆 / 莉迪亚·威尔逊 / 迪普·罗伊 / 梅丽莎·罗斯伯格 / 安尼塔·布朗 / 道格·郑 / 丹尼·朴迪 / 金·柯尔德 / 弗雷泽·艾奇逊 / 马修·麦考尔 / 艾米·阿内克 / 索瑞·安达斯鲁 / 格雷戈·格伦伯格 / 詹妮弗·千 / 加洛德·约瑟夫 / 杰瑞米·雷蒙德 / 亚当·迪马克 / Douglas Chapman / 丹·佩恩 / 谢伊·惠格姆 / 克里斯蒂安·斯隆 / 普里亚·拉贾拉特南 / 塔兰·凯勒姆 / Alex Rose / 阿什丽·艾德纳 / 杰夫·贝佐斯 / 艾丽嘉·奥特雷恩 / 埃里克·班内德 / 娜塔莉·穆恩 / Arlene Santana / Nick Satriano / Bryce Soderburg / 约瑟夫·盖特 / 卡洛·安切洛蒂 / 贾森·马修·史密斯 / 内森·吉恩 / 美国 / www.startrekmovie.com / 林诣彬 / 122分钟(中国大陆/美国) / 星际迷航3：超越星辰 / 动作 / 科幻 / 冒险 / 西蒙·佩吉 Simon Pegg / 道格·郑 Doug Jung / 吉恩·罗登贝瑞 Gene Roddenberry / 罗伯托·奥奇 Roberto Orci / 派特里克·麦凯 Patrick McKay / 约翰·D·佩恩 John D. Payne / 英语</li>
                    <li>
                        <span class="date">2016-09-03</span>
                        
                    </li>
                    <li>
                        <span class="comment">两百年后地球就会毁灭了吗？</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-22939161" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="22939161:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Honey" href="javascript:void(0)" class="nbg">
                    <img alt="Honey" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p515052159.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>热舞甜心 / Honey</em>
                             / 蜜糖儿 / 甜心辣舞
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2003-12-05(美国) / 杰西卡·阿尔芭 / 梅奇·费法 / 乔伊·布赖恩特 / 大卫·莫斯科 / 金温纳 / 布兰迪·威廉姆斯 / Sheek Louch / 沙马里·费尔斯 / 乔丹·马德丽 / 贾达基斯 / Tweet / 密西·艾莉特 / 纳蒂娜·里德 / Shawn Fernandez / Rodney Jerkins / 罗梅罗·米勒 / 萨拉·弗朗西丝 / Tracy Dawson / Kevin Duhaney / 萝内蒂·麦基 / Wes Williams / 阿尔·希勒 / 朱尔·韦伯 / Farnsworth Bentley / 罗伊·T·安德森 / 妮可·尼尔 / 美国 / 比勒·沃道夫 / 94 分钟 / 热舞甜心 / 剧情 / 音乐 / 爱情 / Alonzo Brown / Kim Watson / 英语</li>
                    <li>
                        <span class="date">2016-09-02</span>
                        
                    </li>
                    <li>
                        <span class="comment">动起来</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1308709" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1308709:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="9 Songs" href="javascript:void(0)" class="nbg">
                    <img alt="9 Songs" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p475610688.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>九歌 / 9 Songs</em>
                             / 情欲九歌(港) / 9歌(台)
                        </a>
                    </li>
                        <li class="intro">2004-05-16(戛纳电影节) / 2005-03-11(英国) / 基兰·奥布莱恩 / 玛戈·斯蒂雷 / Huw Bunford / 迈克尔·尼曼 / 英国 / 迈克尔·温特伯顿 / 71 分钟 / 67 分钟(美国DVD版) / 九歌 / 剧情 / 爱情 / 情色 / 音乐 / 迈克尔·温特伯顿 Michael Winterbottom / 英语</li>
                    <li>
                        <span class="date">2016-09-02</span>
                        
                    </li>
                    <li>
                        <span class="comment">miss me？always…</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1316505" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1316505:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="寒戰II" href="javascript:void(0)" class="nbg">
                    <img alt="寒戰II" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2359670540.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>寒战2 / 寒戰II</em>
                             / 寒战II / Cold War Ⅱ
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-07-08(中国大陆) / 2016-07-08(中国香港) / 郭富城 / 梁家辉 / 杨采妮 / 彭于晏 / 李治廷 / 文咏珊 / 周润发 / 马伊琍 / 杨祐宁 / 张国柱 / 吴樾 / 周笔畅 / 李子雄 / 骆应钧 / 林文龙 / 廖殷曼 / 傅楚卉 / 范志博 / 何卓莹 / 黄雪儿 / 邱万城 / 林慧倩 / 李凯贤 / 伍家谦 / 方健仪 / 梁健平 / 唐宁 / 汤怡 / 何伟业 / 黄文标 / 何启南 / 黄德斌 / 林敬刚 / 蒋志光 / 尹子维 / 中国大陆 / 中国香港 / 梁乐民 / 陆剑青 / 110分钟 / 寒战2 / 剧情 / 动作 / 犯罪 / 梁乐民 Lok Man Leung / 陆剑青 Kim-ching Luk / 汉语普通话 / 粤语</li>
                    <li>
                        <span class="date">2016-09-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">我以为李sir会是正面的大boss逆转呢……</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-20505982" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="20505982:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Unfaithful" href="javascript:void(0)" class="nbg">
                    <img alt="Unfaithful" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1685566750.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>不忠 / Unfaithful</em>
                             / 不忠诱罪(港) / 出轨(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2002-05-10(美国) / 戴安·琳恩 / 理查·基尔 / 奥利维埃·马丁内斯 / 埃里克·佩尔·沙利文 / 米歇尔·莫纳汉 / 查德·洛 / 迈拉·卢克利希亚·泰勒 / 多米尼克·查尼斯 / 玛格丽特·柯林 / 美国 / 德国 / 法国 / 阿德里安·莱恩 / 124 分钟 / 125 分钟(西班牙) / 不忠 / 剧情 / 惊悚 / 情色 / 家庭 / Alvin Sargent / William Broyles Jr. / 英语 / 法语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2016-08-29</span>
                        
                    </li>
                    <li>
                        <span class="comment">没人知道，“我们知道”</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1305456" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1305456:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="軍中樂園" href="javascript:void(0)" class="nbg">
                    <img alt="軍中樂園" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2244406291.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>军中乐园 / 軍中樂園</em>
                             / Paradise in Service
                        </a>
                    </li>
                        <li class="intro">2014-09-05(中国台湾) / 阮经天 / 万茜 / 陈意涵 / 陈建斌 / 王柏杰 / 苗可丽 / 陈道贤 / 洪胜德 / 吴志庆 / 廖启智 / 石知田 / 尚国伟 / 项洪 / 王锐 / 王淮仲 / 梁以辰 / 叶良财 / 王博玄 / 张哲豪 / 施名帅 / 雷婕熙 / 王千航 / 余月如 / 林子熙 / 陈以文 / 黄健玮 / 脱一然 / 饶星星 / 谢俊慧 / 程相银 / 李迪恩 / 萧子墨 / 中国台湾 / 中国大陆 / 钮承泽 / 133分钟 / 军中乐园 / 剧情 / 历史 / 爱情 / 曾莉婷 Tseng Li-ting / 汉语普通话</li>
                    <li>
                        <span class="date">2016-08-28</span>
                        
                    </li>
                    <li>
                        <span class="comment">始终要思考的是怎么不再迫不得已...</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-20515070" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="20515070:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=555&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./34.html">35</a>
        
                
            <a href="./35.html">36</a>
        
                
            <a href="./36.html">37</a>
        
                
            <a href="./37.html">38</a>
        
                <span class="thispage" data-total-page="62">39</span>
                
            <a href="./39.html">40</a>
        
                
            <a href="./40.html">41</a>
        
                
            <a href="./41.html">42</a>
        
                
            <a href="./42.html">43</a>
        
            <span class="break">...</span>
                
            <a href="./60.html">61</a>
        
            <a href="./61.html">62</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=585&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"><img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">我的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-699758d69-2s72r-->

  <script>_SPLITTEST=''</script>





</body></html>