<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "24c0273c3dcbee33d2e46a2481a0a6e36b81b7e1",
    SSE_TIMESTAMP: "1640990624",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                601-615&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="The Lord of the Rings: The Fellowship of the Ring" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>指环王1：护戒使者 / The Lord of the Rings: The Fellowship of the Ring</em>
                             / 指环王1：魔戒再现 / 指环王I：护戒使者
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2001-12-19(美国) / 2002-04-04(中国大陆) / 2021-04-16(中国大陆重映) / 伊利亚·伍德 / 西恩·奥斯汀 / 伊恩·麦克莱恩 / 维果·莫腾森 / 奥兰多·布鲁姆 / 多米尼克·莫纳汉 / 比利·博伊德 / 克里斯托弗·李 / 马尔顿·索克斯 / 梅根·爱德华兹 / 伊安·霍姆 / 凯特·布兰切特 / 阿兰·霍华德 / 马克·弗格森 / 肖恩·宾 / 萨拉·贝克 / 劳伦斯·马克奥雷 / 安迪·瑟金斯 / 彼得·麦肯齐 / 伊恩·穆内 / 克雷格·帕克 / 卡梅隆·罗德 / 约翰·瑞斯-戴维斯 / 丽芙·泰勒 / 大卫·韦瑟莱 / 雨果·维文 / 菲利普·格里夫 / 威廉·约翰逊 / 伊丽莎白·穆迪 / 布莱恩·瑟金特 / 杰德·布罗菲 / 诺曼·凯茨 / 兰德尔·威廉·库克 / 萨比恩·克洛森 / 西奥沙福瓦 / 本·弗兰舍姆 / 彼得·杰克逊 / 艾伦·李 / 诺埃尔·阿普利比 / Michael Elsworth / Sarah McLeod / 马丁·桑德森 / Harry Sinclair / 吉诺·阿赛维多 / Jarl Benzon / Jørn Benzon / Ben Britton / Jonathan Harding / Taea Hartwell / Sam Kelly / 姜广涛 / 张磊 / 布雷特·麦肯齐 / 新西兰 / 美国 / www.lordoftherings.net / 彼得·杰克逊 / 179分钟 / 208分钟(加长版) / 228分钟(蓝光加长版) / 指环王1：护戒使者 / 剧情 / 动作 / 奇幻 / 冒险 / 弗兰·威尔士 Fran Walsh / Philippa Boyens / 彼得·杰克逊 Peter Jackson / 托尔金 J.R.R. Tolkien / 英语 / 辛达林语</li>
                    <li>
                        <span class="date">2016-05-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">哎，对这种黑漆漆的电影实在是提不起兴趣……</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Captain America: Civil War" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>美国队长3 / Captain America: Civil War</em>
                             / 美国队长3：内战 / 美国队长3：英雄内战(港/台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-04-12(加州首映) / 2016-05-06(中国大陆) / 2016-05-06(美国) / 克里斯·埃文斯 / 小罗伯特·唐尼 / 斯嘉丽·约翰逊 / 塞巴斯蒂安·斯坦 / 安东尼·麦凯 / 唐·钱德尔 / 杰瑞米·雷纳 / 查德维克·博斯曼 / 保罗·贝坦尼 / 伊丽莎白·奥尔森 / 保罗·路德 / 艾米丽·万凯普 / 汤姆·赫兰德 / 丹尼尔·布鲁赫 / 弗兰克·格里罗 / 威廉·赫特 / 马丁·弗瑞曼 / 霍普·戴维斯 / 玛丽莎·托梅 / 吉姆·拉什 / 金世佳 / 斯坦·李 / 约翰·斯拉特里 / 凯瑞·康顿 / 朱丽安娜·古尔 / 吴靖萱 / 阿尔法·伍达德 / 杨天翔 / 弗洛伦丝·卡松巴 / 吉恩·法贝尔 / 雷·萨亥塔彼 / 约翰·卡尼 / 达米恩·波蒂埃 / 布伦特·吉恩蒂尔 / 郭易峰 / 威廉·吴 / 凯蒂阿弥斯 / 布瑞恩舍费尔 / 尼科斯·马夫拉基斯 / 卡德罗莎·奥娜·卡罗尔 / 盖伊·费尔南德斯 / 一龙 / 美国 / marvel.com/captainamerica / 安东尼·罗素 / 乔·罗素 / 148分钟(中国大陆) / 147分钟 / 美国队长3 / 动作 / 科幻 / 冒险 / 克里斯托弗·马库斯 Christopher Markus / 斯蒂芬·麦克菲利 Stephen McFeely / 杰克·科比 Jack Kirby / 乔·西蒙 Joe Simon / 科萨语 / 英语 / 德语 / 俄语 / 罗马尼亚语</li>
                    <li>
                        <span class="date">2016-05-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">到底厉害的是人还是科技，新人的加入有些效果，剧情也还是那样吧……</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="北京遇上西雅图之不二情书" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>北京遇上西雅图之不二情书</em>
                             / 北京遇上西雅图2 / Finding Mr. Right 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-04-29(中国大陆) / 汤唯 / 吴秀波 / 惠英红 / 秦沛 / 吴彦姝 / 颜卓灵 / 王志文 / 陆毅 / 祖峰 / 王茜 / 刘志宏 / 张一白 / 艾丽娅 / 李灿森 / 陈创 / 韩张 / 刘皓岚 / 程天赐 / 韩龙瑄 / 黄竣锋 / 周思羽 / 中国大陆 / 中国香港 / 薛晓路 / 131分钟 / 喜剧 / 爱情 / 薛晓路 Xiaolu Xue / 焦华静 Huajing Jiao / 汉语普通话 / 英语 / 粤语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2016-05-03</span>
                        
                    </li>
                    <li>
                        <span class="comment">向死而生</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Jungle Book" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>奇幻森林 / The Jungle Book</em>
                             / 魔幻森林(港) / 与森林共舞(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-04-15(美国) / 2016-04-15(中国大陆) / 尼尔·塞西 / 比尔·默瑞 / 本·金斯利 / 伊德里斯·艾尔巴 / 露皮塔·尼永奥 / 斯嘉丽·约翰逊 / 吉安卡罗·埃斯波西托 / 克里斯托弗·沃肯 / 恩杰伊·安东尼 / 盖瑞·山德林 / 莎拉·阿林顿 / 瑞提什·拉詹 / 布兰登·亨舍尔 / Allan Trautman / 山姆·雷米 / 拉塞尔·皮特斯 / 英国 / 美国 / 乔恩·费儒 / 106分钟 / 奇幻森林 / 剧情 / 奇幻 / 冒险 / 贾斯丁·马科斯 Justin Marks / 拉迪亚德·吉普林 Rudyard Kipling / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2016-04-17</span>
                        
                    </li>
                    <li>
                        <span class="comment">刺激，Wowwwww……</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Mon roi" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>我的国王 / Mon roi</em>
                             / 恋上错的人(港) / 我心深爱的国王(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-05-17(戛纳电影节) / 2015-10-21(法国) / 文森特·卡索 / 艾玛纽尔·贝克特 / 路易·加瑞尔 / 伊希尔·勒·贝斯柯 / 扬·戈旺 / 帕特里克·雷纳尔 / 克里斯托·圣·路易斯·奥古斯丁 / 保罗·艾米 / 费利克斯·博叙埃 / 卢德维克·伯特希尔克 / 法国 / 麦温 / 124分钟 / 我的国王 / 剧情 / 爱情 / 艾蒂安·科马尔 Etienne Comar / 麦温·勒·贝斯柯 Maïwenn Le Besco / 法语</li>
                    <li>
                        <span class="date">2016-04-16</span>
                        
                    </li>
                    <li>
                        <span class="comment">到底怎样才是合适对的？？？</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Holding the Man" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>抱紧他 / Holding the Man</em>
                             / 抱紧处理(台) / 抱紧怀中人
                        </a>
                    </li>
                        <li class="intro">2015-08-27(澳大利亚) / 瑞安·柯尔 / 克雷格·斯托特 / 盖·皮尔斯 / 杰弗里·拉什 / 安东尼·拉帕格利亚 / 莎拉·斯努克 / 凯瑞·福克斯 / 汤姆·霍布斯 / 克里斯·麦奎德 / 卡尔林·费尔法克斯 / 李·柯尔梅 / 吉娜·莱利 / 米切尔·巴特尔 / Adam Morgan / Craig Scott / 雅各布·柯林斯-莱维 / 澳大利亚 / 尼尔·阿姆菲尔德 / 127分钟 / 抱紧他 / 剧情 / 传记 / 爱情 / 同性 / 汤米·墨菲 Tommy Murphy / 英语</li>
                    <li>
                        <span class="date">2016-04-16</span>
                        
                    </li>
                    <li>
                        <span class="comment">无聊...</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Open Season: Scared Silly" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>丛林大反攻4：吓傻了 / Open Season: Scared Silly</em>
                             / 打猎季节4 / 丛林大反攻：狼人来了
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-12-18(土耳其) / 2016-03-08(美国) / 加里·切克 / 美国 / 大卫·菲斯 / 84分钟 / 丛林大反攻4：吓傻了 / 喜剧 / 动画 / 英语</li>
                    <li>
                        <span class="date">2016-04-16</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Open Season 3" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>丛林大反攻3 / Open Season 3</em>
                             / 狩猎季节3 / 打猎季节3(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2010-01-28(美国) / 妮卡·福特曼 / 肖恩·穆伦 / 史蒂夫·斯基里帕 / 克里斯平·格洛弗 / 乔治娅·恩格尔 / 美国 / 科迪·卡梅伦 / 74分钟 / 丛林大反攻3 / 动画 / David I. Stern / 英语</li>
                    <li>
                        <span class="date">2016-04-16</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Open Season 2" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>丛林大反攻2 / Open Season 2</em>
                             / 狩猎季节2 / 打猎季节2(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2008-09-24 / 乔尔·麦克哈尔 / 迈克·艾普斯 / 简·科拉克斯基 / 杰奎·巴恩布鲁克 / 肖恩·穆伦 / 史蒂夫·斯基里帕 / 凯文·迈克尔·理查德森 / 斯科特·门维尔 / 沃尔特·琼斯 / 戴德里克·巴德 / 奥莉维亚·海克 / 比利·康诺利 / 杰夫·贝内特 / 大卫·考吉尔 / 乔治娅·恩格尔 / 妮卡·福特曼 / 尼古拉斯·格斯特 / 克里斯平·格洛弗 / 美国 / 马修·奥卡拉汉 / 76 分钟 / 丛林大反攻2 / 动画 / 冒险 / 喜剧 / 家庭 / David I. Stern / 英语</li>
                    <li>
                        <span class="date">2016-04-16</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Star Wars: The Force Awakens" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>星球大战7：原力觉醒 / Star Wars: The Force Awakens</em>
                             / 星球大战：原力觉醒 / 星际大战七部曲：原力觉醒(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-12-18(美国) / 2016-01-09(中国大陆) / 哈里森·福特 / 马克·哈米尔 / 凯丽·费雪 / 亚当·德赖弗 / 黛西·雷德利 / 约翰·博耶加 / 多姆纳尔·格里森 / 奥斯卡·伊萨克 / 露皮塔·尼永奥 / 安迪·瑟金斯 / 安东尼·丹尼尔斯 / 彼德·梅犹 / 马克斯·冯·叙多夫 / 比利·迪·威廉姆斯 / 爱德华·斯皮伊尔斯 / 马修·詹姆斯·托马斯 / 肯尼·贝克 / 格温多兰·克里斯蒂 / 西蒙·佩吉 / 克里斯塔·克拉克 / 匹普·安德森 / 乔纳斯·索塔莫 / 汉娜·乔恩-卡门 / 米尔托斯·耶罗勒曼 / 比尔·哈德尔 / 凯莱·弗莱明 / 杰克·拉斯基 / 托马斯·布罗迪-桑斯特 / 弗兰克·奥兹 / 利安娜·贝斯特 / 维克多·麦奎尔 / 贾达·弗雷德兰德 / 麦茜·理查森·塞勒斯 / 杰佛逊·豪尔 / 维罗娜·布鲁 / 托辛·科尔 / 詹姆斯·麦卡德尔 / 杨亮 / 安德烈·莱纳 / 蒂姆·罗斯 / 斯特凡·格鲁比 / 费莉西娅·桑德斯 / 伊万·麦克格雷格 / 伊恩·怀特 / 迈克·吉亚奇诺 / 哈丽特·瓦尔特 / 安娜·布雷维斯特 / 马克·斯坦利 / 沃维克·戴维斯 / 塞巴斯蒂安·阿梅斯托 / 埃蒙·埃利奥特 / 皮普·托伦斯 / 萨沙·弗罗斯特 / 基兰·沙阿 / 肯·梁 / 格雷戈·格伦伯格 / 丹尼尔·克雷格 / 比莉·洛德 / 塞塞普·阿里夫·拉赫曼 / 雅彦·鲁伊安 / 伊科·乌艾斯 / 杰西卡·亨维克 / 美国 / J·J·艾布拉姆斯 / 135分钟 / 星球大战7：原力觉醒 / 动作 / 科幻 / 冒险 / J·J·艾布拉姆斯 J.J. Abrams / 劳伦斯·卡斯丹 Lawrence Kasdan / 迈克尔·阿恩特 Michael Arndt / 乔治·卢卡斯 George Lucas / 英语</li>
                    <li>
                        <span class="date">2016-04-16</span>
                        
                    </li>
                    <li>
                        <span class="comment">bb-8是负责卖萌的</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Open Season" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>丛林大反攻 / Open Season</em>
                             / 打猎季节(台) / 森林反恐队(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2006-09-29(美国) / 2006-09-29(中国大陆) / 马丁·劳伦斯 / 阿什顿·库彻 / 乔恩·费儒 / 木村佳乃 / 妮卡·福特曼 / 斯科特·门维尔 / 安德烈·索格利扎索 / 乔治娅·恩格尔 / 黛博拉·梅辛 / 简·科拉克斯基 / 加里·西尼斯 / 比利·康诺利 / 大卫·考吉尔 / 杰克·布莱辛 / 帕特里克·沃伯顿 / Kirk Baily / 美国 / www.sonypictures.com/movies/openseason/ / 罗杰·阿勒斯 / 安东尼·斯塔基 / 83分钟 / 丛林大反攻 / 动画 / 冒险 / 喜剧 / 家庭 / Steve Moore / John B. Carls / Jill Culton / Anthony Stacchi / Steve Bencich / Ron J. Friedman / Nat Mauldin / Sam Harper / David Gilbreth / Dan Wilson / 英语</li>
                    <li>
                        <span class="date">2016-04-16</span>
                        
                    </li>
                    <li>
                        <span class="comment">I feel alive. 整部没意思但被腊肠狗喊的这句话触动了一下。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="12 Years a Slave" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>为奴十二年 / 12 Years a Slave</em>
                             / 被夺走的12年(港) / 自由之心(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-11-08(美国) / 切瓦特·埃加福 / 迈克尔·法斯宾德 / 本尼迪克特·康伯巴奇 / 拜伦·巴特 / 保罗·达诺 / 保罗·吉亚玛提 / 露皮塔·尼永奥 / 莎拉·保罗森 / 布拉德·皮特 / 阿尔法·伍达德 / 杰伊·胡古雷 / 安迪·迪伦 / 约翰·麦康奈尔 / 卡德罗莎·奥娜·卡罗尔 / 道格拉斯·M·格里芬 / 克里斯托弗·贝瑞 / 提摩西·怀安特 / 阿什利·戴克 / 莉莎·J·本尼特 / 凯尔茜·斯科特 / 肖恩·保罗·布劳德 / 塔兰·基拉姆 / 阿德普波·奥杜耶 / 卡梅隆·齐德勒 / 穆斯塔法·哈里斯 / 安万·格洛弗 / 克里斯·乔克 / 奎文赞妮·瓦利斯 / 斯科特·麦克纳里 / 加瑞特·迪拉胡特 / J·D·埃弗摩尔 / 马库斯·里尔·布朗 / 马克·麦考利 / 德怀特·亨利 / 迈克尔·肯尼斯·威廉姆斯 / 美国 / 英国 / www.12yearsaslave.com / 史蒂夫·麦奎因 / 134分钟 / 为奴十二年 / 剧情 / 传记 / 历史 / 约翰·里德利 John Ridley / 所罗门·诺萨普 Solomon Northup / 英语</li>
                    <li>
                        <span class="date">2016-04-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">自由对你而言意味着什么？</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="London Has Fallen" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>伦敦陷落 / London Has Fallen</em>
                             / 白宫沦陷2：伦敦沦陷(港) / 全面攻占2：伦敦救援(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-03-04(美国) / 2016-03-04(英国) / 2016-04-08(中国大陆) / 杰拉德·巴特勒 / 艾伦·艾克哈特 / 摩根·弗里曼 / 阿隆·阿布布尔 / 安吉拉·贝塞特 / 罗伯特·福斯特 / 梅丽莎·里奥 / 拉达·米切尔 / 肖恩·奥布赖恩 / 瓦利德·祖伊特 / 夏洛特·莱利 / 杰基·厄尔·哈利 / 科林·萨蒙 / 帕特里克·肯尼迪 / 麦赫迪·德比 / 朱利安·科斯托夫 / 安东·波利亚佐夫 / 什瓦妮·盖伊 / 迈克尔·怀德曼 / 佩妮·唐尼 / Deborah Grant / 特伦斯·比斯利 / 蒂姆·伍德沃德 / 艾尔莎·莫利安 / 张欣 / 豪尔赫·莱昂·马丁内斯 / 安德鲁·普利文 / 英国 / 美国 / 保加利亚 / www.londonhasfallen.com / 巴巴克·纳加非 / 98分钟(中国大陆) / 99分钟 / 伦敦陷落 / 动作 / 犯罪 / 惊悚 / 克赖顿·罗森博格 Creighton Rothenberger / 凯特琳·贝内迪克特 Katrin Benedikt / 克里斯蒂安·古德加斯特 Christian Gudegast / 查德·圣·约翰 Chad St. John / 英语 / 意大利语 / 法语 / 日语</li>
                    <li>
                        <span class="date">2016-04-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">出乎意料的好看</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="刺客聂隐娘" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>刺客聂隐娘</em>
                             / 聂隐娘 / The Assassin
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-05-21(戛纳电影节) / 2015-08-27(中国大陆) / 2015-08-27(中国香港) / 2015-08-28(中国台湾) / 舒淇 / 张震 / 周韵 / 妻夫木聪 / 阮经天 / 谢欣颖 / 倪大红 / 咏梅 / 雷镇语 / 许芳宜 / 毕安生 / 张少怀 / 石隽 / 梅芳 / 戴立忍 / 忽那汐里 / 高捷 / 刘澍颖 / 中国台湾 / 中国大陆 / 中国香港 / 侯孝贤 / 107分钟 / 108分钟(日本) / 剧情 / 武侠 / 古装 / 阿城 A Cheng / 朱天文 Tien-wen Chu / 谢海盟 Haimeng Xie / 侯孝贤 Hsiao-hsien Hou / 裴铏 Xing Pei / 汉语普通话</li>
                    <li>
                        <span class="date">2016-04-10</span>
                        
                    </li>
                    <li>
                        <span class="comment">放过我吧，真的看不懂...</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Ice Age: The Great Egg-Scapade" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>冰河世纪：巨蛋恶作剧 / Ice Age: The Great Egg-Scapade</em>
                             / 冰川时代：巨蛋恶作剧
                        </a>
                    </li>
                        <li class="intro">2016-03-20(美国) / 丹尼斯·利瑞 / 塔拉吉·P·汉森 / 奎恩·拉提法 / 美国 / 73分钟 / 冰河世纪：巨蛋恶作剧 / 动画 / Jim Hecht / 英语</li>
                    <li>
                        <span class="date">2016-04-03</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=585&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./36.html">37</a>
        
                
            <a href="./37.html">38</a>
        
                
            <a href="./38.html">39</a>
        
                
            <a href="./39.html">40</a>
        
                <span class="thispage" data-total-page="61">41</span>
                
            <a href="./41.html">42</a>
        
                
            <a href="./42.html">43</a>
        
                
            <a href="./43.html">44</a>
        
                
            <a href="./44.html">45</a>
        
            <span class="break">...</span>
                
            <a href="./59.html">60</a>
        
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=615&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-ht7nq-->

  <script>_SPLITTEST=''</script>





</body></html>