<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "24c0273c3dcbee33d2e46a2481a0a6e36b81b7e1",
    SSE_TIMESTAMP: "1640990624",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                631-645&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Zootopia" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>疯狂动物城 / Zootopia</em>
                             / 优兽大都会(港) / 动物方城市(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-03-04(中国大陆) / 2016-03-04(美国) / 2020-07-24(中国大陆重映) / 金妮弗·古德温 / 杰森·贝特曼 / 伊德里斯·艾尔巴 / 珍妮·斯蕾特 / 内特·托伦斯 / 邦尼·亨特 / 唐·雷克 / 汤米·钟 / J·K·西蒙斯 / 奥克塔维亚·斯宾瑟 / 艾伦·图代克 / 夏奇拉 / 雷蒙德·S·佩尔西 / 德拉·萨巴 / 莫里斯·拉马奇 / 菲尔·约翰斯顿 / 约翰·迪·马吉欧 / 凯蒂·洛斯 / 吉塔·雷迪 / 杰西·科尔蒂 / 汤米·利斯特 / 乔希·达拉斯 / 瑞奇·摩尔 / 凯斯·索西 / 彼得·曼斯布里奇 / 拜伦·霍华德 / 杰拉德·布什 / 马克·史密斯 / 乔西·特立尼达 / 约翰·拉维尔 / 克里斯汀·贝尔 / 吉尔·科德斯 / 梅利莎·古德温 / 季冠霖 / 佟心竹 / 张震 / 李楠 / 容祖儿 / 黄子华 / 蔡依林 / 戴维德·迪格斯 / 尼古拉斯·格斯特 / 美国 / 拜伦·霍华德 / 瑞奇·摩尔 / 杰拉德·布什 / 109分钟(中国大陆) / 108分钟 / 疯狂动物城 / 喜剧 / 动画 / 冒险 / 拜伦·霍华德 Byron Howard / 瑞奇·摩尔 Rich Moore / 杰拉德·布什 Jared Bush / 吉姆·里尔顿 Jim Reardon / 乔西·特立尼达 Josie Trinidad / 菲尔·约翰斯顿 Phil Johnston / 珍妮弗·李 Jennifer Lee / 英语 / 挪威语</li>
                    <li>
                        <span class="date">2016-03-06</span>
                        
                    </li>
                    <li>
                        <span class="comment">How smart and brave you are, Judy😊</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Freeheld" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>被拒人生 / Freeheld</em>
                             / 爱是最大权利(港) / 扣押幸福
                        </a>
                    </li>
                        <li class="intro">2015-10-02(美国) / 朱丽安·摩尔 / 艾利奥特·佩吉 / 迈克尔·珊农 / 史蒂夫·卡瑞尔 / 卢克·葛莱姆斯 / 加布里埃尔·鲁纳 / 安东尼·德·桑多 / 斯基普·萨德思 / 乔西·查尔斯 / 凯文·奥罗克 / 汤姆·麦高恩 / 威廉姆·赛德勒 / 丹尼斯·布特斯卡里斯 / 亚当·勒费弗 / 珍妮·卡斯帕 / 洁思·雅各布斯 / 布兰登·赛勒斯 / 玛丽·伯德桑 / 斯丁克·费舍尔 / 美国 / 彼得·苏列特 / 103分钟 / 被拒人生 / 剧情 / 传记 / 同性 / 罗恩·内斯万尼尔 Ron Nyswaner / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2016-02-28</span>
                        
                    </li>
                    <li>
                        <span class="comment">我爱所有的爱情。在一起和失去，哪个更不容易go through？？</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Peanuts Movie" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>史努比：花生大电影 / The Peanuts Movie</em>
                             / 花生漫画大电影：史努比 / 史努比(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-11-06(美国) / 2015-11-06(中国大陆) / 诺亚·施纳普 / 比尔·莫伦茨 / 弗朗西斯卡·卡帕尔迪 / 马里埃尔·希茨 / 亚历山大·加芬 / 维纳斯·舒尔特海斯 / 哈德利·贝尔·米勒 / 玛迪辛·希普曼 / 诺亚·约翰斯顿 / A·J·泰切 / 克里斯汀·肯诺恩斯 / 阿纳斯塔西娅·布列季娜 / 丽贝卡·布卢姆 / 马尔·马尔 / 威廉·温施 / 米卡·雷夫利 / 特洛伊·安德鲁斯 / 西奥多·F·凯塞 / 山姆·拉瓦尼诺 / 张琦 / 美国 / www.peanutsmovie.com / 史蒂夫·马蒂诺 / 88分钟(中国大陆) / 92分钟 / 史努比：花生大电影 / 喜剧 / 动画 / 冒险 / 布莱恩·舒尔茨 Bryan Schulz / 克莱格·舒尔茨 Craig Schulz / 科尼利厄斯·乌里亚诺 Cornelius Uliano / 查尔斯·M·舒尔茨 Charles M. Schulz / 英语</li>
                    <li>
                        <span class="date">2016-02-28</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="寻龙诀" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>寻龙诀</em>
                             / 乌尔善版鬼吹灯 / 鬼吹灯之寻龙诀
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-12-18(中国大陆) / 陈坤 / 黄渤 / 舒淇 / 杨颖 / 夏雨 / 刘晓庆 / 颜卓灵 / 曹操 / 张东 / 黄西 / 僧格仁钦 / 刘頔 / 刘琦 / 汪晴 / 松田笃儿 / 冯伟力 / 基斯·科尔利 / 鲁佳妮 / 魏小欢 / 朱洪振 / 钢特木尔 / 董文洁 / 中国大陆 / 中国香港 / 乌尔善 / 125分钟(中国大陆) / 剧情 / 动作 / 奇幻 / 冒险 / 张家鲁 Chia-lu Chang / 张牧野 Muye Zhang / 汉语普通话 / 英语 / 蒙古语 / 日语</li>
                    <li>
                        <span class="date">2016-02-23</span>
                        
                    </li>
                    <li>
                        <span class="comment">比九层妖塔好看</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="老炮儿" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>老炮儿</em>
                             / Mr. Six / Fading Wave
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-09-09(威尼斯电影节) / 2015-12-24(中国大陆) / 冯小刚 / 许晴 / 张涵予 / 刘桦 / 李易峰 / 梁静 / 白举纲 / 于和伟 / 连奕名 / 尚语贤 / 鲁诺 / 管宗祥 / 尹力 / 余皑磊 / 宁浩 / 江珊 / 张译 / 郭京飞 / 张鲁一 / 赵毅 / 梁天 / 张一山 / 王俊凯 / 王源 / 易烊千玺 / 巴图 / 陶泽如 / 吴谨言 / 马元 / 马书良 / 佟磊 / 胡晓光 / 姜怡伊 / 肖彦博 / 王盛 / 刘云龙 / 杜珺 / 庞国昌 / 中国大陆 / 管虎 / 137分钟(中国大陆) / 140分钟(威尼斯电影节版) / 剧情 / 犯罪 / 管虎 Hu Guan / 董润年 Runnian Dong / 汉语普通话</li>
                    <li>
                        <span class="date">2016-02-22</span>
                        
                    </li>
                    <li>
                        <span class="comment">好重的江湖气</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Amazing Spider-Man 2" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>超凡蜘蛛侠2 / The Amazing Spider-Man 2</em>
                             / 蜘蛛侠2 : 决战电魔(港) / 蜘蛛人惊奇再起2：电光之战(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-05-02(美国) / 2014-05-04(中国大陆) / 安德鲁·加菲尔德 / 艾玛·斯通 / 杰米·福克斯 / 戴恩·德哈恩 / 科鲁姆·费奥瑞 / 菲丽希缇·琼斯 / 保罗·吉亚玛提 / 莎莉·菲尔德 / 斯坦·李 / 艾伯丝·戴维兹 / 坎贝尔·斯科特 / 马尔顿·索克斯 / 路易斯·坎瑟米 / 麦克斯·查尔斯 / B·J·诺瓦克 / 莎拉·加顿 / 迈克尔·麦斯 / 比尔·赫克 / 泰迪·库卢卡 / 艾迪·布莱恩特 / 马克·多赫蒂 / 詹姆斯·科尔比 / 卡丽·科尔曼 / 斯凯勒·吉桑多 / 查理·迪皮尤 / Robert Newman / 阿德里安·马丁斯 / 詹姆斯·迈克尔·麦考利 / Greg Connolly / 蒂摩西·亚当斯 / 塔格·库克尔 / 克莱姆·张 / Dusan Hyska / Dario Barosso / 大卫·石 / 丹尼尔·格罗尔 / 史蒂文·豪克 / 雷金纳德·巴恩斯 / 克雷利·伯杰 / 瑞克·博兰德 / Sean Buttimer / 克里斯·库珀 / Chris Cullen / 朱莉亚·戴维斯 / 弗兰克·迪尔 / 马丁·辛 / 中村狮童 / 克里斯·泽尔卡 / 乔什·赫尔曼 / 丹尼斯·利瑞 / 赵乾景 / 布莱恩·黑利 / 马克·达赫蒂 / 美国 / www.theamazingspiderman.com / 马克·韦布 / 142分钟 / 超凡蜘蛛侠2 / 动作 / 科幻 / 奇幻 / 冒险 / 艾里克斯·库兹曼 Alex Kurtzman / 罗伯托·奥奇 Roberto Orci / Jeff Pinkner / 詹姆斯·范德比尔特 James Vanderbilt / 斯坦·李 Stan Lee / 史蒂夫·迪特寇 Steve Ditko / 英语</li>
                    <li>
                        <span class="date">2016-02-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">More love. Moooooore....😫😫😫😫</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Amazing Spider-Man" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>超凡蜘蛛侠 / The Amazing Spider-Man</em>
                             / 蜘蛛侠：惊世现新(港) / 蜘蛛人：惊奇再起(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-07-03(美国) / 2012-08-27(中国大陆) / 安德鲁·加菲尔德 / 艾玛·斯通 / 瑞斯·伊凡斯 / 丹尼斯·利瑞 / 马丁·辛 / 莎莉·菲尔德 / 伊尔凡·可汗 / 斯坦·李 / 坎贝尔·斯科特 / 艾伯丝·戴维兹 / 克里斯·泽尔卡 / 麦克斯·查尔斯 / C·托马斯·豪威尔 / 卡丽·科尔曼 / 迈克尔·巴拉 / 雷弗·甘特沃特 / 安迪·佩索亚 / 汉娜·马克斯 / 凯尔西·周 / 凯文·麦克克科尔 / 芭芭拉·伊芙·哈里斯 / 丹尼埃尔·布鲁吉奥 / 基思·坎贝尔 / 史蒂夫·德卡斯特罗 / 吉尔·弗林特 / 马克·多尔蒂 / 斯凯勒·吉桑多 / 查理·迪皮尤 / 维森特·拉雷斯卡 / 陈清仁 / 亚历山大·贝特里 / 蒂娅·德克萨达 / 杰·卡普托 / Jennifer Lyons / 迈克尔·麦斯 / 艾波·斯蒂文斯 / Ethan Cohn / 马米·科西科 / 佐伊·达奇 / 迈尔斯·艾略特 / 布莱恩·法里戴 / 沙沙维恩·豪尔 / 泰德·霍利斯 / 阿曼达·麦克唐纳 / 迈克尔·帕帕约翰 / 马蒂·帕帕奇安 / 克里斯汀·奎克 / 约翰·斯库蒂 / 肯特·绍克内克 / 安德莉亚·西斯托 / 安妮·帕里西 / 朱丽安妮·尼科尔森 / 美国 / www.theamazingspiderman.com / 马克·韦布 / 136分钟 / 超凡蜘蛛侠 / 动作 / 科幻 / 奇幻 / 冒险 / 詹姆斯·范德比尔特 James Vanderbilt / 史蒂夫·迪特寇 Steve Ditko / 斯坦·李 Stan Lee / 英语</li>
                    <li>
                        <span class="date">2016-02-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">Admittedly, I need more love.</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Rio 2" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>里约大冒险2 / Rio 2</em>
                             / 奇鹦嘉年华2(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-04-11(中国大陆) / 2014-04-11(美国) / 安妮·海瑟薇 / 杰西·艾森伯格 / 布鲁诺·马尔斯 / 杰米·福克斯 / 克里斯汀·肯诺恩斯 / 安迪·加西亚 / 莱斯利·曼恩 / 罗德里戈·桑托罗 / 阿曼德拉·斯坦伯格  / 杰克·T·奥斯汀 / 约翰·雷吉扎莫 / 杰梅奈·克莱门特 / 乔治·洛佩兹 / 丽塔·莫雷诺 / 皮尔斯·加格农 / 威廉姆·亚当斯 / 娜塔丽·莫瑞丝 / 埃里克·埃德尔斯坦 / 卡洛斯·沙尔丹哈 / 加奈儿·梦奈 / Nola Donkin / 凯特·米库奇 / 蕾切尔·克劳 / 吴磊 / 欧阳娣娣 / 崔西·摩根 / 张琦 / 美国 / www.riomovies.com / 卡洛斯·沙尔丹哈 / 101分钟 / 里约大冒险2 / 喜剧 / 动画 / 冒险 / 唐·莱默 Don Rhymer / 卡洛斯·沙尔丹哈 Carlos Saldanha / 英语 / 葡萄牙语</li>
                    <li>
                        <span class="date">2016-02-20</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="西游记之孙悟空三打白骨精" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>西游记之孙悟空三打白骨精</em>
                             / 西游记之大闹天宫续集 / 西游记之三打白骨精
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-02-08(中国大陆) / 郭富城 / 巩俐 / 冯绍峰 / 小沈阳 / 罗子溢 / 费翔 / 陈慧琳 / 阿旺仁青 / 彭宇 / 程东 / 刘楚恬 / 余辛 / 魏璐 / 齐浠儿 / 母其弥雅 / 张籽沐 / 叶淑铃 / 中国大陆 / 中国香港 / 郑保瑞 / 120分钟 / 喜剧 / 动作 / 奇幻 / 冉平 Ping Ran / 冉甲男 Jia-nan Ran / 文宁 Ning Wen / 汉语普通话</li>
                    <li>
                        <span class="date">2016-02-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">进影院就犯困是病，求治！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Walk" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>云中行走 / The Walk</em>
                             / 走钢索的人(台) / 命悬一线(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-10-09(美国) / 2016-01-22(中国大陆) / 约瑟夫·高登-莱维特 / 本·金斯利 / 夏洛特·勒·邦 / 詹姆斯·戴尔 / 克莱门特·史鲍尼 / 凯撒·东布瓦 / 本尼迪克特·萨缪尔 / 本·施瓦茨 / 史蒂夫·瓦伦丁 / 马克·卡马乔 / 夸西·宋桂 / 帕翠西卡·图拉斯内 / 杰森·德里恩 / 拉里·戴 / 梅兰莎·布莱克索恩 / 娜塔莉·希波蒂 / 塞尔吉奥·齐奥 / 凯瑟琳·勒米厄 / 菲利普·苏西 / 让-罗伯特·博尔达格 / 米辛加·姆温加 / 莱夫·安德松 / 克里斯蒂娜·科雷尔 / 特雷弗·博特金 / 贾森·布利克 / 美国 / thewalkmovie.com / 罗伯特·泽米吉斯 / 123分钟 / 云中行走 / 剧情 / 传记 / 冒险 / 罗伯特·泽米吉斯 Robert Zemeckis / 克里斯托弗•布朗 Christopher Browne / 菲利普·帕特 Philippe Petit / 英语 / 法语 / 捷克语</li>
                    <li>
                        <span class="date">2016-02-18</span>
                        
                    </li>
                    <li>
                        <span class="comment">Crazy, insane, mad, strong guy.</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Rio" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>里约大冒险 / Rio</em>
                             / 奇鹦嘉年华(港) / 鹦鹉布鲁
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-04-08(中国大陆) / 2011-04-15(美国) / 杰西·艾森伯格 / 安妮·海瑟薇 / 乔治·洛佩兹 / 罗德里戈·桑托罗 / 凯特·德尔·卡斯蒂洛 / 卡洛斯·庞丝 / 伯纳多·德·保拉 / 伊丝特尔·迪恩 / 莱斯利·曼恩 / 吉恩·吉尔平 / 杰梅奈·克莱门特 / 吴磊 / 杰米·福克斯 / 朴宝英 / 卡洛斯·沙尔丹哈 / 宋仲基 / 美国 / www.rio-themovie.com / 卡洛斯·沙尔丹哈 / 96分钟 / 里约大冒险 / 喜剧 / 动画 / 冒险 / 唐·莱默 Don Rhymer / 英语 / 葡萄牙语</li>
                    <li>
                        <span class="date">2016-02-18</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="唐人街探案" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>唐人街探案</em>
                             / 唐人街·探案 / 唐探
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-12-31(中国大陆) / 王宝强 / 刘昊然 / 佟丽娅 / 陈赫 / 肖央 / 小沈阳 / 潘粤明 / 马浴柯 / 张子枫 / 赵英俊 / 桑平 / 金士杰 / 大鹏 / 张国强 / 李叶青 / 陈祉希 / 戴墨 / 潘斌龙 / 张大大 / 李高吉 / 中国大陆 / 陈思诚 / 135分钟 / 喜剧 / 动作 / 悬疑 / 陈思诚 Sicheng Chen / 程佳客 Jiake Cheng / 刘凯 Kai Liu / 白鹤 He Bai / 汉语普通话 / 泰语 / 英语</li>
                    <li>
                        <span class="date">2016-02-16</span>
                        
                    </li>
                    <li>
                        <span class="comment">小鲜肉演的真的挺不错的</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="美人鱼" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>美人鱼</em>
                             / Mermaid
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-02-08(中国大陆) / 2016-02-08(中国香港) / 邓超 / 罗志祥 / 张雨绮 / 林允 / 徐克 / 李尚正 / 卢正雨 / 白客 / 孔连顺 / 田启文 / 文章 / 杨能 / 张美娥 / 李叶青 / 林子聪 / 赵志凌 / 郑冀峰 / 钱国伟 / 范淑珍 / 艾文·科蒂克 / 松冈李那 / 徐轸轸 / 夏尉喻 / 孙嘉灵 / 许雅婷 / 虞嘉娜 / 宁小花 / 孙乐天 / 谭俊彦 / 叶竞生 / 火火 / 郭小炜 / 勃小龙 / 李应七 / 赵芳华 / 田惺 / 王添羽 / 中国大陆 / 中国香港 / 周星驰 / 93分钟 / 喜剧 / 爱情 / 奇幻 / 周星驰 Stephen Chow / 李思臻 Kelvin Lee / 何妙祺 Miu-Kei Ho / 卢正雨 Zhengyu Lu / 冯志强 Chi Keung Fung / 陈庆嘉 Hing-Ka Chan / 江玉仪 Ivy Kong / 曾谨昌 Kan-Cheung Tsang / 汉语普通话 / 英语 / 日语</li>
                    <li>
                        <span class="date">2016-02-14</span>
                        
                    </li>
                    <li>
                        <span class="comment">星爷的电影还是挺有深度的。zz</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Rico, Oskar und das Herzgebreche" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>宾果男孩日记2 / Rico, Oskar und das Herzgebreche</em>
                             / The Pasta Detectives 2
                        </a>
                    </li>
                        <li class="intro">2015-06-11(德国) / 安东·彼佐尔德 / 尤里·温克勒 / 德国 / 94分钟（德国） / 宾果男孩日记2 / 喜剧 / 冒险 / 家庭 / 德语</li>
                    <li>
                        <span class="date">2016-02-06</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Rico, Oskar und die Tieferschatten" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>宾果男孩日记 / Rico, Oskar und die Tieferschatten</em>
                             / The Pasta Detectives
                        </a>
                    </li>
                        <li class="intro">2014-07-10 / 安东·彼佐尔德 / 尤里·温克勒 / 卡洛琳·赫弗斯 / 阿克西尔·普拉尔 / 罗纳尔德·策尔费尔德 / Ursela Monn / 大卫·克劳斯 / 米兰·佩舍尔 / 卡特琳娜·塔巴赫 / 安克·恩戈尔克 / 大卫·罗特 / 特里斯坦·勾贝尔 / 吉塔·施维赫夫 / 德国 / 尼尔·莉娜·福尔马尔 / 98分钟 / 宾果男孩日记 / 喜剧 / 冒险 / 家庭 / 德语</li>
                    <li>
                        <span class="date">2016-02-06</span>
                        
                    </li>
                    <li>
                        <span class="comment">man man man ^_^</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=615&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./38.html">39</a>
        
                
            <a href="./39.html">40</a>
        
                
            <a href="./40.html">41</a>
        
                
            <a href="./41.html">42</a>
        
                <span class="thispage" data-total-page="61">43</span>
                
            <a href="./43.html">44</a>
        
                
            <a href="./44.html">45</a>
        
                
            <a href="./45.html">46</a>
        
                
            <a href="./46.html">47</a>
        
            <span class="break">...</span>
                
            <a href="./59.html">60</a>
        
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=645&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-5f97f-->

  <script>_SPLITTEST=''</script>





</body></html>