<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "24c0273c3dcbee33d2e46a2481a0a6e36b81b7e1",
    SSE_TIMESTAMP: "1640990624",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                661-675&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Mistress America" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>美国情人 / Mistress America</em>
                             / 纽约新鲜人(台) / 美国情妇
                        </a>
                    </li>
                        <li class="intro">2015-08-14(美国) / 罗拉·科克 / 艾米·沃伦 / 莎珑·华盛顿 / 凯瑟琳·厄布 / 贾思敏·赛法斯·琼斯 / 马修·希尔 / 朱丽叶·布雷特 / 格蕾塔·葛韦格 / 丽贝卡·纳奥米·琼斯 / 米奇·萨姆纳 / 克莱尔·弗利 / 瑞贝卡·亨德森 / 迪恩·威尔汉姆 / 希瑟·林德 / 张欣迪 / 塞斯·帕里什 / 迈克尔·切鲁斯 / 乔尔·加兰 / 美国 / 诺亚·鲍姆巴赫 / 84分钟 / 美国情人 / 喜剧 / 诺亚·鲍姆巴赫 Noah Baumbach / 格蕾塔·葛韦格 Greta Gerwig / 英语</li>
                    <li>
                        <span class="date">2015-12-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">嗯哼</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Point Break" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>极盗者 / Point Break</em>
                             / 极限追捕(港) / 飙风特攻(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-12-04(中国大陆) / 2015-12-25(美国) / 埃德加·拉米雷兹 / 卢克·布雷西 / 雷·温斯顿 / 泰莉莎·帕尔墨 / 马蒂亚斯·瓦雷拉 / 克雷蒙斯·施伊克 / 托拜厄斯·桑特尔曼 / 麦克斯·泰瑞奥 / 德尔罗伊·林多 / 尼科莱·金斯基 / 格娜萨斯·巴伯 / 史蒂夫·图森特 / 詹姆斯·勒格罗 / 帕特里克·德威恩 / 塞马斯·F·萨金特 / 纽曼·阿卡 / 莱尔德·约翰·哈密尔顿 / 克里斯森科赫 / 杰夫·伯勒尔 / Francesco Martino / 杰拉德·摩纳科 / Bob Burnquist / 萨尔·马塞克拉 / 布莱特·罗森博格 / 史蒂夫·青木 / Eric Koston / Chris Sharma / 杰米斯·巴特勒 / Manfred Callsen / 埃莱娜·卡多纳 / 理查德·艾沃特 / 托拜厄斯·劳特伯格 / 犹大·刘易斯 / 亚历山大·雅辛 / 中国大陆 / 德国 / 美国 / 奥地利 / 意大利 / 加拿大 / pointbreakmovie.com / 埃里克松·科尔 / 113分钟 / 极盗者 / 动作 / 犯罪 / 运动 / 科特·维莫 Kurt Wimmer / 瑞克·金 Rick King / W·彼得·伊利夫 W. Peter Iliff / 英语 / 法语 / 西班牙语</li>
                    <li>
                        <span class="date">2015-12-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">感觉更像是纪录片....</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Hotel Transylvania 2" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>精灵旅社2 / Hotel Transylvania 2</em>
                             / 尖叫旅社2(台) / 鬼灵精怪大酒店2(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-09-25(美国) / 2015-10-27(中国大陆) / 亚当·桑德勒 / 安迪·萨姆伯格 / 赛琳娜·戈麦斯 / 阿什·布林克夫 / 凯文·詹姆斯 / 大卫·斯佩德 / 史蒂夫·布西密 / 科甘-迈克尔·凯 / 莫莉·香侬 / 梅尔·布鲁克斯 / 法兰·德瑞雪 / 梅根·莫拉莉 / 尼克·奥弗曼 / 达纳·卡维 / 罗伯·里格尔 / 尼克·斯旺森 / 乔尼·所罗门 / 克里斯·卡坦 / 莎蒂·桑德勒 / 珊妮·桑德勒 / 乔恩·拉威茨 / 罗伯特·斯密戈尔 / 罗斯·阿卜杜 / 路奈尔·坎贝尔 / 杰瑞德·桑德勒 / 保罗·布里顿 / 克里斯·帕内尔 / 艾伦·卡瓦特 / 米歇尔·默多卡 / 美国 / 加拿大 / 韩国 / 格恩迪·塔塔科夫斯基 / 89分钟 / 精灵旅社2 / 喜剧 / 动画 / 奇幻 / 罗伯特·斯密戈尔 Robert Smigel / 亚当·桑德勒 Adam Sandler / 托德·杜伦 Todd Durham / 英语</li>
                    <li>
                        <span class="date">2015-12-02</span>
                        
                    </li>
                    <li>
                        <span class="comment">Cool 丹尼斯</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Hotel Transylvania" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>精灵旅社 / Hotel Transylvania</em>
                             / 尖叫旅社(台) / 鬼灵精怪大酒店(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-09-08(多伦多电影节) / 2012-09-28(美国) / 2013-11-01(中国大陆) / 亚当·桑德勒 / 安迪·萨姆伯格 / 赛琳娜·戈麦斯 / 凯文·詹姆斯 / 法兰·德瑞雪 / 史蒂夫·布西密 / 莫莉·香侬 / 大卫·斯佩德 / 席洛·格林 / 乔恩·拉威茨 / 布莱恩·乔治 / 路奈尔·坎贝尔 / 布莱恩·斯达克 / 克里斯·帕内尔 / 杰姬·桑德勒 / 莎蒂·桑德勒 / 罗伯特·斯密戈尔 / 罗伯·里格尔 / 保罗·布里顿 / 乔尼·所罗门 / 吉姆·怀斯 / 克雷格·凯尔曼 / 布莱恩·麦肯 / 艾伦·卡瓦特 / 珊妮·桑德勒 / 美国 / 韩国 / 加拿大 / 格恩迪·塔塔科夫斯基 / 91分钟 / 精灵旅社 / 喜剧 / 动画 / 奇幻 / 彼得·贝恩汉姆 Peter Baynham / 罗伯特·斯密戈尔 Robert Smigel / 托德·杜伦 Todd Durham / 丹·哈格曼 Dan Hageman / 凯文·哈格曼 Kevin Hageman / 英语</li>
                    <li>
                        <span class="date">2015-12-02</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Les Misérables" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>悲惨世界 / Les Misérables</em>
                             / 孤星泪(港) / 音乐剧《悲惨世界》电影版
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-12-24(美国) / 2013-02-28(中国大陆) / 休·杰克曼 / 罗素·克劳 / 安妮·海瑟薇 / 阿曼达·塞弗里德 / 萨莎·拜伦·科恩 / 海伦娜·伯翰·卡特 / 埃迪·雷德梅恩 / 艾伦·特维特 / 萨曼莎·巴克斯 / 丹尼尔·赫特斯通 / 约瑟夫·阿尔京 / 理查德·迪克森 / 安迪·比克维奇 / 康姆·威尔金森 / 希瑟·切森 / 保罗·索恩利 / 迈克尔·吉普森 / 凯特·弗利特伍德 / 汉娜·沃丁厄姆 / 博迪·卡维尔 / 蒂姆·唐尼 / 安德鲁·哈维尔 / 丹尼尔·伊万斯 / 杰甘·艾伊 / 阿德里安·斯卡伯勒 / 弗兰西斯·拉菲勒 / 夏洛特·斯宾塞 / 阿什莉·阿尔图斯 / 戴维·坎恩 / 波丽·坎普 / 伊恩·皮里 / 朱利安·布里奇 / 马克·皮克林 / 伊莎贝尔·艾伦 / 娜塔莉亚·安吉尔·华莱士 / 洛蒂·斯蒂尔 / 马克·多诺万 / 黛安·皮尔金顿 / 诺尔玛·阿塔拉 / 帕特里克·戈弗雷 / 理查德·科德里 / 基利安·唐纳利 / 乔治·布莱顿 / 休·斯金纳 / 阿利斯泰尔·布拉默 / 哈德利·弗雷泽 / 林兹·黑特利 / 杰玛·瓦德尔 / 吉娜·贝克 / 凯蒂·霍尔 / 夏洛特·霍普 / 艾拉·亨特 / 安东尼娅·克拉克 / 莎拉·弗林德 / 朱莉·沃洛诺 / 贝西·卡特 / 乔尔·菲利莫尔 / 英国 / 美国 / www.lesmiserablesfilm.com / 汤姆·霍伯 / 157分钟 / 悲惨世界 / 剧情 / 爱情 / 歌舞 / 威廉姆·尼克尔森 William Nicholson / 阿兰·布伯里勒 Alain Boublil / 克洛德-米歇尔·勋伯格 Claude-Michel Schönberg / 赫伯特·克莱茨莫 Herbert Kretzmer / 维克多·雨果 Victor Hugo / 英语</li>
                    <li>
                        <span class="date">2015-11-29</span>
                        
                    </li>
                    <li>
                        <span class="comment">怎么说呢，很随意的不认真的看完的，我觉得可能是我对这种全篇说唱的形式不感冒吧！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Win Win" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>双赢 / Win Win</em>
                             / 幸福双赢(台)
                        </a>
                    </li>
                        <li class="intro">2011-03-18 / 保罗·吉亚玛提 / 艾米·莱安 / 鲍比·坎纳瓦尔 / 梅兰妮·林斯基 / 杰弗里·塔伯 / 大卫·W·汤普森 / 克莱尔·弗利 / 亚历克斯·沙弗尔 / Bejay Rose / 美国 / 汤姆·麦卡锡 / 106分钟 / 双赢 / 剧情 / 喜剧 / 家庭 / 托马斯·麦卡锡 Thomas McCarthy / 乔·蒂博尼 Joe Tiboni / 英语</li>
                    <li>
                        <span class="date">2015-11-29</span>
                        
                    </li>
                    <li>
                        <span class="comment">We all do stupid things. Luckily you have another chance.</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Hunger Games: Mockingjay - Part 2" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>饥饿游戏3：嘲笑鸟(下) / The Hunger Games: Mockingjay - Part 2</em>
                             / 饥饿游戏：自由幻梦最终章(台) / 饥饿游戏终极篇：自由幻梦2(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-11-20(美国) / 2015-11-20(中国大陆) / 詹妮弗·劳伦斯 / 乔什·哈切森 / 利亚姆·海姆斯沃斯 / 伍迪·哈里森 / 伊丽莎白·班克斯 / 朱丽安·摩尔 / 菲利普·塞默·霍夫曼 / 杰弗里·怀特 / 斯坦利·图齐 / 唐纳德·萨瑟兰 / 托比·琼斯 / 山姆·克拉弗林 / 吉娜·马隆 / 娜塔莉·多默尔 / 伊万·罗斯 / 马赫沙拉·阿里 / 罗伯特·克耐普 / 格温多兰·克里斯蒂 / 奥米德·阿布塔西 / 埃尔登·汉森 / 斯黛芬·道森 / 伊齐·费内奇 / 蒂芬妮·弗拉斯 / Lauren Henneberg / 美国 / www.thehungergames.movie / 弗朗西斯·劳伦斯 / 136分钟 / 饥饿游戏3：嘲笑鸟(下) / 动作 / 科幻 / 冒险 / 丹尼·斯特朗 Danny Strong / 彼得·克莱格 Peter Craig / 英语</li>
                    <li>
                        <span class="date">2015-11-28</span>
                        
                    </li>
                    <li>
                        <span class="comment">还是很不错的，变种人出来的时候吓得我膀胱一紧……</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Martian" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>火星救援 / The Martian</em>
                             / 火星任务(港) / 绝地救援(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-10-02(美国) / 2015-11-25(中国大陆) / 马特·达蒙 / 杰西卡·查斯坦 / 克里斯汀·韦格 / 杰夫·丹尼尔斯 / 迈克尔·佩纳 / 凯特·玛拉 / 肖恩·宾 / 塞巴斯蒂安·斯坦 / 唐纳德·格洛弗 / 切瓦特·埃加福 / 阿卡塞尔·亨涅 / 陈数 / 高雄 / 本尼迪克特·王 / 麦肯兹·戴维斯 / 娜奥米·斯科特 / 丽丽·博尔丹 / 布莱恩·卡斯佩 / 乔纳森·阿里斯 / 迈克尔·寇特斯 / 彼得·林卡 / 马克·奥尼尔 / 恩佐·科伦蒂 / 索子贾·奥尔森兰 / 英国 / 美国 / 匈牙利 / 约旦 / 雷德利·斯科特 / 144分钟 / 151分钟(加长版) / 火星救援 / 剧情 / 科幻 / 冒险 / 德鲁·高达 Drew Goddard / 安迪·威尔 Andy Weir / 英语 / 汉语普通话</li>
                    <li>
                        <span class="date">2015-11-25</span>
                        
                    </li>
                    <li>
                        <span class="comment">自己一个人在一个地方，要有活下来的本事！棒</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Whiplash" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>爆裂鼓手 / Whiplash</em>
                             / 鼓动真我(港) / 进击的鼓手(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-01-16(圣丹斯电影节) / 2014-10-10(美国) / 迈尔斯·特勒 / J·K·西蒙斯 / 保罗·雷瑟 / 梅莉莎·班诺伊 / 奥斯汀·斯托维尔 / 内特·朗 / 克里斯·马尔基 / 达蒙·冈普顿 / Suanne Spoke / 马科斯·卡锡 / Charlie Ian / 杰森·布莱尔 / 科菲·斯里博伊 / 卡维塔帕蒂尔 / C.J. Vana / 塔里克·洛维 / 卡尔文·C·温布什 / 迈克尔·D·科恩 / 艾普尔·格雷斯 / 马库斯·亨德森 / 亨利·G.桑德斯 / 温迪·李 / 米歇尔·拉夫 / 美国 / 达米恩·查泽雷 / 107分钟 / 爆裂鼓手 / 剧情 / 音乐 / 达米恩·查泽雷 Damien Chazelle / 英语</li>
                    <li>
                        <span class="date">2015-11-21</span>
                        
                    </li>
                    <li>
                        <span class="comment">To be one of greats will be crazy??</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Eight Below" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>南极大冒险 / Eight Below</em>
                             / 极地雪犬(港) / 极地长征(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2006-02-17(美国) / 2006-04-21(中国大陆) / 保罗·沃克 / 布鲁斯·格林伍德 / 穆恩·布拉得古德 / 温迪·古逊 / 贾森·比格斯 / 丹·茨斯基 / D.J. / Koda / 奥古斯特·斯彻伦伯格 / Belinda Metz / 丹尼尔·巴孔 / 马尔科姆·斯图尔特 / Brenda Campbell / 加里·切克 / 迈克尔·亚当思韦特 / Connor Christopher Levins / Levi Woods / Megan McKinnon / 美国 / 弗兰克·马歇尔 / 120 分钟 / 南极大冒险 / 剧情 / 冒险 / 戴维德·迪戈罗 / 英语</li>
                    <li>
                        <span class="date">2015-11-21</span>
                        
                    </li>
                    <li>
                        <span class="comment">太顽强的生命力了，看的心里软软的...</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Man from U.N.C.L.E." href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>秘密特工 / The Man from U.N.C.L.E.</em>
                             / 特务型战(港) / 绅士密令(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-08-14(美国) / 2015-08-14(英国) / 亨利·卡维尔 / 艾米·汉莫 / 艾丽西亚·维坎德 / 西尔维斯特·格罗特 / 休·格兰特 / 杰瑞德·哈里斯 / 伊丽莎白·德比茨基 / 克里斯蒂安·贝克尔 / 豪尔赫·莱昂·马丁内斯 / 卢卡·卡尔瓦尼 / 大卫·贝克汉姆 / 丹尼尔·韦斯特伍德 / 乔尔·埃哲顿 / 玛丽安娜·迪·马蒂诺 / 弗朗西斯科·德·维托 / 米沙·库兹内特斯洛夫 / 美国 / 英国 / 盖·里奇 / 116分钟 / 秘密特工 / 喜剧 / 动作 / 冒险 / 盖·里奇 Guy Ritchie / 莱昂内尔·威格拉姆 Lionel Wigram / 杰夫·克利曼 Jeff Kleeman / 大卫·威尔森 David Wilson / 萨姆·罗尔夫 Sam Rolfe / 英语 / 俄语 / 德语 / 意大利语</li>
                    <li>
                        <span class="date">2015-11-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">无字幕看哑剧……😂😂😂</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Empire" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>嘻哈帝国 第一季 / Empire Season 1</em>
                            
                        </a>
                    </li>
                        <li class="intro">2015-01-07(美国) / 泰伦斯·霍华德 / 布雷希尔·格雷 / 泰·比尔斯 / 格蕾丝·拜尔斯 / 凯瑟琳·道布尔迪 / 塔拉吉·P·汉森 / 朱西·斯莫利特 / 加布蕾·丝迪贝 / 安德烈·罗佑 / 马利克·约巴 / 德里克·卢克 / Serayah McNeil / 贾斯汀·康维尔 / 约翰·胡热那克 / 泰勒·杨 / 克里斯·里德 / 萨莉·桑切兹 / 娜奥米·坎贝尔 / 科特妮·洛芙 / 拉斐尔·德·拉·富恩特 / 詹妮弗·哈德森 / 伊丽莎白·惠特森 / 凯文·米勒 / 美国 / 李·丹尼尔斯 / 安东尼·海明威 / 约翰·辛格顿 / 罗斯玛丽·罗德里格兹 / 嘻哈帝国 / 45分钟 / 嘻哈帝国 / 剧情 / 丹尼·斯特朗 Danny Strong / 英语</li>
                    <li>
                        <span class="date">2015-11-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">配乐真的太棒.</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="山炮进城" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>山炮进城</em>
                             / 4 Idiots
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-10-27 / 程野 / 宋晓峰 / 唐娜 / 张笑菲 / 小沈阳 / 刘小光 / 文松 / 张家豪 / 唐鉴军 / 于洋 / 王小虎 / 小超越 / 彭禺厶 / 朱佳希 / 高成龙 / 蔡维利 / 中国大陆 / 崔俊杰 / 93分钟 / 喜剧 / 索墨 Mo Suo / 冯成龙 Chenglong Feng / 陈雷 Lei Chen / 汉语普通话</li>
                    <li>
                        <span class="date">2015-11-06</span>
                        
                    </li>
                    <li>
                        <span class="comment">喵了个咪</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="疯狂的石头" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>疯狂的石头</em>
                             / Crazy Stone
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2006-06-30(中国大陆) / 2006-08-10(中国香港) / 郭涛 / 刘桦 / 连晋 / 黄渤 / 徐峥 / 岳小军 / 罗兰 / 王迅 / 宁浩 / 杜杰 / 彭波 / 侯姝 / 姜志刚 / 王佳宁 / 陈正华 / 刘刚 / 罗强 / 黄小兰 / 任为洲 / 宋汶芯 / 耿灏 / 中国大陆 / 中国香港 / 宁浩 / 106分钟(香港) / 98分钟(中国大陆) / 喜剧 / 犯罪 / 张承 Cheng Zhang / 宁浩 Hao Ning / 岳小军 Xiaojun Yue / 汉语普通话 / 重庆话</li>
                    <li>
                        <span class="date">2015-11-06</span>
                        
                    </li>
                    <li>
                        <span class="comment">看不下去</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Intouchables" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>触不可及 / Intouchables</em>
                             / 闪亮人生(港) / 逆转人生(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-11-02(法国) / 弗朗索瓦·克鲁塞 / 奥玛·希 / 安娜·勒尼 / 奥德雷·弗勒罗 / 托马·索利韦尔 / 让-弗朗索瓦·凯雷 / 约瑟芬娜·德·摩 / 玛丽-洛尔·德库洛 / 安托万·劳伦特 / Caroline Bourg / 海迪·布奇纳法 / 萨丽马特·卡马特 / 皮埃尔-罗兰·巴纳隆 / 阿尔芭·贝露琪 / 艾米丽·卡恩 / 克洛蒂尔德·莫莱特 / 多萝特博里埃 / 法国 / 奥利维埃·纳卡什 / 埃里克·托莱达诺 / 112分钟 / 触不可及 / 剧情 / 喜剧 / 奥利维·那卡什 Olivier Nakache / 艾力克·托兰达 Eric Toledano / 法语</li>
                    <li>
                        <span class="date">2015-10-31</span>
                        
                    </li>
                    <li>
                        <span class="comment">他给他带来了一个新世界，到底谁是谁的天使，呵呵</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=645&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./40.html">41</a>
        
                
            <a href="./41.html">42</a>
        
                
            <a href="./42.html">43</a>
        
                
            <a href="./43.html">44</a>
        
                <span class="thispage" data-total-page="61">45</span>
                
            <a href="./45.html">46</a>
        
                
            <a href="./46.html">47</a>
        
                
            <a href="./47.html">48</a>
        
                
            <a href="./48.html">49</a>
        
            <span class="break">...</span>
                
            <a href="./59.html">60</a>
        
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=675&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-r9r8p-->

  <script>_SPLITTEST=''</script>





</body></html>