<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    我看过的电影(930)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "78857574",
    UPLOAD_AUTH_TOKEN: "78857574:b22aece14e2c3c889c4b13e4bd9b2be42ff809b3",
    SSE_TOKEN: "9febffdfc32a704d84221cc96ee5f366a320a39d",
    SSE_TIMESTAMP: "1647390602",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                <img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg">
            </a>
        </div>
        <div class="info">
            <h1>我看过的电影(930)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                676-690&nbsp;/&nbsp;930
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="The Lobster" href="javascript:void(0)" class="nbg">
                    <img alt="The Lobster" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2304460273.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>龙虾 / The Lobster</em>
                             / 单身动物园(港/台) / Ο Αστακός
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-05-15(戛纳电影节) / 2015-10-16(爱尔兰) / 科林·法瑞尔 / 蕾切尔·薇兹 / 约翰·C·赖利 / 蕾雅·赛杜 / 奥利维娅·科尔曼 / 本·卫肖 / 亚里安妮·拉贝德 / 罗杰·阿什顿-格里菲斯 / 迈克尔·史麦利 / 杰西卡·巴登 / 昂格利基·帕普利亚 / 萝丝楠·霍尔特 / 莎娜·凯斯雷克 / 阿什利·詹森 / 伊万·麦金托什 / 爱尔兰 / 英国 / 希腊 / 法国 / 荷兰 / thelobster-movie.com / 欧格斯·兰斯莫斯 / 118分钟 / 龙虾 / 剧情 / 喜剧 / 奇幻 / 欧格斯·兰斯莫斯 Giorgos Lanthimos / 艾锡米斯·费利珀 Efthymis Filippou / 英语 / 法语</li>
                    <li>
                        <span class="date">2015-12-27</span>
                        
                    </li>
                    <li>
                        <span class="comment">人真奇怪，想把自己拨离情感，又想追求情感。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-20514947" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="20514947:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Rush" href="javascript:void(0)" class="nbg">
                    <img alt="Rush" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2532780924.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>极速风流 / Rush</em>
                             / 一级双雄(港) / 决战终点线(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-09-13(英国) / 2015-12-11(中国大陆) / 克里斯·海姆斯沃斯 / 丹尼尔·布鲁赫 / 奥利维亚·王尔德 / 亚历山德拉·玛丽亚·拉娜 / 皮耶尔弗兰切斯科·法维诺 / 大卫·卡尔德 / 娜塔莉·多默尔 / 史蒂芬·曼甘 / 克里斯蒂安·麦凯 / 埃利斯戴尔·皮特里 / 朱利安·林希德-图特 / 科林·斯廷顿 / 帕特里克·巴拉迪 / 文森特·里奥特 / 马丁·萨维奇 / 杰米·西弗斯 / 汤姆·拉斯齐哈 / 克里斯蒂安·索利诺 / 詹姆斯·诺顿 / 约瑟芬·德·拉·波美 / 杰弗里·斯特里特菲尔德 / 布鲁克·约翰斯顿 / 汉纳·布里特兰德 / 利萨·麦克阿里斯特 / 汉斯-埃卡特·埃克哈特 / 小家山晃 / 罗杰·内瓦雷斯 / 罗非洛·迪格托勒 / 马可·卡纳迪 / 迪米特里·格里特萨斯 / 杰伊·辛普森 / 菲利普·斯波 / 恩里奇·雷德曼 / 藤本正史 / 罗布·卡瓦佐斯 / 李·阿斯奎斯-柯 / 贝恩·科拉科 / 克里斯·考林 / 格拉姆·柯里 / 丽贝卡·沃尔什 / 堂本刚 / 堂本光一 / 朱利安·西格尔 / 泽维尔·劳伦斯 / 蕾恩·埃尔伍德 / 费伊·塞维尔 / 劳拉·让·马什 / 朱利安·维亚隆 / 英国 / 德国 / 美国 / 朗·霍华德 / 123分钟 / 121分钟(中国大陆) / 极速风流 / 剧情 / 传记 / 运动 / 皮特·摩根 Peter Morgan / 英语 / 德语 / 意大利语 / 法语 / 西班牙语</li>
                    <li>
                        <span class="date">2015-12-22</span>
                        
                    </li>
                    <li>
                        <span class="comment">以前一直觉得不要有争抢勾心斗角很好，现在觉得这样非常不好！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-6803494" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="6803494:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="我的少女時代" href="javascript:void(0)" class="nbg">
                    <img alt="我的少女時代" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2285115802.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>我的少女时代 / 我的少女時代</em>
                             / Our Times
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-08-15(中国台湾) / 2015-11-19(中国大陆) / 宋芸桦 / 王大陆 / 李玉玺 / 简廷芮 / 刘德华 / 陈乔恩 / 言承旭 / 曲家瑞 / 屈中恒 / 钟欣凌 / 许杰辉 / 蔡颐榛 / 郭文颐 / 石知田 / 那维勋 / 林鹤轩 / 陈彦允 / 张立东 / 郑茵声 / 李绍祥 / 张行 / 安晨芯 / 许展荣 / 汪禹丞 / 林史恩 / 瑭霏 / 李友廷 / 程政钧 / 邱志恒 / 中国台湾 / 陈玉珊 / 134分钟 / 我的少女时代 / 喜剧 / 爱情 / 曾咏婷 Yung-Ting Tseng / 汉语普通话</li>
                    <li>
                        <span class="date">2015-12-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">我觉得我很委屈……一直在自欺，不要这样了……</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26366465" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26366465:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Carol" href="javascript:void(0)" class="nbg">
                    <img alt="Carol" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2312679154.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>卡罗尔 / Carol</em>
                             / 因为爱你(台) / 卡露的情人(港)
                        </a>
                    </li>
                        <li class="intro">2015-05-17(戛纳电影节) / 2015-11-27(英国) / 2016-01-15(美国) / 凯特·布兰切特 / 鲁妮·玛拉 / 凯尔·钱德勒 / 杰克·莱西 / 莎拉·保罗森 / 约翰·马加罗 / 科里·迈克尔·史密斯 / 凯文·克劳利 / 凯瑞·布朗斯汀 / 吉德雷·莫基利安妮特 / 赛迪·海姆 / 英国 / 美国 / carolfilm.com / 托德·海因斯 / 118分钟 / 卡罗尔 / 剧情 / 爱情 / 同性 / 菲丽丝·奈吉 Phyllis Nagy / 派翠西亚·海史密斯 Patricia Highsmith / 英语</li>
                    <li>
                        <span class="date">2015-12-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">摆什么高贵典雅女王范，摆什么清新单纯萝莉范...</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10757577" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10757577:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="解救吾先生" href="javascript:void(0)" class="nbg">
                    <img alt="解救吾先生" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2267511583.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>解救吾先生</em>
                             / 最强对手 / Saving Mr. Wu
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-09-26(丝绸之路电影节) / 2015-09-30(中国大陆) / 刘德华 / 刘烨 / 王千源 / 吴若甫 / 林雪 / 赵小锐 / 李梦 / 蔡鹭 / 陆彭 / 余皑磊 / 郭洺宇 / 钟艺 / 巩承琪 / 刘然 / 陈九涵 / 刘頔 / 金彧亮 / 那威 / 马思纯 / 王铮 / 桑平 / 中国大陆 / 丁晟 / 106分钟 / 剧情 / 犯罪 / 丁晟 Sheng Ding / 汉语普通话</li>
                    <li>
                        <span class="date">2015-12-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">我应该不会被绑架吧，都演的好好。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25798448" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25798448:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="ink master" href="javascript:void(0)" class="nbg">
                    <img alt="ink master" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2624914308.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>纹身大师赛真人秀 第一季 / ink master Season 1</em>
                             / 纹身大师赛真人秀
                        </a>
                    </li>
                        <li class="intro">2012-01-17(美国) / 美国 / www.spike.com/shows/ink-master / 纹身大师赛真人秀 / 纹身大师赛真人秀 / 剧情 / 纪录片 / J. Holland Moore / 英语</li>
                    <li>
                        <span class="date">2015-12-18</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10814313" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10814313:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Mad Max: Fury Road" href="javascript:void(0)" class="nbg">
                    <img alt="Mad Max: Fury Road" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2236181653.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>疯狂的麦克斯4：狂暴之路 / Mad Max: Fury Road</em>
                             / 末日先锋：战甲飞车(港) / 疯狂麦斯：愤怒道(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-05-14(澳大利亚) / 2015-05-15(美国) / 汤姆·哈迪 / 查理兹·塞隆 / 尼古拉斯·霍尔特 / 休·基斯-拜恩 / 乔什·赫尔曼 / 内森·琼斯 / 佐伊·克罗维兹 / 罗茜·汉丁顿-惠特莉 / 丽莉·吉欧 / 阿比·丽 / 考特尼·伊顿 / 安格斯·桑普森 / 理查德·卡特 / 梅根·盖尔 / 肖恩·哈普 / 吉纳维芙·艾特肯 / 约翰·霍华德 / 约翰·霍华德 / 理查德·诺顿 / 黛布拉·迪兹 / 理查德·诺顿 / 澳大利亚 / 美国 / www.madmaxmovie.com / 乔治·米勒 / 120分钟 / 疯狂的麦克斯4：狂暴之路 / 动作 / 科幻 / 冒险 / 乔治·米勒 George Miller / Brendan McCarthy / Nick Lathouris / 英语 / 俄语</li>
                    <li>
                        <span class="date">2015-12-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">Suddenly, I am not fearing about anything.</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3592854" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3592854:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Girl with the Dragon Tattoo" href="javascript:void(0)" class="nbg">
                    <img alt="The Girl with the Dragon Tattoo" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1473779689.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>龙纹身的女孩 / The Girl with the Dragon Tattoo</em>
                             / 千禧三部曲I：龙纹身的女孩(台) / 龙纹身女孩
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-12-12(伦敦首映) / 2011-12-21(美国) / 丹尼尔·克雷格 / 鲁妮·玛拉 / 克里斯托弗·普卢默 / 斯特兰·斯卡斯加德 / 史蒂文·伯克夫 / 罗宾·怀特 / 约里克·范·韦杰宁根 / 乔莉·理查德森 / 杰拉丁妮·詹姆斯 / 高兰·维斯耶克 / 唐纳德·桑普特 / 乌尔夫·弗里贝格 / 本基特·卡尔森 / 托尼·威 / 帕尔·麦尔伯格 / 约瑟芬·阿斯普伦德 / 埃娃·弗里肖夫松 / 莫娅·嘉尔彭铎 / 马娅·汉松-贝里奎斯特 / 萨拉·阿佩尔贝里 / 朱利安·山德斯 / 安娜·比约克 / 古斯塔夫·汉马斯顿 / 西蒙·赖特纳 / 大卫·丹席克 / 马库斯·约翰松 / 玛蒂尔达·冯·埃森 / 马蒂亚斯·帕尔梅 / 马丁·贾维斯 / 因加·朗格里 / 安德尔斯·伯格 / 马茨·安德松 / 尤尔根·克莱恩 / 雅丽·乔维尔 / 阿兰·戴尔 / 莱娜·斯特伦达尔 / 里奥·比尔 / 弗雷德里克·多尔克 / 艾洛蒂·袁 / 艾伯丝·戴维兹 / 乔尔·金纳曼 / 卡伦·E·弗里格特 / 桑德拉·安德雷伊斯 / 萨赫丽玛 / 安琪 / 克里斯蒂尼·亚当斯 / 美国 / 瑞典 / 挪威 / dragontattoo.com / 大卫·芬奇 / 158分钟 / 龙纹身的女孩 / 剧情 / 犯罪 / 悬疑 / 惊悚 / 斯蒂文·泽里安 Steven Zaillian / 斯蒂格·拉赫松 Stieg Larsson / 英语</li>
                    <li>
                        <span class="date">2015-12-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">好吧，对这种类型的还是不感冒，没看完.</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4206357" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4206357:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Mistress America" href="javascript:void(0)" class="nbg">
                    <img alt="Mistress America" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2261186463.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>美国情人 / Mistress America</em>
                             / 纽约新鲜人(台) / 美国情妇
                        </a>
                    </li>
                        <li class="intro">2015-08-14(美国) / 罗拉·科克 / 艾米·沃伦 / 莎珑·华盛顿 / 凯瑟琳·厄布 / 贾思敏·赛法斯·琼斯 / 马修·希尔 / 朱丽叶·布雷特 / 格蕾塔·葛韦格 / 丽贝卡·纳奥米·琼斯 / 米奇·萨姆纳 / 克莱尔·弗利 / 瑞贝卡·亨德森 / 迪恩·威尔汉姆 / 希瑟·林德 / 张欣迪 / 塞斯·帕里什 / 迈克尔·切鲁斯 / 乔尔·加兰 / 美国 / 诺亚·鲍姆巴赫 / 84分钟 / 美国情人 / 喜剧 / 诺亚·鲍姆巴赫 Noah Baumbach / 格蕾塔·葛韦格 Greta Gerwig / 英语</li>
                    <li>
                        <span class="date">2015-12-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">嗯哼</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-24708493" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="24708493:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Point Break" href="javascript:void(0)" class="nbg">
                    <img alt="Point Break" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2301979501.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>极盗者 / Point Break</em>
                             / 极限追捕(港) / 飙风特攻(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-12-04(中国大陆) / 2015-12-25(美国) / 埃德加·拉米雷兹 / 卢克·布雷西 / 雷·温斯顿 / 泰莉莎·帕尔墨 / 马蒂亚斯·瓦雷拉 / 克雷蒙斯·施伊克 / 托拜厄斯·桑特尔曼 / 麦克斯·泰瑞奥 / 德尔罗伊·林多 / 尼科莱·金斯基 / 格娜萨斯·巴伯 / 史蒂夫·图森特 / 詹姆斯·勒格罗 / 帕特里克·德威恩 / 塞马斯·F·萨金特 / 纽曼·阿卡 / 莱尔德·约翰·哈密尔顿 / 克里斯森科赫 / 杰夫·伯勒尔 / Francesco Martino / 杰拉德·摩纳科 / Bob Burnquist / 萨尔·马塞克拉 / 布莱特·罗森博格 / 史蒂夫·青木 / Eric Koston / Chris Sharma / 杰米斯·巴特勒 / Manfred Callsen / 埃莱娜·卡多纳 / 理查德·艾沃特 / 托拜厄斯·劳特伯格 / 犹大·刘易斯 / 亚历山大·雅辛 / 中国大陆 / 德国 / 美国 / 奥地利 / 意大利 / 加拿大 / pointbreakmovie.com / 埃里克松·科尔 / 113分钟 / 极盗者 / 动作 / 犯罪 / 运动 / 科特·维莫 Kurt Wimmer / 瑞克·金 Rick King / W·彼得·伊利夫 W. Peter Iliff / 英语 / 法语 / 西班牙语</li>
                    <li>
                        <span class="date">2015-12-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">感觉更像是纪录片....</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25809384" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25809384:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Hotel Transylvania 2" href="javascript:void(0)" class="nbg">
                    <img alt="Hotel Transylvania 2" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2276842218.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>精灵旅社2 / Hotel Transylvania 2</em>
                             / 尖叫旅社2(台) / 鬼灵精怪大酒店2(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-09-25(美国) / 2015-10-27(中国大陆) / 亚当·桑德勒 / 安迪·萨姆伯格 / 赛琳娜·戈麦斯 / 阿什·布林克夫 / 凯文·詹姆斯 / 大卫·斯佩德 / 史蒂夫·布西密 / 科甘-迈克尔·凯 / 莫莉·香侬 / 梅尔·布鲁克斯 / 法兰·德瑞雪 / 梅根·莫拉莉 / 尼克·奥弗曼 / 达纳·卡维 / 罗伯·里格尔 / 尼克·斯旺森 / 乔尼·所罗门 / 克里斯·卡坦 / 莎蒂·桑德勒 / 珊妮·桑德勒 / 乔恩·拉威茨 / 罗伯特·斯密戈尔 / 罗斯·阿卜杜 / 路奈尔·坎贝尔 / 杰瑞德·桑德勒 / 保罗·布里顿 / 克里斯·帕内尔 / 艾伦·卡瓦特 / 米歇尔·默多卡 / 美国 / 加拿大 / 格恩迪·塔塔科夫斯基 / 89分钟 / 精灵旅社2 / 喜剧 / 动画 / 奇幻 / 罗伯特·斯密戈尔 Robert Smigel / 亚当·桑德勒 Adam Sandler / 托德·杜伦 Todd Durham / 英语</li>
                    <li>
                        <span class="date">2015-12-02</span>
                        
                    </li>
                    <li>
                        <span class="comment">Cool 丹尼斯</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-21327493" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="21327493:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Hotel Transylvania" href="javascript:void(0)" class="nbg">
                    <img alt="Hotel Transylvania" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2155072056.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>精灵旅社 / Hotel Transylvania</em>
                             / 尖叫旅社(台) / 鬼灵精怪大酒店(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-09-08(多伦多电影节) / 2012-09-28(美国) / 2013-11-01(中国大陆) / 亚当·桑德勒 / 安迪·萨姆伯格 / 赛琳娜·戈麦斯 / 凯文·詹姆斯 / 法兰·德瑞雪 / 史蒂夫·布西密 / 莫莉·香侬 / 大卫·斯佩德 / 席洛·格林 / 乔恩·拉威茨 / 布莱恩·乔治 / 路奈尔·坎贝尔 / 布莱恩·斯达克 / 克里斯·帕内尔 / 杰姬·桑德勒 / 莎蒂·桑德勒 / 罗伯特·斯密戈尔 / 罗伯·里格尔 / 保罗·布里顿 / 乔尼·所罗门 / 吉姆·怀斯 / 克雷格·凯尔曼 / 布莱恩·麦肯 / 艾伦·卡瓦特 / 珊妮·桑德勒 / 美国 / 格恩迪·塔塔科夫斯基 / 91分钟 / 精灵旅社 / 喜剧 / 动画 / 奇幻 / 彼得·贝恩汉姆 Peter Baynham / 罗伯特·斯密戈尔 Robert Smigel / 托德·杜伦 Todd Durham / 丹·哈格曼 Dan Hageman / 凯文·哈格曼 Kevin Hageman / 英语</li>
                    <li>
                        <span class="date">2015-12-02</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3269068" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3269068:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Les Misérables" href="javascript:void(0)" class="nbg">
                    <img alt="Les Misérables" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1900812761.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>悲惨世界 / Les Misérables</em>
                             / 孤星泪(港) / 音乐剧《悲惨世界》电影版
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-12-24(美国) / 2013-02-28(中国大陆) / 休·杰克曼 / 罗素·克劳 / 安妮·海瑟薇 / 阿曼达·塞弗里德 / 萨莎·拜伦·科恩 / 海伦娜·伯翰·卡特 / 埃迪·雷德梅恩 / 艾伦·特维特 / 萨曼莎·巴克斯 / 丹尼尔·赫特斯通 / 约瑟夫·阿尔京 / 理查德·迪克森 / 安迪·比克维奇 / 康姆·威尔金森 / 希瑟·切森 / 保罗·索恩利 / 迈克尔·吉普森 / 凯特·弗利特伍德 / 汉娜·沃丁厄姆 / 博迪·卡维尔 / 蒂姆·唐尼 / 安德鲁·哈维尔 / 丹尼尔·伊万斯 / 杰甘·艾伊 / 阿德里安·斯卡伯勒 / 弗兰西斯·拉菲勒 / 夏洛特·斯宾塞 / 阿什莉·阿尔图斯 / 戴维·坎恩 / 波丽·坎普 / 伊恩·皮里 / 朱利安·布里奇 / 马克·皮克林 / 伊莎贝尔·艾伦 / 娜塔莉亚·安吉尔·华莱士 / 洛蒂·斯蒂尔 / 马克·多诺万 / 黛安·皮尔金顿 / 诺尔玛·阿塔拉 / 帕特里克·戈弗雷 / 理查德·科德里 / 基利安·唐纳利 / 乔治·布莱顿 / 休·斯金纳 / 阿利斯泰尔·布拉默 / 哈德利·弗雷泽 / 林兹·黑特利 / 杰玛·瓦德尔 / 吉娜·贝克 / 凯蒂·霍尔 / 夏洛特·霍普 / 艾拉·亨特 / 安东尼娅·克拉克 / 莎拉·弗林德 / 朱莉·沃洛诺 / 贝西·卡特 / 乔尔·菲利莫尔 / 英国 / 美国 / www.lesmiserablesfilm.com / 汤姆·霍伯 / 157分钟 / 悲惨世界 / 剧情 / 爱情 / 歌舞 / 威廉姆·尼克尔森 William Nicholson / 阿兰·布伯里勒 Alain Boublil / 克洛德-米歇尔·勋伯格 Claude-Michel Schönberg / 赫伯特·克莱茨莫 Herbert Kretzmer / 维克多·雨果 Victor Hugo / 英语</li>
                    <li>
                        <span class="date">2015-11-29</span>
                        
                    </li>
                    <li>
                        <span class="comment">怎么说呢，很随意的不认真的看完的，我觉得可能是我对这种全篇说唱的形式不感冒吧！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-6860160" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="6860160:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Win Win" href="javascript:void(0)" class="nbg">
                    <img alt="Win Win" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1132319408.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>双赢 / Win Win</em>
                             / 幸福双赢(台)
                        </a>
                    </li>
                        <li class="intro">2011-03-18 / 保罗·吉亚玛提 / 艾米·莱安 / 鲍比·坎纳瓦尔 / 梅兰妮·林斯基 / 杰弗里·塔伯 / 大卫·W·汤普森 / 克莱尔·弗利 / 亚历克斯·沙弗尔 / Bejay Rose / 美国 / 汤姆·麦卡锡 / 106分钟 / 双赢 / 剧情 / 喜剧 / 家庭 / 托马斯·麦卡锡 Thomas McCarthy / 乔·蒂博尼 Joe Tiboni / 英语</li>
                    <li>
                        <span class="date">2015-11-29</span>
                        
                    </li>
                    <li>
                        <span class="comment">We all do stupid things. Luckily you have another chance.</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4705044" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4705044:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Hunger Games: Mockingjay - Part 2" href="javascript:void(0)" class="nbg">
                    <img alt="The Hunger Games: Mockingjay - Part 2" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2282434035.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>饥饿游戏3：嘲笑鸟(下) / The Hunger Games: Mockingjay - Part 2</em>
                             / 饥饿游戏：自由幻梦最终章(台) / 饥饿游戏终极篇：自由幻梦2(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-11-20(美国) / 2015-11-20(中国大陆) / 詹妮弗·劳伦斯 / 乔什·哈切森 / 利亚姆·海姆斯沃斯 / 伍迪·哈里森 / 伊丽莎白·班克斯 / 朱丽安·摩尔 / 菲利普·塞默·霍夫曼 / 杰弗里·怀特 / 斯坦利·图齐 / 唐纳德·萨瑟兰 / 托比·琼斯 / 山姆·克拉弗林 / 吉娜·马隆 / 娜塔莉·多默尔 / 伊万·罗斯 / 马赫沙拉·阿里 / 罗伯特·克耐普 / 格温多兰·克里斯蒂 / 奥米德·阿布塔西 / 埃尔登·汉森 / 斯黛芬·道森 / 伊齐·费内奇 / 蒂芬妮·弗拉斯 / Lauren Henneberg / 美国 / www.thehungergames.movie / 弗朗西斯·劳伦斯 / 136分钟 / 饥饿游戏3：嘲笑鸟(下) / 动作 / 科幻 / 冒险 / 丹尼·斯特朗 Danny Strong / 彼得·克莱格 Peter Craig / 英语</li>
                    <li>
                        <span class="date">2015-11-28</span>
                        
                    </li>
                    <li>
                        <span class="comment">还是很不错的，变种人出来的时候吓得我膀胱一紧……</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10047547" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10047547:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=660&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./41.html">42</a>
        
                
            <a href="./42.html">43</a>
        
                
            <a href="./43.html">44</a>
        
                
            <a href="./44.html">45</a>
        
                <span class="thispage" data-total-page="62">46</span>
                
            <a href="./46.html">47</a>
        
                
            <a href="./47.html">48</a>
        
                
            <a href="./48.html">49</a>
        
                
            <a href="./49.html">50</a>
        
            <span class="break">...</span>
                
            <a href="./60.html">61</a>
        
            <a href="./61.html">62</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=690&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"><img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">我的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-699758d69-5cspg-->

  <script>_SPLITTEST=''</script>





</body></html>