<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    我看过的电影(930)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "78857574",
    UPLOAD_AUTH_TOKEN: "78857574:b22aece14e2c3c889c4b13e4bd9b2be42ff809b3",
    SSE_TOKEN: "9febffdfc32a704d84221cc96ee5f366a320a39d",
    SSE_TIMESTAMP: "1647390602",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                <img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg">
            </a>
        </div>
        <div class="info">
            <h1>我看过的电影(930)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                706-720&nbsp;/&nbsp;930
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="The English Patient" href="javascript:void(0)" class="nbg">
                    <img alt="The English Patient" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2408623752.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>英国病人 / The English Patient</em>
                             / 别问我是谁(港) / 英伦情人(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1996-12-06(美国) / 1997-03-14(英国) / 拉尔夫·费因斯 / 朱丽叶·比诺什 / 威廉·达福 / 克里斯汀·斯科特·托马斯 / 纳威恩·安德利维斯 / 科林·费尔斯 / 朱利安·沃德姆 / 尤尔根·普洛斯诺 / 凯文·沃特利 / 克里夫·梅利森 / 尼诺·卡斯泰尔诺沃 / 彼得·吕尔林 / 乔迪·约翰逊 / 托蕊·海金森 / 塞巴斯蒂安·席佩尔 / 雷蒙德·库特哈德 / 户田惠子 / 美国 / 英国 / 安东尼·明格拉 / 162分钟 / 英国病人 / 爱情 / 剧情 / 战争 / 安东尼·明格拉 Anthony Minghella / 迈克尔·翁达杰 Michael Ondaatje / 英语 / 德语 / 意大利语 / 阿拉伯语</li>
                    <li>
                        <span class="date">2015-10-06</span>
                        
                    </li>
                    <li>
                        <span class="comment">一生得一人足矣，生无可恋，死也不可怕……</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1291853" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1291853:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Une nouvelle amie" href="javascript:void(0)" class="nbg">
                    <img alt="Une nouvelle amie" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2199678535.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>新女友 / Une nouvelle amie</em>
                             / 女朋友的女朋友(台) / The New Girlfriend
                        </a>
                    </li>
                        <li class="intro">2014-11-05 / 罗曼·杜里斯 / 阿娜伊斯·德穆斯蒂埃 / 拉斐尔·佩尔索纳 / 伊希尔·勒·贝斯柯 / 奥萝尔·克莱芒 / 让-克劳德·古卢姆伯格 / Bruno Pérard / Claudine Chatel / 弗朗索瓦·欧容 / 梅琳·杜波瓦 / Anita Gillie / 法国 / 弗朗索瓦·欧容 / 107分钟 / 新女友 / 剧情 / 悬疑 / 同性 / 弗朗索瓦·欧容 François Ozon / 法语</li>
                    <li>
                        <span class="date">2015-10-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">这么一条路，走啊走啊走啊。。。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25755608" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25755608:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Minions" href="javascript:void(0)" class="nbg">
                    <img alt="Minions" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2265761240.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>小黄人大眼萌 / Minions</em>
                             / 小黄人 / 迷你兵团(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-07-10(美国) / 2015-09-13(中国大陆) / 桑德拉·布洛克 / 乔恩·哈姆 / 迈克尔·基顿 / 艾莉森·珍妮 / 史蒂夫·库根 / 珍妮弗·桑德斯 / 杰弗里·拉什 / 史蒂夫·卡瑞尔 / 皮埃尔·柯芬 / 凯蒂·米克松 / 迈克尔·贝亚蒂 / 真田广之 / 大卫·罗森鲍姆 / 亚历克斯·道丁 / 保罗·索恩利 / 艾娃·阿卡雷斯 / 罗里·艾伦 / 鲍伯·伯根 / 塔拉·斯特朗 / 约翰·卡西尔 / 明迪·斯特林 / 彼得·塞拉菲诺威茨 / 吉姆·瓦德 / 比尔·法玛尔 / 西托·佩雷拉 / 杰斯·哈梅尔 / 吉约姆·卡内 / 安迪·尼曼 / 卡洛斯·阿拉斯拉奇 / 约翰·齐甘 / 亚历山大·博林斯基 / 布莱恩·T·德莱尼 / 雪莉·琳恩 / 拉瑞恩·纽曼 / 科尔·桑德 / 玛丽昂·歌迪亚 / 美国 / www.minionsmovie.com / 凯尔·巴尔达 / 皮埃尔·柯芬 / 91分钟 / 小黄人大眼萌 / 喜剧 / 动画 / 布莱恩·林奇 Brian Lynch / 英语 / 西班牙语</li>
                    <li>
                        <span class="date">2015-10-03</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-11624706" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="11624706:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="夏洛特烦恼" href="javascript:void(0)" class="nbg">
                    <img alt="夏洛特烦恼" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2264377763.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>夏洛特烦恼</em>
                             / Goodbye Mr. Loser
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-09-30(中国大陆) / 沈腾 / 马丽 / 尹正 / 艾伦 / 王智 / 田雨 / 宋阳 / 常远 / 李萍 / 李立群 / 张一鸣 / 马小茜 / 刘坤 / 黄才伦 / 陈昊明 / 王成思 / 刘金 / 周展翅 / 常世奎 / 王琦 / 赵雪 / 黄杨 / 肖扬 / 魏翔 / 吴江 / 李海银 / 陶亮 / 马驰 / 许猛 / 关鹏 / 中国大陆 / 闫非 / 彭大魔 / 104分钟 / 喜剧 / 爱情 / 闫非 Fei Yan / 彭大魔 Damo Peng / 汉语普通话</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2015-10-02</span>
                        
                    </li>
                    <li>
                        <span class="comment">本年度最好笑，没有之一，笑的我嗓子痛。看完就忘了。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25964071" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25964071:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Overnight" href="javascript:void(0)" class="nbg">
                    <img alt="The Overnight" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2249373153.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>通宵 / The Overnight</em>
                            
                        </a>
                    </li>
                        <li class="intro">2015-06-19(美国) / 泰勒·席林 / 亚当·斯科特 / 詹森·舒瓦兹曼 / 朱迪丝·戈德雷什 / 美国 / theovernight-movie.com / 帕特里克·布莱斯 / 马克·杜普拉斯 / 79分钟 / 通宵 / 喜剧 / Patrick Brice / 英语</li>
                    <li>
                        <span class="date">2015-10-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">尼玛尼玛尼玛……</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25876726" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25876726:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Secrets of the Royal Nursery" href="javascript:void(0)" class="nbg">
                    <img alt="Secrets of the Royal Nursery" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2272481170.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>英国王室育婴房的秘密 / Secrets of the Royal Nursery</em>
                            
                        </a>
                    </li>
                        <li class="intro">英国 / 英国王室育婴房的秘密 / 纪录片 / 英语</li>
                    <li>
                        <span class="date">2015-10-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">集万千焦点于一身！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26339779" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26339779:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Over the Garden Wall" href="javascript:void(0)" class="nbg">
                    <img alt="Over the Garden Wall" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2212480699.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>花园墙外 / Over the Garden Wall</em>
                             / 迷样森林(台) / 园墙之上
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-11-03(美国) / 伊利亚·伍德 / 科林·迪恩 / 梅兰妮·林斯基 / 克里斯托弗·洛伊德 / 雪莉·琼斯 / 约翰·克里斯 / 蒂姆·克里 / 克里斯·艾塞克 / 科尔·桑切斯 / 朱达·纳尔逊 / 奥德丽·瓦西莱夫斯基 / 莎妮·索萨蒙 / 托马斯·列农 / 雅士利·伯奇 / Fred Stoller / 珍娜·奥尔特加 / Deborah Voigt / 萨姆·马林 / Samuel Ramey / 毕比·诺维尔什 / 瑙伦·德沃芙 / Jack Jones / Janet Klein / 美国 / 帕特里克·麦克海尔 / 花园墙外 / 11分钟 / 花园墙外 / 动画 / 惊悚 / 冒险 / Patrick McHale / 英语</li>
                    <li>
                        <span class="date">2015-10-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">I love Greg...</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25941842" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25941842:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="A Single Man" href="javascript:void(0)" class="nbg">
                    <img alt="A Single Man" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1749612217.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>单身男子 / A Single Man</em>
                             / 单身男人(港) / 挚爱无尽(台)
                        </a>
                    </li>
                        <li class="intro">2009-09-11(威尼斯电影节) / 2010-02-05(美国) / 科林·费尔斯 / 朱丽安·摩尔 / 尼古拉斯·霍尔特 / 马修·古迪 / 洪·科塔哈雷纳 / 芮安·辛普金斯 / 金妮弗·古德温 / 泰迪·西尔斯 / 阿莱·韦博 / 凯莉·林·普拉特 / 李·佩斯 / 亚当·沙皮罗 / 里奇·卡尼佩 / 伊莉莎白·哈诺伊斯 / 爱琳·丹尼尔斯 / 妮可·斯坦维德尔 / 唐·贝查迪 / 布拉德·本尼迪克特 / Richard Buckley / 布伦特·戈斯基 / 乔恩·哈姆 / 珍妮特·利 / 梅利莎·古德温 / 美国 / 汤姆·福特 / 101分钟 / 单身男子 / 剧情 / 同性 / 克里斯托弗·艾什伍德 Christopher Isherwood / 汤姆·福特 Tom Ford / 英语 / 西班牙语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2015-10-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">我想象的未来只有我自己的影子，是否真的会孤独终老，可如果不相信，又怎会找到，爱，这个字，简单却复杂。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3275168" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3275168:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Toy Story 3" href="javascript:void(0)" class="nbg">
                    <img alt="Toy Story 3" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1283675359.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>玩具总动员3 / Toy Story 3</em>
                             / 反斗奇兵3(港) / 玩具的故事3
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2010-06-16(中国大陆) / 2010-06-18(美国) / 汤姆·汉克斯 / 蒂姆·艾伦 / 琼·库萨克 / 尼德·巴蒂 / 唐·里克斯 / 迈克尔·基顿 / 李·厄米 / 泰迪·牛顿 / 伊瑞克·冯·迪滕 / 裘蒂·班森 / 罗里·艾伦 / 巴德·乐凯 / 埃米莉·哈恩 / 齐凡克·塔里图格 / 户田惠子 / 童自荣 / 乌比·戈德堡 / 杰克·安杰尔 / 雪莉·琳恩 / 贝雅翠丝·米勒 / 约翰·莫里斯 / 理查德·坎德 / 约翰·拉岑贝格 / 杰夫·格尔林 / 劳里·梅特卡夫 / 提摩西·道尔顿 / 邦尼·亨特 / 华莱士·肖恩 / 李·昂克里奇 / 爱丝黛儿·哈里斯 / 布莱克·克拉克 / 克里斯汀·沙尔 / 玻伦·萨特 / 唐泽寿明 / 古明华 / 美国 / 李·昂克里奇 / 103分钟 / 玩具总动员3 / 喜剧 / 动画 / 奇幻 / 冒险 / 迈克尔·阿恩特 Michael Arndt / 约翰·拉塞特 John Lasseter / 安德鲁·斯坦顿 Andrew Stanton / 李·昂克里奇 Lee Unkrich / 英语 / 西班牙语</li>
                    <li>
                        <span class="date">2015-10-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">皮克斯的电影创意好。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1858711" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1858711:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Teenage Mutant Ninja Turtles" href="javascript:void(0)" class="nbg">
                    <img alt="Teenage Mutant Ninja Turtles" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2204991581.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>忍者神龟：变种时代 / Teenage Mutant Ninja Turtles</em>
                             / 真人版忍者神龟 / 忍者龟：变种世代(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-08-03(纽约首映) / 2014-08-08(美国) / 2014-10-31(中国大陆) / 梅根·福克斯 / 威尔·阿奈特 / 威廉·菲克纳 / 阿兰·里奇森 / 诺尔·费舍 / 皮特·普劳泽克 / 约翰尼·诺克斯维尔 / 杰瑞米·霍华德 / 丹尼·伍德伯恩 / 托尼·夏尔赫布 / 水源士郎 / 乌比·戈德堡 / 野路美苗 / 艾比·艾略特 / 麦迪逊·梅森 / 克里斯·维尔德 / 保罗·菲兹杰拉德 / 法妮勒埃文斯 / 米卡尔·威戈 / 史蒂文·韦斯 / 玛丽娜·维丝曼 / 塔兰·基拉姆 / 蔡斯·凯利 / 乔安娜·帕兰特 / 夏野萨博 / 迪索·拉莫斯 / 阿米·谢斯 / 布兰登基纳 / 美国 / 乔纳森·里贝斯曼 / 101分钟 / 忍者神龟：变种时代 / 喜剧 / 动作 / 科幻 / 冒险 / 乔什·阿佩尔鲍姆 Josh Appelbaum / 安德烈·内梅克 André Nemec / 埃文·达赫迪 Evan Daughterty / 彼得·拉尔德 Peter Laird / 凯文·伊斯特曼 Kevin Eastman / 英语 / 日语</li>
                    <li>
                        <span class="date">2015-09-29</span>
                        
                    </li>
                    <li>
                        <span class="comment">不知是不是电影看太多了，基本已经可以知道剧情的发展了</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3217149" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3217149:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="港囧" href="javascript:void(0)" class="nbg">
                    <img alt="港囧" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2266145079.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>港囧</em>
                             / 人再囧途之港囧 / 人在囧途之港囧
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-09-25(中国大陆) / 徐峥 / 包贝尔 / 杜鹃 / 葛民辉 / 李灿森 / 潘虹 / 赵有亮 / 朱媛媛 / 王迅 / 冯勉恒 / 王晶 / 叶竞生 / 林晓峰 / 车保罗 / 苑琼丹 / 林雪 / 江约诚 / 郑丹瑞 / 田启文 / 吴耀汉 / 林路迪 / 詹瑞文 / 庄思敏 / 陶虹 / 林栋甫 / 阮毅雄 / 崔碧珈 / 中国大陆 / 徐峥 / 阮惟新 / 114分钟 / 喜剧 / 束焕 Huan Shu / 苏亮 Liang Su / 赵英俊 Yingjun Zhao / 邢爱娜 Aina Xing / 徐峥 Zheng Xu / 汉语普通话 / 粤语</li>
                    <li>
                        <span class="date">2015-09-27</span>
                        
                    </li>
                    <li>
                        <span class="comment">俩2b加俩女神，赵薇演的傻白甜。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25710912" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25710912:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="类似爱情2只有我知" href="javascript:void(0)" class="nbg">
                    <img alt="类似爱情2只有我知" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2265061651.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>类似爱情2只有我知</em>
                             / 你是男的我也爱2 / Nobody Knows But Me
                        </a>
                    </li>
                        <li class="intro">2015-09-25(中国大陆) / 孔垂楠 / 黄礼格 / 董玉峰 / 中国大陆 / 陈鹏 / 90分钟 / 爱情 / 同性 / 李星瑶 / 汉语普通话</li>
                    <li>
                        <span class="date">2015-09-26</span>
                        
                    </li>
                    <li>
                        <span class="comment">哭什么，又不会死😪</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26429878" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26429878:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="命中注定" href="javascript:void(0)" class="nbg">
                    <img alt="命中注定" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2253231009.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>命中注定</em>
                             / Only You
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-07-24(中国大陆) / 汤唯 / 廖凡 / 苏岩 / 方芳 / 刘韬 / 谢东燊 / 刘欣 / 西尔维娅·博蒂妮 / 吉安路易吉·德鲁奇 / 中国大陆 / 中国香港 / 美国 / 张皓 / 113分钟 / 喜剧 / 爱情 / 赵硕 Shuo Zhao / Diane Drake / 汉语普通话 / 意大利语 / 英语</li>
                    <li>
                        <span class="date">2015-09-26</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25881780" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25881780:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="战狼2" href="javascript:void(0)" class="nbg">
                    <img alt="战狼2" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2494701965.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>战狼2</em>
                             / 新战狼 / 新战死沙场
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-07-27(中国大陆) / 吴京 / 弗兰克·格里罗 / 吴刚 / 张翰 / 卢靖姗 / 丁海峰 / 淳于珊珊 / 余男 / 于谦 / 石兆琪 / 海蒂·莫尼梅克 / 奥列格·亚历山大罗维奇 / 艾伦·托尼 / 赛尔·哈里斯 / 高明 / 王森 / 苇青 / 程愫 / 张永达 / 郭秋成 / 杜建桥 / 周冠廷 / 安·詹姆斯 / 黛安娜·希拉 / 孙率航 / 张馨月 / 关海龙 / 安妮塔·斯图尔特 / 特雷弗·琼斯 / 奥斯汀·普里斯特 / 克莱·方特诺特 / 保罗·艾力卡 / 丹尼尔·哈格里夫 / 李镇男 / 庄小龙 / 陈云志 / 肯尼迪 / 宋歌 / 喜利图 / 希尔维斯塔·斯图尔特 / 蔡明凯 / 中国大陆 / 吴京 / 123分钟 / 动作 / 战争 / 吴京 Jing Wu / 董群 Qun Dong / 刘毅 Yi Liu / 汉语普通话 / 英语</li>
                    <li>
                        <span class="date">2015-09-26</span>
                        
                    </li>
                    <li>
                        <span class="comment">会功夫的人打起来就是有看头。明明才上映，为什么标记过了...</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26363254" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26363254:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="我是路人甲" href="javascript:void(0)" class="nbg">
                    <img alt="我是路人甲" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2252471054.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>我是路人甲</em>
                             / I Am Somebody
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-07-03(中国大陆) / 万国鹏 / 王婷 / 沈凯 / 徐小琴 / 林晨 / 魏星 / 蒿怡帆 / 蒿怡霏 / 覃培军 / 王昭 / 张文斌 / 林俭 / 耿力树 / 张喜来 / 周鹏 / 寇骏 / 姜涛 / 袁咏仪 / 方中信 / 刘伟强 / 冯德伦 / 吴彦祖 / 尔冬升 / 麦兆辉 / 庄文强 / 方平 / 张静初 / 许鞍华 / 林更新 / 蒋梦婕 / 陆剑明 / 顾冠忠 / 黄斌 / 周笑琴 / 韩东升 / 施小菊 / 郭威 / 王尧 / 朱荣荣 / 中国大陆 / 中国香港 / 尔冬升 / 134分钟 / 剧情 / 喜剧 / 尔冬升 Tung-Shing Yee / 汉语普通话 / 粤语 / 浙江方言</li>
                    <li>
                        <span class="date">2015-09-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">是挺真实的，但只剩真实了。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25746375" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25746375:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=690&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./43.html">44</a>
        
                
            <a href="./44.html">45</a>
        
                
            <a href="./45.html">46</a>
        
                
            <a href="./46.html">47</a>
        
                <span class="thispage" data-total-page="62">48</span>
                
            <a href="./48.html">49</a>
        
                
            <a href="./49.html">50</a>
        
                
            <a href="./50.html">51</a>
        
                
            <a href="./51.html">52</a>
        
            <span class="break">...</span>
                
            <a href="./60.html">61</a>
        
            <a href="./61.html">62</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=720&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"><img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">我的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-699758d69-vkltc-->

  <script>_SPLITTEST=''</script>





</body></html>