<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "24c0273c3dcbee33d2e46a2481a0a6e36b81b7e1",
    SSE_TIMESTAMP: "1640990624",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                706-720&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="窃听风云2" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>窃听风云2</em>
                             / 操盘风云2 / Overheard 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-08-18(中国大陆) / 2011-08-18(中国香港) / 古天乐 / 刘青云 / 吴彦祖 / 曾江 / 叶璇 / 黄奕 / 刘浩龙 / 胡枫 / 骆应钧 / 江毅 / 焦姣 / 郭锋 / 林迪安 / 邹凯光 / 方中信 / 叶景文 / 黎伟明 / 陈浩 / 方志驹 / 林慧倩 / 罗伟佳 / 袁富华 / 蒋祖曼 / 中国香港 / 中国大陆 / 麦兆辉 / 庄文强 / 117分钟(中国大陆) / 121分钟(香港) / 窃听风云2 / 剧情 / 动作 / 犯罪 / 悬疑 / 麦兆辉 Alan Mak / 庄文强 Felix Chong / 粤语 / 汉语普通话</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="竊聽風雲" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>窃听风云 / 竊聽風雲</em>
                             / Overheard
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-07-24(中国大陆) / 2009-07-30(中国香港) / 刘青云 / 古天乐 / 吴彦祖 / 张静初 / 方中信 / 王敏德 / 李子雄 / 陈伟霆 / 陆诗韵 / 袁富华 / 陈浩 / 黄子雄 / 骆应钧 / 林嘉华 / 杨羚 / 朱慧敏 / 欧锦棠 / 邹凯光 / 方平 / 姜广涛 / 中国香港 / 中国大陆 / 新加坡 / 麦兆辉 / 庄文强 / 100分钟(香港) / 窃听风云 / 动作 / 剧情 / 惊悚 / 庄文强 Felix Chong / 麦兆辉 Alan Mak / 粤语 / 汉语普通话</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="不二神探" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>不二神探</em>
                             / Badges of Fury
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-06-21(中国大陆) / 文章 / 李连杰 / 刘诗诗 / 陈妍希 / 柳岩 / 马伊琍 / 黄晓明 / 佟大为 / 冯德伦 / 吴京 / 邹兆龙 / 郑嘉颖 / 梁小龙 / 谢天华 / 张梓琳 / 邓丽欣 / 田亮 / 方力申 / 梁家仁 / 林雪 / 何超仪 / 林峯 / 冯丹滢 / 辛格·哈提汗·比托 / 何珮瑜 / 王志飞 / 黄嘉乐 / 郭锋 / 卢海鹏 / 苏伟南 / 萧家浩 / 李凯贤 / 陆建艺 / 陈堃 / 邹文正 / 田启文 / 林子聪 / 张同祖 / 黄芝琪 / 林爽 / 中国大陆 / 王子鸣 / 98分钟 / 喜剧 / 动作 / 犯罪 / 张炭 Cheung Tan / 汉语普通话 / 粤语 / 英语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="無間道III 終極無間" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>无间道3：终极无间 / 無間道III 終極無間</em>
                             / Infernal Affairs 3: End Inferno / 无间道3：终极无间
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2003-12-12(中国大陆) / 2003-12-12(中国香港) / 2003-12-12(中国台湾) / 梁朝伟 / 刘德华 / 黎明 / 陈道明 / 陈慧琳 / 黄秋生 / 曾志伟 / 郑秀文 / 刘嘉玲 / 林家栋 / 陈冠希 / 余文乐 / 尹扬明 / 利沙华 / 姚文基 / 李子雄 / 冯康宁 / 何家驹 / 高皓正 / 吴廷烨 / 黄志忠 / 李雨阳 / 尹志强 / 李天翔 / 黎伟明 / 叶运强 / 中国大陆 / 中国香港 / 刘伟强 / 麦兆辉 / 107分钟(公映版) / 118分钟 / 无间道3：终极无间 / 剧情 / 犯罪 / 惊悚 / 麦兆辉 Alan Mak / 庄文强 Felix Chong / 汉语普通话 / 粤语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="分手大师" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>分手大师</em>
                             / The Breakup Guru
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-06-27(中国大陆) / 邓超 / 杨幂 / 古力娜扎 / 栾元晖 / 秦越 / 许可嘉 / 梁超 / 赵曼竹 / 孙俪 / 柳岩 / 谢楠 / 韩寒 / 刘园园 / 纪姿含 / 吴京 / 代乐乐 / 金星 / 赵宏博 / 申雪 / 曹可凡 / 中国大陆 / 俞白眉 / 邓超 / 116分钟 / 喜剧 / 爱情 / 俞白眉 Baimei Yu / 汉语普通话 / 克里奥尔语 / 英语 / 日语 / 上海话</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="心花路放" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>心花路放</em>
                             / 玩命邂逅 / 玩儿命邂逅
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-09-06(多伦多电影节) / 2014-09-30(中国大陆) / 黄渤 / 徐峥 / 袁泉 / 周冬雨 / 陶慧 / 岳小军 / 沈腾 / 张俪 / 马苏 / 刘美含 / 王砚辉 / 焦俊艳 / 郭涛 / 李晨 / 熊乃瑾 / 夏雨 / 刘仪伟 / 雷佳音 / 雍梦婷 / 梁浩 / 果汁 / 张磊 / 宁浩 / 中国大陆 / 宁浩 / 118分钟 / 喜剧 / 爱情 / 岳小军 Xiaojun Yue / 邢爱娜 Aina Xing / 孙小杭 Xiaohang Sun / 董润年 Runnian Dong / 章迪沙 Disha Zhang / 张艺凡 Yifan Zhang / 汉语普通话 / 粤语 / 云南方言</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="西遊記第壹佰零壹回之月光寶盒" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>大话西游之月光宝盒 / 西遊記第壹佰零壹回之月光寶盒</em>
                             / 西游记101回月光宝盒 / 齐天大圣东游记
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1995-01-21(中国香港) / 2014-10-24(中国大陆) / 周星驰 / 吴孟达 / 罗家英 / 蓝洁瑛 / 莫文蔚 / 江约诚 / 陆树铭 / 刘镇伟 / 朱茵 / 李健仁 / 胡立成 / 许敬义 / 蔡少芬 / 侯艳 / 中国香港 / 中国大陆 / 刘镇伟 / 87分钟 / 大话西游之月光宝盒 / 喜剧 / 爱情 / 奇幻 / 古装 / 刘镇伟 Jeffrey Lau / 吴承恩 Cheng'en Wu / 粤语 / 汉语普通话</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="四大名捕大结局" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>四大名捕大结局</em>
                             / 四大名捕3 / The Four Final Battle
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-08-22(中国大陆) / 邓超 / 刘亦菲 / 邹兆龙 / 郑中基 / 黄秋生 / 江一燕 / 柳岩 / 吴秀波 / 邓萃雯 / 李子雄 / 苏有朋 / 于承惠 / 包贝尔 / 向恬冉 / 吴映洁 / 刘峻纬 / 曹炳琨 / 李宛真 / 李立宏 / 中国大陆 / 中国香港 / 陈嘉上 / 秦小珍 / 107分钟 / 动作 / 爱情 / 悬疑 / 武侠 / 古装 / 陈淑贤 Susan Chan / 王思敏 Simin Wang / 谭广源 Frankie Tam / 吕冠南 Koon-nam Lui / 陈嘉上 Gordon Chan / 温瑞安 Ruian Wen / 汉语普通话 / 粤语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="四大名捕2" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>四大名捕2</em>
                             / The Four 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-12-06(中国大陆) / 邓超 / 刘亦菲 / 邹兆龙 / 郑中基 / 黄秋生 / 江一燕 / 成泰燊 / 柳岩 / 吴秀波 / 邓萃雯 / 于承惠 / 包贝尔 / 向恬冉 / 吴映洁 / 刘峻纬 / 李子雄 / 张兆辉 / 周海媚 / 卢惠光 / 苗驰 / 曹炳琨 / 高天 / 刘子威 / 蒋浚赫 / 刘峰超 / 李紫菻 / 李欣烨 / 邱晔 / 李宛真 / 张煜雯 / 许建 / 李立宏 / 中国大陆 / 中国香港 / 陈嘉上 / 秦小珍 / 118分钟 / 动作 / 悬疑 / 奇幻 / 武侠 / 古装 / 陈嘉上 Gordon Chan / 陈淑贤 Susan Chan / 王思敏 Simin Wang / 谭广源 Frankie Tam / 吕冠南 Koon-nam Lui / 温瑞安 Ruian Wen / 汉语普通话</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="四大名捕" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>四大名捕</em>
                             / The Four
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-07-12(中国大陆) / 2012-07-12(中国香港) / 邓超 / 刘亦菲 / 郑中基 / 邹兆龙 / 黄秋生 / 江一燕 / 吴秀波 / 邓萃雯 / 成泰燊 / 吴映洁 / 包贝尔 / 木幡龙 / 田启文 / 方安娜 / 李子雄 / 苗驰 / 向恬冉 / 唐文龙 / 唐治平 / 刘长德 / 张颂文 / 李瑞雪 / 李紫菻 / 李欣烨 / 李宛真 / 邱晔 / 李奕泽 / 中国大陆 / 中国香港 / 陈嘉上 / 秦小珍 / 118分钟 / 动作 / 爱情 / 悬疑 / 武侠 / 古装 / 温瑞安 Ruian Wen / 陈嘉上 Gordon Chan / 王思敏 Simin Wang / 谭广源 Frankie Tam / 汉语普通话 / 粤语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="掃毒" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>扫毒 / 掃毒</em>
                             / 变役 / 当局者
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-11-29(中国大陆) / 2013-12-05(中国香港) / 古天乐 / 张家辉 / 刘青云 / 袁泉 / 卢海鹏 / 吴廷烨 / 林国斌 / 卢惠光 / 吴岱融 / 宝儿 / 马浴柯 / 释彦能 / 罗兰 / 李兆基 / 维他亚·潘斯林加姆 / 罗钧满 / 黄子恒 / 黄竣锋 / 邱万城 / 袁绮雯 / 张豫玥 / 陈振华 / 周祉君 / 王文駿 / 中国大陆 / 中国香港 / 陈木胜 / 134分钟 / 扫毒 / 剧情 / 动作 / 犯罪 / 悬疑 / 陈木胜 Benny Chan / 文隽 Manfred Wong / 凌志民 Zhimin Ling / 黄进 Wong Chun / 谭惠贞 Huizhen Tan / 汉语普通话 / 粤语 / 泰语 / 英语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Lucy" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>超体 / Lucy</em>
                             / LUCY：绝路煞姬(港) / 露西(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-07-25(美国) / 2014-08-06(法国) / 2014-10-24(中国大陆) / 斯嘉丽·约翰逊 / 摩根·弗里曼 / 崔岷植 / 阿马尔·维克德 / 朱利安·林希德-图特 / 皮鲁·埃斯贝克 / 安娜丽·提普顿 / 詹·奥利弗·施罗德 / 弗雷德里克·周 / 克莱尔·陈 / 塞德里克·舍瓦姆 / 沃尔夫冈·皮索尔斯 / 邵斯凡 / 保罗·陈 / 林暐恒 / 邢峰 / 徐灏翔 / 塞缪尔·丘林 / 李淳 / 吕克·贝松 / 高靖榕 / 克里斯多夫·泰克 / 林辰唏 / 伊冯娜·格雷迪莱 / Michèle Raingeval / 法国 / 德国 / 中国台湾 / 加拿大 / 美国 / 英国 / 吕克·贝松 / 89分钟 / 超体 / 动作 / 科幻 / 吕克·贝松 Luc Besson / 英语 / 汉语普通话 / 法语 / 意大利语 / 德语 / 西班牙语 / 韩语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="古惑仔激情篇洪興大飛哥" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>古惑仔激情篇之洪兴大飞哥 / 古惑仔激情篇洪興大飛哥</em>
                             / The Legendary / 古惑仔激情篇之洪兴大飞哥
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1999-12-10 / 黄秋生 / 麦家琪 / 黎骏 / 林子善 / 梁焯满 / 李道谕 / 苏伟南 / 中国香港 / 82min / 古惑仔激情篇之洪兴大飞哥 / 剧情 / 李兆基 Siu-Kei Lee / 小华 / 粤语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="古惑仔情義篇之洪興十三妹" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>古惑仔情义篇之洪兴十三妹 / 古惑仔情義篇之洪興十三妹</em>
                             / Portland Street Blues
                        </a>
                    </li>
                        <li class="intro">1998-02-21(中国香港) / 吴君如 / 杨恭如 / 方中信 / 尹扬明 / 舒淇 / 吴孟达 / 程东 / 植敬雯 / 敖志君 / 郑伊健 / 吴志雄 / 李兆基 / 朱永棠 / 程小龙 / 黄家诺 / 蔡业信 / 郑保瑞 / 李道谕 / 林晓峰 / 卢惠光 / 邹凯光 / 关海山 / 金兴贤 / 吴镇宇 / 中国香港 / 叶伟民 / 114分钟 / 古惑仔情义篇之洪兴十三妹 / 剧情 / 文隽 Manfred Wong / 叶念琛 Patrick Kong / 粤语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="古惑仔3之隻手遮天" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>古惑仔3之只手遮天 / 古惑仔3之隻手遮天</em>
                             / Young and Dangerous 3
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1996-06-29(中国香港) / 郑伊健 / 陈小春 / 张耀扬 / 莫文蔚 / 黎姿 / 任达华 / 林晓峰 / 朱永棠 / 林尚义 / 谢天华 / 黄秋生 / 柯受良 / 陈惠敏 / 吴志雄 / 刘宝贤 / 韩坤 / 黄金棠 / 蔡业信 / 王文成 / 罗伟佳 / 李道谕 / 李兆基 / 梁焯满 / 谭小环 / 罗兰 / 元彬 / 陈国坤 / 中国香港 / 刘伟强 / 98 分钟 / 古惑仔3之只手遮天 / 动作 / 剧情 / 文隽 Manfred Wong / 秋婷 Ting Chau / 粤语 / 英语 / 汉语普通话 / 荷兰语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=690&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./43.html">44</a>
        
                
            <a href="./44.html">45</a>
        
                
            <a href="./45.html">46</a>
        
                
            <a href="./46.html">47</a>
        
                <span class="thispage" data-total-page="61">48</span>
                
            <a href="./48.html">49</a>
        
                
            <a href="./49.html">50</a>
        
                
            <a href="./50.html">51</a>
        
                
            <a href="./51.html">52</a>
        
            <span class="break">...</span>
                
            <a href="./59.html">60</a>
        
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=720&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-jtsq4-->

  <script>_SPLITTEST=''</script>





</body></html>