<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    我看过的电影(930)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "78857574",
    UPLOAD_AUTH_TOKEN: "78857574:b22aece14e2c3c889c4b13e4bd9b2be42ff809b3",
    SSE_TOKEN: "ebf1dd79ef1b04c3621091d707b1b1c25d290f7c",
    SSE_TIMESTAMP: "1647390601",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                <img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg">
            </a>
        </div>
        <div class="info">
            <h1>我看过的电影(930)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                736-750&nbsp;/&nbsp;930
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="四大名捕大结局" href="javascript:void(0)" class="nbg">
                    <img alt="四大名捕大结局" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2194662832.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>四大名捕大结局</em>
                             / 四大名捕3 / The Four Final Battle
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-08-22(中国大陆) / 邓超 / 刘亦菲 / 邹兆龙 / 郑中基 / 黄秋生 / 江一燕 / 柳岩 / 吴秀波 / 邓萃雯 / 李子雄 / 苏有朋 / 于承惠 / 包贝尔 / 向恬冉 / 吴映洁 / 刘峻纬 / 曹炳琨 / 李宛真 / 李立宏 / 中国大陆 / 中国香港 / 陈嘉上 / 秦小珍 / 107分钟 / 动作 / 爱情 / 悬疑 / 武侠 / 古装 / 陈淑贤 Susan Chan / 王思敏 Simin Wang / 谭广源 Frankie Tam / 吕冠南 Koon-nam Lui / 陈嘉上 Gordon Chan / 温瑞安 Ruian Wen / 汉语普通话 / 粤语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10604893" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10604893:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="四大名捕2" href="javascript:void(0)" class="nbg">
                    <img alt="四大名捕2" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2158164038.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>四大名捕2</em>
                             / The Four 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-12-06(中国大陆) / 邓超 / 刘亦菲 / 邹兆龙 / 郑中基 / 黄秋生 / 江一燕 / 成泰燊 / 柳岩 / 吴秀波 / 邓萃雯 / 于承惠 / 包贝尔 / 向恬冉 / 吴映洁 / 刘峻纬 / 李子雄 / 张兆辉 / 周海媚 / 卢惠光 / 苗驰 / 曹炳琨 / 高天 / 刘子威 / 蒋浚赫 / 刘峰超 / 李紫菻 / 李欣烨 / 邱晔 / 李宛真 / 张煜雯 / 许建 / 李立宏 / 中国大陆 / 中国香港 / 陈嘉上 / 秦小珍 / 118分钟 / 动作 / 悬疑 / 奇幻 / 武侠 / 古装 / 陈嘉上 Gordon Chan / 陈淑贤 Susan Chan / 王思敏 Simin Wang / 谭广源 Frankie Tam / 吕冠南 Koon-nam Lui / 温瑞安 Ruian Wen / 汉语普通话</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10604892" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10604892:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="四大名捕" href="javascript:void(0)" class="nbg">
                    <img alt="四大名捕" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1607300196.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>四大名捕</em>
                             / The Four
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-07-12(中国大陆) / 2012-07-12(中国香港) / 邓超 / 刘亦菲 / 郑中基 / 邹兆龙 / 黄秋生 / 江一燕 / 吴秀波 / 邓萃雯 / 成泰燊 / 吴映洁 / 包贝尔 / 木幡龙 / 田启文 / 方安娜 / 李子雄 / 苗驰 / 向恬冉 / 唐文龙 / 唐治平 / 刘长德 / 张颂文 / 李瑞雪 / 李紫菻 / 李欣烨 / 李宛真 / 邱晔 / 李奕泽 / 中国大陆 / 中国香港 / 陈嘉上 / 秦小珍 / 118分钟 / 动作 / 爱情 / 悬疑 / 武侠 / 古装 / 温瑞安 Ruian Wen / 陈嘉上 Gordon Chan / 王思敏 Simin Wang / 谭广源 Frankie Tam / 汉语普通话 / 粤语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-6124012" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="6124012:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="掃毒" href="javascript:void(0)" class="nbg">
                    <img alt="掃毒" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2157480930.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>扫毒 / 掃毒</em>
                             / 变役 / 当局者
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-11-29(中国大陆) / 2013-12-05(中国香港) / 古天乐 / 张家辉 / 刘青云 / 袁泉 / 卢海鹏 / 吴廷烨 / 林国斌 / 卢惠光 / 吴岱融 / 宝儿 / 马浴柯 / 释彦能 / 罗兰 / 李兆基 / 维他亚·潘斯林加姆 / 罗钧满 / 黄子恒 / 黄竣锋 / 邱万城 / 袁绮雯 / 张豫玥 / 陈振华 / 周祉君 / 王文駿 / 中国大陆 / 中国香港 / 陈木胜 / 134分钟 / 扫毒 / 剧情 / 动作 / 犯罪 / 悬疑 / 陈木胜 Benny Chan / 文隽 Manfred Wong / 凌志民 Zhimin Ling / 黄进 Wong Chun / 谭惠贞 Huizhen Tan / 汉语普通话 / 粤语 / 泰语 / 英语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10763164" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10763164:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Lucy" href="javascript:void(0)" class="nbg">
                    <img alt="Lucy" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2201909284.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>超体 / Lucy</em>
                             / LUCY：绝路煞姬(港) / 露西(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-07-25(美国) / 2014-08-06(法国) / 2014-10-24(中国大陆) / 斯嘉丽·约翰逊 / 摩根·弗里曼 / 崔岷植 / 阿马尔·维克德 / 朱利安·林希德-图特 / 皮鲁·埃斯贝克 / 安娜丽·提普顿 / 詹·奥利弗·施罗德 / 弗雷德里克·周 / 克莱尔·陈 / 塞德里克·舍瓦姆 / 沃尔夫冈·皮索尔斯 / 邵斯凡 / 保罗·陈 / 林暐恒 / 邢峰 / 徐灏翔 / 塞缪尔·丘林 / 李淳 / 吕克·贝松 / 高靖榕 / 克里斯多夫·泰克 / 林辰唏 / 伊冯娜·格雷迪莱 / Michèle Raingeval / 法国 / 德国 / 中国台湾 / 加拿大 / 美国 / 英国 / 吕克·贝松 / 89分钟 / 超体 / 动作 / 科幻 / 吕克·贝松 Luc Besson / 英语 / 汉语普通话 / 法语 / 意大利语 / 德语 / 西班牙语 / 韩语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-24404677" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="24404677:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="古惑仔激情篇洪興大飛哥" href="javascript:void(0)" class="nbg">
                    <img alt="古惑仔激情篇洪興大飛哥" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2515570681.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>古惑仔激情篇之洪兴大飞哥 / 古惑仔激情篇洪興大飛哥</em>
                             / The Legendary / 古惑仔激情篇之洪兴大飞哥
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1999-12-10 / 黄秋生 / 麦家琪 / 黎骏 / 林子善 / 梁焯满 / 李道谕 / 苏伟南 / 中国香港 / 82min / 古惑仔激情篇之洪兴大飞哥 / 剧情 / 李兆基 Siu-Kei Lee / 小华 / 粤语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1300183" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1300183:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="古惑仔情義篇之洪興十三妹" href="javascript:void(0)" class="nbg">
                    <img alt="古惑仔情義篇之洪興十三妹" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1519913207.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>古惑仔情义篇之洪兴十三妹 / 古惑仔情義篇之洪興十三妹</em>
                             / Portland Street Blues
                        </a>
                    </li>
                        <li class="intro">1998-02-21(中国香港) / 吴君如 / 杨恭如 / 方中信 / 尹扬明 / 舒淇 / 吴孟达 / 程东 / 植敬雯 / 敖志君 / 郑伊健 / 吴志雄 / 李兆基 / 朱永棠 / 程小龙 / 黄家诺 / 蔡业信 / 郑保瑞 / 李道谕 / 林晓峰 / 卢惠光 / 邹凯光 / 关海山 / 金兴贤 / 吴镇宇 / 中国香港 / 叶伟民 / 114分钟 / 古惑仔情义篇之洪兴十三妹 / 剧情 / 文隽 Manfred Wong / 叶念琛 Patrick Kong / 粤语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1307345" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1307345:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="古惑仔3之隻手遮天" href="javascript:void(0)" class="nbg">
                    <img alt="古惑仔3之隻手遮天" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2607351160.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>古惑仔3之只手遮天 / 古惑仔3之隻手遮天</em>
                             / Young and Dangerous 3
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1996-06-29(中国香港) / 郑伊健 / 陈小春 / 张耀扬 / 莫文蔚 / 黎姿 / 任达华 / 林晓峰 / 朱永棠 / 林尚义 / 谢天华 / 黄秋生 / 柯受良 / 陈惠敏 / 吴志雄 / 刘宝贤 / 韩坤 / 黄金棠 / 蔡业信 / 王文成 / 罗伟佳 / 李道谕 / 李兆基 / 梁焯满 / 谭小环 / 罗兰 / 元彬 / 陈国坤 / 中国香港 / 刘伟强 / 98 分钟 / 古惑仔3之只手遮天 / 动作 / 剧情 / 文隽 Manfred Wong / 秋婷 Ting Chau / 粤语 / 英语 / 汉语普通话 / 荷兰语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1301283" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1301283:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="古惑仔2之猛龍過江" href="javascript:void(0)" class="nbg">
                    <img alt="古惑仔2之猛龍過江" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p722782989.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>古惑仔2之猛龙过江 / 古惑仔2之猛龍過江</em>
                             / 英雄赤女(台) / Young and Dangerous 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1996-03-30(中国香港) / 郑伊健 / 陈小春 / 黎姿 / 邱淑贞 / 林晓峰 / 谢天华 / 朱永棠 / 黄秋生 / 任达华 / 雷震 / 柯受良 / 谭小环 / 陈豪 / 程小龙 / 罗伟佳 / 蔡业信 / 刘宝贤 / 黄金棠 / 邵萱 / 李道谕 / 李兆基 / 林尚义 / 李力持 / 中国香港 / 刘伟强 / 101 分钟 / 古惑仔2之猛龙过江 / 动作 / 剧情 / 许莎朗 Sharon Hui / 文隽 Manfred Wong / 粤语 / 英语 / 汉语普通话</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1473074" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1473074:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="古惑仔之人在江湖" href="javascript:void(0)" class="nbg">
                    <img alt="古惑仔之人在江湖" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2637722859.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>古惑仔之人在江湖</em>
                             / 英雄不败(台) / Young and Dangerous
                        </a>
                    </li>
                        <li class="intro">1996-01-25(中国香港) / 郑伊健 / 陈小春 / 吴镇宇 / 黎姿 / 林晓峰 / 谢天华 / 林尚义 / 朱永棠 / 吴志雄 / 任达华 / 夏萍 / 罗兰 / 王龙威 / 陈秀茹 / 李道瑜 / 程小龙 / 植敬雯 / 王文駿 / 蔡业信 / 周树基 / 雷达 / 邓泰和 / 何嘉辉 / 郑保瑞 / 成奎安 / 林迪安 / 郑祖 / 李兆基 / 李道谕 / 曾小燕 / 中国香港 / 刘伟强 / 97 分钟 / 动作 / 犯罪 / 文隽 Manfred Wong / 粤语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1433736" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1433736:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="新少林寺" href="javascript:void(0)" class="nbg">
                    <img alt="新少林寺" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p788475809.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>新少林寺</em>
                             / Shaolin
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-01-19(中国大陆) / 刘德华 / 谢霆锋 / 范冰冰 / 成龙 / 吴京 / 余少群 / 熊欣欣 / 于海 / 释彦能 / 白冰 / 景珂 / 岛田瑠那 / 桑伟淋 / 张浩 / 廖松梅 / 张海龙 / 杨采盈 / 毕海峰 / 张辉 / 石天硕 / 何中华 / 师小红 / 郝汉 / 陈之辉 / 柯志凌 / 祁高坤 / 李奇龙 / 中国大陆 / 中国香港 / 陈木胜 / 132分钟 / 剧情 / 动作 / 袁锦麟 Alan Yuen / 张志光 Chi-Kwong Cheung / 王秋雨 Quiyu Wang / 陈锦昌 Kam Cheong Chan / 张炭 Cheung Tan / 汉语普通话</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4097023" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4097023:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="第一次" href="javascript:void(0)" class="nbg">
                    <img alt="第一次" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1544398538.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>第一次</em>
                             / First Time
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-06-08(中国大陆) / 杨颖 / 赵又廷 / 江珊 / 赵树海 / 田原 / 赵英俊 / 袁咏琳 / 白百何 / 黄轩 / 中国大陆 / 韩延 / 103分钟 / 爱情 / 韩延 Yan Han / 汉语普通话</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-7155083" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="7155083:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="十二生肖" href="javascript:void(0)" class="nbg">
                    <img alt="十二生肖" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1826580562.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>十二生肖</em>
                             / 12生肖 / 生肖传说
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-12-12(中国香港电影节) / 2012-12-20(中国大陆) / 2012-12-20(中国香港) / 成龙 / 权相宇 / 廖凡 / 姚星彤 / 张蓝心 / 白露娜 / 刘承俊 / 吴彦祖 / 舒淇 / 李宗盛 / 陈柏霖 / 卢惠光 / 耿长军 / 白冰 / 林鹏 / 梅丽安·布兰卡特 / 吕克·本扎 / 崔浩博 / 马修·雷·鲁格斯 / 奥利弗·普莱特 / 阿拉·萨菲 / 勃小龙 / 穆爱华 / 艾文·科蒂克 / 姜文 / 罗伟 / 保罗·菲利普·克拉克 / 艾米丽·古利奥特 / 凯特琳·戴雪儿 / 林凤娇 / 王庆祥 / 中国大陆 / 中国香港 / 成龙 / 122分钟 / 喜剧 / 动作 / 冒险 / 成龙 Jackie Chan / 唐季礼 Stanley Tong / 邓景生 Edward Tang / 陈勋奇 Frankie Chan / 英语 / 汉语普通话 / 粤语 / 法语 / 西班牙语</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4212172" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4212172:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="观音山" href="javascript:void(0)" class="nbg">
                    <img alt="观音山" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p860965126.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>观音山</em>
                             / Buddha Mountain
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2010-10-24(东京电影节) / 2011-03-03(中国大陆) / 张艾嘉 / 范冰冰 / 陈柏霖 / 肥龙 / 方励 / 金晶 / 鲍振江 / 段博文 / 李斯丹妮 / 谢添 / 王婷 / 刘洁 / 中国大陆 / 李玉 / 102分钟 / 105分钟(国际版) / 剧情 / 爱情 / 李玉 Yu Li / 方励 Li Fang / 汉语普通话</li>
                    <li>
                        <span class="date">2015-09-19</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4059245" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4059245:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Mission: Impossible - Rogue Nation" href="javascript:void(0)" class="nbg">
                    <img alt="Mission: Impossible - Rogue Nation" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2263582212.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>碟中谍5：神秘国度 / Mission: Impossible - Rogue Nation</em>
                             / 碟中谍5 / 职业特工队：叛逆帝国(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-07-31(美国) / 2015-09-08(中国大陆) / 汤姆·克鲁斯 / 杰瑞米·雷纳 / 丽贝卡·弗格森 / 西蒙·佩吉 / 文·瑞姆斯 / 西恩·哈里斯 / 西蒙·迈克伯尼 / 汤姆·霍兰德 / 延斯·赫尔腾 / 亚历克·鲍德温 / 张静初 / 马特罗·鲁菲诺 / 费尔南多·阿巴迪 / 亚历克·乌特戈夫 / 赫敏·科菲尔德 / 奈吉尔·巴伯 / William Roberts / 巴纳巴斯·雷蒂 / 罗伯特‧马瑟 / 沃尔夫冈·施特格曼 / 阿美莉嘉·奥利沃 / 斯特拉·斯托克尔 / 劳伦斯·鲁波 / 沃尔夫冈·塞尔尼 / 鲁珀特·威克姆 / 彼得·斯塔克 / 雷切尔·汉德肖 / 肖恩·克罗宁 / 亚森·阿图 / 明格斯·约翰斯顿 / 奥赛·伊克希尔 / 奈杰尔·艾伦 / Femi Ogunbanjo / Thomas Anton / 拉斯科·阿特金斯 / 查尔斯·巴巴洛拉 / 理查德·班克斯 / 劳拉·伯纳德斯基 / 埃里克·可可 / 贝恩·科拉科 / 郭易峰 / 所罗门·塔伊沃·贾斯提费尔德 / 张若兰 / 阿拉娜·玛丽亚 / 玛吉·巴基尔 / 美国 / 中国大陆 / 中国香港 / 奥地利 / 英国 / 摩洛哥 / 克里斯托弗·麦奎里 / 131分钟 / 碟中谍5：神秘国度 / 动作 / 惊悚 / 冒险 / 克里斯托弗·麦奎里 Christopher McQuarrie / 德鲁·皮尔斯 Drew Pearce / 布鲁斯·盖勒 Bruce Geller / 英语 / 瑞典语 / 德语</li>
                    <li>
                        <span class="date">2015-09-13</span>
                        
                    </li>
                    <li>
                        <span class="comment">nice...</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10727641" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10727641:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=720&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./45.html">46</a>
        
                
            <a href="./46.html">47</a>
        
                
            <a href="./47.html">48</a>
        
                
            <a href="./48.html">49</a>
        
                <span class="thispage" data-total-page="62">50</span>
                
            <a href="./50.html">51</a>
        
                
            <a href="./51.html">52</a>
        
                
            <a href="./52.html">53</a>
        
                
            <a href="./53.html">54</a>
        
            <span class="break">...</span>
                
            <a href="./60.html">61</a>
        
            <a href="./61.html">62</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=750&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"><img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">我的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-699758d69-d9bh6-->

  <script>_SPLITTEST=''</script>





</body></html>