<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    我看过的电影(930)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "78857574",
    UPLOAD_AUTH_TOKEN: "78857574:b22aece14e2c3c889c4b13e4bd9b2be42ff809b3",
    SSE_TOKEN: "9febffdfc32a704d84221cc96ee5f366a320a39d",
    SSE_TIMESTAMP: "1647390602",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                <img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg">
            </a>
        </div>
        <div class="info">
            <h1>我看过的电影(930)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                781-795&nbsp;/&nbsp;930
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Inside Out" href="javascript:void(0)" class="nbg">
                    <img alt="Inside Out" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2266293606.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>头脑特工队 / Inside Out</em>
                             / 玩转脑朋友(港) / 脑筋急转弯(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-06-19(美国) / 2015-10-06(中国大陆) / 艾米·波勒 / 菲利丝·史密斯 / 理查德·坎德 / 比尔·哈德尔 / 刘易斯·布莱克 / 敏迪·卡灵 / 凯特林·迪亚斯 / 戴安·琳恩 / 凯尔·麦克拉克伦 / 波拉·庞德斯通 / 鲍比·莫尼汉 / 保拉·佩尔 / 大卫·戈尔兹 / 弗兰克·奥兹 / 乔什·库雷 / 弗利 / 约翰·拉岑贝格 / 卡洛斯·阿拉斯拉奇 / 皮特·萨加尔 / 拉什达·琼斯 / 罗里·艾伦 / 约翰·齐甘 / 雪莉·琳恩 / 拉瑞恩·纽曼 / 帕丽斯·冯·戴克 / 山新 / 杰夫·奎卡 / 鲍伯·伯根 / 特蕾莎·甘泽尔 / 张震 / 佟心竹 / 美国 / movies.disney.com/inside-out/ / 彼特·道格特 / 罗纳尔多·德尔·卡门 / 95分钟 / 头脑特工队 / 喜剧 / 动画 / 冒险 / 彼特·道格特 Pete Docter / 罗纳尔多·德尔·卡门 Ronaldo Del Carmen / Meg LeFauve / 乔什·库雷 Josh Cooley / 迈克尔·阿恩特 Michael Arndt / 西蒙·里奇 Simon Rich / 鲍勃·彼德森 Bob Peterson / 比尔·哈德尔 Bill Hader / 艾米·波勒 Amy Poehler / 英语</li>
                    <li>
                        <span class="date">2015-07-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">很有创意，迪斯尼...这是一部很有教育意义的电影，你所有情绪都是被需要的.</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10533913" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10533913:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Shaun the Sheep Movie" href="javascript:void(0)" class="nbg">
                    <img alt="Shaun the Sheep Movie" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2249261202.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>小羊肖恩 / Shaun the Sheep Movie</em>
                             / 小羊肖恩大电影 / 超级无敌羊咩咩大电影之咩最劲(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-02-06(英国) / 2015-07-17(中国大陆) / 贾斯汀·弗莱彻 / 约翰·斯帕克斯 / 欧米德·吉亚李利 / 理查德·韦伯 / 凯特·哈伯 / 安迪·尼曼 / 西蒙·格林诺 / 艾玛·泰特 / 蒂姆·汉兹 / 杰克·保尔森 / 西恩·康诺利 / 亨利·伯顿 / 迪曼特·维瓦斯 / 苏菲·劳顿 / 妮娅·梅迪·詹姆斯 / 斯坦利·昂温 / 英国 / 法国 / www.shaunthesheep.com / 马克·伯顿 / 理查德·斯塔扎克 / 85分钟 / 小羊肖恩 / 喜剧 / 动画 / 冒险 / 马克·伯顿 Mark Burton / 理查德·斯塔扎克 Richard Starzak / 尼克·帕克 Nick Park / 无对白</li>
                    <li>
                        <span class="date">2015-07-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">一句台词没有，特别温情的一部电影.</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-24397586" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="24397586:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="小时代4：灵魂尽头" href="javascript:void(0)" class="nbg">
                    <img alt="小时代4：灵魂尽头" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2250399288.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>小时代4：灵魂尽头</em>
                             / 小时代4 / Tiny Time 4.0
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-07-09(中国大陆) / 杨幂 / 郭采洁 / 陈学冬 / 郭碧婷 / 谢依霖 / 李贤宰 / 锦荣 / 任言恺 / 姜潮 / 王琳 / 商侃 / 张籽沐 / 纪姿含 / 柯震东 / 张汉盛 / 陈冠宁 / 朱庭辰 / 柴蔚 / 汤甄 / 中国大陆 / 郭敬明 / 116分钟 / 152分钟(特别版) / 喜剧 / 爱情 / 郭敬明 Jingming Guo / 汉语普通话</li>
                    <li>
                        <span class="date">2015-07-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">第一部和最后一部都是和lucia看的，有始有终，电影很坑，但还是挺开心！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-24847343" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="24847343:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="西游记之大圣归来" href="javascript:void(0)" class="nbg">
                    <img alt="西游记之大圣归来" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2255028780.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>西游记之大圣归来</em>
                             / 大圣归来 / 猴王
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-07-10(中国大陆) / 张磊 / 林子杰 / 吴文伦 / 童自荣 / 刘九容 / 吴迪 / 刘北辰 / 赵乾景 / 周帅 / 滕奎兴 / 崔杰 / 陈哲 / 李宇峰 / 张欣 / 赵铭洲 / 吉静 / 中国大陆 / 田晓鹏 / 89分钟 / 剧情 / 动画 / 奇幻 / 田晓鹏 Xiaopeng Tian / 刘虎 Hu Liu / 米粒 Li Mi / 金冉 Ran Jin / 金成 Cheng Jin / 汉语普通话 / 粤语</li>
                    <li>
                        <span class="date">2015-07-12</span>
                        
                    </li>
                    <li>
                        <span class="comment">居然第一次和俩发小看电影，我还是改不了进影院就犯困的毛病，话说，效果还可以，情节太一般，支持下国产吧</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26277313" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26277313:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Begin Again" href="javascript:void(0)" class="nbg">
                    <img alt="Begin Again" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2250287733.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>再次出发之纽约遇见你 / Begin Again</em>
                             / 再次出发 / 歌曲改变人生
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-09-07(多伦多电影节) / 2014-07-11(美国) / 2015-06-26(中国大陆) / 凯拉·奈特莉 / 马克·鲁弗洛 / 亚当·莱文 / 詹姆斯·柯登 / 海莉·斯坦菲尔德 / 凯瑟琳·基纳 / 茅斯·达夫 / 罗伯·莫洛 / 伊恩·布罗茨基 / 香农·沃尔什 / 大卫·埃伯利斯 / 马科·阿桑特 / 玛丽·凯瑟琳·歌瑞森 / 詹·雅各布 / 席洛·格林 / 詹妮弗·李·杰克逊 / 特里·刘易斯 / 吉米·帕伦博 / 西蒙·德兰尼 / 丹妮尔·布里瑟布瓦 / 基恩·鲁弗洛 / 尼古拉斯·丹尼尔·冈萨雷斯 / 麦迪·科尔曼 / 阿雅·卡什 / 大卫·彭德尔顿 / 保罗·罗梅罗 / 安德鲁·塞伦 / 凯伦·皮特曼 / 罗恩·沃斯 / 美国 / 约翰·卡尼 / 104分钟 / 再次出发之纽约遇见你 / 喜剧 / 爱情 / 音乐 / 约翰·卡尼 John Carney / 英语</li>
                    <li>
                        <span class="date">2015-07-04</span>
                        
                    </li>
                    <li>
                        <span class="comment">我是来听歌的.</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-6874403" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="6874403:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Grand Budapest Hotel" href="javascript:void(0)" class="nbg">
                    <img alt="The Grand Budapest Hotel" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2178872593.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>布达佩斯大饭店 / The Grand Budapest Hotel</em>
                             / 布达佩斯大酒店(港) / 欢迎来到布达佩斯大饭店(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-02-06(柏林电影节) / 2014-03-28(美国) / 拉尔夫·费因斯 / 托尼·雷沃罗利 / 艾德里安·布洛迪 / 威廉·达福 / 裘德·洛 / 爱德华·诺顿 / 西尔莎·罗南 / 蒂尔达·斯文顿 / 比尔·默瑞 / 蕾雅·赛杜 / 欧文·威尔逊 / 詹森·舒瓦兹曼 / 马修·阿马立克 / F·默里·亚伯拉罕 / 汤姆·威尔金森 / 杰夫·高布伦 / 哈威·凯特尔 / 鲍勃·巴拉班 / 费舍·史蒂芬斯 / 华莱士·沃洛达斯基 / 杰拉·尼曼 / 瓦里丝·阿卢瓦利亚 / 戈洛·欧拉 / 吴永庆 / 丽萨·克鲁泽 / 野村训市 / 卡尔·马克维斯 / 弗洛里安·卢卡斯 / 吉塞尔达·沃洛迪 / 拉里·派恩 / 尼尔·哈夫 / 汉勒斯·魏格纳 / 加布里埃尔·拉什 / 卢卡斯·赫奇斯 / 美国 / 德国 / 英国 / www.grandbudapesthotel.com / 韦斯·安德森 / 99分钟 / 布达佩斯大饭店 / 剧情 / 喜剧 / 冒险 / 韦斯·安德森 Wes Anderson / 雨果·吉尼斯 Hugo Guinness / 斯蒂芬·茨威格 Stefan Zweig / 英语 / 法语 / 德语</li>
                    <li>
                        <span class="date">2015-06-22</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-11525673" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="11525673:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Tinker Bell and the Legend of the NeverBeast" href="javascript:void(0)" class="nbg">
                    <img alt="Tinker Bell and the Legend of the NeverBeast" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2214920830.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>小叮当：永无兽传奇 / Tinker Bell and the Legend of the NeverBeast</em>
                             / 奇妙仙子：奇幻兽传说(台) / 廷克·贝尔：永无兽传奇
                        </a>
                    </li>
                        <li class="intro">2014-12-12(英国) / 2014-12-19(美国) / 金妮弗·古德温 / 梅·惠特曼 / 罗莎里奥·道森 / 刘玉玲 / 帕梅拉·阿德龙 / 雷文-西蒙尼 / 梅根·希尔提 / 丹娜·奎里拉 / 汪可盈 / 托马斯·列农 / 杰夫·科尔文 / 奥利维亚·霍尔特 / 格蕾·德丽斯勒 / 凯瑞·华格伦 / 安杰丽卡·休斯顿 / 梅兰妮·布朗 / 梅利莎·古德温 / 佟心竹 / 美国 / 史蒂夫·伦特 / 76分钟 / 小叮当：永无兽传奇 / 动画 / 奇幻 / 冒险 / 灾难 / 汤姆·罗杰斯 Tom Rogers / 罗伯特·斯库利 Robert Schooley / 马克·麦科克尔 Mark McCorkle / 凯特·康杜尔 Kate Kondell / 史蒂夫·伦特 Steve Loter / 英语</li>
                    <li>
                        <span class="date">2015-06-21</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26258872" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26258872:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Jurassic World" href="javascript:void(0)" class="nbg">
                    <img alt="Jurassic World" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2246217861.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>侏罗纪世界 / Jurassic World</em>
                             / 侏罗纪公园4 / Jurassic Park IV
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-06-10(中国大陆) / 2015-06-12(美国) / 克里斯·帕拉特 / 布莱丝·达拉斯·霍华德 / 文森特·多诺费奥 / 泰·辛普金斯 / 尼克·罗宾森 / 奥玛·希 / 黄荣亮 / 伊尔凡·可汗 / 朱迪·格雷尔 / 杰克·约翰逊 / 劳伦·拉普库斯 / 凯蒂·麦克格雷斯 / 布莱恩·泰 / 埃迪·J.费尔南德斯 / 因德尔·库马尔 / 安迪·巴克利 / 吉米·法伦 / 克洛伊·佩兰 / 爱德华·J·德尔莫尔三世 / 布里安娜·威廉姆斯 / 布拉德·伯德 / 玉木宏 / 科尔比·布斯曼 / 帕特里克·克劳利 / 周帅 / 杰夫·奎卡 / 朱莉娅·霍特 / 布茹克·哈特佐格 / 加里·维克斯 / 迈克尔·帕帕约翰 / 詹姆斯·杜蒙特 / 埃里克·埃德尔斯坦 / 科林·特雷沃罗 / 美国 / www.jurassicworld.com / 科林·特雷沃罗 / 124分钟 / 侏罗纪世界 / 动作 / 科幻 / 冒险 / 里克·杰法 Rick Jaffa / 阿曼达·斯尔沃 Amanda Silver / 德里克·康纳利 Derek Connolly / 科林·特雷沃罗 Colin Trevorrow / 迈克尔·克莱顿 Michael Crichton / 英语</li>
                    <li>
                        <span class="date">2015-06-20</span>
                        
                    </li>
                    <li>
                        <span class="comment">DAMMIT FANTASTIC.......</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10440138" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10440138:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Pirates of the Caribbean: The Curse of the Black Pearl" href="javascript:void(0)" class="nbg">
                    <img alt="Pirates of the Caribbean: The Curse of the Black Pearl" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1596085504.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>加勒比海盗 / Pirates of the Caribbean: The Curse of the Black Pearl</em>
                             / 加勒比海盗1：黑珍珠号的诅咒 / 神鬼奇航：鬼盗船魔咒(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2003-07-09(美国) / 2003-11-21(中国大陆) / 约翰尼·德普 / 杰弗里·拉什 / 奥兰多·布鲁姆 / 凯拉·奈特莉 / 杰克·达文波特 / 乔纳森·普雷斯 / 李·阿伦伯格 / 大卫·拜利 / 马丁·科勒巴 / 乔迪·卡巴勒罗 / 劳伦·马赫 / 安格斯·巴尼特 / 露欣达·戴泽克 / 陆建艺 / Giles New / 小伊萨克·C.辛格尔顿 / 麦肯锡·克鲁克 / Christian Martin / 凯文·麦克纳利 / 瓦妮莎·布兰奇 / 内杰·亚当森 / 戴兰·史密斯 / 盖伊·西纳 / 达米恩·奥哈尔 / David Patykewich / 保罗·基斯 / 罗比·基 / 卢克·德·沃夫松 / 佐伊·索尔达娜 / 乔·格里萨菲 / 格雷格·埃利斯 / 特雷瓦·埃迪内 / 特雷沃·格德达德 / 杰拉德·J·雷耶斯 / 美国 / 戈尔·维宾斯基 / 143 分钟 / 加勒比海盗 / 动作 / 冒险 / 奇幻 / 泰德·艾略特 Ted Elliott / 特里·鲁西奥 Terry Rossio / 斯图尔特·贝亚蒂耶 Stuart Beattie / 杰·沃尔伯特 Jay Wolpert / 英语</li>
                    <li>
                        <span class="date">2015-06-17</span>
                        
                    </li>
                    <li>
                        <span class="comment">我说停两天看海贼王，然后我就看加勒比海盗了😛😛</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1298070" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1298070:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="PK" href="javascript:void(0)" class="nbg">
                    <img alt="PK" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2243803873.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>我的个神啊 / PK</em>
                             / 外星醉汉PK地球神 / 来自星星的傻瓜PK(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-12-19(印度) / 2015-05-22(中国大陆) / 阿米尔·汗 / 安努舒卡·莎玛 / 桑杰·达特 / 博曼·伊拉尼 / 沙鲁巴·舒克拉 / 苏尚特·辛格·拉吉普特 / 帕里卡沙特.萨赫尼 / 阿马尔迪普·杰哈 / 瑞玛·德纳斯 / 迪伦德拉·德维韦迪 / 赛·甘德沃尔 / 拉姆·P·塞蒂 / 兰比尔·卡普尔 / 沙尔曼·乔希 / 印度 / 拉吉库马尔·希拉尼 / 139分钟(中国大陆) / 153分钟(印度) / 我的个神啊 / 喜剧 / 奇幻 / 拉吉库马尔·希拉尼 Rajkumar Hirani / 阿西奇·乔希 Abhijit Joshi / 印地语 / 英语 / 乌尔都语</li>
                    <li>
                        <span class="date">2015-06-13</span>
                        
                    </li>
                    <li>
                        <span class="comment">爱你，就是给你最大的自由，印度插曲也蛮好听的，男主很二女主很漂亮他们没有在一起.</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10741643" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10741643:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="De battre mon coeur s'est arrêté" href="javascript:void(0)" class="nbg">
                    <img alt="De battre mon coeur s'est arrêté" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p450264802.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>我心遗忘的节奏 / De battre mon coeur s'est arrêté</em>
                             / 我心跳跃 / 心跳停顿
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2005-02-17(柏林电影节) / 2005-03-16(法国) / 罗曼·杜里斯 / 艾曼纽·德芙 / 奥雷·阿蒂卡 / 尼尔斯·阿贺斯图普 / 乔纳森·扎凯 / 范林丹 / 安东·雅科夫列夫 / 梅拉尼·罗兰 / 艾玛努艾尔·芬奇 / 亚历珊德拉·耶尔马克 / David Birgé-Cotte / Jamal Djabou / 法国 / 雅克·欧迪亚 / 108分钟 / 我心遗忘的节奏 / 剧情 / Jacques Audiard / Tonino Benacquista / 法语 / 英语 / 俄语 / 汉语普通话 / 越南话</li>
                    <li>
                        <span class="date">2015-06-07</span>
                        
                    </li>
                    <li>
                        <span class="comment">男主的胸毛太厚了，不太喜欢表演+钢琴配音组合这种形式。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1309066" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1309066:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Pitch Perfect 2" href="javascript:void(0)" class="nbg">
                    <img alt="Pitch Perfect 2" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2272070042.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>完美音调2 / Pitch Perfect 2</em>
                             / 歌喉赞2(台) / 完美巨声帮2(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-05-15(美国) / 安娜·肯德里克 / 蕾蓓尔·威尔森 / 海莉·斯坦菲尔德 / 布兰特妮·斯诺 / 斯盖拉·阿斯丁 / 亚当·德维尼 / 凯特蕾·萨加尔 / 安娜·坎普 / 本·普拉特 / 亚历克西斯·克纳普 / 汉娜·梅·李 / 伊丝特尔·迪恩 / 克莉希·菲茨 / 比吉特·约尔特·索伦森 / 弗卢拉·博格 / 凯莉·杰科 / 雪莉·芮格娜 / 约翰·迈克尔·辛吉斯 / 伊丽莎白·班克斯 / 史努比狗狗 / 科甘-迈克尔·凯 / 肖恩·卡特·彼得森 / 吉米·坎摩尔 / 奥斯汀·利昂 / 约翰·霍吉曼 / 杰森·琼斯 / 乔·洛·特鲁格里奥 / 瑞吉·沃兹 / 大卫·克罗斯 / 爱德华·J·德尔莫尔三世 / 布瑞亚·格兰特 / 美国 / 伊丽莎白·班克斯 / 115分钟 / 完美音调2 / 喜剧 / 音乐 / 凯·加农 Kay Cannon / 米奇·拉普金 Mickey Rapkin / 英语 / 德语</li>
                    <li>
                        <span class="date">2015-06-07</span>
                        
                    </li>
                    <li>
                        <span class="comment">很好看啊啊，为啥网评不高呢，最后邦博好声音选举的是个什么gui。。。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-24713882" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="24713882:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="STAND BY ME ドラえもん" href="javascript:void(0)" class="nbg">
                    <img alt="STAND BY ME ドラえもん" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2244958975.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>哆啦A梦：伴我同行 / STAND BY ME ドラえもん</em>
                             / 与我同行的哆啦A梦 / 机器猫：伴我同行
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-08-08(日本) / 2015-05-28(中国大陆) / 水田山葵 / 大原惠美 / 嘉数由美 / 木村昴 / 关智一 / 三石琴乃 / 松本保典 / 田原阿尔诺 / 竹内都子 / 荻野志保子 / 高木涉 / 松本幸 / 佐藤美由希 / Lynn / 妻夫木聪 / 山崎雅美 / 儿玉明日美 / 天神林知美 / 寺岛惇太 / 刘纯燕 / 韩庚 / 林保全 / 伍凤春 / 周冬雨 / 日本 / doraemon-3d.com / 八木龙一 / 山崎贵 / 95分钟 / 哆啦A梦：伴我同行 / 剧情 / 动画 / 山崎贵 Takashi Yamazaki / 藤子·F·不二雄 F. Fujio Fujiko / 日语</li>
                    <li>
                        <span class="date">2015-05-30</span>
                        
                    </li>
                    <li>
                        <span class="comment">依赖这种事，甜蜜却危险.</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25769362" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25769362:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Tomorrowland" href="javascript:void(0)" class="nbg">
                    <img alt="Tomorrowland" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2242653338.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>明日世界 / Tomorrowland</em>
                             / 未来乐园 / 未来世界
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-05-22(美国) / 2015-05-26(中国大陆) / 布丽特·罗伯森 / 乔治·克鲁尼 / 拉菲·卡西迪 / 休·劳瑞 / 托马斯·罗宾逊 / 皮尔斯·加格农 / 蒂姆·麦格罗 / 朱迪·格雷尔 / 凯瑟琳·哈恩 / 科甘-迈克尔·凯 / 洛奇林·莫罗 / 阿莉娅·奥伯里恩 / 达伦·萨赫拉维 / 迈克尔·罗 / 克里斯·鲍尔 / 莫妮卡·甘德顿 / 保罗·麦克吉莱恩 / 艾米·伊斯特尔 / 杰迪代亚·古达克 / 马库斯·罗斯纳 / 马修·麦考尔 / 克林特·卡尔顿 / 迈克·吉亚奇诺 / 帕特里克·萨邦圭 / 范哲琛 / 弗雷泽·科比特 / 加里·切克 / 仙莎·拉德蕾 / 汤姆·巴特勒 / 杰夫·奎卡 / 大卫·尼克 / Parm Soor / 美国 / 西班牙 / 法国 / 加拿大 / 英国 / movies.disney.com/tomorrowland/ / 布拉德·伯德 / 130分钟 / 明日世界 / 动作 / 科幻 / 冒险 / 布拉德·伯德 Brad Bird / 达蒙·林德洛夫 Damon Lindelof / 杰夫·詹森 Jeff Jensen / 英语 / 法语 / 日语</li>
                    <li>
                        <span class="date">2015-05-28</span>
                        
                    </li>
                    <li>
                        <span class="comment">To the future. The chosen one who has never give up.</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-6873042" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="6873042:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Devious Maids" href="javascript:void(0)" class="nbg">
                    <img alt="Devious Maids" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2152103508.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>蛇蝎女佣 第二季 / Devious Maids Season 2</em>
                             / 魔鬼女佣 第二季
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-04-20 / 阿娜·奥缇兹 / 丹妮亚·拉米雷兹 / 罗塞莉·桑切斯 / 朱迪·雷耶斯 / 汤姆·埃尔文 / 玛瑞安娜·克拉瓦诺 / 格兰特·秀 / 苏珊·卢琪 / 苏西·阿布罗梅特 / 马克·迪克林 / 戈登·格里克 / 德鲁·凡·阿克尔 / 金伯莉·赫伯特·格雷戈里 / 梅琳达·佩吉·汉密尔顿 / 奥图姆·戴尔 / 辛西娅巴雷特 / 伊迪·加内姆 / 科林·伍德尔 / 多米尼克·亚当斯 / 理查德·拉科罗 / 伊凡·埃尔南德斯 / 翠西娅·奥凯丽 / 美国 / 伊娃·朗格利亚 / 约翰·斯科特 / 蛇蝎女佣 / 60 Minutes（美国） / 蛇蝎女佣 / 剧情 / 喜剧 / 爱情 / 马克·切利 Marc Cherry / 英语</li>
                    <li>
                        <span class="date">2015-05-28</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25714127" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25714127:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=765&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./48.html">49</a>
        
                
            <a href="./49.html">50</a>
        
                
            <a href="./50.html">51</a>
        
                
            <a href="./51.html">52</a>
        
                <span class="thispage" data-total-page="62">53</span>
                
            <a href="./53.html">54</a>
        
                
            <a href="./54.html">55</a>
        
                
            <a href="./55.html">56</a>
        
                
            <a href="./56.html">57</a>
        
                
            <a href="./57.html">58</a>
        
                
            <a href="./58.html">59</a>
        
                
            <a href="./59.html">60</a>
        
                
            <a href="./60.html">61</a>
        
                
            <a href="./61.html">62</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=795&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"><img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">我的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-699758d69-t75dj-->

  <script>_SPLITTEST=''</script>





</body></html>