<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "24c0273c3dcbee33d2e46a2481a0a6e36b81b7e1",
    SSE_TIMESTAMP: "1640990624",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                826-840&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="賭城風雲II" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>澳门风云2 / 賭城風雲II</em>
                             / The Man From Macau 2 / From Vegas to Macau 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-02-19(中国大陆) / 2015-02-19(中国香港) / 周润发 / 张家辉 / 刘嘉玲 / 余文乐 / 王诗龄 / 胡然 / 姜大卫 / 童飞 / 吴樾 / 金巧巧 / 黄德斌 / 姜皓文 / 曾国祥 / 袁泉 / 曾志伟 / 陈百祥 / 孟瑶 / 刘德华 / 葛民辉 / 卢惠光 / 蔡洁 / 樊玲 / 文凯玲 / 何浩文 / 高海宁 / 朱晨丽 / 唐紫睿 / 张慧雯 / 陈浩 / 马特·托蒂 / 夏利奥 / 罗子乔 / 萧家浩 / 中国香港 / 中国大陆 / 王晶 / 张敏 / 110分钟 / 澳门风云2 / 喜剧 / 动作 / 王晶 Jing Wong / 粤语 / 汉语普通话 / 泰语 / 四川话 / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2015-03-21</span>
                        
                    </li>
                    <li>
                        <span class="comment">阵容还可以。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Love Actually" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>真爱至上 / Love Actually</em>
                             / 真的恋爱了(港) / 爱是您，爱是我(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2003-09-07(多伦多电影节) / 2003-11-06(美国) / 2003-11-21(英国) / 休·格兰特 / 科林·费尔斯 / 艾玛·汤普森 / 凯拉·奈特莉 / 连姆·尼森 / 托马斯·布罗迪-桑斯特 / 比尔·奈伊 / 马丁·弗瑞曼 / 劳拉·琳妮 / 艾伦·瑞克曼 / 克里斯·马歇尔 / 罗德里戈·桑托罗 / 罗温·艾金森 / 比利·鲍伯·松顿 / 玛汀·麦古基安 / 安德鲁·林肯 / 露西娅·莫尼斯 / 海克·玛卡琪 / 伊丽莎·库斯伯特 / 切瓦特·埃加福 / 詹纽瑞·琼斯 / 马库斯·布里斯托克 / 理查德·柯蒂斯 / 奥利维亚·奥尔森 / 克劳迪亚·席弗 / 阿卜杜勒·萨利斯 / 丹·弗雷登堡 / 格莱格·费什尔 / 亚当·戈德利 / 西耶娜·盖尔利 / 丹妮丝·理查兹 / 尼娜·索珊娅 / 乔安娜·佩吉 / Tony Lucken / Richard Hawley / 朱莉娅·戴维斯 / 英国 / 美国 / 法国 / www.loveactually.com/ / 理查德·柯蒂斯 / 135分钟 / 真爱至上 / 喜剧 / 剧情 / 爱情 / 理查德·柯蒂斯 Richard Curtis / 英语 / 葡萄牙语 / 法语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2015-03-18</span>
                        
                    </li>
                    <li>
                        <span class="comment">轻喜剧满满的爱</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Birdman or (The Unexpected Virtue of Ignorance)" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>鸟人 / Birdman or (The Unexpected Virtue of Ignorance)</em>
                             / 飞鸟侠(港) / 无知的意外之美
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-08-27(威尼斯电影节) / 2014-11-14(美国) / 迈克尔·基顿 / 爱德华·诺顿 / 艾玛·斯通 / 扎克·加利凡纳基斯 / 安德丽娅·赖斯伯勒 / 娜奥米·沃茨 / 艾米·莱安 / 梅里特·韦弗 / 克拉克·米德尔顿 / 琳赛·邓肯 / 乔尔·加兰 / 罗伯塔·科林德雷斯 / 布莱恩·伯顿 / 娜塔莉·戈尔德 / Jamahl Garrison-Lowe / 美国 / 加拿大 / 亚历杭德罗·冈萨雷斯·伊纳里图 / 119分钟 / 鸟人 / 剧情 / 喜剧 / 亚利桑德罗·冈萨雷斯·伊纳里多 Alejandro González Iñárritu / Nicolás Giacobone / Alexander Dinelaris / Armando Bo / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2015-03-16</span>
                        
                    </li>
                    <li>
                        <span class="comment">看电影也是需要智商的:(</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Night at the Museum: Secret of the Tomb" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>博物馆奇妙夜3 / Night at the Museum: Secret of the Tomb</em>
                             / 博物馆奇妙夜3：墓葬秘密 / 博物馆惊魂夜3(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-12-17(埃及) / 2014-12-19(美国) / 2015-01-04(中国大陆) / 本·斯蒂勒 / 罗宾·威廉姆斯 / 欧文·威尔逊 / 史蒂夫·库根 / 瑞奇·热维斯 / 丹·史蒂文斯 / 蕾蓓尔·威尔森 / 斯凯勒·吉桑多 / 拉米·马雷克 / 派崔克·盖勒 / 米苏·贝克 / 本·金斯利 / 水晶 / 迪克·范·戴克 / 米基·鲁尼 / 休·杰克曼 / 詹姆斯·尼特 / 迈克尔·丹尼斯 / 爱丽丝·伊芙 / 比尔·考布斯 / 珀西·海恩斯·怀特 / 布伦南·埃利奥特 / 内芙·加切夫 / 瑞秋·哈里斯 / 美国 / 英国 / 肖恩·利维 / 98分钟 / 博物馆奇妙夜3 / 喜剧 / 奇幻 / 冒险 / David Guion / Michael Handelman / 马克·弗里德曼 Mark Friedman / 托马斯·列农 Thomas Lennon / 罗伯特·本·加兰特 Robert Ben Garant / 英语 / 匈奴语</li>
                    <li>
                        <span class="date">2015-03-15</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="狼图腾" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>狼图腾</em>
                             / Le Dernier Loup / Wolf Totem
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-02-19(中国大陆) / 2015-02-25(法国) / 冯绍峰 / 窦骁 / 昂哈妮玛 / 巴森 / 尹铸胜 / 黄小蕾 / 图门巴雅尔 / 韩童生 / 中国大陆 / 法国 / 让-雅克·阿诺 / 121分钟 / 剧情 / 冒险 / 阿兰·高德 Alain Godard / 让-雅克·阿诺 Jean-Jacques Annaud / 芦苇 Wei Lu / 约翰·科里 John Collee / 姜戎 Rong Jiang / 汉语普通话 / 蒙古语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2015-03-15</span>
                        
                    </li>
                    <li>
                        <span class="comment">无法定义。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Jupiter Ascending" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>木星上行 / Jupiter Ascending</em>
                             / 木升战纪(港) / 朱比特崛起(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-01-27(圣丹斯电影节) / 2015-02-06(美国) / 2015-03-06(中国大陆) / 查宁·塔图姆 / 米拉·库尼斯 / 肖恩·宾 / 埃迪·雷德梅恩 / 道格拉斯·布斯 / 裴斗娜 / 詹姆斯·达西 / 特瑞·吉列姆 / 塔彭丝·米德尔顿 / 凡妮莎·柯比 / 蒂姆·皮戈特-史密斯 / 爱德华·霍格 / 奇克·盖瑞 / 古古·姆巴塔-劳 / 玛丽亚·多耶·肯尼迪 / 克里斯蒂娜·科尔 / 乔·奥斯蒙德 / 杰里米·斯威夫特 / 大卫·阿贾拉 / 妮基·阿姆卡-伯德 / 尼尔·芬格尔顿 / Nicholas A. Newman / 阿利安·巴克瑞 / Frog Stone / 莎拉·克劳登 / 夏洛特·布鲁蒙特 / 塞缪尔·巴奈特 / Charlotte Rickard / 杰夫·奎卡 / 艾尔莎·莫利安 / 西蒙·道顿 / Emily Renée / 凯瑟琳·坎宁安 / 安库塔·布雷班 / 美国 / 澳大利亚 / www.jupiterascending.com / 莉莉·沃卓斯基 / 拉娜·沃卓斯基 / 126分钟(中国大陆) / 127分钟(美国) / 木星上行 / 动作 / 科幻 / 冒险 / 安迪·沃卓斯基 Andy Wachowski / 拉娜·沃卓斯基 Lana Wachowski / 英语 / 俄语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2015-03-14</span>
                        
                    </li>
                    <li>
                        <span class="comment">我生生把一部科幻片看成了爱情浪漫喜剧动作片, always hero...</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Hunger Games: Catching Fire" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>饥饿游戏2：星火燎原 / The Hunger Games: Catching Fire</em>
                             / 饥饿游戏 第二部 / 燃烧的女孩
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-11-21(中国大陆) / 2013-11-22(美国) / 詹妮弗·劳伦斯 / 乔什·哈切森 / 利亚姆·海姆斯沃斯 / 伍迪·哈里森 / 伊丽莎白·班克斯 / 唐纳德·萨瑟兰 / 菲利普·塞默·霍夫曼 / 山姆·克拉弗林 / 吉娜·马隆 / 斯坦利·图齐 / 托比·琼斯 / 林恩·科恩 / 薇洛·西尔德斯 / 蓝尼·克罗维兹 / 阿兰·里奇森 / 斯蒂芬妮·利·施朗德 / 杰弗里·怀特 / 阿曼达·普拉莫 / 布鲁诺·冈恩 / 杰克·奎德 / 詹姆斯·罗根 / 内尔松·阿森西奥 / 桑德拉·埃利斯·拉弗蒂 / 阿非莫·奥米拉 / 维布尔·弗利茨杰拉德 / 梅塔·戈丁 / E·罗杰·米切尔 / 丹尼尔·伯哈特 / 斯黛芬·道森 / John Casino / 贾德·罗德曼 / 梅根·海耶斯 / 帕特里克·圣埃斯普利特 / 埃里卡 ·比尔曼 / 蒂娜·比斯利 / 金柏莉·德拉蒙德 / 布鲁斯·邦迪 / 泰勒·圣克莱尔 / 埃琳娜·桑切斯 / Taylor McPherson / 葆拉·马尔科姆森 / 美国 / catchingfiremovie.com / 弗朗西斯·劳伦斯 / 146分钟 / 饥饿游戏2：星火燎原 / 动作 / 科幻 / 冒险 / 西蒙·博福伊 Simon Beaufoy / 迈克尔·阿恩特 Michael Arndt / 苏珊·科林斯 Suzanne Collins / 英语</li>
                    <li>
                        <span class="date">2015-03-12</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Hunger Games: Mockingjay - Part 1" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>饥饿游戏3：嘲笑鸟(上) / The Hunger Games: Mockingjay - Part 1</em>
                             / 饥饿游戏：自由幻梦I(台) / 饥饿游戏终极篇：自由幻梦1(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-11-10(伦敦首映) / 2014-11-21(美国) / 2015-02-08(中国大陆) / 詹妮弗·劳伦斯 / 乔什·哈切森 / 利亚姆·海姆斯沃斯 / 伍迪·哈里森 / 唐纳德·萨瑟兰 / 菲利普·塞默·霍夫曼 / 朱丽安·摩尔 / 薇洛·西尔德斯 / 山姆·克拉弗林 / 伊丽莎白·班克斯 / 马赫沙拉·阿里 / 吉娜·马隆 / 杰弗里·怀特 / 葆拉·马尔科姆森 / 斯坦利·图齐 / 娜塔莉·多默尔 / 伊万·罗斯 / 埃尔登·汉森 / 约翰·威斯利·查特曼 / 萨莉塔·乔德霍里 / 斯黛芬·道森 / 帕蒂纳·雷内亚·米勒 / 罗伯特·克耐普 / 詹妮弗·考科尔 / 罗斯·布莱克维尔 / 迈克尔·加尔扎 / Lauren Henneberg / Jada Taylor / 凯特琳·福勒 / 托比·琼斯 / Stevie Ray Dallimore / 乔顿卡尔文 / 埃里卡 ·比尔曼 / 美国 / 弗朗西斯·劳伦斯 / 123分钟 / 饥饿游戏3：嘲笑鸟(上) / 动作 / 科幻 / 冒险 / 丹尼·斯特朗 Danny Strong / 彼得·克莱格 Peter Craig / 英语</li>
                    <li>
                        <span class="date">2015-03-12</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Hunger Games" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>饥饿游戏 / The Hunger Games</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-03-23(美国) / 2012-06-14(中国大陆) / 詹妮弗·劳伦斯 / 乔什·哈切森 / 利亚姆·海姆斯沃斯 / 韦斯·本特利 / 伊丽莎白·班克斯 / 斯坦利·图齐 / 伍迪·哈里森 / 伊莎贝拉·弗尔曼 / 阿曼德拉·斯坦伯格  / 薇洛·西尔德斯 / 唐纳德·萨瑟兰 / 亚历山大·路德韦格 / 莱文·兰宾 / 杰克·奎德 / 斯蒂芬·考特尔 / 杰奎琳·爱默森 / 伊恩·尼尔森 / 拉塔莎·罗斯 / 卡莉·普雷斯科特 / 杰西卡·理查兹 / 戴奥·奥柯奈伊 / 托比·琼斯 / 菲利普·特洛伊·林格 / 蓝尼·克罗维兹 / 内尔松·阿森西奥 / 麦肯兹·林茨 / 贵美子·赫尔曼 / 贾德·罗德曼 / 安东尼·雷诺兹 / 德韦恩·博伊德 / 罗达·格里菲丝 / 桑德拉·埃利斯·拉弗蒂 / 布鲁斯·邦迪 / 葆拉·马尔科姆森 / 美国 / www.thehungergamesmovie.com / 盖瑞·罗斯 / 142分钟 / 饥饿游戏 / 动作 / 科幻 / 冒险 / 苏珊·科林斯 Suzanne Collins / 比利·雷 Billy Ray / 加里·罗斯 Gary Ross / 英语</li>
                    <li>
                        <span class="date">2015-03-12</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Harry Potter and the Order of the Phoenix" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>哈利·波特与凤凰社 / Harry Potter and the Order of the Phoenix</em>
                             / 哈利波特5：凤凰会的密令(港/台) / 哈5
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2007-07-11(美国) / 2007-08-10(中国大陆) / 丹尼尔·雷德克里夫 / 艾玛·沃森 / 鲁伯特·格林特 / 加里·奥德曼 / 拉尔夫·费因斯 / 玛吉·史密斯 / 迈克尔·刚本 / 艾伦·瑞克曼 / 艾玛·汤普森 / 艾美达·斯丹顿 / 詹森·艾萨克 / 汤姆·费尔顿 / 海伦娜·伯翰·卡特 / 邦妮·怀特 / 朱丽·沃特斯 / 梁佩诗 / 布莱丹·格里森 / 罗彼·考特拉尼 / 伊文娜·林奇 / 乔什·赫德曼 / 杰米·威莱特 / 西恩·托马斯 / 彼得·卡特赖特 / 罗伯特·哈迪 / 奥利弗·费尔普斯 / 詹姆斯·菲尔浦斯 / 蒂莫西·贝特森 / 大卫·休里斯 / 大卫·布拉德利 / 戴文·穆雷 / Richard Leaf / 阿莱克·霍普金斯 / 蒂莫西·斯波 / 托尼·毛德斯雷 / 沃维克·戴维斯 / 谢发丽·裘德胡里 / 艾芙珊·阿扎德 / 阿尔弗雷德·伊诺奇 / 乔治·哈里斯 / 娜塔丽·特纳 / 罗伯特·帕丁森 / 罗比·贾维斯 / 杰拉丁·萨莫维尔 / 阿德里安·劳林斯 / 杰西卡·海因斯 / 理查德·格雷弗斯 / 费奥纳·肖 / 哈利·米尔林 / 克里斯·兰金 / 马克·威廉姆斯 / 马修·刘易斯 / 迈克尔·怀德曼 / 英国 / 美国 / www.harrypotter.co.uk / 大卫·叶茨 / 138分钟 / 哈利·波特与凤凰社 / 奇幻 / 冒险 / 迈克尔·戈登伯格 Michael Goldenberg / J·K·罗琳 J.K. Rowling / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Mask" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>变相怪杰 / The Mask</em>
                             / 面具 / 摩登大圣
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1994-07-29(美国) / 金·凯瑞 / 彼得·里格特 / 彼得·格林纳 / 艾米·雅丝贝克 / 理查德·杰尼 / Orestes Matacena / 蒂姆·巴格来 / 南茜·费什 / 雷格·E·凯蒂 / 丹尼斯·弗雷斯特 / 卡梅隆·迪亚兹 / 布莱克·克拉克 / 克里斯托弗·达尔加 / 乔莉·费舍尔 / 凯文·格雷维奥斯 / Robert Keith / 爱沃瑞·欧欣 / Robert O'Reilly / Eamonn Roche / 本·斯坦 / Wendy L. Walsh / 梅多·威廉姆斯 / Max / 加雷特·佐藤 / 吴永庆 / 陆建艺 / 美国 / 查克·拉塞尔 / 101分钟 / 变相怪杰 / 喜剧 / 奇幻 / Michael Fallon / 马克·维西顿 Mark Verheiden / 麦克·韦柏 Mike Werb / 英语 / 瑞典语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Twilight" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>暮光之城 / Twilight</em>
                             / 暮色 / 吸血新世纪(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2008-11-21(美国) / 2009-11-25(中国大陆) / 克里斯汀·斯图尔特 / 罗伯特·帕丁森 / 比利·伯克 / 阿什丽·格林尼 / 妮基·瑞德 / 泰勒·洛特纳 / 艾迪·盖瑟吉 / 迈克·韦尔奇 / 安娜·肯德里克 / 凯姆·吉甘戴 / 蕾切尔·勒费夫尔 / 克里斯蒂·瑟拉图斯 / 彼得·费辛利 / 凯南·鲁兹 / 斯蒂芬妮·梅耶 / 全知泰 / 莎拉·克拉克 / 何塞·祖尼加 / 耐德·巴拉米 / 马特·布谢尔 / 李柯莫拉 / 肖恩·麦克格拉斯 / 格雷戈里·泰里·博伊斯 / 美国 / 凯瑟琳·哈德威克 / 122分钟 / 暮光之城 / 剧情 / 爱情 / 惊悚 / 奇幻 / 梅莉莎·罗森伯格 Melissa Rosenberg / 斯蒂芬妮·梅耶 Stephenie Meyer / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="十月围城" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>十月围城</em>
                             / Bodyguards and Assassins
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-12-18(中国大陆) / 2009-12-18(中国香港) / 甄子丹 / 王学圻 / 梁家辉 / 胡军 / 王柏杰 / 谢霆锋 / 李宇春 / 巴特尔 / 黎明 / 范冰冰 / 曾志伟 / 任达华 / 周韵 / 张涵予 / 张学友 / 李嘉欣 / 吕中 / 释彦能 / 张建亚 / 岑建勋 / 伍允龙 / 王文杰 / 汪汐潮 / 杜宇航 / 黎烈弓 / 娄淇 / 刘广宁 / 张优 / 周彦岑 / 许守钦 / 韦奕波 / 史飞达 / 郝靓 / 杨光 / 中国香港 / 中国大陆 / 陈德森 / 139 分钟 / 动作 / 剧情 / 历史 / 郭俊立 Junli Guo / 秦天南 Tin Nam Chun / 陈嘉仪 Joyce Chan / 汉语普通话 / 粤语 / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="X-Men: The Last Stand" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>X战警3：背水一战 / X-Men: The Last Stand</em>
                             / 变种特攻3(港) / X战警：最后战役(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2006-05-22(戛纳电影节) / 2006-05-26(美国) / 2006-09-08(中国大陆) / 休·杰克曼 / 哈莉·贝瑞 / 伊恩·麦克莱恩 / 帕特里克·斯图尔特 / 法米克·詹森 / 安娜·帕奎因 / 凯尔希·格兰莫 / 詹姆斯·麦斯登 / 丽贝卡·罗梅恩 / 肖恩·阿什莫 / 艾利奥特·佩吉 / 本·福斯特 / 亚伦·斯坦福 / 朱利安·瑞钦斯 / 凯登·博伊德 / Omahyra / Connor Widdows / 维尼·琼斯 / Dan McPeake / 约翰·派珀-弗格森 / 梅·梅纳康 / 谢拉赫·霍斯达尔 / Ron Blecker / Richard Yee / Luke Pohl / 斯坦·李 / 布莱斯·霍吉森 / 麦肯兹·韦加 / 布雷纳·奥布莱恩 / 阿德里安·霍夫 / 丹尼斯·科贝特 / 约瑟夫·索默 / 卡梅隆·布莱特 / 肯·梁 / 丹尼尔·库德摩尔 / 迈克尔·墨菲 / 坦尼娅·纽堡尔德 / 丹妮亚·拉米雷兹 / 埃里克·迪恩 / 马克·海尔弗里奇 / 安东尼·希尔德 / 艾伦·坡尔 / 索瑞·安达斯鲁 / 阿莱克斯·费瑞斯 / 李·厄米 / 瑞恩·肯尼思·金 / Mi-Jung Lee / 奥莉维亚·威廉姆斯 / Chris Duchaine / Zoltan Buday / 比尔·杜克 / Geoff White / 托尼·斯蒂夫阿诺 / 克里斯·克雷蒙 / Lloyd Adams / 哈莉·拉姆 / 克里斯托弗·福什 / 美国 / 加拿大 / 英国 / 布莱特·拉特纳 / 104分钟 / X战警3：背水一战 / 动作 / 科幻 / 惊悚 / 西蒙·金伯格 Simon Kinberg / 扎克·佩恩 Zak Penn / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="X2" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>X战警2 / X2</em>
                             / 变种特攻2(港) / X-Men 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2003-05-02(美国) / 2003-09-29(中国大陆) / 帕特里克·斯图尔特 / 休·杰克曼 / 伊恩·麦克莱恩 / 哈莉·贝瑞 / 法米克·詹森 / 詹姆斯·麦斯登 / 安娜·帕奎因 / 丽贝卡·罗梅恩 / 布莱恩·考克斯 / 胡凯莉 / 亚伦·斯坦福 / 恰拉·赞尼 / 艾伦·坡尔 / 彼特·温菲尔德 / 雷克·安德森 / 丹尼尔·库德摩尔 / 诺兰·杰拉德·冯克 / 泰·奥尔森 / 杰德·拉姆西 / 艾伦·卡明 / 布鲁斯·戴维森 / Shaina Tianne Unger / 布莱斯·霍吉森 / 理查德·布拉德肖 / 纽顿·托马斯·西格尔 / Connor Widdows / 格雷戈·里卡特 / 尼基塔·拉姆齐 / 田· 薇拉莉 / Emily Hirst / Blake Mawson / 迈克尔·索尔蒂斯 / Benjamin Glenday / 科特·史密斯 / 凯蒂·斯图亚特 / 罗杰·R.克劳斯 / 肖恩·阿什莫 / 斯蒂夫·巴西奇 / Mike Mitchell / 阿伦·道格拉斯 / Devin Douglas Drewitz / 詹姆斯·柯克 / 大卫·卡耶 / Brad Loree / 迈克尔·雷德·麦基 / Alfonso Quijada / Keely Purvis / Mi-Jung Lee / 美国 / 加拿大 / www.x2-movie.com / 布莱恩·辛格 / 133分钟 / X战警2 / 动作 / 科幻 / 惊悚 / 迈克尔·道赫蒂 Michael Dougherty / 丹·哈里斯 Dan Harris / 大卫·海特 David Hayter / 英语 / 德语 / 意大利语 / 西班牙语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=810&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./51.html">52</a>
        
                
            <a href="./52.html">53</a>
        
                
            <a href="./53.html">54</a>
        
                
            <a href="./54.html">55</a>
        
                <span class="thispage" data-total-page="61">56</span>
                
            <a href="./56.html">57</a>
        
                
            <a href="./57.html">58</a>
        
                
            <a href="./58.html">59</a>
        
                
            <a href="./59.html">60</a>
        
                
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=840&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-gfwrz-->

  <script>_SPLITTEST=''</script>





</body></html>