<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "24c0273c3dcbee33d2e46a2481a0a6e36b81b7e1",
    SSE_TIMESTAMP: "1640990624",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                856-870&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="失恋33天" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>失恋33天</em>
                             / 黄了一个来月(豆友译名) / Love is Not Blind
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-11-08(中国大陆) / 白百何 / 文章 / 张嘉益 / 王耀庆 / 张子萱 / 郭京飞 / 曹翠芬 / 魏宗万 / 海清 / 廖凡 / 徐梵溪 / 李念 / 焦俊艳 / 艾如 / 叶一云 / 赵汉唐 / 姚笛 / 李晨 / 马伊琍 / 陈羽凡 / 张歆艺 / 张默 / 刘天佐 / 李晓峰 / 乔大韦 / 朱辉 / 任巡 / 中国大陆 / 滕华涛 / 110分钟 / 144分钟(加长版) / 剧情 / 爱情 / 鲍鲸鲸 Jingjing Bao / 汉语普通话</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Home Alone" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>小鬼当家 / Home Alone</em>
                             / 宝贝智多星(港) / 独自在家
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1990-11-16 / 麦考利·卡尔金 / 乔·佩西 / 丹尼尔·斯特恩 / 约翰·赫德 / 罗伯茨·布洛瑟姆 / 凯瑟琳·欧哈拉 / 安吉拉·戈塔尔斯 / 戴文·雷特瑞 / 杰瑞·巴曼 / 希拉里·沃尔夫 / 约翰·坎迪 / 拉里·哈金 / 迈克尔·C·莫罗纳 / 克里斯汀·敏特尔 / 戴阿娜·坎佩露 / 杰迪代亚·科恩 / 基南·卡尔金 / 森塔·摩西 / 泰利·斯内尔 / 马特·多赫蒂 / 拉尔夫·富迪 / 迈克尔·吉多 / 雷·托勒 / 比莉·伯德 / 比尔·厄尔文 / 格里·贝克尔 / 克拉克·德弗洛 / 丹尼·沃霍尔 / 霍普·戴维斯 / 詹姆斯·雷恩 / 肯·哈德森·坎贝尔 / 吉姆·奥特莱比 / 莱昂纳尔·巴里摩尔 / 奎因.卡尔金 / 拉加·高斯内尔 / 詹姆斯·M·赫夫曼 / 宝拉·纽瑟姆 / 尤里·鲁特曼 / 卢西亚诺·萨贝 / 阿兰·维尔德 / 美国 / 克里斯·哥伦布 / 103分钟 / 小鬼当家 / 喜剧 / 犯罪 / 家庭 / 约翰·休斯 John Hughes / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Kung Fu Panda" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>功夫熊猫 / Kung Fu Panda</em>
                             / 熊猫阿宝 / 阿宝正传
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2008-05-15(戛纳电影节) / 2008-06-06(美国) / 2008-06-20(中国大陆) / 杰克·布莱克 / 达斯汀·霍夫曼 / 安吉丽娜·朱莉 / 伊恩·麦柯肖恩 / 成龙 / 塞斯·罗根 / 刘玉玲 / 大卫·克罗斯 / 兰德尔·杜克·金 / 吴汉章 / 丹·福勒 / 迈克·克拉克·邓肯 / 韦恩·奈特 / 凯尔·加斯 / JR·里德 / 劳拉·奈特林格 / 坦雅·海登 / 斯蒂芬·凯林 / 马克·奥斯本 / 约翰·斯蒂文森 / 肯特·奥斯博内 / 瑞利·奥斯本 / 陈奕迅 / 木村佳乃 / 房祖名 / 符爽 / 笹野高史 / 吴文伦 / 美国 / www.kungfupanda.com / 马克·奥斯本 / 约翰·斯蒂文森 / 95分钟 / 功夫熊猫 / 喜剧 / 动作 / 动画 / 冒险 / 乔纳森·阿贝尔 Jonathan Aibel / 格伦·伯杰 Glenn Berger / 伊森·瑞弗 Ethan Reiff / 塞卢斯·沃瑞斯 Cyrus Voris / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="一代宗師" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>一代宗师 / 一代宗師</em>
                             / 一代宗师3D / 一代宗师终极版
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-01-08(中国大陆) / 2013-01-10(中国香港) / 2013-08-23(美国) / 2015-01-08(中国大陆 3D) / 梁朝伟 / 章子怡 / 张震 / 宋慧乔 / 赵本山 / 小沈阳 / 王庆祥 / 张晋 / 卢海鹏 / 冯克安 / 刘家勇 / 张智霖 / 金士杰 / 徐锦江 / 刘洵 / 尚铁龙 / 罗莽 / 吴廷烨 / 张国立 / 袁和平 / 梁小龙 / 袁祥仁 / 黎烈弓 / 袁信义 / 戚冠军 / 王玨 / 吴云飞 / 任欣羽 / 江道海 / 魏小欢 / 吴艺璇 / 周小飞 / 江健 / 吉飞龙 / 贺勋 / 陈伟 / 赵芳华 / 中国大陆 / 中国香港 / 王家卫 / 111分钟(3D重映) / 130分钟(中国大陆) / 108分钟(美国) / 123分钟(国际版) / 一代宗师 / 剧情 / 传记 / 动作 / 爱情 / 邹静之 Jingzhi Zou / 徐浩峰 Haofeng Xu / 王家卫 Kar Wai Wong / 汉语普通话 / 粤语 / 日语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">看不下去</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="人再囧途之泰囧" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>人再囧途之泰囧</em>
                             / 泰囧 / 人在囧途2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-12-12(中国大陆) / 徐峥 / 王宝强 / 黄渤 / 陶虹 / 谢楠 / 范冰冰 / 陈祉希 / 尹思勰 / Rose / 中国大陆 / 徐峥 / 105分钟 / 喜剧 / 徐峥 Zheng Xu / 丁丁 Ding Ding / 束焕 Huan Shu / 汉语普通话 / 英语 / 泰语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">没有第一部好看。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="One Day" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>一天 / One Day</em>
                             / 真爱挑日子(台) / 情约1天(港)
                        </a>
                    </li>
                        <li class="intro">2011-08-19(美国) / 安妮·海瑟薇 / 吉姆·斯特吉斯 / 汤姆·米森 / 朱迪·惠特克 / 蒂姆·凯 / 拉菲·斯波 / 约瑟芬·德·拉·波美 / 派翠西娅·克拉克森 / 肯·斯托特 / 海达·里德 / 阿曼达·费尔班克-海恩斯 / 大卫·阿贾拉 / 乔治雅·金 / 欧韦尔利·罗奇 / 克拉拉·佩吉特 / 马特·贝里 / 萝玛拉·嘉瑞 / 戴安娜·肯特 / James Laurenson / 马修·比尔德 / 托比·瑞格波 / 托马斯·阿诺德 / 菲比·福克斯 / 艾米莉亚·琼斯 / 麦克·宾德尔  / 贝恩·科拉科 / Natalie Hallam / 范德·麦克劳德 / 杰米·西弗斯 / 贝莉·诺布尔 / 美国 / 英国 / 罗勒·莎菲 / 107分钟 / 一天 / 剧情 / 爱情 / 大卫·尼克尔森 David Nicholls / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Rise of the Planet of the Apes" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>猩球崛起 / Rise of the Planet of the Apes</em>
                             / 猿人争霸战：猩凶革命(港) / 猿族崛起
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-08-05(美国) / 2011-10-28(中国大陆) / 安迪·瑟金斯 / 詹姆斯·弗兰科 / 芙蕾达·平托 / 约翰·利思戈 / 布莱恩·考克斯 / 汤姆·费尔顿 / 泰勒·莱伯恩 / 卡琳·考诺娃 / 泰瑞·诺塔里 / 理查德·赖丁斯 / 克里斯托弗·戈登 / 德文·达尔顿 / 杰·卡普托 / 大卫·奥伊罗 / 杰米·哈里斯 / 谢拉赫·霍斯达尔 / 玛蒂 霍金斯 / 凯文·欧格雷迪 / 大卫·里士满-佩克 / 迈克尔·科普萨 / 麦克·多普德 / 伊丽莎白·韦恩斯坦 / 大卫·休莱特 / 桑娅·本妮特 / 崔茜·史皮瑞达可斯 / 泰·奥尔森 / 詹姆斯·皮齐纳托 / 卢克·罗德里克 / 乔伊·罗切 / 美国 / 鲁伯特·瓦耶特 / 105分钟 / 猩球崛起 / 剧情 / 动作 / 科幻 / 里克·杰法 Rick Jaffa / 阿曼达·斯尔沃 Amanda Silver / 皮埃尔·布尔 Pierre Boulle / 英语 / 美国手语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="金陵十三钗" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>金陵十三钗</em>
                             / The Flowers Of War
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-12-15(中国大陆) / 2011-12-23(美国) / 克里斯蒂安·贝尔 / 倪妮 / 张歆怡 / 黄天元 / 韩熙庭 / 张逗逗 / 佟大为 / 曹可凡 / 渡部笃郎 / 黄海波 / 窦骁 / 聂远 / 高虎 / 秦昊 / 李玥敏 / 白雪 / 袁杨纯子 / 孙佳 / 朱良奇 / 小林成男 / 山中崇 / 保罗·施耐德 / 李纯 / 顾璇 / 周梦乔 / 周羽 / 邓莉 / 苏小妹 / 钱柳吟 / 叶清源 / 戴瑶君 / 沈俊然 / 李楚楚 / 金子欣 / 李瑞琦 / 谷艺璇 / 许佳丽 / 张照怡 / 谭逸敏 / 赵伊聪 / 来喜 / 奇道 / 王超北 / 王羽铮 / 李飞 / 王聪 / 项斌 / 郭晓明 / 涩谷天马 / 梶冈润一 / 赵德龙 / 松角洋平 / 王靖雯 / 松田笃儿 / 王景春 / 高木贞佑 / 高岛真一 / 中国大陆 / 中国香港 / 张艺谋 / 145分钟 / 剧情 / 历史 / 战争 / 刘恒 Heng Liu / 严歌苓 Geling Yan / 汉语普通话 / 英语 / 日语 / 南京话 / 上海话</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="รักแห่งสยาม" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>爱在暹罗 / รักแห่งสยาม</em>
                             / 泰哥儿(港) / 暹罗之恋
                        </a>
                    </li>
                        <li class="intro">2007-11-22(泰国) / 维特维斯特·海伦亚沃恩酷 / 马里奥·毛瑞尔 / 赖拉·邦雅淑 / 坎雅·拉坦娜佩琦 / 辛扎伊·本班尼 / 松希·努诺卡空希 / 姘潘·布拉娜嫔 / 阿缇·尼永库 / 吉拉育·拉翁马尼 / 查妮达帕·蓬信皮帕 / 泰国 / 楚克·萨克瑞科 / 150分钟 / 170分钟(导演剪辑版) / 爱在暹罗 / 剧情 / 爱情 / 同性 / 楚克‧萨克瑞科 Chukiat Sakveerakul / 泰语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="桃姐" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>桃姐</em>
                             / A Simple Life
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-09-05(威尼斯电影节) / 2012-03-08(中国大陆) / 2012-03-09(中国香港) / 叶德娴 / 刘德华 / 秦海璐 / 秦沛 / 黄秋生 / 王馥荔 / 朱慧敏 / 江美仪 / 罗兰 / 谭炳文 / 梁天 / 宫雪花 / 徐克 / 洪金宝 / 于冬 / 宁浩 / 刘伟恒 / 刘国昌 / 刘伟强 / 詹瑞文 / 许碧姬 / 杨颖 / 冯友薇 / 曹冀鲁 / 陈桂芬 / 林以诺 / 麦润寿 / 关锦鹏 / 陈智燊 / 岑建勋 / 许素莹 / 邹文怀 / 林二汶 / 林家栋 / 中国香港 / 许鞍华 / 118分钟 / 剧情 / 家庭 / 陈淑贤 Susan Chan / 李恩霖 Roger Lee / 英语 / 汉语普通话 / 粤语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">演技很不错。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="X-Men: First Class" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>X战警：第一战 / X-Men: First Class</em>
                             / 变种特攻：异能第一战(港) / X战警外传之第一课
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-05-25(纽约首映) / 2011-06-01(英国) / 2011-06-03(美国) / 詹姆斯·麦卡沃伊 / 迈克尔·法斯宾德 / 凯文·贝肯 / 詹妮弗·劳伦斯 / 罗丝·伯恩 / 尼古拉斯·霍尔特 / 贝丝·戈达德 / 摩根·莉莉 / 劳伦斯·布莱切 / 比尔·米尔纳 / 佐伊·克罗维兹 / 卡赖伯·兰德里·琼斯 / 卢卡斯·提尔 / 奥利弗·普莱特 / 亚历克斯·冈萨雷斯 / 杰森·弗莱明 / 詹纽瑞·琼斯 / 艾迪·盖瑟吉 / 克里·约翰逊 / 迪米特里·格里特萨斯 / 格伦·莫肖尔 / 马特·克拉文 / 詹姆斯·瑞马尔 / 路德格·皮斯特 / 威尔弗里德·霍赫霍尔丁格 / 格雷戈·科尔帕克奇 / 安德瑞扎亚茨 / 拉德·舍博德兹加 / 雷·怀斯 / 迈克尔·麦迪罗斯 / 奥莱克·克鲁帕 / 吉恩·法贝尔 / 詹姆斯·福克纳 / 伊娃·马格亚 / 安娜贝拉·沃丽丝 / 大卫·科罗 / 萨莎·皮特丝 / 布兰登·费尔 / 迈克尔·艾恩塞德 / 杰森·贝盖 / 托尼·库兰 / 兰道尔·巴蒂尼科夫 / 彼得·斯塔克 / 尼尔·芬格尔顿 / 乔格·尼可洛夫 / 阿瑟·达尔比尼扬 / 拉斯科·阿特金斯 / 查尔斯·L·坎贝尔 / 格拉姆·柯里 / 丽贝卡·沃尔什 / 肖恩·赫拉多 / 休·杰克曼 / Hannah-joy Lewis / 特蕾莎·马奥尼 / 劳拉·让·马什 / 吉姆·麦司奇门 / 丽贝卡·罗梅恩 / 艾丽西娅·维拉-贝利 / 多米尼卡·范·桑滕 / 美国 / 英国 / www.x-menfirstclassmovie.com/ / 马修·沃恩 / 132分钟 / X战警：第一战 / 动作 / 剧情 / 科幻 / 简·古德曼 Jane Goldman / 马修·沃恩 Matthew Vaughn / 布莱恩·辛格 Bryan Singer / 阿什利·米勒 Ashley Miller / 扎克·施坦茨 Zack Stentz / 谢尔顿·特纳  Sheldon Turner / 英语 / 德语 / 法语 / 西班牙语 / 俄语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Artificial Intelligence: AI" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>人工智能 / Artificial Intelligence: AI</em>
                             / AI人工智慧
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2001-06-29(美国) / 海利·乔·奥斯蒙 / 弗兰西丝·奥康纳 / 山姆·洛巴兹 / 杰克·托马斯 / 裘德·洛 / 威廉·赫特 / 肯·梁 / 克拉克·格雷格 / 凯文·苏斯曼 / 汤姆·加洛普 / 尤金·奥斯门特 / 艾普尔·格雷斯 / 马特·温斯顿 / 萨布丽娜·格德维奇 / 西奥·格林利 / 梅丽尔·斯特里普 / 罗宾·威廉姆斯 / 本·金斯利 / 成宫宽贵 / 布莱丹·格里森 / 克里斯·洛克 / 凯瑟琳·莫里斯 / 艾德里安·格尼尔 / 恩里克·克兰东尼 / 凯蒂·罗曼 / 黛维·切斯 / 艾什丽·斯科特 / 葆拉·马尔科姆森 / 海利·金 / 克莱拉·贝拉 / 贾斯蒂娜·马查多 / 杰雷米·詹姆斯·基斯纳尔 / 丽纳·欧文 / 布伦特·塞克斯顿 / 罗尼·吉恩·贝尔维斯 / 劳伦斯·梅森 / 迈克尔·肖姆斯·维尔斯 / 迈克尔·曼特尔 / 杰克·安杰尔 / 克劳迪娅·卡茨 / 吉姆·简森 / 马特·马洛伊 / 克里斯巴勒莫 / 提姆·里格比 / Lily Knight / 维恩·维尔德森 / Miguel Pérez / 黛安·弗莱彻 / 基思·坎贝尔 / Mark Allan Staubach / Dillon McEwin / Bobby Harwell / Michael Fishman / Kelly Felix / Al Jourgensen / 亚当·亚里克斯-马里 / 迈克尔·贝雷瑟 / 杰伊男爵 / Paul Barker / Andy Morrow / 柯特·杨伯格 / 美国 / 英国 / 史蒂文·斯皮尔伯格 / 146分钟 / 人工智能 / 剧情 / 科幻 / 布莱恩·奥尔迪斯 Brian Aldiss / 伊恩·沃森 Ian Watson / 史蒂文·斯皮尔伯格 Steven Spielberg / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Rain Man" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>雨人 / Rain Man</em>
                             / 手足情未了(港) / 手足情深
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1988-12-16(美国) / 达斯汀·霍夫曼 / 汤姆·克鲁斯 / 瓦莱丽亚·戈利诺 / 邦尼·亨特 / 贝丝·格兰特 / 杰克·霍夫曼 / 克里斯·马尔基 / 杰拉尔德·R·莫伦 / 卢辛达·珍妮 / 拉尔夫·塞莫 / 迈克尔·D·罗伯茨 / 罗伊斯·D.阿普勒加特 / 路易莎·莱斯金 / 美国 / 巴瑞·莱文森 / 133分钟 / 雨人 / 剧情 / 罗纳德·巴斯 Ronald Bass / 巴里·莫罗 Barry Morrow / 英语 / 意大利语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The King's Speech" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>国王的演讲 / The King's Speech</em>
                             / 皇上无话儿(港) / 王者之声：宣战时刻(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2010-09-06(特柳赖德电影节) / 2010-12-25(美国) / 2011-01-07(英国) / 2012-02-24(中国大陆) / 科林·费尔斯 / 杰弗里·拉什 / 海伦娜·伯翰·卡特 / 盖·皮尔斯 / 迈克尔·刚本 / 蒂莫西·斯波 / 詹妮弗·艾莉 / 德里克·雅各比 / 安东尼·安德鲁斯 / 克莱尔·布鲁姆 / 阿德里安·斯卡伯勒 / 雷蒙娜·马奎斯 / 伊芙·贝斯特 / 戴维·鲍姆伯 / 英国 / 澳大利亚 / 美国 / 汤姆·霍伯 / 118分钟 / 国王的演讲 / 剧情 / 传记 / 历史 / David Seidler / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Harry Potter and the Sorcerer's Stone" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>哈利·波特与魔法石 / Harry Potter and the Sorcerer's Stone</em>
                             / 哈利波特1：神秘的魔法石(港/台) / 哈1
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2001-11-04(英国首映) / 2001-11-16(美国) / 2002-01-26(中国大陆) / 2020-08-14(中国大陆重映) / 丹尼尔·雷德克里夫 / 艾玛·沃森 / 鲁伯特·格林特 / 艾伦·瑞克曼 / 玛吉·史密斯 / 汤姆·费尔顿 / 伊恩·哈特 / 理查德·哈里斯 / 约翰·赫特 / 罗彼·考特拉尼 / 朱丽·沃特斯 / 邦妮·怀特 / 约翰·克里斯 / 肖恩·比格斯代夫 / 马修·刘易斯 / 奥利弗·费尔普斯 / 费奥纳·肖 / 詹姆斯·菲尔浦斯 / 童自荣 / 理查德·格雷弗斯 / 阿尔弗雷德·伊诺奇 / 哈利·米尔林 / 佐伊·沃纳梅克 / 杰拉丁·萨莫维尔 / 克里斯·兰金 / 沃维克·戴维斯 / 莱斯利·菲利普斯 / 戴文·穆雷 / 威勒·特耶 / 妮娜·扬 / 杰米·威莱特 / 乔什·赫德曼 / 特伦斯·贝勒 / 理查德·布雷默 / 保罗·马克·戴维斯 / 美国 / 英国 / www.harrypotter.co.uk / 克里斯·哥伦布 / 152分钟 / 159分钟(加长版) / 哈利·波特与魔法石 / 奇幻 / 冒险 / Steve Kloves / J.K. Rowling / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=840&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./52.html">53</a>
        
                
            <a href="./53.html">54</a>
        
                
            <a href="./54.html">55</a>
        
                
            <a href="./55.html">56</a>
        
                
            <a href="./56.html">57</a>
        
                <span class="thispage" data-total-page="61">58</span>
                
            <a href="./58.html">59</a>
        
                
            <a href="./59.html">60</a>
        
                
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=870&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-rcfkh-->

  <script>_SPLITTEST=''</script>





</body></html>