<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "24c0273c3dcbee33d2e46a2481a0a6e36b81b7e1",
    SSE_TIMESTAMP: "1640990624",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                871-885&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Saving Private Ryan" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>拯救大兵瑞恩 / Saving Private Ryan</em>
                             / 雷霆救兵(港) / 抢救雷恩大兵(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1998-07-24(美国) / 1998-11-13(中国大陆) / 汤姆·汉克斯 / 汤姆·塞兹摩尔 / 爱德华·伯恩斯 / 巴里·佩珀 / 亚当·戈德堡 / 范·迪塞尔 / 吉奥瓦尼·瑞比西 / 杰瑞米·戴维斯 / 马特·达蒙 / 特德·丹森 / 保罗·吉亚玛提 / 丹尼斯·法里纳 / 马克斯·马蒂尼 / 丹兰·布鲁诺 / 丹尼尔·切尔奎拉 / 迪米特里·格里特萨斯 / 史蒂夫·格里芬 / 彼得·迈尔斯 / 亚当·肖 / 罗尔夫·萨克森 / 克里·约翰逊 / 洛克兰·艾肯 / 尚恩·约翰逊 / 莱尔德·曼辛托斯 / 安德鲁·斯科特 / 马修·夏普 / 文森特·沃尔什 / 约翰·沙拉恩 / 马丁·哈伯 / 罗非洛·迪格托勒 / 恩里奇·雷德曼 / 米歇尔·埃文斯 / 内森·菲利安 / 利兰·奥瑟 / 大卫·维格 / 瑞恩·赫斯特 / 哈威·普雷斯内尔 / 代尔·戴 / 布莱恩·科兰斯顿 / 大卫·沃尔 / 埃里克·罗兰 / 哈里逊·杨 / 凯思琳·拜荣 / 约翰·德·兰西 / 詹姆斯·恩布里 / 德里克·李 / 若昂·科斯塔·梅内塞斯 / 马克·施泰因迈尔 / 布莱恩·格拉格提 / 徐光宇 / 田二喜 / 美国 / 史蒂文·斯皮尔伯格 / 169分钟 / 拯救大兵瑞恩 / 剧情 / 战争 / 罗伯特·罗达特 Robert Rodat / 英语 / 法语 / 德语 / 捷克语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Monsters, Inc." href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>怪兽电力公司 / Monsters, Inc.</em>
                             / 怪兽公司(港) / 怪物公司
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2001-11-02(美国) / 2012-12-19(美国) / 约翰·古德曼 / 比利·克里斯托 / 玛丽·吉布斯 / 史蒂夫·布西密 / 詹姆斯·柯本 / 詹妮弗·提莉 / 鲍勃·彼德森 / 约翰·拉岑贝格 / 弗兰克·奥兹 / 丹尼尔·吉尔森 / 邦尼·亨特 / 杰克·安杰尔 / 塞缪尔·洛德·布莱克 / 史蒂夫·萨斯坎德 / 李·昂克里奇 / 李立宏 / 王伟忠 / 华莱士·肖恩 / 黄子佼 / 胡立成 / 雪莉·琳恩 / 比尔·法玛尔 / 美国 / www.monstersinc.com / 彼特·道格特 / 大卫·西尔弗曼 / 李·昂克里奇 / 92分钟 / 怪兽电力公司 / 儿童 / 喜剧 / 动画 / 奇幻 / 冒险 / 安德鲁·斯坦顿 Andrew Stanton / Daniel Gerson / Robert L. Baird / 略特·里斯 Rhett Reese / Jonathan Roberts / 彼特·道格特 Pete Docter / 杰夫·皮金  Jeff Pidgeon / 吉尔·卡尔顿 Jill Culton / 拉夫·埃格尔斯顿 Ralph Eggleston / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Django Unchained" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>被解救的姜戈 / Django Unchained</em>
                             / 被解放的姜戈 / 决杀令(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-12-25(美国) / 2013-05-12(中国大陆) / 杰米·福克斯 / 莱昂纳多·迪卡普里奥 / 克里斯托弗·瓦尔兹 / 塞缪尔·杰克逊 / 凯丽·华盛顿 / 沃尔顿·戈金斯 / 丹尼斯·克里斯托弗 / 乔纳·希尔 / 詹姆斯·瑞马尔 / 爱波·塔布琳 / 弗兰科·内罗 / 罗伯特·卡拉丁 / 佐伊·贝尔 / 昆汀·塔伦蒂诺 / 布鲁斯·邓恩 / 基思·卡拉丹 / 唐·约翰逊 / J·D·埃弗摩尔 / 拉斯·坦布林 / 劳拉·凯洛蒂 / 詹姆斯·拉索 / 奥托·艾森度 / 瑞克斯·林恩 / 迈克·康纳·盖尼 / 耐德·巴拉米 / 克里斯托弗·贝瑞 / 唐·司徒奥德 / 汤姆·沃帕特 / 妮可·加利西亚 / 丹妮尔·沃茨 / 库珀·哈克卡比 / 凯瑞·西蒙斯 / 乔恩·阿兹 / 蒂莫西·皮克勒斯 / 爱德华·J·克莱尔 / 莫尼卡·雷内·安德森 / 里奇·J·拉德纳 / 克雷格·斯塔克 / 美国 / unchainedmovie.com / 昆汀·塔伦蒂诺 / 163分钟(中国大陆) / 165分钟(美国) / 被解救的姜戈 / 剧情 / 动作 / 西部 / 冒险 / 昆汀·塔伦蒂诺 Quentin Tarantino / 英语 / 法语 / 德语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Slumdog Millionaire" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>贫民窟的百万富翁 / Slumdog Millionaire</em>
                             / 一百万零一夜(港) / 贫民百万富翁(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2008-08-30(特柳赖德电影节) / 2009-01-09(英国) / 2009-03-26(中国大陆) / 戴夫·帕特尔 / 沙鲁巴·舒克拉 / 亚尼·卡普 / 拉詹德拉纳斯·祖特施 / 吉尼瓦·塔瓦尔 / 芙蕾达·平托 / 伊尔凡·可汗 / 爱资哈尔丁·穆罕默德·伊斯梅尔 / 阿什·马赫什·舍德卡 / 马赫什·曼杰瑞卡 / 麦活·米泰尔 / 塔奈·切赫达 / 英国 / www.foxsearchlight.com/slumdogmillionaire/ / 丹尼·博伊尔 / 洛芙琳·坦丹 / 120分钟 / 贫民窟的百万富翁 / 剧情 / 爱情 / 西蒙·比尤弗伊 Simon Beaufoy / 维卡斯·史瓦卢普 Vikas Swarup / 英语 / 印地语 / 法语 / 德语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Source Code" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>源代码 / Source Code</em>
                             / 启动原始码(台) / 危机解密(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-03-11(西南偏南电影节) / 2011-04-01(美国) / 2011-08-30(中国大陆) / 杰克·吉伦哈尔 / 维拉·法米加 / 米歇尔·莫纳汉 / 杰弗里·怀特 / 拉塞尔·皮特斯 / 詹姆斯·A·伍兹 / 迈克尔·阿登 / 乔·柯布登  / 卡斯·安瓦尔 / 斯科特·巴库拉 / 克雷格·汤姆斯 / 波拉琴希克森 / 凯尔·盖特豪斯 / 贾森·芬尼 / 美国 / 加拿大 / 邓肯·琼斯 / 93分钟 / 源代码 / 科幻 / 悬疑 / 惊悚 / 本·雷普利 Ben Ripley / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="那些年，我們一起追的女孩" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>那些年，我们一起追的女孩 / 那些年，我們一起追的女孩</em>
                             / You Are the Apple of My Eye
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-08-19(中国台湾) / 2012-01-06(中国大陆) / 柯震东 / 陈妍希 / 敖犬 / 郝劭文 / 蔡昌宪 / 侯彦西 / 弯弯 / 邱彦翔 / 王彩桦 / 柯义浤 / 黄逸祥 / 李凤新 / 黄柏钧 / 赖雅妍 / 高丽红 / 李维维 / 严艺文 / 蔡武雄 / 孙绽 / 方志友 / 中国台湾 / 九把刀 / 110分钟 / 100分钟(中国大陆) / 那些年，我们一起追的女孩 / 剧情 / 喜剧 / 爱情 / 九把刀 Giddens / 汉语普通话</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Good Will Hunting" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>心灵捕手 / Good Will Hunting</em>
                             / 骄阳似我(港) / 心灵捕手
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1997-12-05(美国) / 马特·达蒙 / 罗宾·威廉姆斯 / 本·阿弗莱克 / 斯特兰·斯卡斯加德 / 明妮·德里弗 / 卡西·阿弗莱克 / 科尔·豪瑟 / 约翰·迈顿 / 丹·华盛顿 / 艾莉森·福兰德 / 维克·萨海 / 史蒂文·科兹洛夫斯基 / 斯科特·威廉姆·文特斯 / 吉米·弗林 / 乔治·普林普顿 / 弗朗切斯科·克莱门特 / 金彧亮 / 美国 / 格斯·范·桑特 / 126 分钟 / 心灵捕手 / 剧情 / 本·阿弗莱克 Ben Affleck / 马特·达蒙 Matt Damon / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Malèna" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>西西里的美丽传说 / Malèna</em>
                             / 真爱伴我行(台) / 玛莲娜
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2000-10-27(意大利) / 莫妮卡·贝鲁奇 / 朱塞佩·苏尔法罗 / 玛蒂尔德·皮亚纳 / 埃丽萨·莫鲁奇 / 奥罗拉·夸特罗基 / 露琪亚·萨多 / 瓦尼·布拉马蒂 / Salvatore Martino / 安东内洛·普利西 / Noam Morgensztern / Pietro Notarianni / Gaetano Aronica / 意大利 / 美国 / 朱塞佩·托纳多雷 / 109 分钟 / USA: 92 分钟(heavily cut) / Turkey: 84 分钟(TV version) / 西西里的美丽传说 / 剧情 / 战争 / 情色 / 朱塞佩·托纳多雷 Giuseppe Tornatore / 卢恰诺·温琴佐尼 Luciano Vincenzoni / 意大利语 / 英语 / 拉丁语 / 古希腊语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="How to Train Your Dragon" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>驯龙高手 / How to Train Your Dragon</em>
                             / 驯龙记(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2010-03-18(俄罗斯) / 2010-03-26(美国) / 2010-05-14(中国大陆) / 杰伊·巴鲁切尔 / 杰拉德·巴特勒 / 克雷格·费格森 / 亚美莉卡·费雷拉 / 乔纳·希尔 / 克里斯托夫·梅兹-普莱瑟 / T·J·米勒 / 克里斯汀·韦格 / 罗宾·阿特金·唐斯 / 菲利普·麦格雷德 / 基隆·埃利奥特 / 阿什利·詹森 / 大卫·田纳特 / 艾米利亚·舒勒 / 陈汉典 / 美国 / www.dreamworksdragons.com/ / 迪恩·德布洛斯 / 克里斯·桑德斯 / 98分钟 / 驯龙高手 / 动画 / 奇幻 / 冒险 / 威廉姆·戴维斯 William Davies / 迪恩·德布洛斯 Dean DeBlois / 克里斯·桑德斯 Chris Sanders / 葛蕾熙达·柯维尔 Cressida Cowell / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Despicable Me" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>神偷奶爸 / Despicable Me</em>
                             / 卑鄙的我 / 坏蛋奖门人(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2010-06-20(莫斯科电影节) / 2010-07-09(美国) / 史蒂夫·卡瑞尔 / 杰森·席格尔 / 拉塞尔·布兰德 / 朱莉·安德鲁斯 / 威尔·阿奈特 / 克里斯汀·韦格 / 米兰达·卡斯格拉夫 / 达纳·盖尔 / 艾尔西·费舍尔 / 皮埃尔·柯芬 / 克里斯·雷纳德 / 杰梅奈·克莱门特 / 杰克·麦克布瑞尔 / 丹尼·麦克布莱德 / 敏迪·卡灵 / 罗布·许贝尔 / 肯·道里欧 / 郑肯 / 詹姆斯·凯森·李 / 斯科特·门维尔 / 霍利·多夫 / 芦田爱菜 / 欧阳娣娣 / 凯蒂·丽 / 查尔斯·布赖特 / 美国 / 法国 / www.despicableme.com / 皮埃尔·柯芬 / 克里斯·雷纳德 / 95分钟 / 神偷奶爸 / 喜剧 / 动画 / 冒险 / 肯·达里奥 Ken Daurio / 塞尔吉奥·帕布洛 Sergio Pablos / 辛科·保罗 Cinco Paul / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="ハウルの動く城" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>哈尔的移动城堡 / ハウルの動く城</em>
                             / 哈尔移动城堡(港) / 霍尔的移动城堡(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2004-09-05(威尼斯电影节) / 2004-11-20(日本) / 倍赏千惠子 / 木村拓哉 / 美轮明宏 / 我修院达也 / 神木隆之介 / 伊崎充则 / 大泉洋 / 大塚明夫 / 原田大二郎 / 加藤治子 / 都筑香弥子 / 克里斯蒂安·贝尔 / 艾米莉·莫迪默 / 吉娜·马隆 / 乔什·哈切森 / 劳伦·白考尔 / 比利·克里斯托 / 布莱思·丹纳 / 安田显 / 简·西蒙斯 / 户次重幸 / 菅野莉央 / 威尔·弗里德尔 / 莉莉娜·穆米 / 卡洛斯·阿拉斯拉奇 / 克里斯平·弗里曼 / 达兰·诺里斯 / 森崎博之 / 霍利·多夫 / 保村真 / 理查德·史蒂文·霍维茨 / 纽威尔·亚历山大 / 艾克·艾森曼 / 大卫·考吉尔 / 科妮莉亚·达尔格林 / 田中宏树 / 彼得·雷纳迪 / 霍普·利维 / 摩西·德里耶 / 苏珊妮·布莱克史丽 / 崔成希 / 日本 / 宫崎骏 / 119分钟 / 哈尔的移动城堡 / 动画 / 奇幻 / 冒险 / 宫崎骏 Hayao Miyazaki / 黛安娜·温恩·琼斯 Diana Wynne Jones / 日语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Avatar" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>阿凡达 / Avatar</em>
                             / 天神下凡(港) / 化身
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-12-18(美国) / 2010-01-04(中国大陆) / 2021-03-12(中国大陆重映) / 萨姆·沃辛顿 / 佐伊·索尔达娜 / 西格妮·韦弗 / 史蒂芬·朗 / 米歇尔·罗德里格兹 / 吉奥瓦尼·瑞比西 / 乔·大卫·摩尔  / 希·庞德 / 韦斯·斯塔迪 / 拉兹·阿隆索 / 迪利普·劳 / 马特·杰拉德 / 肖恩·安东尼·莫兰 / 凯利·基尔戈 / 詹姆斯·皮特 / 肖恩·帕特里克·墨菲 / 凯尔森·亨德森 / 彼得·狄龙 / 大卫·范·霍恩 / 詹姆斯·霍纳 / 陆建艺 / 季冠霖 / 杰森·怀特 / 黛布拉·威尔逊 / 彼得·门萨 / 泰瑞·诺塔里 / 斯科特·劳伦斯 / 凯文·多曼 / 雅克布·托毛里 / 伍迪·舒尔茨 / 美国 / www.avatarmovie.com / 詹姆斯·卡梅隆 / 162分钟 / 178分钟(加长版) / 阿凡达 / 动作 / 科幻 / 冒险 / 詹姆斯·卡梅隆 James Cameron / 英语 / 西班牙语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="써니" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>阳光姐妹淘 / 써니</em>
                             / 阳光姊妹淘(港) / 桑尼
                        </a>
                    </li>
                        <li class="intro">2011-05-04(韩国) / 沈恩京 / 闵孝琳 / 姜素拉 / 南宝拉 / 陈熙琼 / 金时厚 / 柳好贞 / 朴真珠 / 李妍京 / 金甫美 / 千禹熙 / 李璟荣 / 金叡园 / 金玺碧 / 金元海 / 金惠玉 / 李俊赫 / 金宣敬 / 荷承里 / 高俊 / 成志娄 / 高素熙 / 杨喜京 / 崔秀林 / 柳惠琳 / 洪真熙 / 朴赫民 / 楊朱虎 / 崔利善 / 黄春河 / 朴英徐 / 杨姬瓊 / 韩国 / 姜炯哲 / 124分钟 / 135分钟(导演剪辑版) / 阳光姐妹淘 / 剧情 / 喜剧 / 姜炯哲 Hyeong-Cheol Kang / 李炳宪 Byeong-Heon Lee / 韩语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">you are my sunshine.</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="無間道" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>无间道 / 無間道</em>
                             / Infernal Affairs / Mou gaan dou
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2002-12-12(中国香港) / 2003-09-05(中国大陆) / 刘德华 / 梁朝伟 / 黄秋生 / 曾志伟 / 郑秀文 / 陈慧琳 / 陈冠希 / 余文乐 / 林家栋 / 萧亚轩 / 林迪安 / 苏伟南 / 姚文基 / 利沙华 / 何华超 / 尹志强 / 洪智杰 / 李天翔 / 张艺 / 叶清 / 吴廷烨 / 中国香港 / 刘伟强 / 麦兆辉 / 101分钟 / 97分钟(导演剪辑版) / 无间道 / 剧情 / 犯罪 / 惊悚 / 麦兆辉 / 庄文强 / 粤语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Prestige" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>致命魔术 / The Prestige</em>
                             / 死亡魔法(港) / 顶尖对决(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2006-10-17(罗马电影节) / 2006-10-20(美国) / 休·杰克曼 / 克里斯蒂安·贝尔 / 迈克尔·凯恩 / 丽贝卡·豪尔 / 斯嘉丽·约翰逊 / 大卫·鲍伊 / 安迪·瑟金斯 / 派珀·佩拉博 / 萨曼塔·马霍林 / 丹尼尔·戴维斯 / 吉姆·皮多克 / 克里斯托弗·尼姆 / 马克·瑞安 / 罗杰·里斯 / 杰米·哈里斯 / 罗恩·帕金斯 / 瑞奇·杰 / 安东尼·德·马克 / 冀朝理 / 罗伯特·阿伯加斯特 / 威廉姆·摩根·谢泼德 / 英国 / 美国 / 克里斯托弗·诺兰 / 130分钟 / 致命魔术 / 剧情 / 悬疑 / 惊悚 / 乔纳森·诺兰 Jonathan Nolan / 克里斯托弗·诺兰 Christopher Nolan / 克里斯托弗·普瑞丝特 Christopher Priest / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=855&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./52.html">53</a>
        
                
            <a href="./53.html">54</a>
        
                
            <a href="./54.html">55</a>
        
                
            <a href="./55.html">56</a>
        
                
            <a href="./56.html">57</a>
        
                
            <a href="./57.html">58</a>
        
                <span class="thispage" data-total-page="61">59</span>
                
            <a href="./59.html">60</a>
        
                
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=885&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-kzxvr-->

  <script>_SPLITTEST=''</script>





</body></html>