<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "24c0273c3dcbee33d2e46a2481a0a6e36b81b7e1",
    SSE_TIMESTAMP: "1640990624",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                886-900&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Edward Scissorhands" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>剪刀手爱德华 / Edward Scissorhands</em>
                             / 幻海奇缘(港) / 剪刀手爱德华
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1990-12-06(美国) / 约翰尼·德普 / 薇诺娜·瑞德 / 黛安·韦斯特 / 安东尼·迈克尔·豪尔 / 凯西·贝克 / 罗伯特·奥利维里 / 康查塔·费雷尔 / 卡罗琳·阿隆 / 迪克·安东尼·威廉姆斯 / 澳澜·琼斯 / 文森特·普莱斯 / 艾伦·阿金 / 苏珊·布洛马特 / 约翰·戴维森 / 布莱恩·拉肯 / Victoria Price / Stuart Lancaster / Gina Gallagher / 阿隆·鲁斯汀 / 阿兰·弗吉 / 史蒂文·布里尔 / Peter Palmer / 马克·麦考利 / 唐娜·派洛尼 / Ken DeVaul / Kathy Dombo / Tabetha Thomas / 尼克·卡特 / 布雷特·赖斯 / 美国 / 蒂姆·波顿 / 105分钟 / 剪刀手爱德华 / 剧情 / 奇幻 / 爱情 / 蒂姆·波顿 Tim Burton / 卡罗琳·汤普森 Caroline Thompson / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">好久之前看过，但应该值得再回味一遍。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="天空の城ラピュタ" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>天空之城 / 天空の城ラピュタ</em>
                             / Tenkû no shiro Rapyuta / Laputa: Castle in the Sky
                        </a>
                    </li>
                        <li class="intro">1986-08-02(日本) / 1992-05-01(中国大陆) / 田中真弓 / 横泽启子 / 初井言荣 / 寺田农 / 常田富士男 / 永井一郎 / 糸博 / 鹫尾真知子 / 神山卓三 / 安原义人 / 槐柳二 / 鳕子 / 安迪·迪克 / 黛比·德里贝里 / 姜瑰瑾 / 斯科特·门维尔 / 吉姆·卡明斯 / 林原惠美 / 林美秀 / 曼迪·帕廷金 / 胡立成 / 龟山助清 / Susan Hickman / 古田信幸 / 特蕾丝·麦克尼尔 / 大泷进矢 / 理查德·戴萨特 / 克萝丽丝·利奇曼 / 迈克尔·麦克沙恩 / 约翰·德米塔 / 马克·哈米尔 / 安娜·帕奎因 / 詹姆斯·范德比克 / 日本 / 宫崎骏 / 125分钟 / 天空之城 / 动画 / 奇幻 / 冒险 / 宫崎骏 Hayao Miyazaki / 日语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Nuovo Cinema Paradiso" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>天堂电影院 / Nuovo Cinema Paradiso</em>
                             / 星光伴我心(港) / 新天堂乐园(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1988-11-17(意大利) / 2021-06-11(中国大陆) / 菲利普·努瓦雷 / 雅克·贝汉 / 马克·莱昂纳蒂 / 萨瓦特利·卡西欧 / 莱奥波多·特里耶斯泰 / 安东内拉·阿蒂利 / 恩佐·卡拉瓦勒 / 艾萨·丹尼埃利 / 里奥·故罗塔 / 普佩拉·玛奇奥 / 阿格妮丝·那诺 / 塔诺·希玛罗萨 / 尼古拉·迪·平托 / 罗伯塔·蕾娜 / 尼诺·戴罗佐 / 玛丽娜·朱迪切 / 比阿特丽斯·帕姆 / 布丽吉特·佛西 / 朱塞佩·托纳多雷 / 意大利 / 法国 / 朱塞佩·托纳多雷 / 155分钟 / 173分钟(导演剪辑版) / 123分钟(剧场版) / 124分钟(中国大陆) / 天堂电影院 / 剧情 / 爱情 / 朱塞佩·托纳多雷 Giuseppe Tornatore / 瓦娜·波利 Vanna Paoli / 意大利语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">看了一半，貌似还没看完。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="让子弹飞" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>让子弹飞</em>
                             / 让子弹飞一会儿 / 火烧云
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2010-12-16(中国大陆) / 姜文 / 葛优 / 周润发 / 刘嘉玲 / 陈坤 / 张默 / 姜武 / 周韵 / 廖凡 / 姚橹 / 邵兵 / 苗圃 / 冯小刚 / 胡军 / 马珂 / 白冰 / 杜奕衡 / 李静 / 胡明 / 危笑 / 杨奇雨 / 赵铭 / 郭俊立 / 绀野千春 / 马元 / 宣晓鸣 / 姜洪齐 / 岳红 / 吴昔果 / 沙瑀 / 陈磊 / 文祥 / 中国大陆 / 中国香港 / 姜文 / 132分钟 / 剧情 / 喜剧 / 动作 / 西部 / 朱苏进 Sujin Zhu / 述平 Ping Shu / 姜文 Wen Jiang / 郭俊立 Junli Guo / 危笑 Xiao Wei / 李不空 Bukong Li / 马识途 Shitu Ma / 汉语普通话 / 四川话 / 山西话</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="V for Vendetta" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>V字仇杀队 / V for Vendetta</em>
                             / V煞(港) / V怪客(台)
                        </a>
                    </li>
                        <li class="intro">2005-12-11(BNAT电影节) / 2006-03-17(美国) / 娜塔莉·波特曼 / 雨果·维文 / 斯蒂芬·瑞 / 斯蒂芬·弗雷 / 约翰·赫特 / 蒂姆·皮戈特-史密斯 / 鲁珀特·格雷夫斯 / 罗杰·阿拉姆 / 本·迈尔斯 / 西妮德·库萨克 / 娜塔莎·怀特曼 / 约翰·斯坦丁 / 埃迪·马森 / 克里夫·阿什伯恩 / Emma Field-Rayner / 伊安·布尔费尔德 / 马克·菲尼克斯 / Alister Mazzotti / 比莉·库克 / 盖伊·亨利 / 科斯马·肖 / Megan Gay / Roderic Culver / Tara Hacking / 安迪·莱什利兹 / 查德·斯塔赫斯基 / 布拉德利·斯蒂夫·福特 / 马德琳·拉基克-普拉特 / 塞丽娜·贾尔斯 / 卡斯腾·海斯 / 伊莫琴·普茨 / 劳拉·格林伍德 / Kyra Meyer / 玛丽·萧克莱  / 理查德·莱恩 / Michael Simkins / 大卫·雷奇 / 马尔科姆·辛克莱 / 马迪斯·兰德维尔 / Simon Newby / 保罗·安东尼·巴伯 / 美国 / 英国 / 德国 / 詹姆斯·麦克特格 / 132分钟 / V字仇杀队 / 剧情 / 动作 / 科幻 / 惊悚 / 安迪·沃卓斯基 Andy Wachowski / 拉里·沃卓斯基 Lana Wachowski / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Up" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>飞屋环游记 / Up</em>
                             / 冲天救兵(港) / 天外奇迹(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-05-13(戛纳电影节) / 2009-05-29(美国) / 2009-08-04(中国大陆) / 爱德华·阿斯纳 / 克里斯托弗·普卢默 / 乔丹·长井 / 鲍勃·彼德森 / 德尔罗伊·林多 / 杰罗姆·兰福特 / 约翰·拉岑贝格 / 大卫·卡耶 / 艾丽·道克特 / 杰里米·利里 / 米凯·麦高万 / 丹尼·曼恩 / 唐纳德·富利洛夫 / 杰斯·哈梅尔 / 乔什·库雷 / 彼特·道格特 / 布兰达∙查普曼 / 泰迪·牛顿 / 保罗·伊丁 / 托尼·弗希勒 / 雪莉·琳恩 / 美国 / 彼特·道格特 / 鲍勃·彼德森 / 96分钟 / 飞屋环游记 / 剧情 / 喜剧 / 动画 / 冒险 / 彼特·道格特 Pete Docter / 鲍勃·彼德森 Bob Peterson / 汤姆·麦卡锡 Tom McCarthy / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Croods" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>疯狂原始人 / The Croods</em>
                             / 古鲁家族(港/台) / 克鲁德一家
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-02-15(柏林电影节) / 2013-03-22(美国) / 2013-04-20(中国大陆) / 尼古拉斯·凯奇 / 艾玛·斯通 / 瑞安·雷诺兹 / 凯瑟琳·基纳 / 克萝丽丝·利奇曼 / 克拉克·杜克 / 克里斯·桑德斯 / 兰迪·汤姆 / 梁家辉 / 范晓萱 / 美国 / 柯克·德·米科 / 克里斯·桑德斯 / 98分钟 / 疯狂原始人 / 喜剧 / 动画 / 冒险 / 克里斯·桑德斯 Chris Sanders / 科克·德·米科 Kirk De Micco / 约翰·克立斯 John Cleese / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Pursuit of Happyness" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>当幸福来敲门 / The Pursuit of Happyness</em>
                             / 寻找快乐的故事(港) / 追求快乐
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2006-12-15(美国) / 2008-01-17(中国大陆) / 2020-07-20(中国大陆重映) / 威尔·史密斯 / 贾登·史密斯 / 坦迪·牛顿 / 布莱恩·豪威  / 詹姆斯·凯伦 / 丹·卡斯泰兰尼塔 / 柯特·富勒 / 塔卡尤·费舍尔 / 凯文·韦斯特 / 乔治·张 / 戴维·迈克尔·西尔弗曼 / 多米尼克·博夫 / 杰弗·卡伦 / 乔伊芙·拉文 / 斯科特·克拉斯 / 希瑟·坎特 / 约翰·帕特里克·舒拉克 / 大卫·皮尔 / 伊斯特·斯高特 / 罗明 / 亚当·王 / 拉希达·克伦迪宁 / 大卫·芬恩 / 扎克·布拉夫 / 莫莉·塞拉斯基 / 加瑞特·法贝斯 / 克里斯·加德纳 / 马克·克里斯托弗·劳伦斯 / 乔治·马奎尔 / 扎卡里·卡伯森 / 戴维·阿伦·霍奇斯 / 亚历山大·库科尔 / 多恩·安德鲁·西蒙斯 / 阿米尔·塔莱 / 塞雷娜·锡德 / 凯文·克鲁克 / 詹姆斯·科纳 / 亚当·德尔·里奥 / 里克·坎普 / 威廉·保罗·史密斯 / 塞西尔·威廉斯 / 维克托·莱德·维斯勒 / 艾丽莎·安德瑞格 / 美国 / 加布里埃莱·穆奇诺 / 117分钟 / 当幸福来敲门 / 剧情 / 传记 / 家庭 / 史帝文·康拉德 Steve Conrad / 英语 / 粤语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">唯一一部看过3遍以上的电影。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="となりのトトロ" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>龙猫 / となりのトトロ</em>
                             / 邻居托托罗 / 邻家的豆豆龙
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1988-04-16(日本) / 2018-12-14(中国大陆) / 日高法子 / 坂本千夏 / 糸井重里 / 岛本须美 / 北林谷荣 / 高木均 / 雨笠利幸 / 丸山裕子 / 广濑正志 / 鹫尾真知子 / 铃木玲子 / 千叶繁 / 龙田直树 / 鳕子 / 西村朋纮 / 石田光子 / 神代知衣 / 中村大树 / 水谷优子 / 平松晶子 / 大谷育江 / 达科塔·范宁 / 艾丽·范宁 / 秦岚 / 日本 / 宫崎骏 / 86分钟 / 龙猫 / 动画 / 奇幻 / 冒险 / 宫崎骏 Hayao Miyazaki / 日语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">太短，没太懂。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Les choristes" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>放牛班的春天 / Les choristes</em>
                             / 歌声伴我心(港) / 唱诗班男孩
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2004-03-17(法国) / 2004-10-16(中国大陆) / 热拉尔·朱尼奥 / 让-巴蒂斯特·莫尼耶 / 弗朗索瓦·贝莱昂 / 凯德·麦拉德 / 让-保罗·博奈雷 / 玛丽·布奈尔 / 马科森斯·珀林 / 格雷戈里·加迪诺尔 / 托马斯·布伦门塔尔 / 西里尔·伯尔尼科特 / 西蒙·法戈特 / 泰奥杜尔·卡雷-卡赛尼 / 菲利普·杜·詹纳兰德 / 埃里克·德斯玛莱茨 / 狄迪尔·弗拉蒙 / 雅克·贝汉 / 卡罗尔·韦斯 / 法国 / 瑞士 / 德国 / 克里斯托夫·巴拉蒂 / 97分钟 / 放牛班的春天 / 剧情 / 喜剧 / 音乐 / 乔治·沙普罗 Georges Chaperot / 勒·惠勒 René Wheeler / 诺埃-诺尔 Noël-Noël / 克里斯托夫·巴拉蒂 Christophe Barratier / 菲利普·洛佩斯-屈瓦尔 Philippe Lopes-Curval / 法语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">你不知道你有什么天分</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Hachi: A Dog's Tale" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>忠犬八公的故事 / Hachi: A Dog's Tale</em>
                             / 秋田犬八千(港) / 忠犬小八(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-06-13(西雅图电影节) / 2010-03-12(英国) / 理查·基尔 / 萨拉·罗默尔 / 琼·艾伦 / 罗比·萨布莱特 / 艾瑞克·阿瓦利 / 田川洋行 / 杰森·亚历山大 / 罗伯特·卡普荣 / Ellen Becker-Gray / Ben Skinner / 凯文·德科斯泰 / Raymond Alongi / Michael Kelly / 达文尼亚·麦克法登 / 贝茨·怀尔德 / 亚美利哥·普雷休蒂 / 盖尔·布格贾 / 马丁·蒙塔纳 / 高岛彩 / 美国 / 英国 / 拉斯·霍尔斯道姆 / 93分钟 / 忠犬八公的故事 / 剧情 / Stephen P. Lindsey / 新藤兼人 Kaneto Shindô / 英语 / 日语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">人，狗</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="La leggenda del pianista sull'oceano" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>海上钢琴师 / La leggenda del pianista sull'oceano</em>
                             / 声光伴我飞(港) / 一九零零的传奇
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1998-10-28(意大利) / 2019-11-15(中国大陆) / 蒂姆·罗斯 / 普路特·泰勒·文斯 / 比尔·努恩 / 克兰伦斯·威廉姆斯三世 / 梅兰尼·蒂埃里 / 皮特·沃恩 / 尼尔·奥布赖恩 / 阿尔贝托·巴斯克斯 / 加布里埃莱·拉维亚 / 科里·巴克 / 西德尼·科尔 / Luigi De Luca / 尼古拉·迪·平托 / 费米·依鲁福祖 / 伊斯顿·盖奇 / 凯文·麦克纳利 / 布莱恩·普林格 / 沙拉·鲁宾 / 希思科特·威廉姆斯 / 阿妮妲·扎格利亚 / 安吉洛·迪洛雷塔 / 吉达·布塔 / 曲敬国 / 意大利 / 朱塞佩·托纳多雷 / 165分钟 / 120分钟(法国版) / 169分钟(加长版) / 125分钟(中国大陆) / 海上钢琴师 / 剧情 / 音乐 / 亚利桑德罗·巴里克 Alessandro Baricco / 朱塞佩·托纳多雷 Giuseppe Tornatore / 英语 / 法语 / 意大利语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Life of Pi" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>少年派的奇幻漂流 / Life of Pi</em>
                             / 少年Pi的奇幻漂流 / 漂流少年Pi
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-09-28(纽约电影节) / 2012-11-21(美国) / 2012-11-22(中国大陆) / 苏拉·沙玛 / 伊尔凡·可汗 / 拉菲·斯波 / 阿迪勒·侯赛因 / 塔布 / 阿尤什·坦东 / 加塔姆·贝鲁尔 / 阿彦·汗 / 穆德·阿巴斯·卡勒里 / 维比什·希瓦库玛 / 热拉尔·德帕迪约 / 詹姆斯·塞托 / 俊·奈托 / 安德里亚·迪·斯戴法诺 / 沙拉万提·塞纳特 / 王柏杰 / 柯一正 / 黄健玮 / 路知行 / 美国 / 中国台湾 / 英国 / 加拿大 / www.lifeofpimovie.com / 李安 / 127分钟 / 少年派的奇幻漂流 / 剧情 / 奇幻 / 冒险 / 扬·马特尔 Yann Martel / 大卫·麦基 David Magee / 英语 / 泰米尔语 / 法语 / 日语 / 印地语 / 汉语普通话</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">里面一个海上的场景屌到爆</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="千と千尋の神隠し" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>千与千寻 / 千と千尋の神隠し</em>
                             / 神隐少女(台) / 千与千寻的神隐
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2001-07-20(日本) / 2019-06-21(中国大陆) / 柊瑠美 / 入野自由 / 夏木真理 / 菅原文太 / 中村彰男 / 玉井夕海 / 神木隆之介 / 内藤刚志 / 泽口靖子 / 我修院达也 / 大泉洋 / 小林郁夫 / 上条恒彦 / 小野武彦 / 田壮壮 / 王琳 / 安田显 / 户次重幸 / 胡立成 / 山像香 / 斋藤志郎 / 脇田茂 / 彭昱畅 / 井柏然 / 周冬雨 / 日本 / 宫崎骏 / 125分钟 / 千与千寻 / 剧情 / 动画 / 奇幻 / 宫崎骏 Hayao Miyazaki / 日语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">高二时美术课上放的。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="3 Idiots" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>三傻大闹宝莱坞 / 3 Idiots</em>
                             / 三个傻瓜(台) / 作死不离3兄弟(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-12-25(印度) / 2011-12-08(中国大陆) / 阿米尔·汗 / 卡琳娜·卡普尔 / 马达范 / 沙尔曼·乔希 / 奥米·瓦依达 / 博曼·伊拉尼 / 莫娜·辛格 / 拉杰夫·拉宾德拉纳特安 / Atul Tiwari / 阿里·法扎勒 / 帕里卡沙特.萨赫尼 / Rakesh Sharma / 贾维德·杰弗里 / 印度 / 拉吉库马尔·希拉尼 / 171分钟(印度) / 三傻大闹宝莱坞 / 剧情 / 喜剧 / 爱情 / 歌舞 / Vidhu Vinod Chopra / 拉库马·希拉尼 Rajkumar Hirani / 阿西奇·乔希 Abhijit Joshi / 印地语 / 乌尔都语 / 英语</li>
                    <li>
                        <span class="date">2015-03-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">真的傻么？</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=870&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        
            
            <a href="./0.html">1</a>
        
            <a href="./1.html">2</a>
        <span class="break">...</span>

                
            <a href="./52.html">53</a>
        
                
            <a href="./53.html">54</a>
        
                
            <a href="./54.html">55</a>
        
                
            <a href="./55.html">56</a>
        
                
            <a href="./56.html">57</a>
        
                
            <a href="./57.html">58</a>
        
                
            <a href="./58.html">59</a>
        
                <span class="thispage" data-total-page="61">60</span>
                
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=900&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-nfshz-->

  <script>_SPLITTEST=''</script>





</body></html>