<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "adc231e429ff6cc33b4164f666d37d97c7256c43",
    SSE_TIMESTAMP: "1640990623",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                91-105&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Ali Wong: Hard Knock Wife" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>黄阿丽：铁娘子 / Ali Wong: Hard Knock Wife</em>
                             / Ali Wong: Hard Knock Wife
                        </a>
                    </li>
                        <li class="intro">2018-05-13(美国) / 黄阿丽 / 美国 / 杰伊·卡拉斯 / 64分钟 / 黄阿丽：铁娘子 / 喜剧 / 脱口秀 / 黄阿丽 Ali Wong / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-01-04</span>
                        
                    </li>
                    <li>
                        <span class="comment">这个尺度！！！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Ali Wong: Baby Cobra" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>黄阿丽：小眼镜蛇 / Ali Wong: Baby Cobra</em>
                            
                        </a>
                    </li>
                        <li class="intro">2016-05-05(美国) / 黄阿丽 / 美国 / 杰伊·卡拉斯 / 60分钟 / 黄阿丽：小眼镜蛇 / 喜剧 / 黄阿丽 Ali Wong / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-01-04</span>
                        
                    </li>
                    <li>
                        <span class="comment">哈哈哈...难以想象要是她如果上脱口秀大会会是什么后果.... 会被浸猪笼吗？？相比下来杨笠的尺度算个啥呀……</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Soul" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>心灵奇旅 / Soul</em>
                             / 灵魂奇遇记(港) / 灵魂急转弯(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-10-11(伦敦电影节) / 2020-12-25(中国大陆/美国网络) / 杰米·福克斯 / 蒂娜·菲 / 菲利西亚·拉斯海德 / 阿米尔-卡利布·汤普森 / 戴维德·迪格斯 / 格拉汉姆·诺顿 / 瑞切尔·豪斯 / 艾莉丝·布拉加 / 理查德·艾欧阿德 / 唐尼尔·罗林斯 / 安吉拉·贝塞特 / 马戈·霍尔 / 罗德莎·琼斯 / 韦斯·斯塔迪 / 沙基纳·贾弗里 / 福琼·费姆斯特 / 卡鲁姆·格兰特 / 泽诺比娅·谢罗夫 / 朱恩·斯奎布 / 凯茜·卡瓦蒂妮 / 罗纳尔多·德尔·卡门 / 埃利萨皮·艾萨克 / 杰森·佩斯 / 科拉·尚波米耶 / 约翰·拉岑贝格 / 美国 / 彼特·道格特 / 凯普·鲍尔斯 / 101分钟 / 心灵奇旅 / 动画 / 奇幻 / 音乐 / 彼特·道格特 Pete Docter / 麦克·琼斯 Mike Jones / 坎普·鲍尔斯 Kemp Powers / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-01-02</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="ハイキュー!! TO THE TOP" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>排球少年 第四季 / ハイキュー!! TO THE TOP</em>
                             / 排球少年！！ TO THE TOP / Haikyu!! To the Top
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-01-10(日本) / 村瀬步 / 石川界人 / 日野聪 / 入野自由 / 林勇 / 细谷佳正 / 内山昂辉 / 齐藤壮马 / 名塚佳织 / 神谷浩史 / 江川央生 / 中村悠一 / 梶裕贵 / 竹内良太 / 增田俊树 / 诸星堇 / 木村良平 / 逢坂良太 / 西山宏太朗 / 古川慎 / 田丸笃志 / 木村昴 / 土屋神叶 / 寺岛拓笃 / 中尾隆圣 / 兴津和幸 / 花江夏树 / 宫野真守 / 鸟海浩辅 / 上村祐翔 / 阪口周平 / 冈本信彦 / 花轮英司 / 星野贵纪 / 市道真央 / 中泽匡智 / 安田陆矢 / 大西沙织 / 宫园拓梦 / 松浦义之 / 松山鹰志 / 福西胜也 / 日本 / haikyu.jp / 24分钟 / 排球少年 第四季 / 动画 / 运动 / 古馆春一 Haruichi Furudate / 岸本卓 Taku Kishimoto / 日语</li>
                    <li>
                        <span class="date">2021-01-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">坐等第五季决赛！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="僕だけがいない街" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>只有我不存在的城市 / 僕だけがいない街</em>
                             / 只有我不在的街道 / The Town Where Only I Am Missing
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-01-08(日本) / 土屋太凤 / 满岛真之介 / 悠木碧 / 赤崎千夏 / 大地叶 / 水岛大宙 / 高山南 / 宫本充 / 田丸笃志 / 竹内荣治 / 高桥伸也 / 山本兼平 / 日本 / bokumachi-anime.com / 伊藤智彦 / 石井俊匡 / 绵田慎也 / 鹿间贵裕 / 森大贵 / 星野真 / 23分钟 / 只有我不存在的城市 / 动画 / 悬疑 / 岸本卓 Taku Kishimoto / 安永丰 / 日语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-01-01</span>
                        
                    </li>
                    <li>
                        <span class="comment">Courage will spread to others like a breeze.</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="大秦赋" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>大秦赋</em>
                             / 大秦帝国4：东出 / 大秦帝国之东出
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-12-01(中国大陆) / 张鲁一 / 段奕宏 / 李乃文 / 朱珠 / 辛柏青 / 邬君梅 / 尤勇智 / 李洪涛 / 王庆祥 / 陈米麒 / 李卓钊 / 刘钧 / 蒋毅 / 高玉庆 / 高姝瑶 / 黄小戈 / 赵昕 / 赵正阳 / 王超 / 郑楚一 / 陈之辉 / 臧金生 / 尹铸胜 / 李浩轩 / 孟召重 / 李欣泽 / 谢宁 / 叶项明 / 刘冠麟 / 周铁 / 朱悦 / 苏茂洋 / 陈秋果 / 王志军 / 冯晖 / 任宇 / 郁晓冬 / 师悦玲 / 李子游 / 赵鲲鹏 / 赵鲲鹏 / 郭鑫 / 于彦凯 / 刘紫玲 / 黑子 / 傅诗彤 / 中国大陆 / 延艺 / 顾其铭 / 45分钟 / 历史 / 古装 / 李梦 Meng Li / 张健 Jian Zhang / 汉语普通话</li>
                    <li>
                        <span class="date">2020-12-26</span>
                        
                    </li>
                    <li>
                        <span class="comment">印象中秦始皇是暴君啊，难道是史书欺我？</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Le Meilleur reste à venir" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>最好的尚未到来 / Le Meilleur reste à venir</em>
                             / 陪你玩最大(台) / The Best Is Yet To Come
                        </a>
                    </li>
                        <li class="intro">2019-12-04(法国) / 法布莱斯·鲁奇尼 / 帕特里克·布鲁尔 / 季奈布·特里基 / 帕斯卡·艾比约 / 玛丽·纳博恩 / 让-马利·文灵 / 安德烈·马尔孔 / 蒂埃里·戈达尔 / 玛蒂娜·加西亚 / 塞巴斯蒂安·皮埃尔 / 菲利普·雷西蒙 / 拉贾特·卡普尔 / 玛丽·朱莉·鲍普 / 杨一琳 / 阿黛尔·辛法尔 / 丽露·弗格利 / 塞莉亚·黛安 / 阿米莉娜·利穆西 / 法国 / 比利时 / 亚历山大·德·拉·巴特里耶 / 马修·德拉波特 / 117分钟 / 最好的尚未到来 / 剧情 / 喜剧 / 马修·德拉波特 Matthieu Delaporte / 亚历山大·德·拉·巴特里耶 Alexandre de La Patellière / 法语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-12-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">真好，我也想要可以在我葬礼上念悼词的朋友！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Hope Gap" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>希望沟壑 / Hope Gap</em>
                             / 海边走走(台) / 下一步幸福
                        </a>
                    </li>
                        <li class="intro">2019-09-06(多伦多电影节) / 2020-06-12(英国) / 安妮特·贝宁 / 比尔·奈伊 / 乔什·奥康纳 / 艾莎·哈特 / 瑞恩·麦肯 / 乔·西特罗 / 萨莉·罗杰斯 / 尼古拉斯·本恩斯 / 史蒂文·佩西 / 德伦·利滕 / 罗斯·基冈 / 芬·贝内特 / 尼古拉斯·布兰 / 乔纳森·奇塔姆 / 杰森· 莱恩斯 / 乔尔·麦克科马克 / 妮妮特·芬奇 / 英国 / 威廉姆·尼克尔森 / 101分钟 / 希望沟壑 / 剧情 / 爱情 / 威廉姆·尼克尔森 William Nicholson / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2020-12-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">真的是一拳又一拳的往胸口上砸啊！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="McFarland, USA" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>麦克法兰 / McFarland, USA</em>
                             / 梦想越野队(台) / McFarland
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-02-20(美国) / 凯文·科斯特纳 / 拉米罗·罗德里格斯 / 卡洛斯·普拉斯 / 约翰尼·奥蒂斯 / 拉斐尔·马丁内斯 / 赫克托·杜兰 / 塞吉奥·阿维拉尔 / 迈克尔·阿圭罗 / 戴安娜·玛丽亚·里瓦 / 奥马尔·莱瓦 / 维勒特·罗德里格斯 / 丹尼·莫拉 / 玛丽亚·贝罗 / 摩根·塞勒 / 艾尔西·费舍尔 / 里戈·桑切斯 / 娜塔丽·科尔多瓦 / 布莱恩·库瑞 / 文森特·马特拉 / Mariann Gavelo / 菲奈莎马丁内斯 / 本布雷 / 玛莎·希加瑞达 / 乔什·克拉克 / 蒂姆·德里耶 / 美国 / 妮琪·卡罗 / 129分钟 / 麦克法兰 / 剧情 / 传记 / 运动 / Chris Cleveland / 英语</li>
                    <li>
                        <span class="date">2020-12-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">看来运动和身材并没多大关系。。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="サバイバルファミリー" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>生存家族 / サバイバルファミリー</em>
                             / 求生走佬Family(港) / 求生家庭
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-12-12(澳门国际影展) / 2017-02-11(日本) / 2018-06-22(中国大陆) / 小日向文世 / 深津绘里 / 泉泽祐希 / 葵若菜 / 时任三郎 / 藤原纪香 / 大野拓朗 / 志尊淳 / 渡边绘里 / 宅麻伸 / 柄本明 / 大地康雄 / 松浦雅 / 中田青渚 / 日本 / survivalfamily.jp / 矢口史靖 / 117分钟 / 生存家族 / 喜剧 / 家庭 / 矢口史靖 Shinobu Yaguchi / 日语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-12-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">为什么围着锅台转的永远是“妈妈”！！！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Hilda" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>希尔达 第二季 / Hilda Season 2</em>
                             / 蓝发女孩进城记
                        </a>
                    </li>
                        <li class="intro">2020-12-14(英国) / 贝拉·拉姆齐 / 英国 / 加拿大 / 美国 / 安迪·科伊尔 / 希尔达 / 24分钟 / 希尔达 / 儿童 / 动画 / 奇幻 / 斯蒂芬妮·辛普森 Stephanie Simpson / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-12-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">能量槽好满...</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Girl" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>女孩 / Girl</em>
                             / 梦女芭蕾(港) / 芭蕾少女梦(台)
                        </a>
                    </li>
                        <li class="intro">2018-05-12(戛纳电影节) / 2018-11-01(荷兰) / 维克托·波尔斯特 / 阿里耶·沃索尔特 / 奥利弗·博达特 / 蒂伊门·戈瓦尔茨 / 卡特简·达门 / 瓦伦提金·达恩斯 / 克里斯·泰斯 / 安吉洛·提森 / 艾莉西亚·德佩克 / 埃尔斯·奥拉特 / 朱莉娅·埃费尔茨 / 内尔·哈迪曼 / 比利时 / 荷兰 / 卢卡斯·德霍特 / 105分钟 / 女孩 / 剧情 / 同性 / 卢卡斯·德霍特 Lukas Dhont / 安吉洛·提森 Angelo Tijssens / 法语 / 弗拉芒语 / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2020-12-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">女主好美，将body shame演绎到极致了！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="夺冠" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>夺冠</em>
                             / 中国女排 / Leap
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-09-25(中国大陆) / 巩俐 / 黄渤 / 吴刚 / 彭昱畅 / 白浪 / 朱婷 / 徐云丽 / 张常宁 / 姚迪 / 林莉 / 刘晓彤 / 颜妮 / 惠若琪 / 丁霞 / 袁心玥 / 龚翔宇 / 李现 / 刘敏涛 / 陈展 / 罗慧 / 毛雯 / 李紫微 / 李冬徐 / 马雪纯 / 刘畅 / 刘贞宏 / 凌敏 / 李阳一 / 刘晨曦 / 邢佳栋 / 曾春蕾 / 刘晏含 / 王梦洁 / 郑益昕 / 杨涵玉 / 王媛媛 / 王路加 / 李珊 / 安家杰 / 玛丽安妮·斯泰因布莱彻 / 杰奎琳·卡瓦霍 / 帕乌拉·配奇诺 / 雅南 / 许文姗 / 宋世雄 / 高野浩幸 / 霍尔·约翰逊 / 孟子旋 / 李雅楠 / 小平花织 / 中道瞳 / 姜倩雯 / 刘抒妍 / 迈克·杰克逊 / 张寒艳 / 赵晨璐 / 刘桃 / 李孟婕 / 田欣 / 谢星 / 王永强 / 杜功海 / 中国大陆 / 中国香港 / 陈可辛 / 135分钟 / 剧情 / 运动 / 张冀 Ji Zhang / 汉语普通话 / 英语 / 日语 / 葡萄牙语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-11-28</span>
                        
                    </li>
                    <li>
                        <span class="comment">还记得当年对巴西这场比赛是在朋友家抱着西瓜啃着看完的。
排球是好看的，姑娘们是好看的，就是扯上政治就很讨厌。。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Trial of the Chicago 7" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>芝加哥七君子审判 / The Trial of the Chicago 7</em>
                             / 芝加哥七人案：惊世审判(港/台)
                        </a>
                    </li>
                        <li class="intro">2020-09-25(美国) / 2020-10-16(美国网络) / 埃迪·雷德梅恩 / 艾利克斯·夏普 / 萨莎·拜伦·科恩 / 杰瑞米·斯特朗 / 约翰·卡洛·林奇 / 叶海亚·阿卜杜勒-迈丁 / 马克·里朗斯 / 约瑟夫·高登-莱维特 / 本·申克曼 / J.C.麦肯泽 / 弗兰克·兰格拉 / 丹尼尔·弗莱厄蒂 / 诺亚·罗宾斯 / 约翰·道曼 / 迈克尔·基顿 / 小凯文·哈里森 / 凯特琳·菲茨杰拉德 / 茱丽叶·安吉洛 / 布伦丹·伯克 / 凯文·奥多奈尔 / 爱丽丝·克雷梅尔堡 / 拉里·米切尔 / 韦恩·杜瓦尔 / 迈克尔·布鲁里布 / 达米安·杨 / 米歇尔·赫斯特 / 马修·勒弗沃 / 克里斯蒂安·利特克 / 马克斯·阿德勒 / 肖恩·帕森 / 爱德华德·弗莱彻 / C·J·威尔逊 / 史蒂文· 加斯沃思 / 大卫·菲耶罗 / 伊恩·邦兹 / 莱克斯·艾尔 / 特里斯坦·莱恩·塔普斯科特 / 美国 / 英国 / 印度 / 艾伦·索金 / 129分钟 / 芝加哥七君子审判 / 剧情 / 历史 / 艾伦·索金 Aaron Sorkin / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2020-11-27</span>
                        
                    </li>
                    <li>
                        <span class="comment">这一年对平等、自由、权利的理解多了那么一点点。。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Queen's Gambit" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>后翼弃兵 / The Queen's Gambit</em>
                             / 女王的棋局 / 女王的开局
                        </a>
                    </li>
                        <li class="intro">2020-10-23(美国) / 安雅·泰勒-乔伊 / 伊斯拉·约翰斯顿 / 玛丽埃尔·海勒 / 托马斯·布罗迪-桑斯特 / 马辛·多洛辛斯基 / 雅各布·福琼·劳埃德 / 比尔·坎普 / 马修·丹尼斯·刘易斯 / 罗素·丹尼斯·刘易斯 / 克洛伊·皮里 / 摩西·英格拉姆 / 哈利·米尔林 / 多洛雷斯·卡波里 / 贾妮娜·埃尔金 / 帕特里克·肯尼迪 / 克里丝蒂安·赛德尔 / 阿克姆吉·恩迪福尼恩 / 塞尔吉奥·齐奥 / 丽贝卡·鲁特 / 弗雷德里克·斯特罗门格 / 索菲 麦希拉 / 威廉·霍尔伯格 / 埃洛伊塞·韦伯 / 约翰·施瓦布 / 朱丽·帕德尔 / 米莉·布拉迪 / 查理·汉布利特 / 约翰·霍林沃思 / 亚历山大·阿尔布雷希特 / 丹尼尔·布鲁内特 / 塔祖·卡尔瓦略 / 萨姆·吉尔罗伊 / 提姆·卡尔克霍夫 / 戴维·马斯特森 / 米歇尔·迪耶克斯 / 胡伯塔斯·格林 / 蒂特·利勒奥尔格 / 美国 / 斯科特·弗兰克 / 50分钟 / 后翼弃兵 / 剧情 / 艾伦·斯科特 Allan Scott / 斯科特·弗兰克 Scott Frank / 沃尔特·特维斯 Walter Tevis / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-11-07</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=75&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        

                
            <a href="./0.html">1</a>
        
                
            <a href="./1.html">2</a>
        
                
            <a href="./2.html">3</a>
        
                
            <a href="./3.html">4</a>
        
                
            <a href="./4.html">5</a>
        
                
            <a href="./5.html">6</a>
        
                <span class="thispage" data-total-page="61">7</span>
                
            <a href="./7.html">8</a>
        
                
            <a href="./8.html">9</a>
        
                
            <a href="./9.html">10</a>
        
                
            <a href="./10.html">11</a>
        
            <span class="break">...</span>
                
            <a href="./59.html">60</a>
        
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=105&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-w4h4s-->

  <script>_SPLITTEST=''</script>





</body></html>