<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    我看过的电影(930)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "78857574",
    UPLOAD_AUTH_TOKEN: "78857574:b22aece14e2c3c889c4b13e4bd9b2be42ff809b3",
    SSE_TOKEN: "14ae556aedfa261deec820d919b00f9aea30fbc3",
    SSE_TIMESTAMP: "1647390600",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                <img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg">
            </a>
        </div>
        <div class="info">
            <h1>我看过的电影(930)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                121-135&nbsp;/&nbsp;930
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Hope Gap" href="javascript:void(0)" class="nbg">
                    <img alt="Hope Gap" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2581064876.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>希望沟壑 / Hope Gap</em>
                             / 海边走走(台) / 下一步幸福
                        </a>
                    </li>
                        <li class="intro">2019-09-06(多伦多电影节) / 2020-06-12(英国) / 安妮特·贝宁 / 比尔·奈伊 / 乔什·奥康纳 / 艾莎·哈特 / 瑞恩·麦肯 / 乔·西特罗 / 萨莉·罗杰斯 / 尼古拉斯·本恩斯 / 史蒂文·佩西 / 德伦·利滕 / 罗斯·基冈 / 芬·贝内特 / 尼古拉斯·布兰 / 乔纳森·奇塔姆 / 杰森· 莱恩斯 / 乔尔·麦克科马克 / 妮妮特·芬奇 / 英国 / 威廉姆·尼克尔森 / 101分钟 / 希望沟壑 / 剧情 / 爱情 / 威廉姆·尼克尔森 William Nicholson / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2020-12-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">真的是一拳又一拳的往胸口上砸啊！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27186368" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27186368:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="McFarland, USA" href="javascript:void(0)" class="nbg">
                    <img alt="McFarland, USA" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2222667000.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>麦克法兰 / McFarland, USA</em>
                             / 梦想越野队(台) / McFarland
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-02-20(美国) / 凯文·科斯特纳 / 拉米罗·罗德里格斯 / 卡洛斯·普拉斯 / 约翰尼·奥蒂斯 / 拉斐尔·马丁内斯 / 赫克托·杜兰 / 塞吉奥·阿维拉尔 / 迈克尔·阿圭罗 / 戴安娜·玛丽亚·里瓦 / 奥马尔·莱瓦 / 维勒特·罗德里格斯 / 丹尼·莫拉 / 玛丽亚·贝罗 / 摩根·塞勒 / 艾尔西·费舍尔 / 里戈·桑切斯 / 娜塔丽·科尔多瓦 / 布莱恩·库瑞 / 文森特·马特拉 / Mariann Gavelo / 菲奈莎马丁内斯 / 本布雷 / 玛莎·希加瑞达 / 乔什·克拉克 / 蒂姆·德里耶 / 美国 / 妮琪·卡罗 / 129分钟 / 麦克法兰 / 剧情 / 传记 / 运动 / Chris Cleveland / 英语</li>
                    <li>
                        <span class="date">2020-12-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">看来运动和身材并没多大关系。。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-11520649" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="11520649:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="サバイバルファミリー" href="javascript:void(0)" class="nbg">
                    <img alt="サバイバルファミリー" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2525716036.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>生存家族 / サバイバルファミリー</em>
                             / 求生走佬Family(港) / 求生家庭
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-12-12(澳门国际影展) / 2017-02-11(日本) / 2018-06-22(中国大陆) / 小日向文世 / 深津绘里 / 泉泽祐希 / 葵若菜 / 时任三郎 / 藤原纪香 / 大野拓朗 / 志尊淳 / 渡边绘里 / 宅麻伸 / 柄本明 / 大地康雄 / 松浦雅 / 中田青渚 / 日本 / survivalfamily.jp / 矢口史靖 / 117分钟 / 生存家族 / 喜剧 / 家庭 / 矢口史靖 Shinobu Yaguchi / 日语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-12-24</span>
                        
                    </li>
                    <li>
                        <span class="comment">为什么围着锅台转的永远是“妈妈”！！！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26815162" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26815162:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Hilda" href="javascript:void(0)" class="nbg">
                    <img alt="Hilda" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2630133413.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>希尔达 第二季 / Hilda Season 2</em>
                             / 蓝发女孩进城记
                        </a>
                    </li>
                        <li class="intro">2020-12-14(英国) / 贝拉·拉姆齐 / 英国 / 加拿大 / 美国 / 安迪·科伊尔 / 希尔达 / 24分钟 / 希尔达 / 儿童 / 动画 / 奇幻 / 斯蒂芬妮·辛普森 Stephanie Simpson / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-12-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">能量槽好满...</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35257844" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35257844:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Girl" href="javascript:void(0)" class="nbg">
                    <img alt="Girl" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2519456723.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>女孩 / Girl</em>
                             / 梦女芭蕾(港) / 芭蕾少女梦(台)
                        </a>
                    </li>
                        <li class="intro">2018-05-12(戛纳电影节) / 2018-11-01(荷兰) / 维克托·波尔斯特 / 阿里耶·沃索尔特 / 奥利弗·博达特 / 蒂伊门·戈瓦尔茨 / 卡特简·达门 / 瓦伦提金·达恩斯 / 克里斯·泰斯 / 安吉洛·提森 / 艾莉西亚·德佩克 / 埃尔斯·奥拉特 / 朱莉娅·埃费尔茨 / 内尔·哈迪曼 / 比利时 / 荷兰 / 卢卡斯·德霍特 / 105分钟 / 女孩 / 剧情 / 同性 / 卢卡斯·德霍特 Lukas Dhont / 安吉洛·提森 Angelo Tijssens / 法语 / 弗拉芒语 / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2020-12-19</span>
                        
                    </li>
                    <li>
                        <span class="comment">女主好美，将body shame演绎到极致了！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30194769" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30194769:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="夺冠" href="javascript:void(0)" class="nbg">
                    <img alt="夺冠" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2620083313.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>夺冠</em>
                             / 中国女排 / Leap
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-09-25(中国大陆) / 巩俐 / 黄渤 / 吴刚 / 彭昱畅 / 白浪 / 朱婷 / 徐云丽 / 张常宁 / 姚迪 / 林莉 / 刘晓彤 / 颜妮 / 惠若琪 / 丁霞 / 袁心玥 / 龚翔宇 / 李现 / 刘敏涛 / 陈展 / 罗慧 / 毛雯 / 李紫微 / 李冬徐 / 马雪纯 / 刘畅 / 刘贞宏 / 凌敏 / 李阳一 / 刘晨曦 / 邢佳栋 / 曾春蕾 / 刘晏含 / 王梦洁 / 郑益昕 / 杨涵玉 / 王媛媛 / 王路加 / 李珊 / 安家杰 / 玛丽安妮·斯泰因布莱彻 / 杰奎琳·卡瓦霍 / 帕乌拉·配奇诺 / 雅南 / 许文姗 / 宋世雄 / 高野浩幸 / 霍尔·约翰逊 / 孟子旋 / 李雅楠 / 小平花织 / 中道瞳 / 姜倩雯 / 刘抒妍 / 迈克·杰克逊 / 张寒艳 / 赵晨璐 / 刘桃 / 李孟婕 / 田欣 / 谢星 / 杜功海 / 王永强 / 中国大陆 / 中国香港 / 陈可辛 / 135分钟 / 剧情 / 运动 / 张冀 Ji Zhang / 汉语普通话 / 英语 / 日语 / 葡萄牙语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-11-28</span>
                        
                    </li>
                    <li>
                        <span class="comment">还记得当年对巴西这场比赛是在朋友家抱着西瓜啃着看完的。
排球是好看的，姑娘们是好看的，就是扯上政治就很讨厌。。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30128916" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30128916:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Trial of the Chicago 7" href="javascript:void(0)" class="nbg">
                    <img alt="The Trial of the Chicago 7" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2620161520.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>芝加哥七君子审判 / The Trial of the Chicago 7</em>
                             / 芝加哥七人案：惊世审判(港/台)
                        </a>
                    </li>
                        <li class="intro">2020-09-25(美国) / 2020-10-16(美国网络) / 埃迪·雷德梅恩 / 艾利克斯·夏普 / 萨莎·拜伦·科恩 / 杰瑞米·斯特朗 / 约翰·卡洛·林奇 / 叶海亚·阿卜杜勒-迈丁 / 马克·里朗斯 / 约瑟夫·高登-莱维特 / 本·申克曼 / J.C.麦肯泽 / 弗兰克·兰格拉 / 丹尼尔·弗莱厄蒂 / 诺亚·罗宾斯 / 约翰·道曼 / 迈克尔·基顿 / 小凯文·哈里森 / 凯特琳·菲茨杰拉德 / 茱丽叶·安吉洛 / 布伦丹·伯克 / 凯文·奥多奈尔 / 爱丽丝·克雷梅尔堡 / 拉里·米切尔 / 韦恩·杜瓦尔 / 迈克尔·布鲁里布 / 达米安·杨 / 米歇尔·赫斯特 / 马修·勒弗沃 / 克里斯蒂安·利特克 / 马克斯·阿德勒 / 肖恩·帕森 / 爱德华德·弗莱彻 / C·J·威尔逊 / 史蒂文· 加斯沃思 / 大卫·菲耶罗 / 伊恩·邦兹 / 莱克斯·艾尔 / 特里斯坦·莱恩·塔普斯科特 / 美国 / 英国 / 印度 / 艾伦·索金 / 129分钟 / 芝加哥七君子审判 / 剧情 / 历史 / 艾伦·索金 Aaron Sorkin / 英语</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2020-11-27</span>
                        
                    </li>
                    <li>
                        <span class="comment">这一年对平等、自由、权利的理解多了那么一点点。。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2609258" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2609258:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Queen's Gambit" href="javascript:void(0)" class="nbg">
                    <img alt="The Queen's Gambit" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2621201524.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>后翼弃兵 / The Queen's Gambit</em>
                             / 女王的棋局 / 女王的开局
                        </a>
                    </li>
                        <li class="intro">2020-10-23(美国) / 安雅·泰勒-乔伊 / 伊斯拉·约翰斯顿 / 玛丽埃尔·海勒 / 托马斯·布罗迪-桑斯特 / 马辛·多洛辛斯基 / 雅各布·福琼·劳埃德 / 比尔·坎普 / 马修·丹尼斯·刘易斯 / 罗素·丹尼斯·刘易斯 / 克洛伊·皮里 / 摩西·英格拉姆 / 哈利·米尔林 / 多洛雷斯·卡波里 / 贾妮娜·埃尔金 / 帕特里克·肯尼迪 / 克里丝蒂安·赛德尔 / 阿克姆吉·恩迪福尼恩 / 塞尔吉奥·齐奥 / 丽贝卡·鲁特 / 弗雷德里克·斯特罗门格 / 索菲 麦希拉 / 威廉·霍尔伯格 / 埃洛伊塞·韦伯 / 约翰·施瓦布 / 朱丽·帕德尔 / 米莉·布拉迪 / 查理·汉布利特 / 约翰·霍林沃思 / 亚历山大·阿尔布雷希特 / 丹尼尔·布鲁内特 / 塔祖·卡尔瓦略 / 萨姆·吉尔罗伊 / 提姆·卡尔克霍夫 / 戴维·马斯特森 / 米歇尔·迪耶克斯 / 胡伯塔斯·格林 / 蒂特·利勒奥尔格 / 美国 / 斯科特·弗兰克 / 50分钟 / 后翼弃兵 / 剧情 / 艾伦·斯科特 Allan Scott / 斯科特·弗兰克 Scott Frank / 沃尔特·特维斯 Walter Tevis / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-11-07</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-32579283" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="32579283:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="5 to 7" href="javascript:void(0)" class="nbg">
                    <img alt="5 to 7" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2255650112.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>爱情限时恋未尽 / 5 to 7</em>
                             / 5点至7点 / 5至7
                        </a>
                    </li>
                        <li class="intro">2015-04-03(美国) / 安东·叶利钦 / 贝纳尼丝·玛尔洛 / 奥莉薇·瑟尔比 / 埃里克·斯托尔兹 / 格伦·克洛斯 / 弗兰克·兰格拉 / 朗贝尔·维尔森 / 乔斯琳·德波尔 / 多夫·蒂芬巴奇 / 艾米娜·罗宾森 / Nancy Digonis / Paul Thornton / 美国 / 维克多·列文 / 95分钟 / 爱情限时恋未尽 / 剧情 / 喜剧 / 爱情 / Victor Levin / 英语 / 法语</li>
                    <li>
                        <span class="date">2020-10-25</span>
                        
                    </li>
                    <li>
                        <span class="comment">戒指挺好看</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-23769147" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="23769147:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="沉默的真相" href="javascript:void(0)" class="nbg">
                    <img alt="沉默的真相" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2620780603.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>沉默的真相</em>
                             / 长夜难明 / The Long Night
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-09-16(中国大陆) / 廖凡 / 白宇 / 谭卓 / 宁理 / 黄尧 / 赵阳 / 田小洁 / 王建国 / 吕晓霖 / 赵圆瑗 / 曹卫宇 / 陆思宇 / 牛超 / 何其炜 / 张垒 / 赵雷棋 / 陈维涵 / 李嘉欣 / 韩朔 / 闵政 / 邱云鹤 / 余芷慧 / 范奕泽 / 葛四 / 栾西子 / 陈禹同 / 王曦苒 / 刘沙 / 郭鹏 / 郭唐维 / 王志刚 / 纪永清 / 王盛 / 王振 / 姜健 / 胡健 / 于山川 / 秦耀华 / 宋沐泽 / 吕宁 / 付彦丹 / 中国大陆 / 陈奕甫 / 45分钟 / 剧情 / 犯罪 / 悬疑 / 刘国庆 Guoqing Liu / 紫金陈 Xu Chen / 汉语普通话</li>
                    <li>
                                    <span class="rating5-t"></span>
                        <span class="date">2020-10-14</span>
                        
                    </li>
                    <li>
                        <span class="comment">居然和隐秘的角落是同一个编剧。。叙事手法确实有点像。故事整体很流畅，但是还有点没想明白，刘明洋在精神病院是什么线？张晓倩是咋认识他的？</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-33447642" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="33447642:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="脱口秀大会 第三季" href="javascript:void(0)" class="nbg">
                    <img alt="脱口秀大会 第三季" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2613921861.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>脱口秀大会 第三季</em>
                             / 脱口秀大会3
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-07-22(中国大陆) / 李诞 / 王思文 / 王建国 / 张雨绮 / 罗永浩 / 庞博 / 呼兰 / 杨蒙恩 / 李雪琴 / 程璐 / 秦昊 / 沈腾 / 徐峥 / 大张伟 / 杨天真 / 汪苏泷 / 周奇墨 / 李云迪 / 黄圣依 / 王勉 / 吐提古丽·热杰 / 诺拉 / 马思纯 / 梁海源 / 胡豆豆 / 皮球 / 赵晓卉 / 江梓浩 / 孟川 / 杨磊 / 杨笠 / 王俊霖 / 何广智 / 潘越 / 小北 / 杨波 / 吴星辰 / 陈晓靖 / 颜悦 / 颜怡 / 张博洋 / 中国大陆 / 谭晓虹 / 130分钟 / 脱口秀 / 王建国 Jianguo Wang / 程璐 Lu Cheng / 汉语普通话</li>
                    <li>
                        <span class="date">2020-10-05</span>
                        
                    </li>
                    <li>
                        <span class="comment">我的天，杨笠真是快马加鞭的奔着第一去的，太好笑了，给手给手...👋👋</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34840339" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34840339:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="这！就是街舞 第三季" href="javascript:void(0)" class="nbg">
                    <img alt="这！就是街舞 第三季" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2601149316.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>这！就是街舞 第三季</em>
                             / 这就是街舞3 / Street Dance of China S3
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-07-18(中国大陆) / 王嘉尔 / 王一博 / 钟汉良 / 张艺兴 / 黄潇 / 苏恋雅 / 肖智斌 / 中国大陆 / 陆伟 / 149分钟 / 真人秀 / 王晨辰 / 汉语普通话</li>
                    <li>
                        <span class="date">2020-10-05</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34979018" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34979018:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="乘风破浪的姐姐 第一季" href="javascript:void(0)" class="nbg">
                    <img alt="乘风破浪的姐姐 第一季" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2608297477.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>乘风破浪的姐姐 第一季</em>
                             / 乘风破浪的姐姐们 / Older Sisters Who Brave the Winds and Waves
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-06-12(中国大陆) / 宁静 / 张雨绮 / 黄圣依 / 伊能静 / 万茜 / 金晨 / 吴昕 / 郁可唯 / 蓝盈莹 / 张含韵 / 李斯丹妮 / 王霏霏 / 孟佳 / 袁咏琳 / 白冰 / 张萌 / 沈梦辰 / 黄龄 / 钟丽缇 / 郑希怡 / 王丽坤 / 丁当 / 阿朵 / 金莎 / 刘芸 / 陈松伶 / 海陆 / 王智 / 许飞 / 朱婧汐 / 黄晓明 / 杜华 / 赵兆 / 陈琦沅 / 魏大勋 / 杜海涛 / 彭磊 / 赵梦 / 庞宽 / 杨澜 / 霍汶希 / 李佳琦 / 李宇春 / 蔡徐坤 / 张杰 / 中国大陆 / 吴梦知 / 晏吉 / 100分钟 / 真人秀 / 莫乃珊 Naishan Mo / 汉语普通话</li>
                    <li>
                        <span class="date">2020-10-05</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34894589" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34894589:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="乐队的夏天 第二季" href="javascript:void(0)" class="nbg">
                    <img alt="乐队的夏天 第二季" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2615197029.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>乐队的夏天 第二季</em>
                             / 乐队的夏天2 / The Big Band Season 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-07-25(中国大陆) / 马东 / 周迅 / 大张伟 / 张亚东 / 郭京飞 / 周深 / 汪峰 / 付菡 / 彭坦 / 白举纲 / 蔡维泽 / 陈军宏 / 付晨雷 / 郑仕伟 / 娄鑫磊 / 刘忻 / 缪杰 / 卢庚戌 / 黛青塔娜 / 秦霄贤 / 上官喜爱 / 郭颖 / 汪苏泷 / 李云迪 / 苏运莹 / 迟功伟 / 丁太升 / 张哲轩 / 刘维 / 臧鸿飞 / 石璐 / 赵子健 / 刘虹位 / 胡凯 / 木玛 / 刘敏 / 华东 / 刘昊 / 边远 / 肖骏 / 刘家辉 / 朱一涵 / 张全胜 / 夏颖 / 卓越 / 茂涛 / 仁科 / 安雨 / 中国大陆 / 王雪 / 陈雨璇 / 60分钟 / 音乐 / 真人秀 / 汉语普通话</li>
                    <li>
                        <span class="date">2020-10-05</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34660591" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34660591:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="鬼滅の刃" href="javascript:void(0)" class="nbg">
                    <img alt="鬼滅の刃" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2551222097.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>鬼灭之刃 / 鬼滅の刃</em>
                             / 灭鬼之刃 / 鬼灭之刃 灶门炭治郎 立志篇
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-04-06(日本) / 花江夏树 / 鬼头明里 / 下野纮 / 松冈祯丞 / 冈本信彦 / 上田丽奈 / 大塚芳忠 / 浪川大辅 / 樱井孝宏 / 早见沙织 / 日野聪 / 小西克幸 / 花泽香菜 / 河西健吾 / 杉田智和 / 铃村健一 / 关智一 / 森川智之 / 悠木碧 / 井泽诗织 / 小泽亚李 / 花守由美里 / 关俊彦 / 绿川光 / 子安武人 / 丰崎爱生 / 木村良平 / 福山润 / 小松未可子 / 坂本真绫 / 山下大辉 / 诹访部顺一 / 平川大辅 / 楠大典 / 保志总一朗 / 植田佳奈 / 内山昂辉 / 大桥贤一郎 / 稻田彻 / 小清水亚美 / 森久保祥太郎 / 白石凉子 / 伊藤加奈惠 / 桑谷夏子 / 立花慎之介 / 三木真一郎 / 桑岛法子 / 佐藤聪美 / 大地叶 / 本渡枫 / 小原好美 / 古贺葵 / 山下七海 / 真野步 / 桑原由气 / 梶裕贵 / 加隈亚衣 / 茅野爱衣 / 山崎巧 / 高木涉 / 桧山修之 / 石见舞菜香 / 千叶繁 / 细谷佳正 / 能登麻美子 / 寺杣昌纪 / 酒井广大 / 富冈美沙子 / 皆口裕子 / 白石晴香 / 岩田光央 / 土岐隼一 / 市来光弘 / 冈咲美保 / 谷育子 / 宫田幸季 / 古川慎 / 竹本英史 / 小林亲弘 / 福岛润 / 川原庆久 / 天崎滉平 / 手冢弘道 / 佐藤花 / 小市真琴 / 坂泰斗 / 高桥伸也 / 长谷川芳明 / 星潮 / 幽舞越山 / 沈念如 / 李兰陵 / 皇贞季 / 阎么么 / 刘明月 / 赵毅 / 杜晴晴 / 齐斯伽 / 杨天翔 / 马正阳 / 图特哈蒙 / 陈张太康 / 郝祥海 / 姜广涛 / 赵小双 / 姜英俊 / 李轻扬 / 叶知秋 / 夏磊 / 山新 / 杉山里穗 / 高田忧希 / 清水彩香 / 日本 / kimetsu.com / 外崎春雄 / 细川秀树 / 间岛崇宽 / 伊藤祐毅 / 野中卓也 / 五味伸介 / 宫原秀二 / 高桥贤 / 24分钟 / 鬼灭之刃 / 动画 / 奇幻 / 吾峠呼世晴 Koyoharu Gotouge / ufotable / 日语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-09-17</span>
                        
                    </li>
                    <li>
                        <span class="comment">乌鸦让我有点跳戏， 善逸也让我跳戏。。。祢豆子。。。卡哇伊阔多。。。:D</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30210221" href="javascript:void(0)">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30210221:P" href="javascript:void(0)">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=105&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        

                
            <a href="./0.html">1</a>
        
                
            <a href="./1.html">2</a>
        
                
            <a href="./2.html">3</a>
        
                
            <a href="./3.html">4</a>
        
                
            <a href="./4.html">5</a>
        
                
            <a href="./5.html">6</a>
        
                
            <a href="./6.html">7</a>
        
                
            <a href="./7.html">8</a>
        
                <span class="thispage" data-total-page="62">9</span>
                
            <a href="./9.html">10</a>
        
                
            <a href="./10.html">11</a>
        
                
            <a href="./11.html">12</a>
        
                
            <a href="./12.html">13</a>
        
            <span class="break">...</span>
                
            <a href="./60.html">61</a>
        
            <a href="./61.html">62</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=135&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"><img height="48" width="48" alt="秋明" src="https://img9.doubanio.com/icon/u78857574-10.jpg"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">我的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-699758d69-vkltc-->

  <script>_SPLITTEST=''</script>





</body></html>