<!DOCTYPE html><html lang="zh-CN" class=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>
    秋明看过的电影(907)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img9.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img9.doubanio.com/f/shire/2feae483592bf2d2bd17a378097d4246ef1ebeaa/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/shire/db02bd3a4c78de56425ddeedd748a6804af60ee9/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img9.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img9.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://img9.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img9.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img9.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.css" rel="stylesheet" type="text/css">




<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "252269522",
    UPLOAD_AUTH_TOKEN: "252269522:8c1620a4e405d8238e6020df6ec9920a71d914dd",
    SSE_TOKEN: "adc231e429ff6cc33b4164f666d37d97c7256c43",
    SSE_TIMESTAMP: "1640990623",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.css" rel="stylesheet" type="text/css">






<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f55e154/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="javascript:void(0)">
                
            </a>
        </div>
        <div class="info">
            <h1>秋明看过的电影(907)</h1>
            
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="javascript:void(0)" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="javascript:void(0)">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="javascript:void(0)">正在热映</a></li>
                <li><a href="javascript:void(0)">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                136-150&nbsp;/&nbsp;907
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="javascript:void(0)">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item">
            <div class="pic">
                <a title="Billions" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>亿万 第五季 / Billions Season 5</em>
                             / 亿万风云(港)
                        </a>
                    </li>
                        <li class="intro">2020-05-03(美国) / 戴米恩·路易斯 / 保罗·吉亚玛提 / 玛姬·丝弗 / 朱丽安娜· 玛格丽丝 / 寇瑞·斯托尔 / 大卫·科斯塔贝尔 / 康多拉·拉沙德 / 艾莎·凯特·狄龙 / 杰弗里·德曼 / 凯利·奥科 / 大卫·阿隆·贝克 / 丹·索德 / 艾哈德·伯里沙 / 安德鲁·波尔克 / 绍尔·鲁宾内克 / 本·申克曼 / 亚历克莎·斯温顿 / 吉娜·威尔德 / 基拉·维瑟 / 格伦·弗莱舍尔 / 史蒂芬·坤肯 / 特里·金尼 / 阿尔巴·阿尔巴尼斯 / Alex Wagner / 伊娃维克多 / 美国 / 约翰·达尔 / 亚当·伯恩斯坦 / 马修·麦克鲁塔 / 劳瑞·科利尔 / 大卫·科斯塔贝尔 / 李·塔玛霍瑞 / 亿万 / 60分钟 / 亿万 / 剧情 / 犯罪 / 布赖恩·科佩尔曼 Brian Koppelman / 大卫·莱维恩 David Levien / 安德鲁·罗斯·索尔金 Andrew Ross Sorkin / 英语</li>
                    <li>
                        <span class="date">2020-05-13</span>
                        
                    </li>
                    <li>
                        <span class="comment">感觉没之前好看了。。。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Upload" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>上载新生 第一季 / Upload Season 1</em>
                             / 上传 / 上传天地
                        </a>
                    </li>
                        <li class="intro">2020-05-01(美国) / 罗比·阿美尔 / 安迪·阿洛 / 阿莱格拉·爱德华兹 / 扎伊纳布·约翰逊 / 凯文·比格利 / 欧文·丹尼尔斯 / 安德莉亚·罗森 / 乔丹 约翰孙-西德 / 乔希·班迪 / 威廉·B·戴维斯 / 伊丽莎白·鲍恩 / 克里斯·威廉斯 / 杰西卡·塔克 / 马特·沃德 / 葛晓洁 / 克洛伊·科尔曼 / 巴克莱·霍普 / 希拉里·杰迪妮 / 尼古莱·维切尔 / 维恩·维尔德森 / 泰瑞尔·罗瑟里 / 拉里·威尔莫 / 卡梅尔·阿密特 / 阿里萨·维拉尼 / 梅根·弗格森 / 皮特·詹姆斯·史密斯 / 乔尼查韦斯 / 卡丽丝·卡梅隆 / Kristine Cofsky / 丽贝卡·德尔加多·史密斯 / 布瑞·St·詹姆斯 / 瑞斯·斯莱克 / 凯莱拉·雷恩 / 安迪·汤普森 / 美国 / 格雷格·丹尼尔斯 / 杰弗里·布里茨 / 乔纳森·范塔勒肯 / 戴纳·里德 / 上载新生 / 30分钟 / 上载新生 / 喜剧 / 科幻 / 悬疑 / 克雷格·丹尼尔斯 Greg Daniels / Mary Gulino / Aasia LaShay Bullock / Mike Lawrence / Shepard Boucher / 欧文·丹尼尔斯 Owen Daniels / Alex Sherman / Alyssa Lane / 英语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-05-13</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="误杀" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>误杀</em>
                             / 误杀瞒天记中国版 / Sheep Without a Shepherd
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-12-07(大规模点映) / 2019-12-13(中国大陆) / 2020-07-20(中国大陆重映) / 肖央 / 谭卓 / 陈冲 / 姜皓文 / 秦沛 / 边天扬 / 许文姗 / 张熙然 / 施名帅 / 黄健玮 / 陈志朋 / 谷洋 / 张林 / 中国大陆 / 柯汶利 / 112分钟 / 剧情 / 犯罪 / 悬疑 / 杨薇薇 Weiwei Yang / 翟培 / 李鹏 / 范凯华 / 秦语谦 / 雷声 Sheng Lei / 汉语普通话 / 泰语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-05-13</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Hors normes" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>标准之外 / Hors normes</em>
                             / 特殊人生(港) / 在你身边(台)
                        </a>
                    </li>
                        <li class="intro">2019-05-25(戛纳电影节) / 2019-10-23(法国) / 文森特·卡索 / 勒达·卡代布 / 海伦·文森特 / 阿尔班·伊万诺夫 / 凯瑟琳·蒙切特 / 弗雷德里克·皮耶罗 / 苏丽安·卜拉欣 / 琳娜·库德里 / 阿罗伊斯·索维奇 / 海迪·布奇纳法 / Benjamin Lesieur / Diong-Kéba Tacu / 安娜·阿祖雷 / 宝琳·克莱蒙 / 法国 / 比利时 / 奥利维埃·纳卡什 / 埃里克·托莱达诺 / 114分钟 / 标准之外 / 剧情 / 奥利维埃·纳卡什 Olivier Nakache / 埃里克·托莱达诺 Eric Toledano / 法语</li>
                    <li>
                        <span class="date">2020-05-13</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="说的就是你3" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>说的就是你3</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-04-16(中国大陆) / 宋卿 / 杨天琪 / 陶宇杰 / 顾珂嘉 / 孙琰清 / 程译坤 / 中国大陆 / 王吕叉 / 25分钟 / 喜剧 / 王吕叉 Lional Wang / 徐普通 Putong Xu / 陶宇杰 Yujie Tao / 周振超 Zhenchao Zhou / 汉语普通话</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2020-05-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">真的很不错了</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="说的就是你II" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>说的就是你2 / 说的就是你II</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-08-14(中国大陆) / 宋卿 / 杨天琪 / 顾珂嘉 / 陶宇杰 / 中国大陆 / 王吕叉 / 12分钟 / 说的就是你2 / 喜剧 / 王吕叉 Lional Wang / 徐普通 Putong Xu / 陶宇杰 Yujie Tao / 李彧 Yu Li / 汉语普通话</li>
                    <li>
                        <span class="date">2020-05-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">良心网剧+1</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="说的就是你" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>说的就是你</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-07-06(中国大陆) / 宋卿 / 杨天琪 / 中国大陆 / 王吕叉 / 5分钟 / 喜剧 / 王吕叉 Lional Wang / 徐普通 Putong Xu / 汉语普通话</li>
                    <li>
                        <span class="date">2020-05-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">良心网剧</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Half of It" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>真心半解 / The Half of It</em>
                             / 青春未知数(台) / 校园情圣
                        </a>
                    </li>
                        <li class="intro">2020-05-01(美国) / 莉娅·刘易斯 / 丹尼尔·迪默 / 艾丽克西斯·勒梅尔 / 沃尔夫冈·诺沃格拉茨 / 邹兆龙 / 贝琦·安·贝克 / 恩里克·穆西安诺 / 麦金太尔·狄克逊 / 凯瑟琳·科廷 / 亚历克·廷彻 / 邦妮·弗兰纳里 / 泰勒·克罗泽 / 斯潘塞·沃瓦克 / 帕特里克·约翰逊 / 加比·萨默斯 / 亚历山卓·巴格特 / 马克·德巴格 / 乔纳·福尔肯 / 美国 / 伍思薇 / 104分钟 / 真心半解 / 喜剧 / 爱情 / 同性 / 伍思薇 Alice Wu / 英语 / 汉语普通话 / 法语</li>
                    <li>
                        <span class="date">2020-05-08</span>
                        
                    </li>
                    <li>
                        <span class="comment">还以为是连续剧🙃</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Too Hot to Handle" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>欲罢不能 第一季 / Too Hot to Handle Season 1</em>
                            
                        </a>
                    </li>
                        <li class="intro">2020-04-17(美国) / 贾森·马修·史密斯 / 布莱斯·赫什伯格 / 妮可·奥布莱恩 / 朗达·保罗 / 海莉·丘尔顿 / 马修·斯蒂芬·史密斯 / 弗兰西斯卡·法拉格 / 柯里·桑普森 / 哈利·乔西 / 沙伦·汤森德 / 大卫·比尔特维斯特 / 克洛伊·维特奇 / 柯莱奇·戴克 / 美国 / 欲罢不能 / 41分钟 / 欲罢不能 / 真人秀 / 英语</li>
                    <li>
                        <span class="date">2020-04-28</span>
                        
                    </li>
                    <li>
                        <span class="comment">弹幕真的太好笑啦😂</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="火口のふたり" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>火口的两人 / 火口のふたり</em>
                             / 火口的二人(台) / 火口秘情
                        </a>
                    </li>
                        <li class="intro">2019-08-23(日本) / 柄本佑 / 泷内公美 / 柄本明 / 日本 / 荒井晴彦 / 115分钟 / 火口的两人 / 爱情 / 情色 / 荒井晴彦 Haruhiko Arai / 白石一文 Kazufumi Shiraishi / 日语</li>
                    <li>
                        <span class="date">2020-04-27</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="Onward" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>1/2的魔法 / Onward</em>
                             / 二分之一的魔法 / 魔法环游记
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-02-21(柏林电影节) / 2020-03-06(美国) / 2020-08-19(中国大陆) / 汤姆·赫兰德 / 克里斯·帕拉特 / 茱莉亚·路易斯-德瑞弗斯 / 奥克塔维亚·斯宾瑟 / 梅尔·罗德里格斯 / 凯尔·柏海莫 / 丽娜·维特 / 黄阿丽 / 格蕾·德丽斯勒 / 崔茜·尤玛 / 维尔摩·瓦尔德拉玛 / 乔治·普萨拉 / 约翰·拉岑贝格 / 张若昀 / 郭麒麟 / 美国 / 丹·斯坎隆 / 102分钟 / 1/2的魔法 / 喜剧 / 动画 / 奇幻 / 冒险 / 丹·斯坎隆 Dan Scanlon / 基思·布宁 Keith Bunin / 英语</li>
                    <li>
                        <span class="date">2020-04-21</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="龙岭迷窟" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>龙岭迷窟</em>
                             / 鬼吹灯之龙岭迷窟 / Candle in the Tomb: The Lost Caverns
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-04-01(中国大陆) / 潘粤明 / 张雨绮 / 姜超 / 高伟光 / 佟磊 / 周晓鸥 / 胡明 / 王奎荣 / 钱波 / 舒耀瑄 / 高雄 / 左右 / 陈友旺 / 李咨墨 / 张继南 / 纪海星 / 李宗霖 / 王铁山 / 杜子蓝 / 潘双宾 / 杨二宝 / 温瑞虎 / 艾宝良 / 杨旭 / 张景然 / 苏伊可 / 李一情 / 王文涛 / 惠王军 / 王建国 / 焦鹏 / 秦子涵 / 郭玉英 / 曹宝林 / 曹麦顺 / 韩龙瑄 / 周大庆 / 刘欣刚 / 许敏 / 吴永杰 / 包蕾 / 赵欣 / 巫蛊悠悠 / 中国大陆 / 费振翔 / 35分钟 / 剧情 / 动作 / 冒险 / 杨哲 Zhe Yang / 鲁辰 Chen Lu / 黄诗洋 Shiyang Huang / 张家诵 Jiasong Zhang / 汉语普通话</li>
                    <li>
                        <span class="date">2020-04-21</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="我是余欢水" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>我是余欢水</em>
                             / 余欢水 / 如果没有明天
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-04-06(中国大陆) / 郭京飞 / 苗苗 / 高露 / 岳旸 / 高叶 / 冯晖 / 赵达 / 张隽溢 / 宁文彤 / 李庆誉 / 王沛禄 / 王晴 / 叶青 / 尚铁龙 / 周鹏雨 / 李至强 / 李倩 / 范湉湉 / 赵千紫 / 梁大维 / 高海鹏 / 傅铂涵 / 李明珠 / 邢瀚卿 / 葛凌芮 / 冯鹏 / 王禹铮 / 郑杨 / 卜宇鑫 / 闫鹏 / 崔绍涵 / 王煜 / 李金江 / 谭希和 / 孙梦佳 / 王宏 / 刘冠麟 / 穆丽燕 / 焦体怡 / 丁勇岱 / 陈牧扬 / 任帅 / 李克伟 / 陈小妹 / 马波 / 董可飞 / 曹馨月 / 林乐炫 / 田润丰 / 明星 / 胡原君 / 于彭 / 乔牧 / 中国大陆 / 孙墨龙 / 44分钟 / 剧情 / 王三毛 Sanmao Wang / 磊子 Leizi / 汉语普通话</li>
                    <li>
                        <span class="date">2020-04-21</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Hitchhiker's Guide to the Galaxy" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>银河系漫游指南 / The Hitchhiker's Guide to the Galaxy</em>
                             / 星际大奇航 / 星际快闪党
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2005-04-20(英国) / 比尔·贝利 / 安娜·钱斯勒 / 沃维克·戴维斯 / 茅斯·达夫 / 佐伊·丹斯切尔 / Su Elliot / 马丁·弗瑞曼 / 斯蒂芬·弗雷 / 理查德·格雷弗斯 / 多米妮克·杰克逊 / 西蒙·琼斯 / 托马斯·列农 / 凯莉·麦克唐纳 / 约翰·马尔科维奇 / 伊恩·麦克尼奇 / 海伦·米伦 / 比尔·奈伊 / 史蒂夫·佩姆伯顿 / 艾伦·瑞克曼 / 山姆·洛克威尔 / 杰克·斯坦利 / 马克·加蒂斯 / 里斯·谢尔史密斯 / 马克·威尔逊 / 阿尔比·伍丁顿 / 莎拉·本内特 / 塞西莉·费伊 / Dan Ellis / 本·厄特利 / 斯宾塞·怀尔丁 / Polly Jane Rocket Adams / 加斯·詹宁斯 / Rich Johnston / 詹森·舒瓦兹曼 / 马克·史密斯 / Sean Sollé / Susie Valerio / 埃德加·赖特 / 美国 / 英国 / 加斯·詹宁斯 / 109分钟 / 银河系漫游指南 / 冒险 / 喜剧 / 科幻 / 道格拉斯·亚当斯 Douglas Adams / 凯瑞·柯克帕特里克 Karey Kirkpatrick / 英语</li>
                    <li>
                        <span class="date">2020-04-21</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item">
            <div class="pic">
                <a title="The Gentlemen" href="javascript:void(0)" class="nbg">
                    
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="javascript:void(0)" class="">
                            <em>绅士们 / The Gentlemen</em>
                             / 疯狂绅士帮(港) / 绅士追杀令(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-12-03(伦敦首映) / 2020-01-24(美国) / 马修·麦康纳 / 查理·汉纳姆 / 休·格兰特 / 亨利·戈尔丁 / 米歇尔·道克瑞 / 杰瑞米·斯特朗 / 琳·勒内 / 科林·法瑞尔 / 汤姆·吴 / 奇迪·阿朱福 / 埃迪·马森 / 杰森·王 / 约翰·达格尔什 / 乔丹·朗 / 莉莉·弗雷泽 / Gershwyn Eustache Jnr / 萨缪尔·韦斯特 / 杰拉丁·萨莫维尔 / 可可·萨姆纳 / 弗朗茨·德拉姆 / 克里斯托弗·埃万格罗 / 詹姆斯·沃伦 / 汤姆·里斯哈里斯 / 丹尼·格里芬 / 马克斯·班内特 / 尤金娜·库日敏娜 / 布鲁斯·钟 / 阿什利·马克圭尔 / 乔治·阿斯普雷 / 杰克·琼斯 / 马文·坎贝尔 / 莫里斯·李 / 拉塞尔·巴洛格 / 伊川东吾 / 麦凯尔·戴维 / Dominic Gibbs / 布莱特妮·阿什沃斯 / 妮科尔·亨布拉 / 杰森· 莱恩斯 / 盖·里奇 / 塞尔哈特·梅汀 / 巴奇·马龙 / 英国 / 美国 / 盖·里奇 / 113分钟 / 绅士们 / 喜剧 / 动作 / 犯罪 / 盖·里奇 Guy Ritchie / 伊凡·阿特金森 Ivan Atkinson / 马恩·戴维斯 Marn Davies / 英语</li>
                    <li>
                        <span class="date">2020-04-21</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/nothinganymore/collect?start=120&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">&lt;前页</a>
        </span>
        
        

                
            <a href="./0.html">1</a>
        
                
            <a href="./1.html">2</a>
        
                
            <a href="./2.html">3</a>
        
                
            <a href="./3.html">4</a>
        
                
            <a href="./4.html">5</a>
        
                
            <a href="./5.html">6</a>
        
                
            <a href="./6.html">7</a>
        
                
            <a href="./7.html">8</a>
        
                
            <a href="./8.html">9</a>
        
                <span class="thispage" data-total-page="61">10</span>
                
            <a href="./10.html">11</a>
        
                
            <a href="./11.html">12</a>
        
                
            <a href="./12.html">13</a>
        
                
            <a href="./13.html">14</a>
        
            <span class="break">...</span>
                
            <a href="./59.html">60</a>
        
            <a href="./60.html">61</a>
        
        <span class="next">
            <link rel="next" href="/people/nothinganymore/collect?start=150&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid">
            <a href="javascript:void(0)">后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="javascript:void(0)" class="side-info-avatar"></a>
    <div class="side-info-txt">
        <h3>秋明</h3>
        &gt;&nbsp;<a href="javascript:void(0)">豆瓣主页</a>
    </div>
    <div class="user-content">
                <div class="ft">
                        <a href="javascript:void(0)" data-id="78857574" data-source="movie" class="lnk-contact-add">关注此人</a>
                    
                </div>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="javascript:void(0)">秋明的电影主页</a>
        </p>
    </div>
        
    <h2>
        看过的标签
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
    </h2>

    
    
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="javascript:void(0)">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/nothinganymore/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/nothinganymore/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    

    </div>
    <script type="text/javascript" src="https://img9.doubanio.com/misc/mixed_static/31259189bf367296.js"></script>
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-f876468d5-gsm2b-->

  <script>_SPLITTEST=''</script>





</body></html>